env/workflows/@PROCESS_LONG_VIDEOS.json
{
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eWSuR2lrNs25cJ8B",
          "mode": "list",
          "cachedResultUrl": "/workflow/eWSuR2lrNs25cJ8B",
          "cachedResultName": "@VIDEO_CUT_AGENT_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoTranscription": "={{ $json.RESPONSE }}",
            "videoId": "={{ $('Start').item.json.videoId }}"
          },
          "matchingColumns": [
            "videoTranscription"
          ],
          "schema": [
            {
              "id": "videoTranscription",
              "displayName": "videoTranscription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        688,
        496
      ],
      "id": "d124763a-7fc4-4b9d-9e49-a85098928b44",
      "name": "Video Cut Agent Detector",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bPkDY1rLEosPYyck",
          "mode": "list",
          "cachedResultUrl": "/workflow/bPkDY1rLEosPYyck",
          "cachedResultName": "@VIDEO_SPLIT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "START_TIME": "={{ $json.output[0].videoCutStartTime.toString() }}",
            "END_TIME": "={{ $json.output[0].videoCutEndTime.toString() }}",
            "VIDEO_ID": "={{ $('Start').item.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "START_TIME",
              "displayName": "START_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "END_TIME",
              "displayName": "END_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "PREFIX",
              "displayName": "PREFIX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        496
      ],
      "id": "231b7372-afce-4c81-aafc-ae76b3867861",
      "name": "Video Splitter"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3d92D6TV6oLVwDrh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3d92D6TV6oLVwDrh",
          "cachedResultName": "@VIDEO_FADEIN_FADEOUT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "=OVERLAY_{{ $json.FILENAME }}",
            "IN_SECOND": 0,
            "IN_DURATION": 4,
            "OUT_DURATION": 4,
            "OUT_SECOND": "={{ $json.videoMetaData.durationSeconds-4 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "IN_SECOND",
              "displayName": "IN_SECOND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "IN_DURATION",
              "displayName": "IN_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "OUT_SECOND",
              "displayName": "OUT_SECOND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "OUT_DURATION",
              "displayName": "OUT_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1824,
        496
      ],
      "id": "27ca8419-e979-4992-981b-087dc50af3b2",
      "name": "Fade In/out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2ZzZd5eVeRIm70um",
          "mode": "list",
          "cachedResultUrl": "/workflow/2ZzZd5eVeRIm70um",
          "cachedResultName": "@VIDEO_META_DATA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "={{ $json.FILENAME }}"
          },
          "matchingColumns": [
            "FILE_NAME"
          ],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1632,
        496
      ],
      "id": "20ebad80-6f06-49ae-b619-0fe33b2f09c3",
      "name": "Video Meta Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tIsp1uN50IMXhoQW",
          "mode": "list",
          "cachedResultUrl": "/workflow/tIsp1uN50IMXhoQW",
          "cachedResultName": "@OVERLAY_VIDEO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "OVERLAY_FILE_NAME": "={{ '/home/node/assets/overlay_videos/'+$json.fileName }}",
            "VIDEO_FILE_NAME": "={{ $('Video Splitter').item.json.FILENAME }}",
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 10
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "OVERLAY_FILE_NAME",
              "displayName": "OVERLAY_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        496
      ],
      "id": "88014289-79dc-43b7-8739-d98e92a0345f",
      "name": "Video Overlay"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/assets/overlay_videos/*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1072,
        496
      ],
      "id": "957a8d27-9029-4c98-8766-2e4e16ce3b36",
      "name": "List Overlays"
    },
    {
      "parameters": {
        "jsCode": "// Code node (JavaScript) — Run once for all items\n// Seleciona 1 item aleatório a partir de $input.all()\n// Preserva json e binary do item escolhido\n\nconst items = $input.all();\nif (!items || items.length === 0) {\n  throw new Error('Sem itens de entrada para sortear.');\n}\n\n// (Opcional) Filtrar por algum critério antes do sorteio, ex.: só vídeos MP4\n// const pool = items.filter(i => i.json?.fileExtension?.toLowerCase() === 'mp4');\nconst pool = items;\n\nif (pool.length === 0) {\n  throw new Error('Nenhum item válido após o filtro.');\n}\n\nconst idx = Math.floor(Math.random() * pool.length);\nconst chosen = pool[idx];\n\n// (Opcional) Marcar o índice sorteado\nchosen.json = { ...chosen.json, _randomIndex: idx };\n\n// Retorna exatamente 1 item para o próximo node\nreturn [chosen];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        496
      ],
      "id": "69681ba6-067d-4b3a-8aa4-386759efe445",
      "name": "Select Overlay"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ek3PyTSAC9oll7i9",
          "mode": "list",
          "cachedResultUrl": "/workflow/ek3PyTSAC9oll7i9",
          "cachedResultName": "@OVERLAY_IMAGE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 0,
            "END_TIME_OVERLAY": "={{ $('Video Meta Data').item.json.videoMetaData.durationSeconds }}",
            "FADE_TIME": 3,
            "IMAGE_FILE_NAME": "={{ $json.fileName }}",
            "VIDEO_FILE_NAME": "=FADE_IN_FADE_OUT_{{ $('Fade In/out').item.json.FILENAME }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_FILE_NAME",
              "displayName": "IMAGE_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "END_TIME_OVERLAY",
              "displayName": "END_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "FADE_TIME",
              "displayName": "FADE_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2224,
        496
      ],
      "id": "e30b9b1b-1336-4663-b47f-822dc3b72077",
      "name": "@OVERLAY_IMAGE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bRbAM3zoHUE6bMWh",
          "mode": "list",
          "cachedResultUrl": "/workflow/bRbAM3zoHUE6bMWh",
          "cachedResultName": "@JOIN_VIDEO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "EFFECT": "fadeblack",
            "FILE_1": "=OVERLAY_FADE_IN_FADE_OUT_{{ $('Fade In/out').item.json.FILENAME }}",
            "FILE_2": "/home/node/assets/final_videos/final.mp4",
            "MAIN_VIDEO_DURATION": "={{ $('Video Meta Data').item.json.videoMetaData.durationSeconds }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_1",
              "displayName": "FILE_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "FILE_2",
              "displayName": "FILE_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "EFFECT",
              "displayName": "EFFECT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "MAIN_VIDEO_DURATION",
              "displayName": "MAIN_VIDEO_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2416,
        496
      ],
      "id": "d8a1ae96-86c3-4b01-a438-dc1b1024ccd4",
      "name": "@JOIN_VIDEO"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HqrhH7MLPfbiKeW4",
          "mode": "list",
          "cachedResultUrl": "/workflow/HqrhH7MLPfbiKeW4",
          "cachedResultName": "@PROCESS_THUMBNAIL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Start').item.json.videoId }}",
            "fontSize4": 60,
            "posYTexto4": 315,
            "posXTexto4": 25,
            "fontSize3": 60,
            "posYTexto3": 250,
            "posXTexto3": 25,
            "fontSize2": 45,
            "posYTexto2": 175,
            "posXTexto2": 84,
            "fontSize1": 40,
            "posYTexto1": 47,
            "posXTexto1": 50,
            "colorTexto1": "#FFFFFF",
            "colorTexto2": "#000000",
            "colorTexto3": "#FFFFFF",
            "colorTexto4": "#FFFFFF",
            "texto1": "={{ $json.output[0].thumbTexts[0] }}",
            "texto2": "={{ $json.output[0].thumbTexts[1] }}",
            "texto3": "={{ $json.output[0].thumbTexts[2] }}",
            "texto4": "={{ $json.output[0].thumbTexts[3] }}"
          },
          "matchingColumns": [
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "texto1",
              "displayName": "texto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto1",
              "displayName": "posXTexto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto1",
              "displayName": "posYTexto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto1",
              "displayName": "colorTexto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize1",
              "displayName": "fontSize1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "texto2",
              "displayName": "texto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto2",
              "displayName": "posXTexto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto2",
              "displayName": "posYTexto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto2",
              "displayName": "colorTexto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize2",
              "displayName": "fontSize2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "texto3",
              "displayName": "texto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto3",
              "displayName": "posXTexto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto3",
              "displayName": "posYTexto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto3",
              "displayName": "colorTexto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize3",
              "displayName": "fontSize3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "texto4",
              "displayName": "texto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto4",
              "displayName": "posXTexto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto4",
              "displayName": "posYTexto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto4",
              "displayName": "colorTexto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize4",
              "displayName": "fontSize4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        336
      ],
      "name": "Process Thumbnail",
      "id": "6b161616-33ed-488b-aceb-b1225e8a409f"
    },
    {
      "parameters": {
        "content": "## Long Vídeo Processing\n",
        "height": 400,
        "width": 2000
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        288
      ],
      "id": "396f1ad7-b1fd-4d37-a564-92801ec431c5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "RESPONSE",
              "type": "any"
            },
            {
              "name": "videoId",
              "type": "any"
            }
          ]
        }
      },
      "id": "b03f9cae-571d-4094-8d25-0738e2d978be",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        480,
        496
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/assets/overlay_images/horizontal_1.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2016,
        496
      ],
      "id": "6003ad09-9de8-44fa-9582-fc82d1597663",
      "name": "List horizontal Image Overlays"
    }
  ],
  "connections": {
    "Video Cut Agent Detector": {
      "main": [
        [
          {
            "node": "Video Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Splitter": {
      "main": [
        [
          {
            "node": "List Overlays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fade In/out": {
      "main": [
        [
          {
            "node": "List horizontal Image Overlays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Meta Data": {
      "main": [
        [
          {
            "node": "Fade In/out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Overlay": {
      "main": [
        [
          {
            "node": "Video Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Overlays": {
      "main": [
        [
          {
            "node": "Select Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Overlay": {
      "main": [
        [
          {
            "node": "Video Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@OVERLAY_IMAGE": {
      "main": [
        [
          {
            "node": "@JOIN_VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@JOIN_VIDEO": {
      "main": [
        []
      ]
    },
    "Process Thumbnail": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Video Cut Agent Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List horizontal Image Overlays": {
      "main": [
        [
          {
            "node": "@OVERLAY_IMAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "RESPONSE": "1\n00:00:00,000 --> 00:00:03,899\n Esse é o Ancapso e nós vamos falar agora sobre o escritório Barça e de Moraes.\n\n2\n00:00:03,980 --> 00:00:08,279\n O site voltou a funcionar, meu amigo. A corrida de gata e rata tá ficando engraçada.\n\n3\n00:00:08,580 --> 00:00:13,419\n Mas calma, ainda tem mais problema vindo por aí. Fica tranquilo que as coisas vão se resolver, cara.\n\n4\n00:00:13,880 --> 00:00:17,620\n O que eles fizeram com o site pra ele voltar a funcionar é aquilo que eu falei que eles fariam.\n\n5\n00:00:18,039 --> 00:00:24,460\n Eles tiraram a Cloudflare da parada, então a Cloudflare não tá mais tendo contato com o escritório dele.\n\n6\n00:00:24,839 --> 00:00:28,620\n E fizeram o IP direto, né? Isso funciona? Funciona. E é tudo no Brasil.\n\n7\n00:00:28,620 --> 00:00:33,759\n Botaram até o DNS no registro BR. É tudo no Brasil. Não tem nada no exterior por enquanto.\n\n8\n00:00:34,299 --> 00:00:41,200\n Só tem dois problemas, né? A LocalWeb, embora ela seja uma empresa brasileira, ela tem contratos no exterior, tá?\n\n9\n00:00:41,660 --> 00:00:46,179\n Eu não sei não, hein? É capaz da LocalWeb ter problemas com esse negócio aqui. Não sei.\n\n10\n00:00:46,480 --> 00:00:48,060\n Vamos ver se vai acontecer alguma coisa.\n\n11\n00:00:48,520 --> 00:00:53,200\n E a outra coisa é que, lógico, o site deles agora fica suscetível a ataque de DDoS, né?\n\n12\n00:00:53,200 --> 00:00:58,380\n Se quiserem fazer um ataque de DDoS, não tem mais a Cloudflare pra proteger eles desse tipo de ataque.\n\n13\n00:00:58,380 --> 00:00:59,700\n Vamos entender o que aconteceu aqui.\n\n14\n00:01:00,040 --> 00:01:06,920\n Essa notícia foi sugerida por Cocó, Cocó, Cocó, Sai do Meu Colo, Janja, Fanda Miku Lerdola e várias outras pessoas.\n\n15\n00:01:07,020 --> 00:01:11,400\n Obrigado aí ao pessoal que sugeriu notícias lá no nosso site, no visãolibertaria.com.\n\n16\n00:01:11,680 --> 00:01:18,040\n E obrigado a você que tá assistindo o nosso vídeo. Se você gosta do nosso conteúdo, por favor, deixa o seu like e se inscreva aqui no canal, né?\n\n17\n00:01:18,520 --> 00:01:25,000\n Pois é, mais um capítulo da excitante novela, o site da Sociedade de Advogados do Alexandre Moraes.\n\n18\n00:01:25,000 --> 00:01:25,939\n Olha que coisa, né?\n\n19\n00:01:26,379 --> 00:01:28,359\n Caiu, depois voltou, depois caiu de novo.\n\n20\n00:01:28,359 --> 00:01:32,340\n E agora, daqui a pouco, voltou agora, daqui a pouco cai de novo.\n\n21\n00:01:32,500 --> 00:01:33,159\n Não tem jeito.\n\n22\n00:01:33,500 --> 00:01:36,340\n Na área de tecnologia, tudo leva aos Estados Unidos.\n\n23\n00:01:36,439 --> 00:01:39,159\n Eu não sei quanto tempo vai levar, porque agora você tem um problema.\n\n24\n00:01:39,760 --> 00:01:47,539\n Eu não sei se a LocalWeb tava ciente disso, mas no momento que ela decidiu vender o serviço pro Xandão, ela se colocou num problema enorme.\n\n25\n00:01:48,019 --> 00:01:49,359\n Porque para pra pensar, né?\n\n26\n00:01:49,359 --> 00:01:54,719\n Se ela agora nega a lei Magnitsky, ela se ferra lá nos Estados Unidos, porque ela usa coisas americanas.\n\n27\n00:01:54,719 --> 00:01:57,420\n Se ela não tira o site do Alexandre Moraes...\n\n28\n00:01:57,420 --> 00:02:02,659\n Se ela tira o site do Alexandre Moraes, ela se ferra no Brasil, porque o Alexandre Moraes vai entrar com um processo contra ela, né?\n\n29\n00:02:02,840 --> 00:02:03,799\n E vai ganhar, né?\n\n30\n00:02:03,799 --> 00:02:04,799\n Porque é o Alexandre Moraes, né?\n\n31\n00:02:04,799 --> 00:02:05,799\n Ele manda no Brasil, né?\n\n32\n00:02:06,200 --> 00:02:09,240\n Então, ou seja, a LocalWeb tá ferrada nessa história.\n\n33\n00:02:09,719 --> 00:02:10,620\n Então, aqui, olha só.\n\n34\n00:02:10,740 --> 00:02:11,860\n O que aconteceu, né?\n\n35\n00:02:11,920 --> 00:02:12,280\n Aqui, ó.\n\n36\n00:02:12,360 --> 00:02:13,340\n Primeiro, o site tá funcionando.\n\n37\n00:02:13,400 --> 00:02:15,159\n Você pode entrar agora e voltou a funcionar.\n\n38\n00:02:15,560 --> 00:02:18,199\n 100% no ar de novo, sem nenhum problema.\n\n39\n00:02:18,659 --> 00:02:19,920\n Agora, você olha aqui, ó.\n\n40\n00:02:20,599 --> 00:02:21,800\n O que teve de mudança?\n\n41\n00:02:21,920 --> 00:02:23,060\n A mudança foi hoje, aqui, ó.\n\n42\n00:02:23,319 --> 00:02:24,199\n Última alteração.\n\n43\n00:02:24,759 --> 00:02:26,400\n 2025, 09, 30.\n\n44\n00:02:26,400 --> 00:02:26,480\n Tá?\n\n45\n00:02:27,419 --> 00:02:30,819\n Ou seja, 30 de setembro de 2025, hoje foi alterado.\n\n46\n00:02:31,139 --> 00:02:32,079\n Foi alterado o quê?\n\n47\n00:02:32,739 --> 00:02:39,459\n Colocaram o nameserver, o DNS, para o nameserver do registro BR, né?\n\n48\n00:02:39,799 --> 00:02:43,539\n Pra quem não sabe, quando você compra um site no Brasil, você vai no registro BR.\n\n49\n00:02:44,119 --> 00:02:49,079\n Então, se você quer comprar um site no Brasil, você pesquisa qualquer coisa aqui, né?\n\n50\n00:02:49,319 --> 00:02:51,179\n Peter de Sunguinha com BR, né?\n\n51\n00:02:52,839 --> 00:02:54,239\n Ah, já compraram, viu?\n\n52\n00:02:54,239 --> 00:02:54,879\n Alguém comprou.\n\n53\n00:02:54,979 --> 00:02:56,799\n Eu botei aqui o Peter de Sunguinha com BR.\n\n54\n00:02:56,919 --> 00:02:57,079\n Alguém comprou.\n\n55\n00:02:57,419 --> 00:02:58,799\n Eu não comprei, não.\n\n56\n00:02:58,879 --> 00:02:59,559\n Esse aqui não é meu, não.\n\n57\n00:02:59,979 --> 00:03:05,079\n Mas, quando você compra um site, você precisa ter um provedor para hospedar ele, né?\n\n58\n00:03:05,079 --> 00:03:06,879\n Então, geralmente, você aponta o site para lá.\n\n59\n00:03:07,339 --> 00:03:10,000\n Mas, às vezes, você compra o site só para manter ele registrado.\n\n60\n00:03:10,099 --> 00:03:14,819\n Então, por exemplo, é o caso desse meu site aqui, em que eu mantive o DNS aqui.\n\n61\n00:03:14,879 --> 00:03:17,739\n Eu estou usando o servidor de DNS do registro BR.\n\n62\n00:03:18,419 --> 00:03:23,839\n Então, aqui, se eu quiser, eu altero e coloco o servidor de DNS do meu site, onde eu vou armazenar mesmo.\n\n63\n00:03:23,839 --> 00:03:27,339\n Mas, o Alexandre de Moraes preferiu manter no próprio DNS.\n\n64\n00:03:27,419 --> 00:03:28,979\n Então, eu vou usar o DNS do registro BR.\n\n65\n00:03:29,500 --> 00:03:30,439\n E que não tem problema nenhum.\n\n66\n00:03:30,659 --> 00:03:31,699\n Assim, funciona direitinho.\n\n67\n00:03:31,780 --> 00:03:32,559\n Não tem problema nenhum, né?\n\n68\n00:03:32,939 --> 00:03:35,759\n E a vantagem do registro BR é que é uma empresa nacional.\n\n69\n00:03:35,859 --> 00:03:36,779\n É até do governo, né?\n\n70\n00:03:36,859 --> 00:03:38,560\n É o Comitê Gestor da Internet.\n\n71\n00:03:38,819 --> 00:03:39,599\n Ou é a FAPESP?\n\n72\n00:03:39,639 --> 00:03:40,500\n Agora eu não tenho certeza.\n\n73\n00:03:40,839 --> 00:03:41,979\n Eu acho que o Comitê Gestor da...\n\n74\n00:03:41,979 --> 00:03:45,939\n Eu acho que é a FAPESP que controla o registro BR, né?\n\n75\n00:03:46,379 --> 00:03:48,119\n De qualquer forma, é uma empresa nacional.\n\n76\n00:03:48,379 --> 00:03:50,599\n Não vai ter problema com a Lei Magnitsky aqui, né?\n\n77\n00:03:51,039 --> 00:03:56,519\n Só que aí, quando eles fazem isso, eles são obrigados a colocar o IP do lugar, né?\n\n78\n00:03:56,519 --> 00:03:57,259\n E aí, você vê aqui.\n\n79\n00:03:57,259 --> 00:03:57,379\n Isso.\n\n80\n00:03:57,419 --> 00:04:00,399\n Quando você olhar o DNS deles todos aqui, você vê que o IP é esse daqui, ó.\n\n81\n00:04:00,799 --> 00:04:04,579\n O IP é 191.252.83.198.\n\n82\n00:04:05,000 --> 00:04:07,259\n E é justamente cai na LocalWeb.\n\n83\n00:04:07,339 --> 00:04:08,899\n Então, é um IP da LocalWeb.\n\n84\n00:04:09,259 --> 00:04:12,179\n É onde está armazenado esse site deles aqui, né?\n\n85\n00:04:12,239 --> 00:04:14,759\n Então, assim, em princípio, eles estão safe.\n\n86\n00:04:14,959 --> 00:04:15,819\n Agora não cai mais.\n\n87\n00:04:15,899 --> 00:04:16,180\n Por quê?\n\n88\n00:04:16,500 --> 00:04:17,339\n Porque está tudo local.\n\n89\n00:04:17,539 --> 00:04:18,979\n Não tem como os Estados Unidos chegarem aqui.\n\n90\n00:04:19,479 --> 00:04:21,419\n Mas aí que entra o problema que eu falei para vocês.\n\n91\n00:04:21,519 --> 00:04:24,159\n Primeira coisa, eles não têm a proteção de DDoS.\n\n92\n00:04:24,159 --> 00:04:27,219\n Então, fica fácil dar ataque de DDoS aqui.\n\n93\n00:04:27,220 --> 00:04:30,980\n E no site deles, eles vão ter problemas com isso seguidamente, né?\n\n94\n00:04:31,400 --> 00:04:33,620\n Outra coisa que é um problema é que a LocalWeb...\n\n95\n00:04:33,620 --> 00:04:35,580\n Eu não sei se a LocalWeb tem alguma coisa lá fora.\n\n96\n00:04:35,640 --> 00:04:38,560\n Eu sei que é uma empresa nacional e um provedor muito bom.\n\n97\n00:04:38,700 --> 00:04:40,420\n Funciona muito bem aqui no Brasil e coisa e tal.\n\n98\n00:04:41,900 --> 00:04:44,960\n Mas eu não sei se eles não têm negócios lá no exterior, né?\n\n99\n00:04:44,980 --> 00:04:47,140\n Isso pode ser complicado para eles, tá?\n\n100\n00:04:47,300 --> 00:04:49,320\n Eu não sei como é que funciona isso.\n\n101\n00:04:49,700 --> 00:04:52,020\n Não sei se eles estão cientes até do risco que eles têm, né?\n\n102\n00:04:52,460 --> 00:04:54,560\n A LocalWeb está aqui, a página principal deles.\n\n103\n00:04:54,560 --> 00:04:57,060\n Se você quiser contratar um site aqui...\n\n104\n00:04:57,060 --> 00:04:58,160\n Tem planos e coisa e tal.\n\n105\n00:04:58,259 --> 00:05:00,939\n Tem vários planos de hospedagem que você pode fazer aqui.\n\n106\n00:05:01,800 --> 00:05:03,839\n Enfim, hospedagem para quem está começando.\n\n107\n00:05:03,939 --> 00:05:05,500\n Hospedagem para negócio em crescimento.\n\n108\n00:05:05,980 --> 00:05:09,199\n Pô, encher de morais pode pagar R$49,90 por mês, né?\n\n109\n00:05:09,680 --> 00:05:11,480\n Enfim, não sei como é que funciona isso daqui.\n\n110\n00:05:11,740 --> 00:05:13,199\n E a hospedagem direto em WordPress.\n\n111\n00:05:13,459 --> 00:05:14,500\n Talvez seja isso que ele esteja usando.\n\n112\n00:05:14,800 --> 00:05:16,120\n Porque ele usa WordPress, tá?\n\n113\n00:05:17,699 --> 00:05:19,240\n Tem algum lugar aqui, WordPress.\n\n114\n00:05:19,899 --> 00:05:21,120\n Aqui, ó. Movida WordPress.\n\n115\n00:05:21,399 --> 00:05:21,939\n Está aqui embaixo.\n\n116\n00:05:22,019 --> 00:05:23,519\n Eu acho que não dá para ver porque eu estou na frente.\n\n117\n00:05:23,519 --> 00:05:24,699\n Deixa eu tirar a minha cabeça daqui.\n\n118\n00:05:25,279 --> 00:05:25,720\n Aqui, está vendo?\n\n119\n00:05:26,040 --> 00:05:26,879\n Movida WordPress.\n\n120\n00:05:27,060 --> 00:05:31,120\n WordPress é uma ferramenta, um framework para fazer site.\n\n121\n00:05:32,019 --> 00:05:33,339\n Que é...\n\n122\n00:05:33,339 --> 00:05:35,319\n Eu acho que é americano também, hein?\n\n123\n00:05:35,540 --> 00:05:36,240\n Eu não sei não.\n\n124\n00:05:36,300 --> 00:05:37,019\n Onde é que é o WordPress?\n\n125\n00:05:37,259 --> 00:05:38,240\n Onde é que fica o WordPress?\n\n126\n00:05:39,639 --> 00:05:41,160\n WordPress.com\n\n127\n00:05:41,160 --> 00:05:43,060\n É que eu acho que o WordPress é todo código aberto.\n\n128\n00:05:43,759 --> 00:05:45,620\n Então, não tem muita coisa, né?\n\n129\n00:05:46,860 --> 00:05:49,560\n Eu acho que aqui é para você hospedar com eles lá, né?\n\n130\n00:05:49,620 --> 00:05:51,740\n O framework em si é freeware.\n\n131\n00:05:52,240 --> 00:05:53,220\n Você não paga, né?\n\n132\n00:05:53,660 --> 00:05:57,040\n Apesar de que, será que as restrições do OFAC se aplicam?\n\n133\n00:05:57,060 --> 00:05:59,720\n Também coisas que são gratuitas, né?\n\n134\n00:05:59,720 --> 00:06:00,740\n É uma boa questão isso.\n\n135\n00:06:00,819 --> 00:06:01,819\n Eu não sei dizer não, tá?\n\n136\n00:06:02,339 --> 00:06:04,540\n Não sei dizer se é uma coisa que se aplica ou não.\n\n137\n00:06:04,660 --> 00:06:06,819\n Aqui é os planos para hospedagem lá na WordPress.\n\n138\n00:06:07,000 --> 00:06:07,819\n Isso eles não vão conseguir.\n\n139\n00:06:08,280 --> 00:06:09,819\n Isso aqui certamente teria problema.\n\n140\n00:06:10,399 --> 00:06:14,840\n Outra coisa curiosa é que eles botaram aqui, de novo, o Outlook.\n\n141\n00:06:14,959 --> 00:06:18,079\n Então, a Microsoft, em princípio, o e-mail continua funcionando.\n\n142\n00:06:18,519 --> 00:06:21,620\n O Bars de Moraes com BR, Mail Protection e coisa e tal.\n\n143\n00:06:22,060 --> 00:06:26,540\n Mas está dando um erro aqui no registro do DNS reverso dele, tá?\n\n144\n00:06:26,540 --> 00:06:26,899\n Então, é uma coisa que eu não sei.\n\n145\n00:06:26,899 --> 00:06:26,920\n Então, eu não sei.\n\n146\n00:06:26,920 --> 00:06:30,300\n Ou seja, pode ser que seja alguma coisa que ele conseguiu consertar isso daqui.\n\n147\n00:06:30,860 --> 00:06:32,240\n Mas pode ser que seja mais complicado.\n\n148\n00:06:32,379 --> 00:06:34,879\n Eu não sei como é que está a questão aqui do Outlook.\n\n149\n00:06:35,240 --> 00:06:38,240\n Se o Outlook já sancionou eles ou não sancionou ainda, né?\n\n150\n00:06:38,240 --> 00:06:39,620\n O Outlook é a Microsoft, né?\n\n151\n00:06:40,060 --> 00:06:42,420\n Então, pode ser que eles tenham problemas com e-mails, né?\n\n152\n00:06:42,819 --> 00:06:45,939\n Então, assim, eles conseguiram uma saída, mas uma saída que é meio porca.\n\n153\n00:06:46,100 --> 00:06:48,480\n O site deles fica sem proteção de DDoS.\n\n154\n00:06:48,939 --> 00:06:50,819\n Fica hospedado diretamente aqui no Brasil.\n\n155\n00:06:51,340 --> 00:06:53,900\n E é um provedor que não é ruim.\n\n156\n00:06:53,900 --> 00:06:56,040\n O LocalWeb é um bom provedor, mas, de qualquer forma,\n\n157\n00:06:56,040 --> 00:06:59,000\n isso pode gerar problemas para a LocalWeb, né?\n\n158\n00:06:59,080 --> 00:07:03,960\n Eu não sei se já tem gente denunciando a LocalWeb para explicar isso,\n\n159\n00:07:04,040 --> 00:07:05,000\n para fazer esse tipo de coisa.\n\n160\n00:07:05,080 --> 00:07:07,280\n Como é que faria para denunciar a LocalWeb?\n\n161\n00:07:07,340 --> 00:07:08,600\n Não sei como é que faria isso.\n\n162\n00:07:09,020 --> 00:07:12,680\n Mas o fato é que, por enquanto, o site está no ar mais uma vez.\n\n163\n00:07:13,120 --> 00:07:16,060\n Mas repara, mesmo que você considere esse tipo de coisa...\n\n164\n00:07:16,060 --> 00:07:18,920\n Tipo assim, está vendo? Eles ganharam, está funcionando e coisa e tal.\n\n165\n00:07:19,259 --> 00:07:19,960\n Não, não está, cara.\n\n166\n00:07:19,980 --> 00:07:21,080\n Está uma dor de cabeça danada.\n\n167\n00:07:21,140 --> 00:07:24,820\n Os caras estão tendo que, todo dia, mudar o DNS deles, mudar o site, mudar a coisa toda.\n\n168\n00:07:24,920 --> 00:07:25,820\n Deve estar um...\n\n169\n00:07:26,040 --> 00:07:28,000\n Um pega para capar enorme ali, né?\n\n170\n00:07:28,340 --> 00:07:31,319\n E mais do que isso, eles sabem que uma hora eles vão ficar sem opção, né?\n\n171\n00:07:31,640 --> 00:07:33,500\n Não sei se a LocalWeb vai fazer alguma coisa,\n\n172\n00:07:33,600 --> 00:07:37,560\n mas, mesmo que não faça, eles podem ter problema de DDoS no final das contas, né?\n\n173\n00:07:38,060 --> 00:07:38,900\n Enfim, é isso daí.\n\n174\n00:07:39,000 --> 00:07:42,900\n O site está no ar de novo e vamos ver qual vai ser o próximo problema desse pessoal aqui.\n\n175\n00:07:43,000 --> 00:07:43,900\n Vamos ficar atentos.\n\n176\n00:07:45,700 --> 00:07:47,720\n Obrigado por assistir o vídeo até o final.\n\n177\n00:07:48,240 --> 00:07:50,939\n Além de curtir, compartilhar e se inscrever no canal,\n\n178\n00:07:50,939 --> 00:07:55,520\n considere se tornar patrocinador com valores a partir de R$ 1,99.\n\n179\n00:07:56,040 --> 00:08:02,280\n Clique no botão Seja Membro abaixo para saber as condições e vantagens de patrocinar o canal.\n\n180\n00:08:02,720 --> 00:08:07,319\n Mais informações sobre o nosso projeto, visite nossos sites indicados na tela.\n",
        "videoId": "UZKSdzKW_JI"
      }
    ]
  },
  "meta": {
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  }
}