env/workflows/@PROCESS_SHORTS.json
{
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ltwDPgUdmbzjybTH",
          "mode": "list",
          "cachedResultUrl": "/workflow/ltwDPgUdmbzjybTH",
          "cachedResultName": "@VIDEO_CUT_SHORT_AGENT_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Start').item.json.videoId }}",
            "videoTranscription": "={{ $json.RESPONSE }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "videoTranscription",
              "displayName": "videoTranscription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        -32
      ],
      "id": "ab2ea848-b5e5-44c6-98b7-dbef1953664a",
      "name": "@VIDEO_CUT_SHORT_AGENT_DETECTOR"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        -32
      ],
      "id": "73e4caae-07f7-47d4-9c02-27856f815c7a",
      "name": "Loop Over Items1",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aQa4YK4NVMA4xRXk",
          "mode": "list",
          "cachedResultUrl": "/workflow/aQa4YK4NVMA4xRXk",
          "cachedResultName": "@VIDEO_ORIENTATION_CHANGER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILENAME": "={{\"short_\"}}{{ $('Loop Over Items1').item.json.idx }}{{ \"_\" }}{{ $json.FILENAME }}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "FILENAME",
              "displayName": "FILENAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1488,
        -32
      ],
      "id": "d23dfa79-f5b8-4560-aa65-329ba9baf061",
      "name": "@VIDEO_ORIENTATION_CHANGER"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bPkDY1rLEosPYyck",
          "mode": "list",
          "cachedResultUrl": "/workflow/bPkDY1rLEosPYyck",
          "cachedResultName": "@VIDEO_SPLIT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "START_TIME": "={{ $json.videoCutStartTime.toString() }}",
            "END_TIME": "={{ $json.videoCutEndTime.toString() }}",
            "VIDEO_ID": "={{ $('Start').item.json.videoId }}",
            "PREFIX": "={{\"short_\"}}{{ $json.idx }}{{ \"_\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "START_TIME",
              "displayName": "START_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "END_TIME",
              "displayName": "END_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "PREFIX",
              "displayName": "PREFIX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1296,
        -32
      ],
      "id": "c25f22f9-8b0b-4884-bb95-7b06987e170b",
      "name": "Video Short Splitter"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.output.map((item, index) => {\n  return {\n    json: {\n      ...item,\n      idx: index\n    }\n  }\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -32
      ],
      "id": "b6e095cc-72c4-4698-9300-78e5a7a3d682",
      "name": "Indexator"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/assets/overlay_images/vertical_1.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1696,
        -32
      ],
      "id": "7c24f664-6b2c-4336-b3ac-580d5c33b032",
      "name": "List Vertical Image Overlays"
    },
    {
      "parameters": {
        "jsCode": "// Code node (JavaScript) — Run once for all items\n// Seleciona 1 item aleatório a partir de $input.all()\n// Preserva json e binary do item escolhido\n\nconst items = $input.all();\nif (!items || items.length === 0) {\n  throw new Error('Sem itens de entrada para sortear.');\n}\n\n// (Opcional) Filtrar por algum critério antes do sorteio, ex.: só vídeos MP4\n// const pool = items.filter(i => i.json?.fileExtension?.toLowerCase() === 'mp4');\nconst pool = items;\n\nif (pool.length === 0) {\n  throw new Error('Nenhum item válido após o filtro.');\n}\n\nconst idx = Math.floor(Math.random() * pool.length);\nconst chosen = pool[idx];\n\n// (Opcional) Marcar o índice sorteado\nchosen.json = { ...chosen.json, _randomIndex: idx };\n\n// Retorna exatamente 1 item para o próximo node\nreturn [chosen];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        -32
      ],
      "id": "02cffdde-d6af-40e4-b33b-ae1a7e9adb59",
      "name": "Select Vertical Overlay"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ek3PyTSAC9oll7i9",
          "mode": "list",
          "cachedResultUrl": "/workflow/ek3PyTSAC9oll7i9",
          "cachedResultName": "@OVERLAY_IMAGE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 0,
            "END_TIME_OVERLAY": "={{ $json.videoMetaData.durationSeconds }}",
            "FADE_TIME": 3,
            "IMAGE_FILE_NAME": "={{ $('Select Vertical Overlay').item.json.fileName }}",
            "VIDEO_FILE_NAME": "={{ 'orientated_'+$('@VIDEO_ORIENTATION_CHANGER').item.json.FILENAME }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_FILE_NAME",
              "displayName": "IMAGE_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "END_TIME_OVERLAY",
              "displayName": "END_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "FADE_TIME",
              "displayName": "FADE_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2256,
        -32
      ],
      "id": "6a2206fc-ee8c-408f-8436-ffbda86031a7",
      "name": "@OVERLAY_VERTICAL_IMAGE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2ZzZd5eVeRIm70um",
          "mode": "list",
          "cachedResultUrl": "/workflow/2ZzZd5eVeRIm70um",
          "cachedResultName": "@VIDEO_META_DATA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "={{ $('@VIDEO_ORIENTATION_CHANGER').item.json.FILENAME }}"
          },
          "matchingColumns": [
            "FILE_NAME"
          ],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2064,
        -32
      ],
      "id": "ee701ecc-e14a-4a58-ad29-f9c5a122fac3",
      "name": "Video Meta Data1"
    },
    {
      "parameters": {
        "content": "## Short Video Processing\n",
        "height": 272,
        "width": 2000,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -96
      ],
      "id": "65ada152-acd7-4410-a781-2f3a4d28b43e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "videoId",
              "type": "any"
            },
            {
              "name": "RESPONSE",
              "type": "any"
            }
          ]
        }
      },
      "id": "79d01357-5f11-4f3d-a1bb-97aa7437acf4",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        464,
        -32
      ]
    }
  ],
  "connections": {
    "@VIDEO_CUT_SHORT_AGENT_DETECTOR": {
      "main": [
        [
          {
            "node": "Indexator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Video Short Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@VIDEO_ORIENTATION_CHANGER": {
      "main": [
        [
          {
            "node": "List Vertical Image Overlays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Short Splitter": {
      "main": [
        [
          {
            "node": "@VIDEO_ORIENTATION_CHANGER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indexator": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Vertical Image Overlays": {
      "main": [
        [
          {
            "node": "Select Vertical Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Vertical Overlay": {
      "main": [
        [
          {
            "node": "Video Meta Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@OVERLAY_VERTICAL_IMAGE": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Meta Data1": {
      "main": [
        [
          {
            "node": "@OVERLAY_VERTICAL_IMAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "@VIDEO_CUT_SHORT_AGENT_DETECTOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  }
}