env/workflows/@UPLOAD_TO_YOUTUBE.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"channelId\": \"a string\",\n  \"videoId\": \"a string\",\n  \"uploadLongVideoData\": [],\n  \"uploadShortVideoData\": []\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "da70e806-c692-4962-a0fc-25f09b1eab95",
      "name": "START"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/processing/*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "4efd22c0-9f38-49cc-889a-7145ee0399fd",
      "name": "List Videos to Upload"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/processing/*.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "7ba35bf0-a044-46e6-81aa-43a5b2edc364",
      "name": "List Thumbnail Upload"
    },
    {
      "parameters": {
        "jsCode": "return $('START').first().json.uploadShortVideoData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -176
      ],
      "id": "528c7c8f-9124-4ed5-a616-d8710a3f2ee7",
      "name": "Get Short Video Info"
    },
    {
      "parameters": {
        "jsCode": "// Code node (JavaScript) — Enriquecer cortes com fileName dos vídeos\n// Funciona mesmo que o node esteja conectado após o SplitInBatches,\n// pois lê explicitamente dos nodes nomeados abaixo.\n\nconst DEBUG = false; // troque para true se quiser inspecionar a estratégia de match\n\n// 1) Pega os cortes do node \"Get Short Video Info\"\nconst cuts = $(\"Get Short Video Info\").all().map(i => i.json);\n\n// 2) Pega os arquivos do node \"List Videos to Upload\" (onde estão os .mp4)\nconst fileItems = $(\"List Videos to Upload\").all().map(i => i.json || i);\nconst fileNames = Array.from(new Set(\n  fileItems\n    .map(f => f?.fileName)\n    .filter(fn => typeof fn === \"string\" && fn.endsWith(\".mp4\"))\n));\n\n// 3) Índices para match rápido\n// 3a) Por IDX: READY_TO_UPLOAD_..._IDX_<n>_...\nconst idxMap = new Map();\nfor (const fn of fileNames) {\n  const m = fn.match(/_IDX_(\\d+)_/);\n  if (m) idxMap.set(Number(m[1]), fn);\n}\n\n// 3b) Por timeStamp: READY_TO_UPLOAD_<ts>_...\nconst tsMap = new Map();\nfor (const fn of fileNames) {\n  const m = fn.match(/^READY_TO_UPLOAD_(\\d+)_/);\n  if (m) tsMap.set(m[1], fn);\n}\n\n// 4) Monta saída: original + fileName (com fallback)\nconst out = [];\n\nfor (const cut of cuts) {\n  const idx = Number(cut.idx);\n  const tsStr = cut.timeStamp != null ? String(cut.timeStamp) : \"\";\n  let fileName = null;\n  let strategy = null;\n\n  if (Number.isFinite(idx) && idxMap.has(idx)) {\n    fileName = idxMap.get(idx);\n    strategy = \"IDX\";\n  } else if (tsStr && tsMap.has(tsStr)) {\n    fileName = tsMap.get(tsStr);\n    strategy = \"timeStamp\";\n  } else {\n    // Fallback extra: busca por substring (mais caro, mas salva casos fora do padrão)\n    fileName = fileNames.find(fn =>\n      (Number.isFinite(idx) && fn.includes(`_IDX_${idx}_`)) ||\n      (tsStr && fn.includes(tsStr))\n    ) || null;\n    strategy = \"fallback-search\";\n  }\n\n  const enriched = { ...cut, fileName };\n  if (DEBUG) enriched.__debug = { strategy, candidates: fileNames };\n\n  out.push({ json: enriched });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -176
      ],
      "id": "7e31ec02-34d9-4b04-b172-48ddce39cbd1",
      "name": "Map File Names"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        -176
      ],
      "id": "d70b08c2-66aa-4864-bf7a-a2f02e3cc709",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Loop Over Items').item.json.videoCutTitle }}",
        "regionCode": "BR",
        "categoryId": "=",
        "binaryProperty": "=data",
        "options": {
          "description": "={{ $('Loop Over Items').item.json.videoCutDescription }}",
          "notifySubscribers": false,
          "privacyStatus": "private",
          "publishAt": "={{\n(() => {\n  const pad = n => String(n).padStart(2, '0');  \n  // OBS: seu comentário fala +5 dias, mas o código estava com +10; ajuste aqui conforme quiser\n  const d = new Date(Date.now() + 7 * 24 * 60 * 60 * 1000);\n\n  const y = d.getFullYear();\n  const M   = pad(d.getMonth() + 1);\n  const D   = pad(d.getDate());\n\n  return `${y}-${M}-${D}T`+$('@SHORT_SCHEDULE_MANAGER').item.json.APPOINTMENT;\n})()\n}}\n",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Loop Over Items').first().json.videoTags.map(t => JSON.stringify(t)).join(',').trim() }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1552,
        -176
      ],
      "id": "ed06be12-fc75-4317-9e01-f98e2c442bdf",
      "name": "Upload a video",
      "alwaysOutputData": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lC6w9zooePykiKGj",
          "name": "YouTube n8n account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Upload shorts",
        "height": 416,
        "width": 1536,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        -336
      ],
      "id": "90411d8c-a081-416f-9445-fc4d7657984d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1h9d9qP7tdTR7izH",
          "mode": "list",
          "cachedResultUrl": "/workflow/1h9d9qP7tdTR7izH",
          "cachedResultName": "@SHORT_SCHEDULE_MANAGER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1168,
        -176
      ],
      "id": "d6d56c9a-d1c7-4373-b986-f44f599d80c3",
      "name": "@SHORT_SCHEDULE_MANAGER"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/processing/{{ $('Loop Over Items').item.json.fileName}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1360,
        -176
      ],
      "id": "268faa90-db56-496d-afab-34cad4caf20d",
      "name": "Read File"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Short de ID:{{ $('Loop Over Items').item.json.idx }} e título {{ $('Loop Over Items').item.json.videoCutTitle }} de uploadId: {{ $json.uploadId }} enviado com SUCESSO",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1888,
        -192
      ],
      "id": "a19acb85-b375-4ada-83c3-29118e5ff3e1",
      "name": "Notificar SUCESSO",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=[FALHA AO ENVIAR Short de ID:{{ $('Loop Over Items').item.json.idx }} e título {{ $('Loop Over Items').item.json.videoCutTitle }}]",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1744,
        -112
      ],
      "id": "ed047f06-4dae-45ff-a484-883bbdd0437b",
      "name": "Notificar FALHA",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Shorts FINALIZADOS.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1360,
        -320
      ],
      "id": "43aaebea-8d06-45c0-aa0e-5181ad376db2",
      "name": "Shorts Enviados",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Retorna um único item com a string 'DONE'\nreturn [\n  {\n    json: { result: 'DONE' }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -320
      ],
      "id": "1a0c0170-8753-4723-bb24-1731714f604f",
      "name": "DONE"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "List Thumbnail Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Videos to Upload": {
      "main": [
        [
          {
            "node": "Get Short Video Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Thumbnail Upload": {
      "main": [
        [
          {
            "node": "List Videos to Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Short Video Info": {
      "main": [
        [
          {
            "node": "Map File Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map File Names": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "DONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "@SHORT_SCHEDULE_MANAGER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Notificar SUCESSO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar FALHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@SHORT_SCHEDULE_MANAGER": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar SUCESSO": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar FALHA": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DONE": {
      "main": [
        [
          {
            "node": "Shorts Enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "START": [
      {
        "channelId": "UCLTWPE7XrHEe8m_xAmNbQ-Q",
        "videoId": "Y7SWKg3ExFM",
        "uploadLongVideoData": [
          {
            "videoCutStartTime": 60,
            "videoCutEndTime": 360,
            "videoCutTitle": "MORAES DÁ 48H: BIG TECHS SOB INVESTIGAÇÃO - CORTE!",
            "videoCutDescription": "No clipe, o orador expõe como Alexandre de Moraes determinou em 48 horas que Meta, YouTube, X e TikTok forneçam os dados dos responsáveis por ameaças a Dino, evidenciando o uso do ENDEREÇO IP e de sistemas de VPN para identificar os culpados. Descubra detalhes intensos e POLÊMICOS sobre essa estratégia. Créditos para o canal @ancap_su. Veja o vídeo completo: https://www.youtube.com/watch?v=Y7SWKg3ExFM.",
            "videoHardHook": "Big Techs na mira de Moraes: dados, IP e VPN expostos – é polêmico!",
            "videoTags": [
              "Moraes",
              "Big Tech",
              "Big Techs",
              "Estado",
              "IP",
              "VPN",
              "segurança digital",
              "ameaças",
              "Dino",
              "Polêmica",
              "STF",
              "Ancap",
              "notícias",
              "tecnologia",
              "privacidade",
              "dados cadastrais",
              "redes sociais",
              "Supremo Tribunal",
              "investigação",
              "política",
              "fake news",
              "milícias digitais"
            ],
            "videoUrl": "https://www.youtube.com/watch?v=Y7SWKg3ExFM",
            "thumbTexts": [
              "MORAES FIRME",
              "BIG TECHS EM ALERTA",
              "DADOS REVELADOS AGORA",
              "IP DÁ PLAY"
            ],
            "playlist": {
              "nome": "playlist 1",
              "id": "playlist 1"
            }
          }
        ],
        "uploadShortVideoData": [
          {
            "videoCutStartTime": 50,
            "videoCutEndTime": 95,
            "videoCutTitle": "MORAES e as BIG TECHS: DADOS EM 48 HORAS - CORTE!",
            "videoCutDescription": "Neste segmento, o apresentador destaca a ordem polêmica de ALEXANDRE MORAES, que determinou que as BIG TECHS forneçam dados dos responsáveis por ameaças a Dino em apenas 48 HORAS. São discutidos detalhes sobre o rastreamento via IP e a importância das informações cadastrais, evidenciando a CONTROVÉRSIA e os riscos para a PRIVACIDADE. Veja o vídeo completo: https://www.youtube.com/watch?v=Y7SWKg3ExFM",
            "videoHardHook": "",
            "videoTags": [
              "Moraes",
              "Big Tech",
              "dados",
              "IP",
              "48 HORAS",
              "STF",
              "Ameaças",
              "Dino",
              "Flávio Dino",
              "Segurança",
              "Rede Social",
              "Polícia Federal",
              "Alexandre Moraes",
              "Tecnologia",
              "Investigação",
              "Conta Online",
              "Liberdade",
              "Controvérsia",
              "Política",
              "Brasil"
            ],
            "videoUrl": "https://www.youtube.com/watch?v=Y7SWKg3ExFM",
            "thumbTexts": [],
            "playlist": {
              "nome": "playlist 1",
              "id": "playlist1"
            },
            "idx": 0,
            "timeStamp": 1759491805311
          },
          {
            "videoCutStartTime": 244,
            "videoCutEndTime": 289,
            "videoCutTitle": "INQUÉRITO DAS FAKE NEWS: A NOVA DITADURA? - CORTE!",
            "videoCutDescription": "Este corte aborda a CHOCANTE continuidade dos inquéritos, onde o inquérito das FAKE NEWS e o das MILÍCIAS DIGITAIS são colocados lado a lado, sugerindo uma nova forma de DITADURA. O apresentador menciona que a medida foi 'uma besteira' e critica a intervenção do STF, provocando debates sobre a REALIDADE política atual. Veja o vídeo completo: https://www.youtube.com/watch?v=Y7SWKg3ExFM",
            "videoHardHook": "",
            "videoTags": [
              "Fake News",
              "Inquérito",
              "Milícias Digitais",
              "Ditadura",
              "Moraes",
              "STF",
              "Controvérsia",
              "Política",
              "Brasil",
              "Liberdade",
              "Censura",
              "Ameaças",
              "Justiça",
              "Alexandre Moraes",
              "Críticas",
              "Impunidade",
              "Ordem",
              "Governos",
              "Manifestação",
              "Conflito"
            ],
            "videoUrl": "https://www.youtube.com/watch?v=Y7SWKg3ExFM",
            "thumbTexts": [],
            "playlist": {
              "nome": "playlist 1",
              "id": "playlist1"
            },
            "idx": 1,
            "timeStamp": 1759491806311
          },
          {
            "videoCutStartTime": 705,
            "videoCutEndTime": 750,
            "videoCutTitle": "DIREITO ÀS ARMAS E A DEMOCRACIA QUEBRADA - CORTE!",
            "videoCutDescription": "Neste segmento, o apresentador discute de forma contundente temas polêmicos, como o DIREITO ÀS ARMAS e a crise da DEMOCRACIA, relembrando o momento em que o Bolsonaro assumiu a presidência e a intervenção de Carmen LÚCIA. A crítica vai fundo, questionando se a democracia realmente funciona quando o STF impede decisões votadas popularmente. Veja o vídeo completo: https://www.youtube.com/watch?v=Y7SWKg3ExFM",
            "videoHardHook": "",
            "videoTags": [
              "Direito às Armas",
              "STF",
              "Bolsonaro",
              "Carmen Lúcia",
              "Democracia",
              "Quebra da Democracia",
              "Controvérsia",
              "Política",
              "Brasil",
              "Liberdade",
              "Constituição",
              "Protesto",
              "Governo",
              "Debate",
              "Eleições",
              "Crítica",
              "Revolução",
              "Segurança",
              "Discurso",
              "Político"
            ],
            "videoUrl": "https://www.youtube.com/watch?v=Y7SWKg3ExFM",
            "thumbTexts": [],
            "playlist": {
              "nome": "playlist 1",
              "id": "playlist1"
            },
            "idx": 2,
            "timeStamp": 1759491807311
          }
        ]
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  }
}