env/workflows/ANCAPSU-NEWS.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        -48
      ],
      "id": "7d047811-9fd3-4901-a8f4-bce8f95f8200",
      "name": "START"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -384,
        -48
      ],
      "id": "9148e440-59fe-4eab-b2cc-20dbec7d7d6c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BQu7fXvxcZR1av6F",
          "mode": "list",
          "cachedResultUrl": "/workflow/BQu7fXvxcZR1av6F",
          "cachedResultName": "@DOWNLOAD_THUMBNAIL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $json.videoId }}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -160,
        -32
      ],
      "id": "7b13fc1d-7610-4844-9aff-2e6a7a11eca6",
      "name": "Download Thumbnail"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UjPnRRupZJq5pbs0",
          "mode": "list",
          "cachedResultUrl": "/workflow/UjPnRRupZJq5pbs0",
          "cachedResultName": "@DOWNLOAD_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $json.videoId }}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -160,
        -208
      ],
      "id": "82e27bc0-7bf4-4069-aaa0-5adfe4333a35",
      "name": "Download Video"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sk6qHDqmsTEMLNsp",
          "mode": "list",
          "cachedResultUrl": "/workflow/sk6qHDqmsTEMLNsp",
          "cachedResultName": "@AUDIO_EXTRACTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $json.videoId }}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -160,
        160
      ],
      "id": "66162901-955f-4d49-8d88-bb4bd3c15371",
      "name": "Extract Audio"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -160,
        -368
      ],
      "id": "dfdfd3c8-9d8b-4693-aa90-597cd3d2c927",
      "name": "DONE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1nQSE6xkyPf6lCyw",
          "mode": "list",
          "cachedResultUrl": "/workflow/1nQSE6xkyPf6lCyw",
          "cachedResultName": "@SILENCE_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_PATH": "=/home/node/download/{{ $('Loop Over Items').item.json.videoId }}/{{ $('Loop Over Items').item.json.videoId }}.mp4"
          },
          "matchingColumns": [
            "FILE_PATH"
          ],
          "schema": [
            {
              "id": "FILE_PATH",
              "displayName": "FILE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        32,
        160
      ],
      "id": "96ffe14f-94ae-4438-89e3-bc164abb68c0",
      "name": "Silence Detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "b4Vww96hTTVhZRYC",
          "mode": "list",
          "cachedResultUrl": "/workflow/b4Vww96hTTVhZRYC",
          "cachedResultName": "@SILENCE_REMOVER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periods": "={{ $json.periods }}",
            "videoId": "={{ $('Loop Over Items').item.json.videoId }}"
          },
          "matchingColumns": [
            "periods",
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "periods",
              "displayName": "periods",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        160
      ],
      "name": "Silence Remover",
      "id": "5ff848e2-410b-452c-a14c-122a70b37cba"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ee2vyA9GjQWfLSET",
          "mode": "list",
          "cachedResultUrl": "/workflow/ee2vyA9GjQWfLSET",
          "cachedResultName": "@LIST_VIDEOS_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MIN_DURATION": "182",
            "MAX_DURATION": "1800",
            "LAST_N_HOURS": "24",
            "CHANNEL_ID": "UCLTWPE7XrHEe8m_xAmNbQ-Q"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CHANNEL_ID",
              "displayName": "CHANNEL_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "LAST_N_HOURS",
              "displayName": "LAST_N_HOURS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MIN_DURATION",
              "displayName": "MIN_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MAX_DURATION",
              "displayName": "MAX_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -576,
        -48
      ],
      "id": "33a9404c-f8fe-416e-828a-9f46171c368e",
      "name": "Find New Videos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eWSuR2lrNs25cJ8B",
          "mode": "list",
          "cachedResultUrl": "/workflow/eWSuR2lrNs25cJ8B",
          "cachedResultName": "@VIDEO_CUT_AGENT_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoTranscription": "={{ $json.RESPONSE }}",
            "videoId": "={{ $('Loop Over Items').item.json.videoId }}"
          },
          "matchingColumns": [
            "videoTranscription"
          ],
          "schema": [
            {
              "id": "videoTranscription",
              "displayName": "videoTranscription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        608,
        160
      ],
      "id": "d124763a-7fc4-4b9d-9e49-a85098928b44",
      "name": "Video Cut Agent Detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "amcgAf3oG1ZjUeER",
          "mode": "list",
          "cachedResultUrl": "/workflow/amcgAf3oG1ZjUeER",
          "cachedResultName": "@AUDIO_TO_WHISPER_LOCAL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.videoId }}"
          },
          "matchingColumns": [
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        160
      ],
      "id": "0a378c61-29eb-4069-9d71-90080e6aee45",
      "name": "AUDIO_TO_WHISPER_LOCAL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bPkDY1rLEosPYyck",
          "mode": "list",
          "cachedResultUrl": "/workflow/bPkDY1rLEosPYyck",
          "cachedResultName": "@VIDEO_SPLIT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "START_TIME": "={{ $json.output[0].videoCutStartTime.toString() }}",
            "END_TIME": "={{ $json.output[0].videoCutEndTime.toString() }}",
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "START_TIME",
              "displayName": "START_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "END_TIME",
              "displayName": "END_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        160
      ],
      "id": "231b7372-afce-4c81-aafc-ae76b3867861",
      "name": "Video Splitter"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3d92D6TV6oLVwDrh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3d92D6TV6oLVwDrh",
          "cachedResultName": "@VIDEO_FADEIN_FADEOUT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "=OVERLAY_{{ $json.FILENAME }}",
            "IN_SECOND": 0,
            "IN_DURATION": 4,
            "OUT_DURATION": 4,
            "OUT_SECOND": "={{ $json.videoMetaData.durationSeconds-4 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "IN_SECOND",
              "displayName": "IN_SECOND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "IN_DURATION",
              "displayName": "IN_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "OUT_SECOND",
              "displayName": "OUT_SECOND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "OUT_DURATION",
              "displayName": "OUT_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        384
      ],
      "id": "27ca8419-e979-4992-981b-087dc50af3b2",
      "name": "Fade In/out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2ZzZd5eVeRIm70um",
          "mode": "list",
          "cachedResultUrl": "/workflow/2ZzZd5eVeRIm70um",
          "cachedResultName": "@VIDEO_META_DATA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "={{ $json.FILENAME }}"
          },
          "matchingColumns": [
            "FILE_NAME"
          ],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        384
      ],
      "id": "20ebad80-6f06-49ae-b619-0fe33b2f09c3",
      "name": "Video Meta Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tIsp1uN50IMXhoQW",
          "mode": "list",
          "cachedResultUrl": "/workflow/tIsp1uN50IMXhoQW",
          "cachedResultName": "@OVERLAY_VIDEO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "OVERLAY_FILE_NAME": "={{ $json.fileName }}",
            "VIDEO_FILE_NAME": "={{ $('Video Splitter').item.json.FILENAME }}",
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 10
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "OVERLAY_FILE_NAME",
              "displayName": "OVERLAY_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        32,
        384
      ],
      "id": "88014289-79dc-43b7-8739-d98e92a0345f",
      "name": "Video Overlay"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/assets/**/*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        992,
        160
      ],
      "id": "957a8d27-9029-4c98-8766-2e4e16ce3b36",
      "name": "List Overlays"
    },
    {
      "parameters": {
        "jsCode": "// Code node (JavaScript) — Run once for all items\n// Seleciona 1 item aleatório a partir de $input.all()\n// Preserva json e binary do item escolhido\n\nconst items = $input.all();\nif (!items || items.length === 0) {\n  throw new Error('Sem itens de entrada para sortear.');\n}\n\n// (Opcional) Filtrar por algum critério antes do sorteio, ex.: só vídeos MP4\n// const pool = items.filter(i => i.json?.fileExtension?.toLowerCase() === 'mp4');\nconst pool = items;\n\nif (pool.length === 0) {\n  throw new Error('Nenhum item válido após o filtro.');\n}\n\nconst idx = Math.floor(Math.random() * pool.length);\nconst chosen = pool[idx];\n\n// (Opcional) Marcar o índice sorteado\nchosen.json = { ...chosen.json, _randomIndex: idx };\n\n// Retorna exatamente 1 item para o próximo node\nreturn [chosen];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        384
      ],
      "id": "69681ba6-067d-4b3a-8aa4-386759efe445",
      "name": "Select Overlay"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/assets/overlay_images/**/*.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        608,
        384
      ],
      "id": "6003ad09-9de8-44fa-9582-fc82d1597663",
      "name": "List Image Overlays"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ek3PyTSAC9oll7i9",
          "mode": "list",
          "cachedResultUrl": "/workflow/ek3PyTSAC9oll7i9",
          "cachedResultName": "@OVERLAY_IMAGE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 0,
            "END_TIME_OVERLAY": "={{ $('Video Meta Data').item.json.videoMetaData.durationSeconds }}",
            "FADE_TIME": 3,
            "IMAGE_FILE_NAME": "={{ $json.fileName }}",
            "VIDEO_FILE_NAME": "=FADE_IN_FADE_OUT_{{ $('Fade In/out').item.json.FILENAME }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_FILE_NAME",
              "displayName": "IMAGE_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "END_TIME_OVERLAY",
              "displayName": "END_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "FADE_TIME",
              "displayName": "FADE_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        384
      ],
      "id": "e30b9b1b-1336-4663-b47f-822dc3b72077",
      "name": "@OVERLAY_IMAGE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bRbAM3zoHUE6bMWh",
          "mode": "list",
          "cachedResultUrl": "/workflow/bRbAM3zoHUE6bMWh",
          "cachedResultName": "@JOIN_VIDEO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "EFFECT": "fadeblack",
            "FILE_1": "=OVERLAY_FADE_IN_FADE_OUT_{{ $('Fade In/out').item.json.FILENAME }}",
            "FILE_2": "/home/node/assets/video_final/final.mp4",
            "MAIN_VIDEO_DURATION": "={{ $('Video Meta Data').item.json.videoMetaData.durationSeconds }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_1",
              "displayName": "FILE_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "FILE_2",
              "displayName": "FILE_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "EFFECT",
              "displayName": "EFFECT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "MAIN_VIDEO_DURATION",
              "displayName": "MAIN_VIDEO_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        384
      ],
      "id": "d8a1ae96-86c3-4b01-a438-dc1b1024ccd4",
      "name": "@JOIN_VIDEO"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "Find New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "DONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Thumbnail": {
      "main": [
        []
      ]
    },
    "Download Video": {
      "main": [
        []
      ]
    },
    "Extract Audio": {
      "main": [
        [
          {
            "node": "Silence Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Detector": {
      "main": [
        [
          {
            "node": "Silence Remover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Remover": {
      "main": [
        [
          {
            "node": "AUDIO_TO_WHISPER_LOCAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find New Videos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Cut Agent Detector": {
      "main": [
        [
          {
            "node": "Video Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AUDIO_TO_WHISPER_LOCAL": {
      "main": [
        [
          {
            "node": "Video Cut Agent Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Splitter": {
      "main": [
        [
          {
            "node": "List Overlays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fade In/out": {
      "main": [
        [
          {
            "node": "List Image Overlays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Meta Data": {
      "main": [
        [
          {
            "node": "Fade In/out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Overlay": {
      "main": [
        [
          {
            "node": "Video Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Overlays": {
      "main": [
        [
          {
            "node": "Select Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Overlay": {
      "main": [
        [
          {
            "node": "Video Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Image Overlays": {
      "main": [
        [
          {
            "node": "@OVERLAY_IMAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@OVERLAY_IMAGE": {
      "main": [
        [
          {
            "node": "@JOIN_VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@JOIN_VIDEO": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Find New Videos": [
      {
        "id": "video:UCLTWPE7XrHEe8m_xAmNbQ-Q_UUwDwsZnGtY",
        "title": "CRISTINA GRAEML diz que \"NÃO é ANTI-SISTEMA\" e se filia ao UNIÃO BRASIL, para o SENADO em 2026",
        "duration": "14:48",
        "durationSeconds": 888,
        "publishedAt": "2025-09-27 18:15:04",
        "publishedAtISO": "2025-09-27T18:15:04Z",
        "publishedAtEpoch": 1758996904,
        "url": "https://www.youtube.com/watch?v=UUwDwsZnGtY",
        "channelId": "UCLTWPE7XrHEe8m_xAmNbQ-Q",
        "videoId": "UUwDwsZnGtY",
        "processed": false
      },
      {
        "id": "video:UCLTWPE7XrHEe8m_xAmNbQ-Q_mmg6Rh4WLqU",
        "title": "SITE do ESCRITÓRIO de ALEXANDRE de MORAES volta a FUNCIONAR, mas ONDE ESTARÁ HOSPEDADO AGORA?",
        "duration": "11:58",
        "durationSeconds": 718,
        "publishedAt": "2025-09-27 16:15:04",
        "publishedAtISO": "2025-09-27T16:15:04Z",
        "publishedAtEpoch": 1758989704,
        "url": "https://www.youtube.com/watch?v=mmg6Rh4WLqU",
        "channelId": "UCLTWPE7XrHEe8m_xAmNbQ-Q",
        "videoId": "mmg6Rh4WLqU",
        "processed": false
      },
      {
        "id": "video:UCLTWPE7XrHEe8m_xAmNbQ-Q_6lvqGv2LDF0",
        "title": "PETRO, amigo do LULA, pede que POLICIAIS de NY se REVOLTEM contra TRUMP: DESESPERO da ESQUERDA",
        "duration": "8:50",
        "durationSeconds": 530,
        "publishedAt": "2025-09-27 13:15:00",
        "publishedAtISO": "2025-09-27T13:15:00Z",
        "publishedAtEpoch": 1758978900,
        "url": "https://www.youtube.com/watch?v=6lvqGv2LDF0",
        "channelId": "UCLTWPE7XrHEe8m_xAmNbQ-Q",
        "videoId": "6lvqGv2LDF0",
        "processed": false
      },
      {
        "id": "video:UCLTWPE7XrHEe8m_xAmNbQ-Q_meERpJobQIA",
        "title": "PASTOR SUL-AFRICANO previu o ARREBATAMENTO no dia 23 de SETEMBRO e virou PIADA nas REDES SOCIAIS",
        "duration": "10:41",
        "durationSeconds": 641,
        "publishedAt": "2025-09-27 09:15:04",
        "publishedAtISO": "2025-09-27T09:15:04Z",
        "publishedAtEpoch": 1758964504,
        "url": "https://www.youtube.com/watch?v=meERpJobQIA",
        "channelId": "UCLTWPE7XrHEe8m_xAmNbQ-Q",
        "videoId": "meERpJobQIA",
        "processed": false
      },
      {
        "id": "video:UCLTWPE7XrHEe8m_xAmNbQ-Q_uege52Z9wyU",
        "title": "PRESIDENTE do PSOL PERDE VISTO para os ESTADOS UNIDOS e reclama que MOTIVAÇÃO é POLÍTICA, mas SERÁ?",
        "duration": "13:22",
        "durationSeconds": 802,
        "publishedAt": "2025-09-27 00:06:36",
        "publishedAtISO": "2025-09-27T00:06:36Z",
        "publishedAtEpoch": 1758931596,
        "url": "https://www.youtube.com/watch?v=uege52Z9wyU",
        "channelId": "UCLTWPE7XrHEe8m_xAmNbQ-Q",
        "videoId": "uege52Z9wyU",
        "processed": false
      },
      {
        "id": "video:UCLTWPE7XrHEe8m_xAmNbQ-Q_0A4hv9VaOdM",
        "title": "TAGLIAFERRO apresenta MAIS EVIDÊNCIAS da PERSEGUIÇÃO a DIREITA e NOMES de PESSOAS IMPLICADAS",
        "duration": "12:27",
        "durationSeconds": 747,
        "publishedAt": "2025-09-26 22:15:01",
        "publishedAtISO": "2025-09-26T22:15:01Z",
        "publishedAtEpoch": 1758924901,
        "url": "https://www.youtube.com/watch?v=0A4hv9VaOdM",
        "channelId": "UCLTWPE7XrHEe8m_xAmNbQ-Q",
        "videoId": "0A4hv9VaOdM",
        "processed": false
      },
      {
        "id": "video:UCLTWPE7XrHEe8m_xAmNbQ-Q_X-e1j2SbrXI",
        "title": "CONSTITUINTES explicitamente AUTORIZARAM a ANISTIA em CASO de CRIMES de GOLPE de ESTADO",
        "duration": "12:39",
        "durationSeconds": 759,
        "publishedAt": "2025-09-26 20:28:23",
        "publishedAtISO": "2025-09-26T20:28:23Z",
        "publishedAtEpoch": 1758918503,
        "url": "https://www.youtube.com/watch?v=X-e1j2SbrXI",
        "channelId": "UCLTWPE7XrHEe8m_xAmNbQ-Q",
        "videoId": "X-e1j2SbrXI",
        "processed": false
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  }
}