env/workflows/ANCAPSU-NEWS.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -48
      ],
      "id": "7d047811-9fd3-4901-a8f4-bce8f95f8200",
      "name": "START"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -384,
        -48
      ],
      "id": "9148e440-59fe-4eab-b2cc-20dbec7d7d6c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BQu7fXvxcZR1av6F",
          "mode": "list",
          "cachedResultName": "@DOWNLOAD_THUMBNAIL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $json.videoId }}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -160,
        -32
      ],
      "id": "7b13fc1d-7610-4844-9aff-2e6a7a11eca6",
      "name": "Download Thumbnail"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UjPnRRupZJq5pbs0",
          "mode": "list",
          "cachedResultName": "@DOWNLOAD_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $json.videoId }}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -160,
        -192
      ],
      "id": "82e27bc0-7bf4-4069-aaa0-5adfe4333a35",
      "name": "Download Video"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sk6qHDqmsTEMLNsp",
          "mode": "list",
          "cachedResultName": "@AUDIO_EXTRACTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $json.videoId }}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -160,
        128
      ],
      "id": "66162901-955f-4d49-8d88-bb4bd3c15371",
      "name": "Extract Audio"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -160,
        -336
      ],
      "id": "dfdfd3c8-9d8b-4693-aa90-597cd3d2c927",
      "name": "DONE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1nQSE6xkyPf6lCyw",
          "mode": "list",
          "cachedResultName": "@SILENCE_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_PATH": "=/home/node/download/{{ $('Loop Over Items').item.json.videoId }}/{{ $('Loop Over Items').item.json.videoId }}.mp4"
          },
          "matchingColumns": [
            "FILE_PATH"
          ],
          "schema": [
            {
              "id": "FILE_PATH",
              "displayName": "FILE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        16,
        128
      ],
      "id": "96ffe14f-94ae-4438-89e3-bc164abb68c0",
      "name": "Silence Detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "b4Vww96hTTVhZRYC",
          "mode": "list",
          "cachedResultName": "@SILENCE_REMOVER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periods": "={{ $json.periods }}",
            "videoId": "={{ $('Loop Over Items').item.json.videoId }}"
          },
          "matchingColumns": [
            "periods",
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "periods",
              "displayName": "periods",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        192,
        128
      ],
      "name": "Silence Remover",
      "id": "5ff848e2-410b-452c-a14c-122a70b37cba"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ee2vyA9GjQWfLSET",
          "mode": "list",
          "cachedResultName": "@LIST_VIDEOS_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MIN_DURATION": "182",
            "MAX_DURATION": "1800",
            "LAST_N_HOURS": "24",
            "CHANNEL_ID": "UCLTWPE7XrHEe8m_xAmNbQ-Q"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CHANNEL_ID",
              "displayName": "CHANNEL_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "LAST_N_HOURS",
              "displayName": "LAST_N_HOURS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MIN_DURATION",
              "displayName": "MIN_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MAX_DURATION",
              "displayName": "MAX_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -544,
        -48
      ],
      "id": "33a9404c-f8fe-416e-828a-9f46171c368e",
      "name": "Find New Videos"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "Find New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "DONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Thumbnail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Audio": {
      "main": [
        [
          {
            "node": "Silence Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Detector": {
      "main": [
        [
          {
            "node": "Silence Remover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find New Videos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  }
}