env/workflows/CANAL_ANCAPSU/@PROCESS_LONG_VIDEOS.json
{
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eWSuR2lrNs25cJ8B",
          "mode": "list",
          "cachedResultUrl": "/workflow/eWSuR2lrNs25cJ8B",
          "cachedResultName": "@VIDEO_CUT_AGENT_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoTranscription": "={{ $json.RESPONSE }}",
            "videoId": "={{ $('Start').item.json.videoId }}"
          },
          "matchingColumns": [
            "videoTranscription"
          ],
          "schema": [
            {
              "id": "videoTranscription",
              "displayName": "videoTranscription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        688,
        496
      ],
      "id": "d124763a-7fc4-4b9d-9e49-a85098928b44",
      "name": "Video Cut Agent Detector",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bPkDY1rLEosPYyck",
          "mode": "list",
          "cachedResultUrl": "/workflow/bPkDY1rLEosPYyck",
          "cachedResultName": "@VIDEO_SPLIT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "START_TIME": "={{ $json.output[0].videoCutStartTime.toString() }}",
            "END_TIME": "={{ $json.output[0].videoCutEndTime.toString() }}",
            "VIDEO_ID": "={{ $('Start').item.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "START_TIME",
              "displayName": "START_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "END_TIME",
              "displayName": "END_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "PREFIX",
              "displayName": "PREFIX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        496
      ],
      "id": "231b7372-afce-4c81-aafc-ae76b3867861",
      "name": "Video Splitter"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3d92D6TV6oLVwDrh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3d92D6TV6oLVwDrh",
          "cachedResultName": "@VIDEO_FADEIN_FADEOUT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "=OVERLAY_{{ $json.FILENAME }}",
            "IN_SECOND": 0,
            "IN_DURATION": 4,
            "OUT_DURATION": 4,
            "OUT_SECOND": "={{ $json.videoMetaData.durationSeconds-4 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "IN_SECOND",
              "displayName": "IN_SECOND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "IN_DURATION",
              "displayName": "IN_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "OUT_SECOND",
              "displayName": "OUT_SECOND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "OUT_DURATION",
              "displayName": "OUT_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1824,
        496
      ],
      "id": "27ca8419-e979-4992-981b-087dc50af3b2",
      "name": "Fade In/out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2ZzZd5eVeRIm70um",
          "mode": "list",
          "cachedResultUrl": "/workflow/2ZzZd5eVeRIm70um",
          "cachedResultName": "@VIDEO_META_DATA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "={{ $json.FILENAME }}"
          },
          "matchingColumns": [
            "FILE_NAME"
          ],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1632,
        496
      ],
      "id": "20ebad80-6f06-49ae-b619-0fe33b2f09c3",
      "name": "Video Meta Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tIsp1uN50IMXhoQW",
          "mode": "list",
          "cachedResultUrl": "/workflow/tIsp1uN50IMXhoQW",
          "cachedResultName": "@OVERLAY_VIDEO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "OVERLAY_FILE_NAME": "={{ '/home/node/assets/overlay_videos/'+$json.fileName }}",
            "VIDEO_FILE_NAME": "={{ $('Video Splitter').item.json.FILENAME }}",
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 10
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "OVERLAY_FILE_NAME",
              "displayName": "OVERLAY_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        496
      ],
      "id": "88014289-79dc-43b7-8739-d98e92a0345f",
      "name": "Video Overlay"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/assets/overlay_videos/*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1072,
        496
      ],
      "id": "957a8d27-9029-4c98-8766-2e4e16ce3b36",
      "name": "List Overlays"
    },
    {
      "parameters": {
        "jsCode": "// Code node (JavaScript) — Run once for all items\n// Seleciona 1 item aleatório a partir de $input.all()\n// Preserva json e binary do item escolhido\n\nconst items = $input.all();\nif (!items || items.length === 0) {\n  throw new Error('Sem itens de entrada para sortear.');\n}\n\n// (Opcional) Filtrar por algum critério antes do sorteio, ex.: só vídeos MP4\n// const pool = items.filter(i => i.json?.fileExtension?.toLowerCase() === 'mp4');\nconst pool = items;\n\nif (pool.length === 0) {\n  throw new Error('Nenhum item válido após o filtro.');\n}\n\nconst idx = Math.floor(Math.random() * pool.length);\nconst chosen = pool[idx];\n\n// (Opcional) Marcar o índice sorteado\nchosen.json = { ...chosen.json, _randomIndex: idx };\n\n// Retorna exatamente 1 item para o próximo node\nreturn [chosen];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        496
      ],
      "id": "69681ba6-067d-4b3a-8aa4-386759efe445",
      "name": "Select Overlay"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ek3PyTSAC9oll7i9",
          "mode": "list",
          "cachedResultUrl": "/workflow/ek3PyTSAC9oll7i9",
          "cachedResultName": "@OVERLAY_IMAGE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 0,
            "END_TIME_OVERLAY": "={{ $('Video Meta Data').item.json.videoMetaData.durationSeconds }}",
            "FADE_TIME": 3,
            "IMAGE_FILE_NAME": "={{ $json.fileName }}",
            "VIDEO_FILE_NAME": "=FADE_IN_FADE_OUT_{{ $('Fade In/out').item.json.FILENAME }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_FILE_NAME",
              "displayName": "IMAGE_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "END_TIME_OVERLAY",
              "displayName": "END_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "FADE_TIME",
              "displayName": "FADE_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2224,
        496
      ],
      "id": "e30b9b1b-1336-4663-b47f-822dc3b72077",
      "name": "@OVERLAY_IMAGE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bRbAM3zoHUE6bMWh",
          "mode": "list",
          "cachedResultUrl": "/workflow/bRbAM3zoHUE6bMWh",
          "cachedResultName": "@JOIN_VIDEO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "EFFECT": "fadeblack",
            "FILE_1": "=OVERLAY_FADE_IN_FADE_OUT_{{ $('Fade In/out').item.json.FILENAME }}",
            "FILE_2": "/home/node/assets/final_videos/final.mp4",
            "MAIN_VIDEO_DURATION": "={{ $('Video Meta Data').item.json.videoMetaData.durationSeconds }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_1",
              "displayName": "FILE_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "FILE_2",
              "displayName": "FILE_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "EFFECT",
              "displayName": "EFFECT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "MAIN_VIDEO_DURATION",
              "displayName": "MAIN_VIDEO_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2416,
        496
      ],
      "id": "d8a1ae96-86c3-4b01-a438-dc1b1024ccd4",
      "name": "@JOIN_VIDEO"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HqrhH7MLPfbiKeW4",
          "mode": "list",
          "cachedResultUrl": "/workflow/HqrhH7MLPfbiKeW4",
          "cachedResultName": "@PROCESS_THUMBNAIL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Start').item.json.videoId }}",
            "fontSize4": 60,
            "posYTexto4": 315,
            "posXTexto4": 25,
            "fontSize3": 60,
            "posYTexto3": 250,
            "posXTexto3": 25,
            "fontSize2": 45,
            "posYTexto2": 175,
            "posXTexto2": 84,
            "fontSize1": 40,
            "posYTexto1": 47,
            "posXTexto1": 50,
            "colorTexto1": "#FFFFFF",
            "colorTexto2": "#000000",
            "colorTexto3": "#FFFFFF",
            "colorTexto4": "#FFFFFF",
            "texto1": "={{ $json.output[0].thumbTexts[0] }}",
            "texto2": "={{ $json.output[0].thumbTexts[1] }}",
            "texto3": "={{ $json.output[0].thumbTexts[2] }}",
            "texto4": "={{ $json.output[0].thumbTexts[3] }}"
          },
          "matchingColumns": [
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "texto1",
              "displayName": "texto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto1",
              "displayName": "posXTexto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto1",
              "displayName": "posYTexto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto1",
              "displayName": "colorTexto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize1",
              "displayName": "fontSize1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "texto2",
              "displayName": "texto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto2",
              "displayName": "posXTexto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto2",
              "displayName": "posYTexto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto2",
              "displayName": "colorTexto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize2",
              "displayName": "fontSize2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "texto3",
              "displayName": "texto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto3",
              "displayName": "posXTexto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto3",
              "displayName": "posYTexto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto3",
              "displayName": "colorTexto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize3",
              "displayName": "fontSize3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "texto4",
              "displayName": "texto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto4",
              "displayName": "posXTexto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto4",
              "displayName": "posYTexto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto4",
              "displayName": "colorTexto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize4",
              "displayName": "fontSize4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        336
      ],
      "name": "Process Thumbnail",
      "id": "6b161616-33ed-488b-aceb-b1225e8a409f"
    },
    {
      "parameters": {
        "content": "## Long Vídeo Processing\n",
        "height": 400,
        "width": 2208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        288
      ],
      "id": "396f1ad7-b1fd-4d37-a564-92801ec431c5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "RESPONSE",
              "type": "any"
            },
            {
              "name": "videoId",
              "type": "any"
            }
          ]
        }
      },
      "id": "b03f9cae-571d-4094-8d25-0738e2d978be",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        480,
        496
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/assets/overlay_images/horizontal_1.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2016,
        496
      ],
      "id": "6003ad09-9de8-44fa-9582-fc82d1597663",
      "name": "List horizontal Image Overlays"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1b1f42f-20bd-46ab-ae19-7b9f5c8a4f35",
              "name": "output",
              "value": "={{ $('Video Cut Agent Detector').item.json.output }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        496
      ],
      "id": "cdf303fd-8984-4769-8bb5-0bbcf8dd4cef",
      "name": "return"
    }
  ],
  "connections": {
    "Video Cut Agent Detector": {
      "main": [
        [
          {
            "node": "Video Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Splitter": {
      "main": [
        [
          {
            "node": "List Overlays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fade In/out": {
      "main": [
        [
          {
            "node": "List horizontal Image Overlays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Meta Data": {
      "main": [
        [
          {
            "node": "Fade In/out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Overlay": {
      "main": [
        [
          {
            "node": "Video Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Overlays": {
      "main": [
        [
          {
            "node": "Select Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Overlay": {
      "main": [
        [
          {
            "node": "Video Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@OVERLAY_IMAGE": {
      "main": [
        [
          {
            "node": "@JOIN_VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@JOIN_VIDEO": {
      "main": [
        [
          {
            "node": "return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Thumbnail": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Video Cut Agent Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List horizontal Image Overlays": {
      "main": [
        [
          {
            "node": "@OVERLAY_IMAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "RESPONSE": "1\n00:00:00,000 --> 00:00:06,040\n Esse é o capítulo que nós vamos falar agora sobre a internet no Afeganistão, que foi cortada pelo Talibã, tá?\n\n2\n00:00:06,140 --> 00:00:09,099\n Cortaram a internet no país inteiro. Olha o pesadelo que é isso.\n\n3\n00:00:09,640 --> 00:00:12,980\n Olha como é que a Starlink é importante nesse contexto, tá?\n\n4\n00:00:13,060 --> 00:00:20,440\n E é exatamente por isso que os governos não gostam da Starlink, porque o governo aqui do Brasil adoraria fazer isso um dia desses aí, né?\n\n5\n00:00:20,519 --> 00:00:27,179\n Lá no Talibã, lá no Afeganistão, a coisa foi porque eles estavam fazendo, combatendo atos de moralidade, né?\n\n6\n00:00:27,179 --> 00:00:32,820\n Ou seja, mais uma vez, repressão cultural massiva e realmente uma situação muito triste.\n\n7\n00:00:33,140 --> 00:00:37,380\n Parou, tá? Já voltou a internet lá no Afeganistão. Ficou 48 horas fora do ar.\n\n8\n00:00:37,519 --> 00:00:43,340\n Aí a empresa de televisão de lá, a empresa de internet lá, falou que foi uma manutenção apenas.\n\n9\n00:00:43,659 --> 00:00:48,060\n Não, não foi. Eles falaram que iam cortar por causa dessa coisa de atos de moralidade.\n\n10\n00:00:48,179 --> 00:00:51,379\n É que eles viram que deu merda e tiveram que voltar atrás.\n\n11\n00:00:51,480 --> 00:00:56,340\n Essa notícia foi sugerida por Supremo Imperador do Capistão, Sonho do Xandão e várias outras pessoas.\n\n12\n00:00:56,840 --> 00:00:57,159\n Obrigado.\n\n13\n00:00:57,179 --> 00:01:00,939\n Obrigado aí ao pessoal que sugeriu notícias lá no nosso site, no visãolibertaria.com.\n\n14\n00:01:01,240 --> 00:01:02,979\n E obrigado a você que está assistindo o nosso vídeo.\n\n15\n00:01:03,079 --> 00:01:07,500\n Se você gosta do nosso conteúdo, por favor, deixe o seu like e se inscreva aqui no canal, né?\n\n16\n00:01:08,219 --> 00:01:12,480\n Pois bem, o Talibã bloqueou a internet e a telefonia celular no Afeganistão.\n\n17\n00:01:12,859 --> 00:01:13,659\n Tudo. Acabou.\n\n18\n00:01:14,280 --> 00:01:17,400\n Aí, o que aconteceu? Quando eles bloquearam isso, a televisão parou de funcionar também,\n\n19\n00:01:17,500 --> 00:01:20,200\n porque hoje em dia toda televisão funciona com base na internet, né?\n\n20\n00:01:20,579 --> 00:01:23,280\n A telefonia celular hoje em dia toda funciona com base na internet.\n\n21\n00:01:23,760 --> 00:01:25,039\n Esse aqui é o problema, né?\n\n22\n00:01:25,439 --> 00:01:27,039\n Eu já vi, se não me engano, foi o Bacchus.\n\n23\n00:01:27,180 --> 00:01:31,560\n Barroso falando aqui no Brasil que, ai, que antes das redes sociais era tão bom,\n\n24\n00:01:31,660 --> 00:01:35,980\n antes da internet, a gente podia andar na rua, que ninguém criticava a gente.\n\n25\n00:01:36,320 --> 00:01:38,040\n Barroso, esse mundo acabou, meu amigo.\n\n26\n00:01:38,100 --> 00:01:39,420\n Esse mundo não existe mais, tá?\n\n27\n00:01:39,420 --> 00:01:40,920\n O mundo hoje depende da internet.\n\n28\n00:01:40,920 --> 00:01:44,380\n E esse pessoal adoraria acabar com a internet, mas não consegue.\n\n29\n00:01:44,800 --> 00:01:46,940\n Porque aí as outras coisas param de funcionar.\n\n30\n00:01:47,020 --> 00:01:48,440\n Os bancos pararam de funcionar.\n\n31\n00:01:48,780 --> 00:01:50,820\n Foi um caos completo lá no Afeganistão, né?\n\n32\n00:01:50,820 --> 00:01:53,620\n É verdade que a economia do Afeganistão não é essa maravilha toda,\n\n33\n00:01:54,160 --> 00:01:56,520\n mas ainda assim a situação ficou muito crítica, né?\n\n34\n00:01:56,600 --> 00:01:57,020\n Tá aqui, ó.\n\n35\n00:01:57,420 --> 00:02:01,040\n Talibã impõe blackout de comunicação em todo o Afeganistão.\n\n36\n00:02:01,140 --> 00:02:05,800\n É a primeira vez que o Afeganistão experimenta um shutdown desse tipo\n\n37\n00:02:05,800 --> 00:02:09,159\n desde que o Talibã voltou ao poder em agosto de 2021.\n\n38\n00:02:09,680 --> 00:02:13,060\n E a justificativa era justamente esse negócio da moralidade e coisa e tal.\n\n39\n00:02:13,540 --> 00:02:14,340\n Por isso que eu falo pra vocês.\n\n40\n00:02:14,439 --> 00:02:17,140\n Eu fico preocupado com essas coisas do pessoal muito moralista,\n\n41\n00:02:17,300 --> 00:02:19,219\n de querer, não, bons costumes e coisa e tal.\n\n42\n00:02:19,760 --> 00:02:23,520\n Enquanto é bons costumes no sentido de aconselhar as pessoas a fazer isso,\n\n43\n00:02:23,560 --> 00:02:24,260\n eu acho ótimo.\n\n44\n00:02:24,600 --> 00:02:25,560\n Mas olha o que eles estão falando aqui.\n\n45\n00:02:25,560 --> 00:02:28,719\n Não porque temos que combater a imoralidade e coisa e tal,\n\n46\n00:02:28,840 --> 00:02:30,819\n e vamos cortar a internet de todo mundo.\n\n47\n00:02:31,240 --> 00:02:33,840\n E eu consigo ver algumas pessoas aqui no Brasil que se der o argumento\n\n48\n00:02:33,840 --> 00:02:36,080\n de que não que temos que cortar o TikTok,\n\n49\n00:02:36,699 --> 00:02:39,300\n porque tem muito funqueiro falando besteira no TikTok,\n\n50\n00:02:39,539 --> 00:02:40,560\n então vamos cortar o TikTok.\n\n51\n00:02:40,939 --> 00:02:44,099\n Eu tô pra te dizer que tem gente da direita que vai apoiar esse tipo de ideia, hein?\n\n52\n00:02:44,520 --> 00:02:46,800\n Não, não pode ser a favor disso.\n\n53\n00:02:47,120 --> 00:02:48,039\n Isso é errado.\n\n54\n00:02:48,520 --> 00:02:50,539\n Censura é errado pra qualquer lado, né?\n\n55\n00:02:50,580 --> 00:02:53,039\n Sempre é ruim, sempre acaba prejudicando.\n\n56\n00:02:54,060 --> 00:02:54,400\n Enfim.\n\n57\n00:02:54,400 --> 00:02:57,840\n O código moral, eu acho muito bacana que as pessoas tenham.\n\n58\n00:02:57,939 --> 00:03:00,420\n Aconselho que as pessoas tenham realmente um código moral bacana,\n\n59\n00:03:00,480 --> 00:03:03,460\n que não saibam fazer depravidões o dia inteiro em qualquer lugar.\n\n60\n00:03:03,900 --> 00:03:06,000\n Mas, de novo, cada um tem o seu.\n\n61\n00:03:06,140 --> 00:03:07,360\n Você decide onde você vai.\n\n62\n00:03:07,439 --> 00:03:11,659\n Se você der o poder pra um grupo pra impor regras morais pra toda a sociedade,\n\n63\n00:03:12,000 --> 00:03:14,860\n isso vai desandar pior do que a esquerda no poder.\n\n64\n00:03:15,480 --> 00:03:15,680\n Aqui.\n\n65\n00:03:15,780 --> 00:03:18,400\n O Talibã, então, impôs comunicação, blackout de comunicação no Afeganistão.\n\n66\n00:03:19,340 --> 00:03:19,719\n Aqui, ó.\n\n67\n00:03:19,719 --> 00:03:24,379\n O Netblocks mostra aqui a queda total da comunicação de internet,\n\n68\n00:03:24,400 --> 00:03:25,680\n no Afeganistão.\n\n69\n00:03:25,680 --> 00:03:29,819\n A ProtonVPN também mostrou totalmente desligamento completo.\n\n70\n00:03:30,300 --> 00:03:33,240\n Veja, quando você tem uma situação desse tipo, não adianta usar VPN.\n\n71\n00:03:33,800 --> 00:03:35,300\n Porque não é questão de VPN.\n\n72\n00:03:35,400 --> 00:03:36,420\n Nada sai do país.\n\n73\n00:03:36,900 --> 00:03:37,879\n Desligaram a internet.\n\n74\n00:03:38,060 --> 00:03:40,659\n A internet parou de funcionar completamente em tudo quanto é lugar.\n\n75\n00:03:41,180 --> 00:03:42,680\n Então, é diferente de um bloqueio.\n\n76\n00:03:42,759 --> 00:03:44,580\n Se você tem um bloqueio parcial da internet,\n\n77\n00:03:44,900 --> 00:03:46,400\n mas parte da internet continua funcionando,\n\n78\n00:03:47,080 --> 00:03:50,819\n tipicamente você consegue usar uma VPN pra contornar esse bloqueio.\n\n79\n00:03:50,920 --> 00:03:53,080\n Agora, se a internet inteira é desligada, acabou.\n\n80\n00:03:53,080 --> 00:03:54,080\n Não tem como contornar.\n\n81\n00:03:54,400 --> 00:03:56,039\n Não tem nada que ligue.\n\n82\n00:03:56,219 --> 00:04:00,099\n Então, a própria VPN caiu aqui por conta desse tipo de coisa.\n\n83\n00:04:00,700 --> 00:04:03,060\n E aí, qual que é a saída nesse caso?\n\n84\n00:04:03,319 --> 00:04:03,920\n É Starlink.\n\n85\n00:04:04,060 --> 00:04:04,300\n Por quê?\n\n86\n00:04:04,360 --> 00:04:06,900\n Porque Starlink você conecta com um satélite lá em cima\n\n87\n00:04:06,900 --> 00:04:08,259\n e você sai por ali.\n\n88\n00:04:08,520 --> 00:04:10,800\n E aqui, num áudio vazado,\n\n89\n00:04:11,020 --> 00:04:14,980\n um líder do Talibã estava ordenando forças\n\n90\n00:04:14,980 --> 00:04:18,840\n para identificar e deter qualquer um que esteja usando Starlink\n\n91\n00:04:18,840 --> 00:04:20,980\n ou internet por satélite no Afeganistão\n\n92\n00:04:20,980 --> 00:04:24,379\n depois de cortar a internet por fibra.\n\n93\n00:04:24,399 --> 00:04:26,799\n Por terra deles lá, né?\n\n94\n00:04:27,219 --> 00:04:29,579\n Então, ou seja, olha só como é que o governo do Afeganistão\n\n95\n00:04:29,579 --> 00:04:30,719\n não gosta da Starlink.\n\n96\n00:04:30,859 --> 00:04:31,099\n Por quê?\n\n97\n00:04:31,159 --> 00:04:33,060\n Porque Starlink é uma maneira de você sair disso daí.\n\n98\n00:04:33,419 --> 00:04:35,279\n Se o governo fechar totalmente a internet,\n\n99\n00:04:35,419 --> 00:04:38,139\n você ainda consegue se comunicar através da Starlink\n\n100\n00:04:38,139 --> 00:04:40,459\n porque ela fala com satélite direto, né?\n\n101\n00:04:40,579 --> 00:04:43,719\n E aí ele fala que em alguns lugares aqui que eles estão procurando\n\n102\n00:04:43,719 --> 00:04:45,159\n e coisa e tal, alguns sistemas, né?\n\n103\n00:04:45,219 --> 00:04:46,659\n E Starlink e coisa e tal,\n\n104\n00:04:47,120 --> 00:04:48,379\n esses indivíduos são importantes.\n\n105\n00:04:48,519 --> 00:04:52,439\n Prendam eles porque usar a internet dos infiéis e dos americanos,\n\n106\n00:04:52,439 --> 00:04:54,379\n a internet dos infiéis e a internet do alomano,\n\n107\n00:04:54,399 --> 00:04:55,219\n as que não sei o que lá.\n\n108\n00:04:55,779 --> 00:04:59,459\n Ou seja, é por isso que o governo Lula não gosta.\n\n109\n00:04:59,859 --> 00:05:02,939\n O governo Lula adora e certamente planeja em algum momento\n\n110\n00:05:02,939 --> 00:05:04,919\n controlar toda a internet no Brasil,\n\n111\n00:05:05,039 --> 00:05:06,439\n fechar toda a internet no Brasil.\n\n112\n00:05:06,899 --> 00:05:09,560\n Não duvido nada que realmente tome alguma medida desse tipo\n\n113\n00:05:09,560 --> 00:05:10,839\n em algum momento do futuro, né?\n\n114\n00:05:11,219 --> 00:05:13,959\n Só que aí vai ter a situação que eu estou mostrando para vocês.\n\n115\n00:05:14,359 --> 00:05:17,120\n A internet já está tão entranhada na nossa vida,\n\n116\n00:05:17,199 --> 00:05:18,060\n no nosso dia a dia,\n\n117\n00:05:18,479 --> 00:05:20,419\n que você não consegue mais cortar a internet hoje em dia.\n\n118\n00:05:20,719 --> 00:05:22,019\n Se você cortar a internet hoje em dia,\n\n119\n00:05:22,019 --> 00:05:23,539\n os bancos não fazem mais pagamentos,\n\n120\n00:05:23,540 --> 00:05:24,960\n as pessoas não compram, não vendem,\n\n121\n00:05:25,060 --> 00:05:26,640\n começa a faltar produto nos mercados,\n\n122\n00:05:26,960 --> 00:05:28,520\n começa a dar xabu em um monte de coisa.\n\n123\n00:05:29,080 --> 00:05:30,400\n Mesmo lá no Afeganistão,\n\n124\n00:05:30,480 --> 00:05:33,000\n que não é um país com tanto acesso à internet assim,\n\n125\n00:05:33,379 --> 00:05:34,460\n eles devem ter tentado isso,\n\n126\n00:05:34,580 --> 00:05:35,439\n devem ter dado merda,\n\n127\n00:05:35,560 --> 00:05:36,760\n e aí eles voltaram atrás,\n\n128\n00:05:36,980 --> 00:05:38,540\n ligaram a internet de novo, né?\n\n129\n00:05:39,060 --> 00:05:40,800\n E não querem a Starlink,\n\n130\n00:05:40,900 --> 00:05:42,540\n porque a Starlink você contorna.\n\n131\n00:05:43,400 --> 00:05:44,400\n Isso daqui, sabe o que é isso daqui?\n\n132\n00:05:44,759 --> 00:05:46,439\n São carros do Afeganistão,\n\n133\n00:05:46,580 --> 00:05:47,600\n no meio do deserto,\n\n134\n00:05:47,640 --> 00:05:50,300\n num lugar que ainda conseguia conexão através do Paquistão.\n\n135\n00:05:50,740 --> 00:05:53,180\n Então o pessoal perto da fronteira com o Paquistão,\n\n136\n00:05:53,180 --> 00:05:53,379\n não conseguia.\n\n137\n00:05:53,379 --> 00:05:53,520\n Então o pessoal perto da fronteira com o Paquistão,\n\n138\n00:05:53,519 --> 00:05:55,639\n tinha lá uma montanha, um lugar que você conseguia pegar\n\n139\n00:05:55,639 --> 00:05:58,359\n sinal do Paquistão, em roaming, com certeza,\n\n140\n00:05:58,839 --> 00:06:00,019\n e conseguia fazer conexão,\n\n141\n00:06:00,099 --> 00:06:01,879\n mandar uma mensagem de texto, alguma coisa.\n\n142\n00:06:02,579 --> 00:06:04,259\n Rapaz, isso não é perto não, tá?\n\n143\n00:06:04,579 --> 00:06:05,959\n Aqui é o Afeganistão, tá?\n\n144\n00:06:06,419 --> 00:06:08,180\n Cabu é a capital do Afeganistão,\n\n145\n00:06:08,299 --> 00:06:09,259\n é essa cidade aqui.\n\n146\n00:06:09,579 --> 00:06:11,519\n A fronteira do Paquistão tá aqui, ó.\n\n147\n00:06:12,019 --> 00:06:14,120\n Mas essa distância aqui é uma distância grande, cara.\n\n148\n00:06:14,159 --> 00:06:16,399\n Isso aqui é bem longe, no final das contas, né?\n\n149\n00:06:16,879 --> 00:06:18,139\n E é justamente essa região aqui\n\n150\n00:06:18,139 --> 00:06:19,819\n que o pessoal veio aqui e\n\n151\n00:06:19,819 --> 00:06:21,819\n parou com o carro nesse local aqui,\n\n152\n00:06:21,819 --> 00:06:22,819\n porque dá pra conversar\n\n153\n00:06:22,819 --> 00:06:25,240\n na internet. O cara pegou o carro,\n\n154\n00:06:25,599 --> 00:06:27,899\n botou combustível, viajou não sei quantos quilômetros,\n\n155\n00:06:28,019 --> 00:06:29,879\n 100, 200 quilômetros, pra acessar\n\n156\n00:06:29,879 --> 00:06:30,839\n a internet, né?\n\n157\n00:06:31,500 --> 00:06:34,019\n E, bom, pra você ver o desespero\n\n158\n00:06:34,019 --> 00:06:35,800\n do pessoal, porque a verdade é que a internet\n\n159\n00:06:35,800 --> 00:06:37,680\n já faz parte da sociedade moderna.\n\n160\n00:06:37,759 --> 00:06:39,740\n Não tem como cancelar esse negócio mais.\n\n161\n00:06:40,699 --> 00:06:42,159\n Aqui, ó, o pessoal reclamou,\n\n162\n00:06:42,259 --> 00:06:43,779\n muita gente reclamou, evidentemente,\n\n163\n00:06:43,879 --> 00:06:45,019\n muitas pessoas reclamaram.\n\n164\n00:06:45,579 --> 00:06:47,779\n E depois voltou\n\n165\n00:06:47,779 --> 00:06:50,300\n essa internet no Afeganistão.\n\n166\n00:06:50,480 --> 00:06:52,500\n As redes de comunicação resumiram,\n\n167\n00:06:52,500 --> 00:06:53,800\n a internet, e falaram que foi\n\n168\n00:06:53,800 --> 00:06:56,480\n um mero trabalho de manutenção\n\n169\n00:06:56,480 --> 00:06:58,000\n nesse negócio aí. Mas não,\n\n170\n00:06:58,060 --> 00:07:00,160\n porque o pessoal tinha falado claramente que era por conta\n\n171\n00:07:00,160 --> 00:07:01,339\n do tal\n\n172\n00:07:01,339 --> 00:07:04,600\n dia da moralidade,\n\n173\n00:07:04,680 --> 00:07:06,019\n que vamos moralizar as pessoas,\n\n174\n00:07:06,139 --> 00:07:07,899\n ninguém vai mais gostar de funk agora, né?\n\n175\n00:07:08,540 --> 00:07:10,220\n E, aqui, ó, foi reportado\n\n176\n00:07:10,220 --> 00:07:12,420\n agora que o sistema voltou parcialmente,\n\n177\n00:07:12,480 --> 00:07:14,420\n tá? Parcialmente restaurado\n\n178\n00:07:14,420 --> 00:07:16,180\n no Afeganistão, ainda não tá 100%,\n\n179\n00:07:16,180 --> 00:07:18,180\n mas já foi restaurado em parte, deve ser restaurado\n\n180\n00:07:18,180 --> 00:07:19,980\n em tudo no lugar. E isso daqui,\n\n181\n00:07:19,980 --> 00:07:22,240\n segundo estão dizendo, é o pessoal do Afeganistão,\n\n182\n00:07:22,240 --> 00:07:24,220\n comemorando a volta da internet.\n\n183\n00:07:24,340 --> 00:07:26,660\n Aqui em Cabo, comemorando a volta da internet\n\n184\n00:07:26,660 --> 00:07:28,519\n e gravando com o celular isso daqui.\n\n185\n00:07:28,819 --> 00:07:30,420\n Eu não sei se é verdade, mas pode ser\n\n186\n00:07:30,420 --> 00:07:32,340\n verdade o pessoal comemorando mesmo.\n\n187\n00:07:32,420 --> 00:07:33,540\n O fato é esse, né?\n\n188\n00:07:33,960 --> 00:07:36,639\n A ideia desse pessoal, que adoraria acabar com a internet,\n\n189\n00:07:36,900 --> 00:07:38,160\n é justamente fazer isso, mas\n\n190\n00:07:38,160 --> 00:07:39,600\n não dá, não tem como, né?\n\n191\n00:07:40,019 --> 00:07:42,139\n Não tem como tirar. A vida moderna\n\n192\n00:07:42,139 --> 00:07:44,340\n depende da internet. A internet representa\n\n193\n00:07:44,340 --> 00:07:46,300\n uma queda de custos tão grande,\n\n194\n00:07:46,379 --> 00:07:48,639\n até pro governo, que o governo depende dela.\n\n195\n00:07:49,040 --> 00:07:50,300\n Achar que vai conseguir fechar\n\n196\n00:07:50,300 --> 00:07:51,699\n tudo e continuar tudo normal,\n\n197\n00:07:52,240 --> 00:07:54,120\n não vai, né? Mesmo o Xandão,\n\n198\n00:07:54,220 --> 00:07:55,819\n quando proibiu o X aqui no Brasil,\n\n199\n00:07:55,980 --> 00:07:57,500\n um absurdo que aconteceu aqui,\n\n200\n00:07:58,460 --> 00:08:00,180\n e aquilo já prejudicou\n\n201\n00:08:00,180 --> 00:08:02,280\n um monte de gente. Se não fosse um psicopata\n\n202\n00:08:02,280 --> 00:08:04,259\n como Alexandre de Moraes, o pessoal\n\n203\n00:08:04,259 --> 00:08:06,439\n do Talibã ainda percebeu mais rápido o problema\n\n204\n00:08:06,439 --> 00:08:08,100\n e voltou atrás. Não é Alexandre de Moraes, não.\n\n205\n00:08:08,160 --> 00:08:10,259\n É psicopata mesmo. Destrói\n\n206\n00:08:10,259 --> 00:08:11,600\n o país e não tá nem aí, né?\n\n207\n00:08:13,300 --> 00:08:14,400\n Prejudicou muita gente\n\n208\n00:08:14,400 --> 00:08:16,000\n mesmo com o fim do X aqui no Brasil,\n\n209\n00:08:16,079 --> 00:08:17,680\n com a proibição do X aqui no Brasil, né?\n\n210\n00:08:18,100 --> 00:08:19,800\n Enfim, é isso daí. Tomem cuidado.\n\n211\n00:08:19,800 --> 00:08:21,920\n Uma hora vai chegar aqui no Brasil isso daqui,\n\n212\n00:08:21,920 --> 00:08:23,939\n e do jeito que as coisas estão caminhando, uma hora chega aqui.\n\n213\n00:08:25,939 --> 00:08:28,160\n Obrigado por assistir o vídeo até o final.\n\n214\n00:08:28,660 --> 00:08:30,140\n Além de curtir, compartilhar\n\n215\n00:08:30,140 --> 00:08:31,379\n e se inscrever no canal,\n\n216\n00:08:31,600 --> 00:08:33,560\n considere se tornar patrocinador\n\n217\n00:08:33,560 --> 00:08:35,759\n com valores a partir de R$ 1,99.\n\n218\n00:08:36,639 --> 00:08:37,560\n Clique no botão\n\n219\n00:08:37,560 --> 00:08:39,620\n Seja Membro abaixo para saber\n\n220\n00:08:39,620 --> 00:08:42,200\n as condições e vantagens de patrocinar\n\n221\n00:08:42,200 --> 00:08:43,879\n o canal. Mais informações\n\n222\n00:08:43,879 --> 00:08:45,759\n sobre o nosso projeto, visite\n\n223\n00:08:45,759 --> 00:08:47,740\n nossos sites indicados na tela.\n",
        "videoId": "_6-rECTnUT8"
      }
    ]
  },
  "meta": {
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  }
}