env/workflows/CANAL_ANCAPSU/@UPLOAD_TO_YOUTUBE.json
{
  "nodes": [
    {
      "parameters": {
        "fileSelector": "=/home/node/processing/{{ $('@GLOBAL_ANCAPSU').first().json.CHANNEL_NAME }}/{{ $('Loop Over Items1').item.json.fileName}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1776,
        448
      ],
      "id": "1f83a8f8-6d5a-4f84-9ccd-a3df5cc45efa",
      "name": "Read File"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=[FALHA AO ENVIAR Short de ID:{{ $('Loop Over Items1').item.json.idx }} e título {{ $('Loop Over Items1').item.json.videoCutTitle }}]",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2416,
        480
      ],
      "id": "96bea9b7-5512-4134-a96b-562acb2b870f",
      "name": "Notificar FALHA",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Shorts FINALIZADOS.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1776,
        304
      ],
      "id": "bfbae2d3-4436-46a2-961f-69bbb119eb09",
      "name": "Shorts Enviados",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Retorna um único item com a string 'DONE'\nreturn [\n  {\n    json: { result: 'DONE' }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        304
      ],
      "id": "37820d6b-e27f-41da-a69e-48b968a5c68c",
      "name": "DONE"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}/*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        784,
        704
      ],
      "id": "1bf93058-4d0f-4b94-bd95-9522c39abf2f",
      "name": "List Videos to Upload1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1392,
        448
      ],
      "id": "f8bd5f12-4bb3-4e1d-b8b6-ea6b7d6e2346",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Loop Over Items1').item.json.videoCutTitle }}",
        "regionCode": "BR",
        "categoryId": "=",
        "binaryProperty": "=data",
        "options": {
          "description": "={{ $('Loop Over Items1').item.json.videoCutDescription }}",
          "notifySubscribers": false,
          "privacyStatus": "private",
          "publishAt": "={{\n(() => {\n  const pad = n => String(n).padStart(2, '0');  \n  const d = new Date(Date.now() + 2 * 24 * 60 * 60 * 1000);\n\n  const y = d.getFullYear();\n  const M   = pad(d.getMonth() + 1);\n  const D   = pad(d.getDate());\n\n  return `${y}-${M}-${D}T`+$('@SHORT_SCHEDULE_MANAGER1').item.json.APPOINTMENT;\n})()\n}}\n",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Loop Over Items1').first().json.videoTags.map(t => JSON.stringify(t)).join(',').trim() }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1968,
        448
      ],
      "id": "e8864b1a-cc8e-4a36-a4dc-5faf7adf8e84",
      "name": "Upload a video1",
      "alwaysOutputData": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lC6w9zooePykiKGj",
          "name": "YouTube n8n account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Upload shorts",
        "height": 416,
        "width": 1648,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        272
      ],
      "id": "76097924-a762-4927-8dce-8a3583c0f152",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1h9d9qP7tdTR7izH",
          "mode": "list",
          "cachedResultUrl": "/workflow/1h9d9qP7tdTR7izH",
          "cachedResultName": "@SHORT_SCHEDULE_MANAGER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        448
      ],
      "id": "bdf6ff81-eed6-4c67-80e9-45fa0c83d93b",
      "name": "@SHORT_SCHEDULE_MANAGER1"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"channelId\": \"a string\",\n  \"videoId\": \"a string\",\n  \"uploadLongVideoData\": [],\n  \"uploadShortVideoData\": []\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        208,
        704
      ],
      "id": "da70e806-c692-4962-a0fc-25f09b1eab95",
      "name": "START"
    },
    {
      "parameters": {
        "jsCode": "return $('START').first().json.uploadShortVideoData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        448
      ],
      "id": "9d0cd348-533b-4637-86b2-f0ae4190cf08",
      "name": "Get Short Video Info"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza a entrada para sempre virar um array de arquivos\nconst inputItems = $input.all();\nconst files = Array.isArray(inputItems[0]?.json)\n  ? inputItems[0].json                       // caso o 1º item seja um array de arquivos\n  : inputItems.map(i => i.json);             // caso cada item seja um arquivo\n\n// Escolhe o vídeo \"longo\": fileType === 'video' e NÃO contém \"_SHORT_\" no nome\nconst longVideo = files.find(f =>\n  f?.fileType === 'video' &&\n  typeof f?.fileName === 'string' &&\n  !f.fileName.includes('_SHORT_')\n);\n\n// Pega o payload original do START\nconst payload = $('START').first().json.uploadLongVideoData;\n\n// Normaliza/pega o thumbnail do node \"List Thumbnail Upload\" (pode vir item único ou array de itens)\nconst thumbItems = $('List Thumbnail Upload').all();\nconst thumbList = Array.isArray(thumbItems[0]?.json) ? thumbItems[0].json : thumbItems.map(i => i.json);\nconst thumbnailEntry = thumbList.find(t =>\n  t?.fileType === 'image' && typeof t?.fileName === 'string'\n);\nconst thumbnail = thumbnailEntry ? thumbnailEntry.fileName : null;\n\n// Garante que payload é array\nconst list = Array.isArray(payload) ? payload : [payload];\n\n// Monta saída adicionando fileName e thumbnail\nconst out = list.map(item => ({\n  ...item,\n  fileName: longVideo ? longVideo.fileName : null,\n  thumbnail\n}));\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        912
      ],
      "id": "b4b4b5b9-939c-409c-a1f3-8bdbefb7247f",
      "name": "Get Long Video Info"
    },
    {
      "parameters": {
        "jsCode": "// Code node (JavaScript) — Enriquecer cortes com fileName dos vídeos\n// Funciona mesmo que o node esteja conectado após o SplitInBatches,\n// pois lê explicitamente dos nodes nomeados abaixo.\n\nconst DEBUG = false; // troque para true se quiser inspecionar a estratégia de match\n\n// 1) Pega os cortes do node \"Get Short Video Info\"\nconst cuts = $(\"Get Short Video Info\").all().map(i => i.json);\n\n// 2) Pega os arquivos do node \"List Videos to Upload\" (onde estão os .mp4)\nconst fileItems = $(\"List Videos to Upload1\").all().map(i => i.json || i);\nconst fileNames = Array.from(new Set(\n  fileItems\n    .map(f => f?.fileName)\n    .filter(fn => typeof fn === \"string\" && fn.endsWith(\".mp4\"))\n));\n\n// 3) Índices para match rápido\n// 3a) Por IDX: READY_TO_UPLOAD_..._IDX_<n>_...\nconst idxMap = new Map();\nfor (const fn of fileNames) {\n  const m = fn.match(/_IDX_(\\d+)_/);\n  if (m) idxMap.set(Number(m[1]), fn);\n}\n\n// 3b) Por timeStamp: READY_TO_UPLOAD_<ts>_...\nconst tsMap = new Map();\nfor (const fn of fileNames) {\n  const m = fn.match(/^READY_TO_UPLOAD_(\\d+)_/);\n  if (m) tsMap.set(m[1], fn);\n}\n\n// 4) Monta saída: original + fileName (com fallback)\nconst out = [];\n\nfor (const cut of cuts) {\n  const idx = Number(cut.idx);\n  const tsStr = cut.timeStamp != null ? String(cut.timeStamp) : \"\";\n  let fileName = null;\n  let strategy = null;\n\n  if (Number.isFinite(idx) && idxMap.has(idx)) {\n    fileName = idxMap.get(idx);\n    strategy = \"IDX\";\n  } else if (tsStr && tsMap.has(tsStr)) {\n    fileName = tsMap.get(tsStr);\n    strategy = \"timeStamp\";\n  } else {\n    // Fallback extra: busca por substring (mais caro, mas salva casos fora do padrão)\n    fileName = fileNames.find(fn =>\n      (Number.isFinite(idx) && fn.includes(`_IDX_${idx}_`)) ||\n      (tsStr && fn.includes(tsStr))\n    ) || null;\n    strategy = \"fallback-search\";\n  }\n\n  const enriched = { ...cut, fileName };\n  if (DEBUG) enriched.__debug = { strategy, candidates: fileNames };\n\n  out.push({ json: enriched });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        448
      ],
      "id": "63b3491a-f2c9-40be-a755-d8406764296c",
      "name": "Map File Names"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}/*.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        592,
        704
      ],
      "id": "67779c1d-10a1-4e80-b95b-29a67245dce1",
      "name": "List Thumbnail Upload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0ap9qlRsEhZwRkS3",
          "mode": "list",
          "cachedResultUrl": "/workflow/0ap9qlRsEhZwRkS3",
          "cachedResultName": "@LONG_SCHEDULE_MANAGER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1184,
        912
      ],
      "id": "1f95ab48-de31-4d4a-ac00-1dd18003c9bd",
      "name": "@LONG_SCHEDULE_MANAGER"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Get Long Video Info').item.json.videoCutTitle }}",
        "regionCode": "BR",
        "categoryId": "=",
        "binaryProperty": "=data",
        "options": {
          "description": "={{ $('Get Long Video Info').item.json.videoCutDescription }}",
          "notifySubscribers": false,
          "privacyStatus": "private",
          "publishAt": "={{\n(() => {\n  const pad = n => String(n).padStart(2, '0');    \n  const d = new Date(Date.now() + 2 * 24 * 60 * 60 * 1000);\n\n  const y = d.getFullYear();\n  const M   = pad(d.getMonth() + 1);\n  const D   = pad(d.getDate());\n\n  return `${y}-${M}-${D}T`+$('@LONG_SCHEDULE_MANAGER').item.json.APPOINTMENT;\n})()\n}}\n",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Get Long Video Info').first().json.videoTags.map(t => JSON.stringify(t)).join(',').trim() }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1536,
        912
      ],
      "id": "6830a84e-5933-429c-9b7c-67d637ea63bc",
      "name": "Upload a video",
      "alwaysOutputData": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lC6w9zooePykiKGj",
          "name": "YouTube n8n account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/processing/{{ $('@GLOBAL_ANCAPSU').first().json.CHANNEL_NAME }}/{{ $('Get Long Video Info').item.json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1360,
        912
      ],
      "id": "1688da31-29fa-4d56-a52d-64a3fd35fd08",
      "name": "Read File Video"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/processing/{{ $('@GLOBAL_ANCAPSU').first().json.CHANNEL_NAME }}/{{ $('Get Long Video Info').item.json.thumbnail }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1728,
        912
      ],
      "id": "fc27c7df-3eec-45b0-a11f-34539d433de3",
      "name": "Read File Thumb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Upload a video').item.json.uploadId }}"
            },
            {
              "name": "uploadType",
              "value": "multipart"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "32da164d-c3ec-43cd-868e-4947549ea447",
      "name": "Set Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        912
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lC6w9zooePykiKGj",
          "name": "YouTube n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Short de ID:{{ $('Loop Over Items1').item.json.idx }} e título {{ $('Loop Over Items1').item.json.videoCutTitle }} de uploadId: {{ $json.uploadId }} enviado com SUCESSO",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2224,
        432
      ],
      "id": "2e18fae3-9605-4396-8c1c-e00e1c1c69d4",
      "name": "Notificar SUCESSO SHORT",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=[FALHA AO ENVIAR vídeo LONGO de ID:{{ $('Loop Over Items1').item.json.idx }} e título {{ $('Loop Over Items1').item.json.videoCutTitle }}]",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1728,
        1072
      ],
      "id": "6b1dfb81-a07e-47bf-bf5b-ae1fb10dc812",
      "name": "Notificar FALHA LONGO",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Vídeo LONGO de ID:{{ $('Loop Over Items1').first().json.idx }} e título {{ $('Loop Over Items1').first().json.videoCutTitle }} de uploadId: {{ $('Upload a video').item.json.uploadId }}enviado com SUCESSO",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2256,
        912
      ],
      "id": "025b341b-f62f-4b3b-948c-4e55b0daf0fb",
      "name": "Notificar SUCESSO LONGO",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Upload longs",
        "height": 400,
        "width": 1536
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        832
      ],
      "id": "9418625a-fa0a-4de7-befe-c1782c701efa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        704
      ],
      "id": "9ab7e090-578a-4336-a4af-0041927233c7",
      "name": "@GLOBAL_ANCAPSU"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/playlistItems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n(() => {\n  const info = $('Get Long Video Info')?.item?.json || {};\n  const upload = $('Upload a video')?.item?.json || {};\n\n  // playlistId pode vir como info.playlist.id, ou (fallback) info.playlistId / $json.playlistId\n  const playlistId = (info.playlist && info.playlist.id) || info.playlistId || $json.playlistId;\n  const videoId = upload.uploadId || $json.videoId;\n\n  if (!playlistId) throw new Error('playlistId ausente (esperado em Get Long Video Info.playlist.id).');\n  if (!videoId)   throw new Error('videoId ausente (use Upload a video.uploadId ou $json.videoId).');\n\n  return JSON.stringify({\n    snippet: {\n      playlistId,\n      resourceId: { kind: 'youtube#video', videoId },\n      position: 0\n    }\n  });\n})()\n}}",
        "options": {}
      },
      "id": "3aafbafa-8ecb-4436-bf7f-0c7c91ea8b79",
      "name": "Set Video To Playlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        912
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lC6w9zooePykiKGj",
          "name": "YouTube n8n account"
        }
      }
    }
  ],
  "connections": {
    "Read File": {
      "main": [
        [
          {
            "node": "Upload a video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar FALHA": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DONE": {
      "main": [
        [
          {
            "node": "Shorts Enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Videos to Upload1": {
      "main": [
        [
          {
            "node": "Get Long Video Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Short Video Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "DONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "@SHORT_SCHEDULE_MANAGER1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video1": {
      "main": [
        [
          {
            "node": "Notificar SUCESSO SHORT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar FALHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@SHORT_SCHEDULE_MANAGER1": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Short Video Info": {
      "main": [
        [
          {
            "node": "Map File Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Long Video Info": {
      "main": [
        [
          {
            "node": "@LONG_SCHEDULE_MANAGER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map File Names": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Thumbnail Upload": {
      "main": [
        [
          {
            "node": "List Videos to Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@LONG_SCHEDULE_MANAGER": {
      "main": [
        [
          {
            "node": "Read File Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Read File Thumb",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar FALHA LONGO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File Video": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File Thumb": {
      "main": [
        [
          {
            "node": "Set Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Thumbnail": {
      "main": [
        [
          {
            "node": "Set Video To Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar SUCESSO SHORT": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "List Thumbnail Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video To Playlist": {
      "main": [
        [
          {
            "node": "Notificar SUCESSO LONGO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "START": [
      {
        "channelId": "UCLTWPE7XrHEe8m_xAmNbQ-Q",
        "videoId": "j8CP1M13O0E",
        "uploadLongVideoData": [
          {
            "videoCutStartTime": 0,
            "videoCutEndTime": 302,
            "videoCutTitle": "METANOL E CORTINA: ADVOGADO PACHECO EXPÕE VERDADE - CORTE!",
            "videoCutDescription": "Neste corte, o orador analisa a CRISE DO METANOL, apontando uma CORTINA DE FUMAÇA usada para desviar a atenção de temas políticos e para explicar o polêmico caso do advogado Luiz Fernando Pacheco, que ilustra o nexo causal entre violência e consumo de metanol. Descubra os elementos que revelam a REALIDADE por trás das manchetes. Créditos para o canal @ancap_su. Veja o vídeo completo: https://www.youtube.com/watch?v=j8CP1M13O0E.",
            "videoHardHook": "Você vai se surpreender com como o metanol mascara verdades políticas e causa mortes!",
            "videoTags": [
              "metanol",
              "crise do metanol",
              "cortina de fumaça",
              "advogado",
              "Luiz Fernando Pacheco",
              "latrocínio",
              "direito penal",
              "nexo causal",
              "política brasileira",
              "corrupção",
              "desvio de atenção",
              "análise crítica",
              "falsificação",
              "violência",
              "justiça",
              "debate político",
              "caso Pacheco",
              "segurança pública",
              "impunidade",
              "realidade brasileira"
            ],
            "videoUrl": "https://www.youtube.com/watch?v=j8CP1M13O0E",
            "thumbTexts": [
              "METANOL CRISE",
              "CORTINA DE FUMAÇA",
              "CASO PACHECO CHOCANTE",
              "VERDADE REVELA PODER"
            ],
            "playlist": {
              "nome": "politica",
              "id": "PLiSmx3iri_u5Md9fp1OK0P6snqkvdC--2"
            }
          }
        ],
        "uploadShortVideoData": [
          {
            "videoCutStartTime": 0,
            "videoCutEndTime": 49,
            "videoCutTitle": "CRISE DO METANOL: CORTINA DE FUMAÇA POLÍTICA - CORTE!",
            "videoCutDescription": "Neste segmento, o apresentador expõe a POLÊMICA em torno da crise do METANOL e como ela pode ser uma CORTINA DE FUMAÇA para desviar a atenção de assuntos políticos, como a prisão do BOLSONARO e eventos envolvendo Magnitsky. São destacados pontos como as mortes por metanol e a longa história de contaminação, provocando debates sobre verdade e manipulação. Veja o vídeo completo: https://www.youtube.com/watch?v=j8CP1M13O0E",
            "videoHardHook": "Descubra a verdade por trás da cortina de fumaça!",
            "videoTags": [
              "metanol",
              "crise",
              "política",
              "cortina de fumaça",
              "Bolsonaro",
              "Magnitsky",
              "controvérsia",
              "mortes",
              "desvio",
              "opinião pública",
              "debate",
              "análise",
              "fatos",
              "manipulação",
              "estranheza",
              "exclusivo",
              "impacto",
              "imponderável",
              "escândalo",
              "notícias"
            ],
            "videoUrl": "https://www.youtube.com/watch?v=j8CP1M13O0E",
            "thumbTexts": [
              "CRISE DO METANOL!"
            ],
            "playlist": {
              "nome": "playlist 1",
              "id": "playlist1"
            },
            "idx": 0,
            "timeStamp": 1759625415328
          },
          {
            "videoCutStartTime": 847,
            "videoCutEndTime": 896,
            "videoCutTitle": "TECNOLOGIA CONTRA O METANOL: SOLUÇÃO RÁPIDA E INOVADORA - CORTE!",
            "videoCutDescription": "Neste segmento, o apresentador revela uma solução INOVADORA para o problema do metanol em bebidas. Ele destaca que o incentivo econômico e a tecnologia, como o teste de 10 REAIS da UNESP que detecta metanol em APENAS 15 MINUTOS, podem revolucionar a segurança do consumo. A tecnologia é apresentada como alternativa aos altos riscos de CONTAMINAÇÃO, mostrando benefícios e provocando curiosidade. Veja o vídeo completo: https://www.youtube.com/watch?v=j8CP1M13O0E",
            "videoHardHook": "Inovação que pode salvar sua saúde!",
            "videoTags": [
              "metanol",
              "tecnologia",
              "inovação",
              "Unesp",
              "incentivo",
              "teste rápido",
              "bebidas alcoólicas",
              "segurança",
              "detecção",
              "15 MINUTOS",
              "economia",
              "solução",
              "ciência",
              "qualidade",
              "problema",
              "bem-estar",
              "tecnológico",
              "descoberta",
              "análise",
              "revolução"
            ],
            "videoUrl": "https://www.youtube.com/watch?v=j8CP1M13O0E",
            "thumbTexts": [
              "SOLUÇÃO INOVADORA!"
            ],
            "playlist": {
              "nome": "playlist 1",
              "id": "playlist1"
            },
            "idx": 1,
            "timeStamp": 1759625416328
          },
          {
            "videoCutStartTime": 790,
            "videoCutEndTime": 838,
            "videoCutTitle": "IMPOSTOS ALTOS: A CRISE DA BEBIDA FALSIFICADA - CORTE!",
            "videoCutDescription": "Neste recorte, o apresentador explora como os ALTOS IMPOSTOS sobre bebidas alcoólicas no Brasil incentivam a FALSIFICAÇÃO e a CONTAMINAÇÃO por metanol. Ele menciona a existência do artigo 272 do Código Penal e a proposta de lei para combater esse crime, ressaltando que a elevação dos preços abre espaço para fraudes. Uma análise crítica que provoca debates sobre economia, direito penal e a realidade do mercado. Veja o vídeo completo: https://www.youtube.com/watch?v=j8CP1M13O0E",
            "videoHardHook": "Entenda como os impostos podem estar colocando sua saúde em risco!",
            "videoTags": [
              "impostos",
              "bebidas",
              "falsificação",
              "contaminação",
              "metanol",
              "artigo 272",
              "direito penal",
              "crise",
              "economia",
              "lei",
              "cadeia",
              "impostos altos",
              "política",
              "debate",
              "análise",
              "fraude",
              "segurança",
              "mercado",
              "incentivo econômico",
              "controverso"
            ],
            "videoUrl": "https://www.youtube.com/watch?v=j8CP1M13O0E",
            "thumbTexts": [
              "CRISE DAS BEBIDAS!"
            ],
            "playlist": {
              "nome": "playlist 1",
              "id": "playlist1"
            },
            "idx": 2,
            "timeStamp": 1759625417328
          }
        ]
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  }
}