env/workflows/CANAL_ANCAPSU/ANCAPSU-NEWS.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -48
      ],
      "id": "7d047811-9fd3-4901-a8f4-bce8f95f8200",
      "name": "START"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        -48
      ],
      "id": "9148e440-59fe-4eab-b2cc-20dbec7d7d6c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BQu7fXvxcZR1av6F",
          "mode": "list",
          "cachedResultUrl": "/workflow/BQu7fXvxcZR1av6F",
          "cachedResultName": "@DOWNLOAD_THUMBNAIL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        -32
      ],
      "id": "7b13fc1d-7610-4844-9aff-2e6a7a11eca6",
      "name": "Download Thumbnail"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UjPnRRupZJq5pbs0",
          "mode": "list",
          "cachedResultUrl": "/workflow/UjPnRRupZJq5pbs0",
          "cachedResultName": "@DOWNLOAD_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        -224
      ],
      "id": "82e27bc0-7bf4-4069-aaa0-5adfe4333a35",
      "name": "Download Video"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sk6qHDqmsTEMLNsp",
          "mode": "list",
          "cachedResultUrl": "/workflow/sk6qHDqmsTEMLNsp",
          "cachedResultName": "@AUDIO_EXTRACTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        32,
        544
      ],
      "id": "66162901-955f-4d49-8d88-bb4bd3c15371",
      "name": "Extract Audio",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1nQSE6xkyPf6lCyw",
          "mode": "list",
          "cachedResultUrl": "/workflow/1nQSE6xkyPf6lCyw",
          "cachedResultName": "@SILENCE_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_PATH": "=/home/node/download/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}/{{ $('Loop Over Items').item.json.json.videoId}}/{{ $('Loop Over Items').item.json.json.videoId}}.mp4"
          },
          "matchingColumns": [
            "FILE_PATH"
          ],
          "schema": [
            {
              "id": "FILE_PATH",
              "displayName": "FILE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        544
      ],
      "id": "96ffe14f-94ae-4438-89e3-bc164abb68c0",
      "name": "Silence Detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "b4Vww96hTTVhZRYC",
          "mode": "list",
          "cachedResultUrl": "/workflow/b4Vww96hTTVhZRYC",
          "cachedResultName": "@SILENCE_REMOVER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periods": "={{ $json.periods }}",
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "periods",
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "periods",
              "displayName": "periods",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        544
      ],
      "name": "Silence Remover",
      "id": "5ff848e2-410b-452c-a14c-122a70b37cba"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ee2vyA9GjQWfLSET",
          "mode": "list",
          "cachedResultUrl": "/workflow/ee2vyA9GjQWfLSET",
          "cachedResultName": "@LIST_VIDEOS_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "LAST_N_HOURS": "={{ $json.LAST_N_HOURS }}",
            "CHANNEL_ID": "=UCLTWPE7XrHEe8m_xAmNbQ-Q",
            "MIN_DURATION": "={{ $json.MIN_DURATION }}",
            "MAX_DURATION": "={{ $json.MAX_DURATION }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CHANNEL_ID",
              "displayName": "CHANNEL_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "LAST_N_HOURS",
              "displayName": "LAST_N_HOURS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MIN_DURATION",
              "displayName": "MIN_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MAX_DURATION",
              "displayName": "MAX_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -352,
        -48
      ],
      "id": "33a9404c-f8fe-416e-828a-9f46171c368e",
      "name": "Find New Videos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        544
      ],
      "id": "af707433-4825-4022-b9be-5f5f607b8b55",
      "name": "Merge"
    },
    {
      "parameters": {
        "command": "=/bin/bash -lc 'find /home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }} -maxdepth 1 -type f -name \"*.mp4\" ! -name \"READY_TO_UPLOAD*.mp4\" -delete'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        544
      ],
      "id": "6e630050-53f2-4522-a064-d12b9a56499c",
      "name": "Remover Temporary Files"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        544
      ],
      "id": "6585562f-acf5-46d9-84ca-00e45ea02560",
      "name": "Wait",
      "webhookId": "02dee35b-5006-47ce-b159-f70f29c2efd8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "969lz3HdNKI9OD7G",
          "mode": "list",
          "cachedResultUrl": "/workflow/969lz3HdNKI9OD7G",
          "cachedResultName": "@PROCESS_SHORTS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}",
            "RESPONSE": "={{ $json.RESPONSE }}"
          },
          "matchingColumns": [
            "videoId",
            "RESPONSE"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESPONSE",
              "displayName": "RESPONSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        816,
        432
      ],
      "name": "@PROCESS_SHORTS",
      "id": "0305fba0-7e00-4b8d-bb86-8ba3f514fcd6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCYYlNNL6g7GjhbF",
          "mode": "list",
          "cachedResultUrl": "/workflow/MCYYlNNL6g7GjhbF",
          "cachedResultName": "@PROCESS_LONG_VIDEOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "RESPONSE": "={{ $json.RESPONSE }}",
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}"
          },
          "matchingColumns": [
            "RESPONSE",
            "videoId"
          ],
          "schema": [
            {
              "id": "RESPONSE",
              "displayName": "RESPONSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        816,
        656
      ],
      "name": "@PROCESS_LONG",
      "id": "11bbc88c-0d53-4d17-a772-69a594f6f088"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "amcgAf3oG1ZjUeER",
          "mode": "list",
          "cachedResultUrl": "/workflow/amcgAf3oG1ZjUeER",
          "cachedResultName": "@AUDIO_TO_WHISPER_LOCAL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        608,
        544
      ],
      "id": "0a378c61-29eb-4069-9d71-90080e6aee45",
      "name": "WHISPER_LOCAL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hRXzf6dN01dP2o29",
          "mode": "list",
          "cachedResultUrl": "/workflow/hRXzf6dN01dP2o29",
          "cachedResultName": "@UPLOAD_TO_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}",
            "uploadShortVideoData": "={{ $('@PROCESS_SHORTS').first().json.output }}",
            "uploadLongVideoData": "={{ $('@PROCESS_LONG').first().json.output }}",
            "channelId": "={{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelId",
              "displayName": "channelId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "uploadLongVideoData",
              "displayName": "uploadLongVideoData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "uploadShortVideoData",
              "displayName": "uploadShortVideoData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1376,
        544
      ],
      "id": "45127896-b90e-411f-afdf-20c14fb8988d",
      "name": "@UPLOAD",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FOC826UnuMrsQvTf",
          "mode": "list",
          "cachedResultUrl": "/workflow/FOC826UnuMrsQvTf",
          "cachedResultName": "@SET_VIDEO_AS_PROCESSED"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelId": "={{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_ID }}",
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelId",
              "displayName": "channelId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1744,
        544
      ],
      "id": "de0b126f-7b1b-43fa-a7bd-5d8d2b782398",
      "name": "@SET_VIDEO_AS_PROCESSED"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -512,
        -48
      ],
      "id": "27cdd236-ef0d-4cdd-b338-58748a16a827",
      "name": "@GLOBAL_ANCAPSU"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Processo de upload do dia [{{ new Date().toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }).replace(/\\//g, '-') }}] FINALIZADO.\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        224,
        -560
      ],
      "id": "50339a31-f366-4f17-a9f4-572f101f51db",
      "name": "PROCESSO CONCLUÍDO",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "command": "=/bin/bash -lc 'dir=\"/home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}\"; [ -n \"$dir\" ] && [ -d \"$dir\" ] && find \"$dir\" -maxdepth 1 -type f -delete'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1920,
        656
      ],
      "id": "b751cc2a-473b-41d5-b202-1024e95e1a34",
      "name": "Limpar Pasta de Trabalho"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=INICIANDO PROCESSAMENTO DO VIDEO: {{ $('Loop Over Items').first().json.json.url }}\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        224,
        -400
      ],
      "id": "e64e7449-806a-4d29-be9f-6258cebfdffa",
      "name": "NOTIFICAR INICIO",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notificações\n",
        "height": 208,
        "width": 2144,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        192
      ],
      "id": "0cb66ce2-5b06-45d2-a1f9-5ed02bc418a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Processo princial",
        "height": 432,
        "width": 2320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        416
      ],
      "id": "bf17bd03-8ada-4f15-9a93-739440e28310",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Detectando Silêncios...\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        224,
        256
      ],
      "id": "680f051a-83cf-456a-a9a6-a0f365022786",
      "name": "Notify Silence Detector",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Extraindo audio...\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        32,
        256
      ],
      "id": "8aa227ef-9e44-4c75-9b1b-0bbd5511bfea",
      "name": "Notify extract Audio",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Removendo silêncios...\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        416,
        256
      ],
      "id": "d407af3b-3311-4fee-a262-3808bacc0733",
      "name": "Notify Remove Silences",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Iniciando transcrição...\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        608,
        256
      ],
      "id": "68782f0f-e46a-4297-b2f6-7843562aba07",
      "name": "Notify Whinsper",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Iniciando processamento do vídeo...\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        816,
        256
      ],
      "id": "87bc003b-17fe-4912-914f-df2eb178fc48",
      "name": "Notify Vídeo Process",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Iniciando Upload...\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1376,
        256
      ],
      "id": "023c69b6-4d5c-4292-a87f-9e6e121b37a9",
      "name": "Notify Upload",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "5561982086449",
        "messageText": "=Processamento do vídeo atual FINALIZADO.\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1920,
        256
      ],
      "id": "f68d27fc-1201-46a7-bc51-0dc840348667",
      "name": "Notify Finish Video",
      "credentials": {
        "evolutionApi": {
          "id": "FEzvaAKjYtvZZ6HQ",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "PROCESSO CONCLUÍDO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NOTIFICAR INICIO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Thumbnail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify extract Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Thumbnail": {
      "main": [
        []
      ]
    },
    "Download Video": {
      "main": [
        []
      ]
    },
    "Extract Audio": {
      "main": [
        [
          {
            "node": "Silence Detector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Silence Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Detector": {
      "main": [
        [
          {
            "node": "Silence Remover",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Remove Silences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Remover": {
      "main": [
        [
          {
            "node": "Notify Whinsper",
            "type": "main",
            "index": 0
          },
          {
            "node": "WHISPER_LOCAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find New Videos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remover Temporary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover Temporary Files": {
      "main": [
        [
          {
            "node": "@UPLOAD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "@SET_VIDEO_AS_PROCESSED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@PROCESS_SHORTS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@PROCESS_LONG": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "WHISPER_LOCAL": {
      "main": [
        [
          {
            "node": "@PROCESS_LONG",
            "type": "main",
            "index": 0
          },
          {
            "node": "@PROCESS_SHORTS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Vídeo Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@UPLOAD": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@SET_VIDEO_AS_PROCESSED": {
      "main": [
        [
          {
            "node": "Limpar Pasta de Trabalho",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Finish Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "Find New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Pasta de Trabalho": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  }
}