env/workflows/CANAL_ANCAPSU/ANCAPSU-NEWS.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        128
      ],
      "id": "7d047811-9fd3-4901-a8f4-bce8f95f8200",
      "name": "START"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        16
      ],
      "id": "9148e440-59fe-4eab-b2cc-20dbec7d7d6c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BQu7fXvxcZR1av6F",
          "mode": "list",
          "cachedResultUrl": "/workflow/BQu7fXvxcZR1av6F",
          "cachedResultName": "@DOWNLOAD_THUMBNAIL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        32
      ],
      "id": "7b13fc1d-7610-4844-9aff-2e6a7a11eca6",
      "name": "Download Thumbnail"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UjPnRRupZJq5pbs0",
          "mode": "list",
          "cachedResultUrl": "/workflow/UjPnRRupZJq5pbs0",
          "cachedResultName": "@DOWNLOAD_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        -160
      ],
      "id": "82e27bc0-7bf4-4069-aaa0-5adfe4333a35",
      "name": "Download Video"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sk6qHDqmsTEMLNsp",
          "mode": "list",
          "cachedResultUrl": "/workflow/sk6qHDqmsTEMLNsp",
          "cachedResultName": "@AUDIO_EXTRACTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        608
      ],
      "id": "66162901-955f-4d49-8d88-bb4bd3c15371",
      "name": "Extract Audio",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1nQSE6xkyPf6lCyw",
          "mode": "list",
          "cachedResultUrl": "/workflow/1nQSE6xkyPf6lCyw",
          "cachedResultName": "@SILENCE_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_PATH": "=/home/node/download/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}/{{ $('Loop Over Items').item.json.json.videoId}}/{{ $('Loop Over Items').item.json.json.videoId}}.mp4"
          },
          "matchingColumns": [
            "FILE_PATH"
          ],
          "schema": [
            {
              "id": "FILE_PATH",
              "displayName": "FILE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        432,
        608
      ],
      "id": "96ffe14f-94ae-4438-89e3-bc164abb68c0",
      "name": "Silence Detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "b4Vww96hTTVhZRYC",
          "mode": "list",
          "cachedResultUrl": "/workflow/b4Vww96hTTVhZRYC",
          "cachedResultName": "@SILENCE_REMOVER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periods": "={{ $json.periods }}",
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "periods",
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "periods",
              "displayName": "periods",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        608,
        608
      ],
      "name": "Silence Remover",
      "id": "5ff848e2-410b-452c-a14c-122a70b37cba"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ee2vyA9GjQWfLSET",
          "mode": "list",
          "cachedResultUrl": "/workflow/ee2vyA9GjQWfLSET",
          "cachedResultName": "@LIST_VIDEOS_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "LAST_N_HOURS": "={{ $json.LAST_N_HOURS }}",
            "CHANNEL_ID": "=UCLTWPE7XrHEe8m_xAmNbQ-Q",
            "MIN_DURATION": "={{ $json.MIN_DURATION }}",
            "MAX_DURATION": "={{ $json.MAX_DURATION }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CHANNEL_ID",
              "displayName": "CHANNEL_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "LAST_N_HOURS",
              "displayName": "LAST_N_HOURS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MIN_DURATION",
              "displayName": "MIN_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MAX_DURATION",
              "displayName": "MAX_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -352,
        16
      ],
      "id": "33a9404c-f8fe-416e-828a-9f46171c368e",
      "name": "Find New Videos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1232,
        608
      ],
      "id": "af707433-4825-4022-b9be-5f5f607b8b55",
      "name": "Merge"
    },
    {
      "parameters": {
        "command": "=/bin/bash -lc 'find /home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }} -maxdepth 1 -type f -name \"*.mp4\" ! -name \"READY_TO_UPLOAD*.mp4\" -delete'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1408,
        608
      ],
      "id": "6e630050-53f2-4522-a064-d12b9a56499c",
      "name": "Remover Temporary Files"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        608
      ],
      "id": "6585562f-acf5-46d9-84ca-00e45ea02560",
      "name": "Wait",
      "webhookId": "02dee35b-5006-47ce-b159-f70f29c2efd8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "969lz3HdNKI9OD7G",
          "mode": "list",
          "cachedResultUrl": "/workflow/969lz3HdNKI9OD7G",
          "cachedResultName": "@PROCESS_SHORTS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}",
            "RESPONSE": "={{ $json.RESPONSE }}"
          },
          "matchingColumns": [
            "videoId",
            "RESPONSE"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESPONSE",
              "displayName": "RESPONSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1024,
        496
      ],
      "name": "@PROCESS_SHORTS",
      "id": "0305fba0-7e00-4b8d-bb86-8ba3f514fcd6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCYYlNNL6g7GjhbF",
          "mode": "list",
          "cachedResultUrl": "/workflow/MCYYlNNL6g7GjhbF",
          "cachedResultName": "@PROCESS_LONG_VIDEOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "RESPONSE": "={{ $json.RESPONSE }}",
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}"
          },
          "matchingColumns": [
            "RESPONSE",
            "videoId"
          ],
          "schema": [
            {
              "id": "RESPONSE",
              "displayName": "RESPONSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1024,
        720
      ],
      "name": "@PROCESS_LONG",
      "id": "11bbc88c-0d53-4d17-a772-69a594f6f088"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "amcgAf3oG1ZjUeER",
          "mode": "list",
          "cachedResultUrl": "/workflow/amcgAf3oG1ZjUeER",
          "cachedResultName": "@AUDIO_TO_WHISPER_LOCAL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        816,
        720
      ],
      "id": "0a378c61-29eb-4069-9d71-90080e6aee45",
      "name": "WHISPER_LOCAL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hRXzf6dN01dP2o29",
          "mode": "list",
          "cachedResultUrl": "/workflow/hRXzf6dN01dP2o29",
          "cachedResultName": "@UPLOAD_TO_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}",
            "uploadShortVideoData": "={{ $('@PROCESS_SHORTS').first().json.output }}",
            "uploadLongVideoData": "={{ $('@PROCESS_LONG').first().json.output }}",
            "channelId": "={{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelId",
              "displayName": "channelId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "uploadLongVideoData",
              "displayName": "uploadLongVideoData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "uploadShortVideoData",
              "displayName": "uploadShortVideoData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        608
      ],
      "id": "45127896-b90e-411f-afdf-20c14fb8988d",
      "name": "@UPLOAD"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FOC826UnuMrsQvTf",
          "mode": "list",
          "cachedResultUrl": "/workflow/FOC826UnuMrsQvTf",
          "cachedResultName": "@SET_VIDEO_AS_PROCESSED"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelId": "={{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_ID }}",
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelId",
              "displayName": "channelId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1936,
        608
      ],
      "id": "de0b126f-7b1b-43fa-a7bd-5d8d2b782398",
      "name": "@SET_VIDEO_AS_PROCESSED"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -512,
        16
      ],
      "id": "27cdd236-ef0d-4cdd-b338-58748a16a827",
      "name": "@GLOBAL_ANCAPSU"
    },
    {
      "parameters": {
        "command": "=/bin/bash -lc 'dir=\"/home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}\"; [ -n \"$dir\" ] && [ -d \"$dir\" ] && find \"$dir\" -maxdepth 1 -type f -delete'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2112,
        720
      ],
      "id": "b751cc2a-473b-41d5-b202-1024e95e1a34",
      "name": "Limpar Pasta de Trabalho"
    },
    {
      "parameters": {
        "content": "## Notificações\n",
        "height": 240,
        "width": 1664,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        192
      ],
      "id": "0cb66ce2-5b06-45d2-a1f9-5ed02bc418a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Processo princial",
        "height": 432,
        "width": 2496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        480
      ],
      "id": "bf17bd03-8ada-4f15-9a93-739440e28310",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "=Processo de upload GERAL FINALIZADO."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        -576
      ],
      "id": "f735abfb-bf8c-424d-98aa-8d4c1efee5d3",
      "name": "@NOTIFIER 1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "=INICIANDO PROCESSAMENTO DO VIDEO: {{ $('Loop Over Items').first().json.json.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        -400
      ],
      "id": "bdbbc49e-d1f9-4026-9dff-0be8ef981670",
      "name": "@NOTIFIER 2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Extraindo audio..."
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        256
      ],
      "id": "22a07d2b-87d7-4069-83a9-c7462b1b824d",
      "name": "@NOTIFIER 3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Detectando Silêncios..."
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        256
      ],
      "id": "bf567a4a-11ef-4406-b667-a2be0d79dab6",
      "name": "@NOTIFIER 4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Removendo silêncios..."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        608,
        256
      ],
      "id": "6d39a2bd-caa2-4685-832d-91cc2d10322f",
      "name": "@NOTIFIER 5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Iniciando transcrição..."
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        256
      ],
      "id": "9dc69645-9daf-4bc7-9490-03f3ba3d9b80",
      "name": "@NOTIFIER 6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Iniciando Upload..."
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        256
      ],
      "id": "37ded1eb-947c-42a0-98e9-33179c066465",
      "name": "@NOTIFIER 8"
    },
    {
      "parameters": {
        "content": "## Notificações\n",
        "height": 400,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -640
      ],
      "id": "1bf36a2c-9961-4659-a52d-04ffc258e37e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -112
      ],
      "id": "19872a65-4bc2-44c3-910a-8e1757d12b7a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "v4RzTHki2yQk5aXv",
          "mode": "list",
          "cachedResultName": "WORKFLOW_MANAGER_STATUS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/v4RzTHki2yQk5aXv"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PROCESS_NAME",
              "keyValue": "ANCAPSU_MAIN_WORKFLOW"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IS_WORKING": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PROCESS_NAME",
              "displayName": "PROCESS_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IS_WORKING",
              "displayName": "IS_WORKING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        464,
        -576
      ],
      "id": "3e3ae5c0-c06e-4042-9149-d493eee6404e",
      "name": "Set Idle"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -512,
        -192
      ],
      "id": "8654d2d6-4c03-42b2-9071-6a3fe7d0d26a",
      "name": "Waiting..."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e116e821-cbdb-48c0-8c7f-ff81e2c80a85",
              "leftValue": "={{ $json.IS_WORKING }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        -112
      ],
      "id": "16f6a450-ce6b-443b-92f8-7f0924c8d93b",
      "name": "Is working"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "v4RzTHki2yQk5aXv",
          "mode": "list",
          "cachedResultName": "WORKFLOW_MANAGER_STATUS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/v4RzTHki2yQk5aXv"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PROCESS_NAME",
              "keyValue": "ANCAPSU_MAIN_WORKFLOW"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IS_WORKING": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PROCESS_NAME",
              "displayName": "PROCESS_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IS_WORKING",
              "displayName": "IS_WORKING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -160,
        -144
      ],
      "id": "1841fc49-5c2c-414c-8055-ffac59a99cac",
      "name": "Set Working"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "v4RzTHki2yQk5aXv",
          "mode": "list",
          "cachedResultName": "WORKFLOW_MANAGER_STATUS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/v4RzTHki2yQk5aXv"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PROCESS_NAME",
              "keyValue": "ANCAPSU_MAIN_WORKFLOW"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -880,
        -112
      ],
      "id": "49f26858-22e5-43ce-af83-bd88118355cd",
      "name": "List Status"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lnhyKMDkskP0qKhu",
          "mode": "list",
          "cachedResultUrl": "/workflow/lnhyKMDkskP0qKhu",
          "cachedResultName": "@AUDIO_TO_WHISPER_OPEN_AI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "{{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        496
      ],
      "id": "7185af59-3c74-4b14-aadc-a84e4b398457",
      "name": "WHISPER_OPEN_AI"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "@NOTIFIER 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Thumbnail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Thumbnail": {
      "main": [
        []
      ]
    },
    "Download Video": {
      "main": [
        []
      ]
    },
    "Extract Audio": {
      "main": [
        [
          {
            "node": "Silence Detector",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Detector": {
      "main": [
        [
          {
            "node": "Silence Remover",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Remover": {
      "main": [
        [
          {
            "node": "@NOTIFIER 6",
            "type": "main",
            "index": 0
          },
          {
            "node": "WHISPER_OPEN_AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "WHISPER_LOCAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find New Videos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Working",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remover Temporary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover Temporary Files": {
      "main": [
        [
          {
            "node": "@UPLOAD",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "@SET_VIDEO_AS_PROCESSED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@PROCESS_SHORTS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@PROCESS_LONG": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "WHISPER_LOCAL": {
      "main": [
        [
          {
            "node": "@PROCESS_LONG",
            "type": "main",
            "index": 0
          },
          {
            "node": "@PROCESS_SHORTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@UPLOAD": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@SET_VIDEO_AS_PROCESSED": {
      "main": [
        [
          {
            "node": "Limpar Pasta de Trabalho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "Find New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Pasta de Trabalho": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@NOTIFIER 1": {
      "main": [
        [
          {
            "node": "Set Idle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is working": {
      "main": [
        [
          {
            "node": "Waiting...",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Working": {
      "main": [
        []
      ]
    },
    "List Status": {
      "main": [
        [
          {
            "node": "Is working",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WHISPER_OPEN_AI": {
      "main": [
        [
          {
            "node": "@PROCESS_LONG",
            "type": "main",
            "index": 0
          },
          {
            "node": "@PROCESS_SHORTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  }
}