env/n8n_workflow/backup/0ap9qlRsEhZwRkS3_@LONG_SCHEDULE_MANAGER.json
{
  "updatedAt": "2025-10-04T10:37:16.000Z",
  "createdAt": "2025-10-04T10:35:53.549Z",
  "id": "0ap9qlRsEhZwRkS3",
  "name": "@LONG_SCHEDULE_MANAGER",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "9aebf7d1-d50d-4b40-a815-9800f97735ad",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "qBhP4sOkMG003cin",
          "mode": "list",
          "cachedResultName": "LONG_SCHEDULE",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/qBhP4sOkMG003cin"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "LAST_APPOINTMENT",
              "condition": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "5d91b2eb-9b0c-4e28-9ac1-a96b6bb540a5",
      "name": "Last Appointment"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "qBhP4sOkMG003cin",
          "mode": "list",
          "cachedResultName": "LONG_SCHEDULE",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/qBhP4sOkMG003cin"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id == 12 ? 1 : $json.id + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        352,
        0
      ],
      "id": "409e9012-1d17-40ed-b927-78d8f98c0cbd",
      "name": "Current Appointment"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "qBhP4sOkMG003cin",
          "mode": "list",
          "cachedResultName": "LONG_SCHEDULE",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/qBhP4sOkMG003cin"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Last Appointment').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LAST_APPOINTMENT": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "APPOINTMENT",
              "displayName": "APPOINTMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LAST_APPOINTMENT",
              "displayName": "LAST_APPOINTMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "e3659985-1251-4320-9361-a761418133c5",
      "name": "Update Last Appointment"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "qBhP4sOkMG003cin",
          "mode": "list",
          "cachedResultName": "LONG_SCHEDULE",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/qBhP4sOkMG003cin"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Current Appointment').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LAST_APPOINTMENT": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "APPOINTMENT",
              "displayName": "APPOINTMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LAST_APPOINTMENT",
              "displayName": "LAST_APPOINTMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "609cf87f-72e3-4524-bf0c-c8010b792232",
      "name": "Update Current Appointment"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "275ce5e5-c53e-45a2-abbf-5622963611f8",
              "name": "APPOINTMENT",
              "value": "={{ $('Last Appointment').item.json.APPOINTMENT }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        0
      ],
      "id": "b46dce38-2d3d-44ea-8dd9-f4df093e67da",
      "name": "Return Appointment"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Last Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Appointment": {
      "main": [
        [
          {
            "node": "Current Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Appointment": {
      "main": [
        [
          {
            "node": "Update Last Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Appointment": {
      "main": [
        [
          {
            "node": "Update Current Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Current Appointment": {
      "main": [
        [
          {
            "node": "Return Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6aae1266-6c7a-48e4-8d02-0439d9ab7c70",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-04T10:35:53.573Z",
      "createdAt": "2025-10-04T10:35:53.573Z",
      "role": "workflow:owner",
      "workflowId": "0ap9qlRsEhZwRkS3",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-15T11:12:49.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}