env/n8n_workflow/backup/0gGqIL1d0xVKVFJl_@STUDY_CONTENT_MATERIAL.json
{
  "updatedAt": "2025-11-08T01:01:26.000Z",
  "createdAt": "2025-11-08T00:41:31.797Z",
  "id": "0gGqIL1d0xVKVFJl",
  "name": "@STUDY_CONTENT_MATERIAL",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini-2025-01-31",
          "mode": "list",
          "cachedResultName": "o3-mini-2025-01-31"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        -224
      ],
      "id": "88f48a5b-71e8-4689-a820-2a45c545f333",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VYXpJ372t4VzzgvC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Teorical content: {{ $('Start').item.json.theme }}\nText to study case: {{ $json.output }}\nLevel: {{ $('Start').item.json.level }}",
        "options": {
          "systemMessage": "=<!--\nInstructions:\n1) Replace {{Theme}} with the lesson topic.\n2) Copy the material inside <Conteudo teórico> and integrate it into the section \"Theoretical content (foundation)\" below (do NOT keep the tag).\n3) Use the text inside <Texto para estudo de caso> to build the \"Case study\" section (do NOT keep the tag).\n4) The agent is a **specialist in teaching English** and must tailor explanations, vocabulary, pace, and exercise difficulty to the CEFR level given in **{{nivel}}**.\n5) Keep the structure and fill in the placeholders as needed.\n6) All explanatory prose (theory, notes, usage comments, answer-key comments, and “Next steps”) MUST be **100% in English**. Do **not** use Portuguese in explanations.\n-->\n\n# {{Theme}}\n\n> **Level target:** {{nivel}}  \n> **Note:** Explanations must be **100% in English**. Sentences/examples are in **English**, followed by **Brazilian Portuguese translations** in parentheses **only if explicitly requested**.\n\n## Learning objectives\n- [ ] Objective 1: ..................................................................................\n- [ ] Objective 2: ..................................................................................\n- [ ] Objective 3: ..................................................................................\n- [ ] (Optional) Objective 4: .......................................................................\n\n## Theoretical content (foundation)\n**Core definitions (aligned with {{nivel}})**\n- ..................................................................................................\n- ..................................................................................................\n\n**Structures / Patterns**\n```\nPattern 1: ..................................................................\nPattern 2: ..................................................................\n```\n**Usage differences (tailored to {{nivel}})**\n- Formal vs. informal register: ..............................................\n- US vs. UK variety (when applicable): .......................................\n- Spoken vs. written tendency: ...............................................\n\n**Common pitfalls and memory aids**\n- Common mistake: ................................. → *Avoid it by:* ..........\n- Mnemonic/tip: ...............................................................\n\n**(Optional) Forms table**\n| Form | Context of use | Example (EN) | Translation (PT-BR) |\n|------|-----------------|--------------|----------------------|\n| ...  | ...             | ...          | ...                  |\n| ...  | ...             | ...          | ...                  |\n| ...  | ...             | ...          | ...                  |\n\n## Worked examples (commented)\n> Provide 8–12 graded examples. Keep vocabulary and complexity suitable for **{{nivel}}**.\n1. **English sentence.** (tradução PT-BR) — *Short usage note.*\n2. **English sentence.** (tradução PT-BR) — *Short usage note.*\n3. **English sentence.** (tradução PT-BR) — *Short usage note.*\n4. **English sentence.** (tradução PT-BR) — *Short usage note.*\n5. **English sentence.** (tradução PT-BR) — *Short usage note.*\n6. **English sentence.** (tradução PT-BR) — *Short usage note.*\n7. **English sentence.** (tradução PT-BR) — *Short usage note.*\n8. **English sentence.** (tradução PT-BR) — *Short usage note.*\n9. **English sentence.** (tradução PT-BR) — *Short usage note.*\n10. **English sentence.** (tradução PT-BR) — *Short usage note.*\n\n## Case study\n> Build this section using the text provided in **<Texto para estudo de caso>**.\n\n**Summary (2–4 sentences)**\n- ..................................................................................................\n- ..................................................................................................\n\n**Key vocabulary**\n| Term (EN) | Translation (PT-BR) | Usage note / Synonyms |\n|-----------|---------------------|------------------------|\n| ...       | ...                 | ...                    |\n| ...       | ...                 | ...                    |\n| ...       | ...                 | ...                    |\n| ...       | ...                 | ...                    |\n\n**Reading comprehension (5 questions)**\n1. Literal question: ...............................................................................\n2. Inference question: ............................................................................\n3. Language analysis (tense, voice, structure, etc.): .............................................\n4. Opinion with guidance: .........................................................................\n5. Application question: ..........................................................................\n\n**Grammar spots in the text (3–5 items)**\n- Short quote → explanation of the grammatical feature and why it is used.\n- Short quote → explanation of the grammatical feature and why it is used.\n- Short quote → explanation of the grammatical feature and why it is used.\n\n## Practice exercises (tailored to {{nivel}})\n\n### A) Gap‑fill — 6–8 items\n1. ................................................................................................ (__)\n2. ................................................................................................ (__)\n3. ................................................................................................ (__)\n4. ................................................................................................ (__)\n5. ................................................................................................ (__)\n6. ................................................................................................ (__)\n7. (Optional) .................................................................................... (__)\n8. (Optional) .................................................................................... (__)\n\n### B) Transformations — 6–8 items\n> Convert as instructed (affirmative ⇄ negative ⇄ interrogative; active ⇄ passive; tense shifts).\n1. ................................................................................................\n2. ................................................................................................\n3. ................................................................................................\n4. ................................................................................................\n5. ................................................................................................\n6. ................................................................................................\n7. (Optional) ....................................................................................\n8. (Optional) ....................................................................................\n\n### C) Multiple choice — 4–6 items\n1. Question ........................................................\n   - (A) option\n   - (B) option\n   - (C) option\n   - (D) option\n2. Question ........................................................\n   - (A) option\n   - (B) option\n   - (C) option\n   - (D) option\n3. Question ........................................................\n   - (A) option\n   - (B) option\n   - (C) option\n   - (D) option\n4. Question ........................................................\n   - (A) option\n   - (B) option\n   - (C) option\n   - (D) option\n5. (Optional) Question ...........................................\n   - (A) option\n   - (B) option\n   - (C) option\n   - (D) option\n6. (Optional) Question ...........................................\n   - (A) option\n   - (B) option\n   - (C) option\n   - (D) option\n\n### D) Guided translation (PT→EN) — 3–4 items\n> Provide structural hints (e.g., *use Present Perfect with for/since*). Keep lexis and syntax suitable for **{{nivel}}**.\n1. Portuguese sentence → *structure hint* → ______________________________\n2. Portuguese sentence → *structure hint* → ______________________________\n3. Portuguese sentence → *structure hint* → ______________________________\n4. (Optional) Portuguese sentence → *structure hint* → ____________________\n\n## Answer key with comments\n> Give the correct answers and short justifications, emphasizing pitfalls typical of **{{nivel}}**.\n\n**A) Gap‑fill**\n1. Answer: __________ — *Comment:* .................................................\n2. Answer: __________ — *Comment:* .................................................\n3. Answer: __________ — *Comment:* .................................................\n4. Answer: __________ — *Comment:* .................................................\n5. Answer: __________ — *Comment:* .................................................\n6. Answer: __________ — *Comment:* .................................................\n7. (Opt.) Answer: ____ — *Comment:* .................................................\n8. (Opt.) Answer: ____ — *Comment:* .................................................\n\n**B) Transformations**\n1. ................................ — *Why:* ............................................\n2. ................................ — *Why:* ............................................\n3. ................................ — *Why:* ............................................\n4. ................................ — *Why:* ............................................\n5. ................................ — *Why:* ............................................\n6. ................................ — *Why:* ............................................\n7. (Opt.) ........................ — *Why:* ............................................\n8. (Opt.) ........................ — *Why:* ............................................\n\n**C) Multiple choice**\n1. Correct option: ___ — *Comment:* ...................................................\n2. Correct option: ___ — *Comment:* ...................................................\n3. Correct option: ___ — *Comment:* ...................................................\n4. Correct option: ___ — *Comment:* ...................................................\n5. (Opt.) Correct option: ___ — *Comment:* ...........................................\n6. (Opt.) Correct option: ___ — *Comment:* ...........................................\n\n**D) Guided translation**\n1. Suggested translation: ................................. — *Note:* ..................\n2. Suggested translation: ................................. — *Note:* ..................\n3. Suggested translation: ................................. — *Note:* ..................\n4. (Opt.) Suggested translation: .......................... — *Note:* ..................\n\n## Next steps (optional)\n- Suggested reading: ..............................................................................\n- Suggested listening: ............................................................................\n- Speaking/writing practice: .......................................................................\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        912,
        -400
      ],
      "id": "64d3e407-c7e6-43e0-854d-230c61587adf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "command": "=mkdir -p /home/node/download/{{ $('Start').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }} && cat > /home/node/download/{{ $('Start').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}/{{ $('Start').item.json.videoId }}.txt <<'__RAW__'\n{{$json[\"output\"]}}\n__RAW__\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1264,
        -400
      ],
      "id": "66dc5b60-9ba5-4982-81ab-b2fd4bd0bf36",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AHEbWz7GQnU1MZAIwnQXPCt9BZPEX1RK",
          "mode": "list",
          "cachedResultName": "English-Central",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AHEbWz7GQnU1MZAIwnQXPCt9BZPEX1RK"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1664,
        -400
      ],
      "id": "a9081de2-fe0c-4cf0-8350-77dec8e8db6d",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zQ45AWBdk9M3pRZv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/download/{{ $('Start').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}/{{ $('Start').item.json.videoId }}.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1472,
        -400
      ],
      "id": "6da1f40f-7059-45c0-b0ec-be1727f1e656",
      "name": "Read File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f25c85c2-1c9b-40b9-9846-586e4433c301",
              "name": "ContentLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -400
      ],
      "id": "51af2da3-0ccc-4dfb-b373-292a2e8d896e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "theme",
              "type": "any"
            },
            {
              "name": "level",
              "type": "any"
            },
            {
              "name": "output",
              "type": "any"
            },
            {
              "name": "videoId",
              "type": "any"
            },
            {
              "name": "CHANNEL_NAME",
              "type": "any"
            }
          ]
        }
      },
      "id": "652b04f0-f978-4648-af71-5611136c1820",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        704,
        -400
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "49d51888-d86c-4bf4-a145-77f2796d68da",
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-08T00:41:31.824Z",
      "createdAt": "2025-11-08T00:41:31.824Z",
      "role": "workflow:owner",
      "workflowId": "0gGqIL1d0xVKVFJl",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2025-11-11T11:27:01.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}