env/n8n_workflow/backup/1h9d9qP7tdTR7izH_@SHORT_SCHEDULE_MANAGER.json
{
  "updatedAt": "2025-10-04T10:33:18.000Z",
  "createdAt": "2025-10-03T22:18:56.756Z",
  "id": "1h9d9qP7tdTR7izH",
  "name": "@SHORT_SCHEDULE_MANAGER",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "37ceebde-5b84-4ecc-843f-30fc8ecbbc5e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "LM60YIwjz0cDTu3u",
          "mode": "list",
          "cachedResultName": "SHORT_SCHEDULE",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/LM60YIwjz0cDTu3u"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "LAST_APPOINTMENT",
              "condition": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "00290cc4-3f26-449b-b8f5-bef6549f4d8e",
      "name": "Last Appointment"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "LM60YIwjz0cDTu3u",
          "mode": "list",
          "cachedResultName": "SHORT_SCHEDULE",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/LM60YIwjz0cDTu3u"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id == 34 ? 1 : $json.id + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        352,
        0
      ],
      "id": "e6688a34-1dce-4f86-9347-46c27013b9b0",
      "name": "Current Appointment"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "LM60YIwjz0cDTu3u",
          "mode": "list",
          "cachedResultName": "SHORT_SCHEDULE",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/LM60YIwjz0cDTu3u"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Last Appointment').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LAST_APPOINTMENT": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "APPOINTMENT",
              "displayName": "APPOINTMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LAST_APPOINTMENT",
              "displayName": "LAST_APPOINTMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "5b58be39-bc88-4029-a070-07620af8213b",
      "name": "Update Last Appointment"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "LM60YIwjz0cDTu3u",
          "mode": "list",
          "cachedResultName": "SHORT_SCHEDULE",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/LM60YIwjz0cDTu3u"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Current Appointment').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LAST_APPOINTMENT": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "APPOINTMENT",
              "displayName": "APPOINTMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LAST_APPOINTMENT",
              "displayName": "LAST_APPOINTMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "ec0d6ce1-f43f-420a-b7b3-418296fd9d21",
      "name": "Update Current Appointment"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "275ce5e5-c53e-45a2-abbf-5622963611f8",
              "name": "APPOINTMENT",
              "value": "={{ $('Last Appointment').item.json.APPOINTMENT }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        0
      ],
      "id": "9786ae5f-320d-45ab-8f66-a3bb39079b80",
      "name": "Return Appointment"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Last Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Appointment": {
      "main": [
        [
          {
            "node": "Current Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Appointment": {
      "main": [
        [
          {
            "node": "Update Last Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Appointment": {
      "main": [
        [
          {
            "node": "Update Current Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Current Appointment": {
      "main": [
        [
          {
            "node": "Return Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "23d51c5b-f1a5-4ee8-809d-5ac41124b8d8",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-03T22:18:56.777Z",
      "createdAt": "2025-10-03T22:18:56.777Z",
      "role": "workflow:owner",
      "workflowId": "1h9d9qP7tdTR7izH",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-13T23:35:36.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}