env/n8n_workflow/backup/2ZzZd5eVeRIm70um_@VIDEO_META_DATA.json
{
  "updatedAt": "2025-10-04T17:59:28.000Z",
  "createdAt": "2025-09-14T11:58:56.387Z",
  "id": "2ZzZd5eVeRIm70um",
  "name": "@VIDEO_META_DATA",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILE_NAME\":\"_LMpN6o26E0_00_00_00_00_00_13.mp4\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        -112
      ],
      "id": "51c9c812-9556-46a0-91cc-efdc6b4068c7",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dff10386-aac1-4bf2-a53e-24e2e7441381",
              "name": "VIDEO_ID",
              "value": "={{ $('START').item.json.FILE_NAME }}",
              "type": "string"
            },
            {
              "id": "ab7f91b9-a7d9-4a5a-b5a6-189685e0bf2d",
              "name": "FILENAME",
              "value": "={{ $('START').item.json.FILE_NAME }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -112
      ],
      "id": "85657b6a-6176-45f1-a92a-d87df2f36ad0",
      "name": "VAR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa43995-1d25-4eac-949f-6ed21d4ab940",
              "name": "=RESULT",
              "value": "={{ $json.exitCode === 0? \"SUCCESS\":\"ERROR\"}}",
              "type": "string"
            },
            {
              "id": "9f2ff60c-73ff-49b8-993b-437ec8110df2",
              "name": "FILENAME",
              "value": "={{ $('VAR').item.json.FILENAME }}",
              "type": "string"
            },
            {
              "id": "a44c147a-8600-4f11-8ba1-3d3e13f04ae1",
              "name": "videoMetaData",
              "value": "={{ $json.videoMetaData }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -176
      ],
      "id": "e8fa3129-e0b4-453f-b55a-f6d39891a630",
      "name": "RESULT"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        464,
        -16
      ],
      "id": "0221d10c-ab87-4f80-a250-0ff1d64ed325",
      "name": "ERROR"
    },
    {
      "parameters": {
        "command": "=ffprobe -v error -hide_banner -print_format json -show_format -show_streams \\\n\"/home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}/{{ $json.VIDEO_ID }}\" \\\n| jq '{\n  file: .format.filename,\n  container: .format.format_name,\n  durationSeconds: (\n    (.format.duration // (.streams[]? | select(.codec_type==\"video\") | .duration)? // \"0\")\n    | tonumber\n  ),\n  sizeBytes: ((.format.size // \"0\") | tonumber),\n  bitrateKbps: ((.format.bit_rate // \"0\" | tonumber) / 1000),\n  video: (\n    .streams[]? | select(.codec_type==\"video\") | {\n      codec: .codec_name,\n      profile: .profile,\n      pix_fmt: .pix_fmt,\n      width: .width,\n      height: .height,\n      fps: (\n        (.avg_frame_rate // \"0/1\")\n        | split(\"/\")\n        | ( (.[0] | tonumber) / (.[1] | tonumber) )\n      ),\n      bitrateKbps: ((.bit_rate // \"0\" | tonumber) / 1000),\n      rotation: (\n        ( .tags.rotate? // ( (.side_data_list? // []) | map(.rotation) | first ) // 0 )\n        | tonumber?\n      )\n    }\n  ),\n  audio: (\n    .streams[]? | select(.codec_type==\"audio\") | {\n      codec: .codec_name,\n      channels: .channels,\n      channel_layout: .channel_layout,\n      sample_rate_hz: ((.sample_rate // \"0\") | tonumber),\n      bitrateKbps: ((.bit_rate // \"0\" | tonumber) / 1000),\n      language: (.tags.language // \"und\")\n    }\n  )\n}'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        -176
      ],
      "id": "00918067-1799-42ff-a82b-2a8fd32b1e29",
      "name": "SPLIT",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Code node (Run Once for All Items)\n\nreturn items.map((item) => {\n  const json = item.json ?? {};\n  const raw = json.stdout ?? item.stdout ?? \"\";\n\n  let videoMetaData = null;\n\n  if (typeof raw === \"string\") {\n    const s = raw.trim();\n    try {\n      videoMetaData = JSON.parse(s);\n    } catch (e1) {\n      // Se tiver texto extra, tenta isolar o primeiro bloco JSON\n      const start = s.indexOf(\"{\");\n      const end = s.lastIndexOf(\"}\");\n      if (start !== -1 && end !== -1 && end > start) {\n        try {\n          videoMetaData = JSON.parse(s.slice(start, end + 1));\n        } catch (e2) {\n          videoMetaData = { ok: false, parseError: String(e2), rawPreview: s.slice(0, 500) };\n        }\n      } else {\n        videoMetaData = { ok: false, parseError: \"Nenhum JSON detectado em stdout\", rawPreview: s.slice(0, 500) };\n      }\n    }\n  } else if (raw && typeof raw === \"object\") {\n    // Caso raro: stdout já veio como objeto\n    videoMetaData = raw;\n  }\n\n  return {\n    json: {\n      ...json,\n      videoMetaData,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -176
      ],
      "id": "7b94d54b-eff8-4bc0-9d7b-0bb3b51a9642",
      "name": "JsonParser"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -112,
        -112
      ],
      "id": "c72b9e41-ac51-4631-9f75-0cb0aba28d02",
      "name": "@GLOBAL_ANCAPSU"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $json.VIDEO_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -112
      ],
      "id": "64da4dc5-b960-4df7-b355-d3017de0699a",
      "name": "HAS_VIDEO_ID"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_VIDEO_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPLIT": {
      "main": [
        [
          {
            "node": "JsonParser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonParser": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_VIDEO_ID": {
      "main": [
        [
          {
            "node": "SPLIT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "pinData": {
    "START": [
      {
        "json": {
          "FILE_NAME": "G5O242k3L78_115_723.mp4"
        }
      }
    ]
  },
  "versionId": "ba3ea9ee-dd29-4e10-8df5-64ea0af75168",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-14T11:58:56.419Z",
      "createdAt": "2025-09-14T11:58:56.419Z",
      "role": "workflow:owner",
      "workflowId": "2ZzZd5eVeRIm70um",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-28T18:38:23.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}