env/n8n_workflow/backup/7vcjG51SdGRjGJbx_SHADOWNING-MAIN.json
{
  "createdAt": "2025-10-16T23:15:45.583Z",
  "updatedAt": "2025-10-18T13:21:36.000Z",
  "id": "7vcjG51SdGRjGJbx",
  "name": "SHADOWNING-MAIN",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        0
      ],
      "id": "12695a2f-a310-43a4-9f95-e5001a8f3390",
      "name": "START"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hg91NZVyqdB46nko",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hg91NZVyqdB46nko",
          "cachedResultName": "@MAIN_TEXT_GENERATION"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "duration": "={{ $('START').item.json.duration }}",
            "theme": "={{ $('START').item.json.theme }}",
            "level": "={{ $('START').item.json.level }}",
            "mode": "={{ $('START').item.json.mode }}",
            "imageStyle": "={{ $('START').item.json.imageStyle }}",
            "scenes": "={{ $('START').item.json.scenes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "theme",
              "displayName": "theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "imageStyle",
              "displayName": "imageStyle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "scenes",
              "displayName": "scenes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "c695bc88-d3cf-47d8-a0eb-b96610c27675",
      "name": "@CONTENT_GENERATION"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "8a03e1e1-fa2d-4bed-beb6-b3c2ebee189b",
      "name": "Loop Over Content"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oq7OLyzGiJ4wzEZd",
          "mode": "list",
          "cachedResultUrl": "/workflow/oq7OLyzGiJ4wzEZd",
          "cachedResultName": "@AUDIO_SHADOWING_GENERATOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $('Loop Over Content').first().json.index }}",
            "description": "={{ $('Loop Over Content').first().json.description }}",
            "paragraphs": "={{ $('Loop Over Content').first().json.paragraphs }}",
            "videoId": "={{ $('Get videoId').item.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "paragraphs",
              "displayName": "paragraphs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        96
      ],
      "id": "d2e9e437-fef3-4aa7-84dc-3285d3fca2aa",
      "name": "@AUDIO_SHADOWING_GENERATOR",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31b61ecd-ff5c-4148-9f62-7490b04395ca",
              "name": "videoId",
              "value": "={{new Date().toDateTime().toMillis()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "1d9012fa-d14b-4840-9e74-a68aaec1ade9",
      "name": "Get videoId"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VdmO0DZ3i6iBFRiU",
          "mode": "list",
          "cachedResultUrl": "/workflow/VdmO0DZ3i6iBFRiU",
          "cachedResultName": "@GLOBAL_SHADOWING"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        0
      ],
      "id": "73780dbf-e030-45b8-93e0-f401cb3a0dd3",
      "name": "@GLOBAL_SHADOWING"
    },
    {
      "parameters": {
        "fieldToSplitOut": "paragraphs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1088,
        112
      ],
      "id": "3bce158b-ae13-4393-9452-29a422c91acc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        -16
      ],
      "id": "bdc2e74b-0480-4392-85aa-0ed3cf17a0b8",
      "name": "Loop Over Scenes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1296,
        112
      ],
      "id": "9a7a594d-9371-4246-b038-321e086e3fca",
      "name": "Loop Over Paragraphs"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U2B3b3K36MwEByEd",
          "mode": "list",
          "cachedResultUrl": "/workflow/U2B3b3K36MwEByEd",
          "cachedResultName": "@VIDEO_META_DATA_V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_PATH": "=/home/node/download/{{ $('@GLOBAL_SHADOWING').item.json.CHANNEL_NAME }}/{{ $('Get videoId').item.json.videoId }}/{{ $('Loop Over Scenes').item.json.index }}_{{ $('Loop Over Paragraphs').item.json.id }}_{{ $('Get videoId').item.json.videoId }}.mp3"
          },
          "matchingColumns": [
            "FILE_NAME"
          ],
          "schema": [
            {
              "id": "FILE_PATH",
              "displayName": "FILE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1536,
        128
      ],
      "id": "7eabaeb5-38d4-4b0a-98d3-024721af206d",
      "name": "@VIDEO_META_DATA_V2"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_SHADOWING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@CONTENT_GENERATION": {
      "main": [
        [
          {
            "node": "Loop Over Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Content": {
      "main": [
        [
          {
            "node": "Loop Over Scenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "@AUDIO_SHADOWING_GENERATOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get videoId": {
      "main": [
        [
          {
            "node": "@CONTENT_GENERATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@AUDIO_SHADOWING_GENERATOR": {
      "main": [
        [
          {
            "node": "Loop Over Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_SHADOWING": {
      "main": [
        [
          {
            "node": "Get videoId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Paragraphs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Scenes": {
      "main": [
        [],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Paragraphs": {
      "main": [
        [],
        [
          {
            "node": "@VIDEO_META_DATA_V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "START": [
      {
        "json": {
          "theme": "indicação de locais, direções, pontos de referência, como chegar em algum lugar",
          "duration": 1,
          "level": "B1",
          "mode": "Fábula",
          "imageStyle": "Anime ghibli ",
          "scenes": 3
        }
      }
    ],
    "@CONTENT_GENERATION": [
      {
        "json": {
          "index": 0,
          "description": "Anime Ghibli style scene featuring a serene, enchanted forest bathed in soft, warm light. In the foreground, a curious, wide-eyed rabbit appears lost while a wise old owl perches on a tree branch, offering gentle guidance. The scene exudes a magical, inviting atmosphere with lush, hand-painted textures, whimsical details, and a dreamy color palette.",
          "paragraphs": [
            {
              "id": 0,
              "text": "Once upon a time, a curious rabbit lost its way in a quiet forest."
            },
            {
              "id": 1,
              "text": "The wise old owl saw the rabbit searching and said, \"Listen closely. Go straight along the winding path. When you reach the big oak tree, turn left at the small stone bridge.\""
            },
            {
              "id": 2,
              "text": "The rabbit replied, \"I will keep my eyes open for the oak tree.\""
            }
          ]
        }
      },
      {
        "json": {
          "index": 1,
          "description": "Anime Ghibli style scene depicting the journey along a mysterious forest path. The composition shows the rabbit hopping along a winding trail, with hints of a stone bridge in the distance and the gentle murmur of a stream. The lighting is soft and natural, and the environment feels alive with vibrant greenery and subtle magic, inviting the viewer into the adventure.",
          "paragraphs": [
            {
              "id": 3,
              "text": "The owl continued, \"After the bridge, follow the soft sound of the stream until you see a bright meadow.\""
            },
            {
              "id": 4,
              "text": "The rabbit hopped along, trusting the clear directions."
            }
          ]
        }
      },
      {
        "json": {
          "index": 2,
          "description": "Anime Ghibli style scene capturing the moment of relief and moral reflection in an open, bright meadow. The scene features the rabbit standing in a sunlit, vibrant field with flowers and gentle winds, exuding a sense of resolution and calm. The background has a soft, painterly quality with delicate textures and a warm, uplifting color scheme that echoes the fable's gentle message.",
          "paragraphs": [
            {
              "id": 5,
              "text": "Soon, it found the meadow and felt relief."
            },
            {
              "id": 6,
              "text": "This little fable shows how clear signs and kind advice can help us find our way."
            },
            {
              "id": 7,
              "text": "Always value guidance when journeys seem confusing."
            }
          ]
        }
      }
    ],
    "Get videoId": [
      {
        "json": {
          "videoId": "1760740495827"
        }
      }
    ]
  },
  "versionId": "bc7a0bfe-72d0-42cd-ac54-121b7a3741d4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-16T23:15:45.897Z",
      "updatedAt": "2025-10-16T23:15:45.897Z",
      "role": "workflow:owner",
      "workflowId": "7vcjG51SdGRjGJbx",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "createdAt": "2025-08-20T20:52:17.088Z",
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-20T20:52:17.089Z",
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "createdAt": "2025-08-20T20:52:15.066Z",
              "updatedAt": "2025-10-19T12:29:09.000Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}