env/n8n_workflow/backup/7vcjG51SdGRjGJbx_SHADOWNING-MAIN.json
{
  "createdAt": "2025-10-16T23:15:45.583Z",
  "updatedAt": "2025-10-20T20:02:51.000Z",
  "id": "7vcjG51SdGRjGJbx",
  "name": "SHADOWNING-MAIN",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        0
      ],
      "id": "12695a2f-a310-43a4-9f95-e5001a8f3390",
      "name": "START"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hg91NZVyqdB46nko",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hg91NZVyqdB46nko",
          "cachedResultName": "@MAIN_TEXT_GENERATION"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "duration": "={{ $('START').item.json.duration }}",
            "theme": "={{ $('START').item.json.theme }}",
            "level": "={{ $('START').item.json.level }}",
            "mode": "={{ $('START').item.json.mode }}",
            "imageStyle": "={{ $('START').item.json.imageStyle }}",
            "scenes": "={{ $('START').item.json.scenes }}",
            "targetWordsPerParagraph": "={{ $('START').item.json.targetWordsPerParagraph }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "theme",
              "displayName": "theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "imageStyle",
              "displayName": "imageStyle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "scenes",
              "displayName": "scenes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "targetWordsPerParagraph",
              "displayName": "targetWordsPerParagraph",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "c695bc88-d3cf-47d8-a0eb-b96610c27675",
      "name": "@CONTENT_GENERATION"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "8a03e1e1-fa2d-4bed-beb6-b3c2ebee189b",
      "name": "Loop Over Content"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VdmO0DZ3i6iBFRiU",
          "mode": "list",
          "cachedResultUrl": "/workflow/VdmO0DZ3i6iBFRiU",
          "cachedResultName": "@GLOBAL_SHADOWING"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        0
      ],
      "id": "73780dbf-e030-45b8-93e0-f401cb3a0dd3",
      "name": "@GLOBAL_SHADOWING"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sWBnl4vvj9HqqkTW",
          "mode": "list",
          "cachedResultUrl": "/workflow/sWBnl4vvj9HqqkTW",
          "cachedResultName": "@SCENE_METADATA_MAPPER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $json.index }}",
            "description": "={{ $json.description }}",
            "paragraphs": "={{ $json.paragraphs }}",
            "CHANNEL_NAME": "={{ $('@GLOBAL_SHADOWING').item.json.CHANNEL_NAME }}",
            "videoId": "={{ $('Get videoId from timestamp').item.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "paragraphs",
              "displayName": "paragraphs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "CHANNEL_NAME",
              "displayName": "CHANNEL_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        0
      ],
      "id": "ba0edc34-0978-4d93-921d-4a822649c8d9",
      "name": "@SCENE_METADATA_MAPPER"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oq7OLyzGiJ4wzEZd",
          "mode": "list",
          "cachedResultUrl": "/workflow/oq7OLyzGiJ4wzEZd",
          "cachedResultName": "@CONTENT_SHADOWING_GENERATOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $('Loop Over Content').first().json.index }}",
            "description": "={{ $('Loop Over Content').first().json.description }}",
            "paragraphs": "={{ $('Loop Over Content').first().json.paragraphs }}",
            "videoId": "={{ $('Get videoId from timestamp').item.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "paragraphs",
              "displayName": "paragraphs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        160
      ],
      "id": "d2e9e437-fef3-4aa7-84dc-3285d3fca2aa",
      "name": "@CONTENT_SHADOWING_GENERATOR",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31b61ecd-ff5c-4148-9f62-7490b04395ca",
              "name": "videoId",
              "value": "={{new Date().toDateTime().toMillis()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "1d9012fa-d14b-4840-9e74-a68aaec1ade9",
      "name": "Get videoId from timestamp"
    },
    {
      "parameters": {
        "command": "=set -Eeuo pipefail\n\n############# CONFIG #############\nCANVAS_W=1080\nCANVAS_H=1920\nBG_COLOR=\"black\"\nTEXT_COLOR=\"white\"\nFONT_FILE=\"/home/node/assets/COMMON/fonts/impact.ttf\"\nFONT_SIZE=42\nLINE_SPACING=18\nFADE_SEC=0.25\nX_PAUSE_SEC=1.5\nSCENE_CARD_SEC=1.2\nSCENE_XFADE_SEC=0.6\nSHOW_SCENE_CARDS=0\nSCENE_CARD_TEXT_PREFIX=\"Scene\"\n\nX264_PRESET=\"veryfast\"\nX264_CRF=21\nAUDIO_BR=\"160k\"\n##################################\n\n# Workdir temporário\nTMPROOT=\"/home/node/download\"\nmkdir -p \"$TMPROOT\"\nTMPDIR=\"$(mktemp -d \"$TMPROOT/.shadow_XXXXXX\")\"\ntrap 'rm -rf \"$TMPDIR\"' EXIT\n\nLIST=\"$TMPDIR/list.txt\"; : > \"$LIST\"\n\n# Fonte fallback\nif [ ! -f \"$FONT_FILE\" ]; then\n  if   [ -f \"/home/node/assets/COMMON/fonts/impact.ttf\" ]; then\n    FONT_FILE=\"/home/node/assets/COMMON/fonts/impact.ttf\"\n  elif [ -f \"/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf\" ]; then\n    FONT_FILE=\"/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf\"\n  fi\nfi\n\n# =========== Entrada JSON (tudo do nó anterior) ===========\nIN_JSON=\"$TMPDIR/in.json\"\ncat > \"$IN_JSON\" <<'JSON'\n{{ JSON.stringify($input.all().map(i => i.json)) }}\nJSON\n\n# Valida JSON não-vazio\nif [ ! -s \"$IN_JSON\" ]; then\n  echo \"ERRO: Entrada JSON está vazia. Garanta que este nó recebe o array do nó anterior e Execute Once = ON.\"\n  exit 1\nfi\n\n# ==================== FUNÇÕES ====================\nprobe_dur () { ffprobe -hide_banner -loglevel error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 \"$1\" 2>/dev/null | tr -d '\\r' || true; }\ncalc_fout () { node -e 'const d=+process.argv[1]||0,f=+process.argv[2]||0;process.stdout.write(Math.max(0,d-f).toFixed(3));' \"$1\" \"$FADE_SEC\"; }\nscale_to_canvas () { echo \"scale=${CANVAS_W}:${CANVAS_H}:force_original_aspect_ratio=decrease,pad=${CANVAS_W}:${CANVAS_H}:(ow-iw)/2:(oh-ih)/2:color=${BG_COLOR}\"; }\ntextfile_filter () { # $1: caminho do txt\n  echo \"drawtext=fontfile=${FONT_FILE}:textfile='$1':x=(w-tw)/2:y=(h-th)/2:borderw=2:bordercolor=black:fontsize=${FONT_SIZE}:fontcolor=${TEXT_COLOR}:line_spacing=${LINE_SPACING}\"\n}\n\nmake_bg_clip () { # $1 IMG, $2 OUT, $3 DUR\n  local IMG=\"$1\" OUT=\"$2\" DUR=\"$3\" FOUT; FOUT=$(calc_fout \"$DUR\")\n  if [ -n \"${IMG:-}\" ] && [ -f \"$IMG\" ]; then\n    ffmpeg -nostdin -hide_banner -loglevel error -y \\\n      -loop 1 -t \"$DUR\" -i \"$IMG\" \\\n      -f lavfi -t \"$DUR\" -i \"anullsrc=channel_layout=stereo:sample_rate=44100\" \\\n      -filter_complex \"[0:v]$(scale_to_canvas),fps=30,format=yuv420p,setsar=1,fade=t=in:st=0:d=${FADE_SEC},fade=t=out:st=${FOUT}:d=${FADE_SEC}[v];[1:a]aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo,afade=t=in:st=0:d=${FADE_SEC},afade=t=out:st=${FOUT}:d=${FADE_SEC}[a]\" \\\n      -map \"[v]\" -map \"[a]\" -c:v libx264 -preset \"$X264_PRESET\" -crf $X264_CRF -pix_fmt yuv420p -movflags +faststart -c:a aac -b:a \"$AUDIO_BR\" -shortest \"$OUT\"\n  else\n    ffmpeg -nostdin -hide_banner -loglevel error -y \\\n      -f lavfi -t \"$DUR\" -i \"color=size=${CANVAS_W}x${CANVAS_H}:rate=30:color=${BG_COLOR}\" \\\n      -f lavfi -t \"$DUR\" -i \"anullsrc=channel_layout=stereo:sample_rate=44100\" \\\n      -filter_complex \"[0:v]format=yuv420p,setsar=1,fade=t=in:st=0:d=${FADE_SEC},fade=t=out:st=${FOUT}:d=${FADE_SEC}[v];[1:a]aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo,afade=t=in:st=0:d=${FADE_SEC},afade=t=out:st=${FOUT}:d=${FADE_SEC}[a]\" \\\n      -map \"[v]\" -map \"[a]\" -c:v libx264 -preset \"$X264_PRESET\" -crf $X264_CRF -pix_fmt yuv420p -movflags +faststart -c:a aac -b:a \"$AUDIO_BR\" -shortest \"$OUT\"\n  fi\n}\n\nmake_text_over_audio () { # $1 SRC, $2 OUT, $3 TXT, $4 IMG\n  local SRC=\"$1\" OUT=\"$2\" TXT=\"$3\" IMG=\"$4\" DUR FOUT TXTF\n  DUR=$(probe_dur \"$SRC\"); [ -z \"$DUR\" ] && DUR=0; FOUT=$(calc_fout \"$DUR\")\n  TXTF=\"$OUT.txt\"; printf '%s\\n' \"$TXT\" > \"$TXTF\"\n\n  if [ -n \"${IMG:-}\" ] && [ -f \"$IMG\" ]; then\n    ffmpeg -nostdin -hide_banner -loglevel error -y \\\n      -i \"$SRC\" -loop 1 -t \"$DUR\" -i \"$IMG\" \\\n      -filter_complex \"[1:v]$(scale_to_canvas)[bg];[bg]$(textfile_filter \"$TXTF\"),format=yuv420p,fps=30,setsar=1,fade=t=in:st=0:d=${FADE_SEC},fade=t=out:st=${FOUT}:d=${FADE_SEC}[v];[0:a]aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo,afade=t=in:st=0:d=${FADE_SEC},afade=t=out:st=${FOUT}:d=${FADE_SEC}[a]\" \\\n      -map \"[v]\" -map \"[a]\" -c:v libx264 -preset \"$X264_PRESET\" -crf $X264_CRF -pix_fmt yuv420p -movflags +faststart -c:a aac -b:a \"$AUDIO_BR\" -shortest \"$OUT\"\n  else\n    ffmpeg -nostdin -hide_banner -loglevel error -y \\\n      -i \"$SRC\" -f lavfi -t \"$DUR\" -i \"color=size=${CANVAS_W}x${CANVAS_H}:rate=30:color=${BG_COLOR}\" \\\n      -filter_complex \"[1:v]$(textfile_filter \"$TXTF\"),format=yuv420p,fps=30,setsar=1,fade=t=in:st=0:d=${FADE_SEC},fade=t=out:st=${FOUT}:d=${FADE_SEC}[v];[0:a]aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo,afade=t=in:st=0:d=${FADE_SEC},afade=t=out:st=${FOUT}:d=${FADE_SEC}[a]\" \\\n      -map \"[v]\" -map \"[a]\" -c:v libx264 -preset \"$X264_PRESET\" -crf $X264_CRF -pix_fmt yuv420p -movflags +faststart -c:a aac -b:a \"$AUDIO_BR\" -shortest \"$OUT\"\n  fi\n}\n\nmake_silence_with_text () { # $1 OUT, $2 DUR, $3 TXT, $4 IMG\n  local OUT=\"$1\" DUR=\"$2\" TXT=\"$3\" IMG=\"$4\" FOUT TXTF\n  FOUT=$(calc_fout \"$DUR\"); TXTF=\"$OUT.txt\"; printf '%s\\n' \"$TXT\" > \"$TXTF\"\n\n  if [ -n \"${IMG:-}\" ] && [ -f \"$IMG\" ]; then\n    ffmpeg -nostdin -hide_banner -loglevel error -y \\\n      -loop 1 -t \"$DUR\" -i \"$IMG\" -f lavfi -t \"$DUR\" -i \"anullsrc=channel_layout=stereo:sample_rate=44100\" \\\n      -filter_complex \"[0:v]$(scale_to_canvas)[bg];[bg]$(textfile_filter \"$TXTF\"),format=yuv420p,fps=30,setsar=1,fade=t=in:st=0:d=${FADE_SEC},fade=t=out:st=${FOUT}:d=${FADE_SEC}[v];[1:a]aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo,afade=t=in:st=0:d=${FADE_SEC},afade=t=out:st=${FOUT}:d=${FADE_SEC}[a]\" \\\n      -map \"[v]\" -map \"[a]\" -c:v libx264 -preset \"$X264_PRESET\" -crf $X264_CRF -pix_fmt yuv420p -movflags +faststart -c:a aac -b:a \"$AUDIO_BR\" -shortest \"$OUT\"\n  else\n    ffmpeg -nostdin -hide_banner -loglevel error -y \\\n      -f lavfi -t \"$DUR\" -i \"color=size=${CANVAS_W}x${CANVAS_H}:rate=30:color=${BG_COLOR}\" -f lavfi -t \"$DUR\" -i \"anullsrc=channel_layout=stereo:sample_rate=44100\" \\\n      -filter_complex \"[0:v]$(textfile_filter \"$TXTF\"),format=yuv420p,fps=30,setsar=1,fade=t=in:st=0:d=${FADE_SEC},fade=t=out:st=${FOUT}:d=${FADE_SEC}[v];[1:a]aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo,afade=t=in:st=0:d=${FADE_SEC},afade=t=out:st=${FOUT}:d=${FADE_SEC}[a]\" \\\n      -map \"[v]\" -map \"[a]\" -c:v libx264 -preset \"$X264_PRESET\" -crf $X264_CRF -pix_fmt yuv420p -movflags +faststart -c:a aac -b:a \"$AUDIO_BR\" -shortest \"$OUT\"\n  fi\n}\n\nmake_scene_xfade () { # $1 P, $2 N, $3 OUT, $4 DUR\n  local P=\"$1\" N=\"$2\" OUT=\"$3\" DUR=\"$4\"\n  if [ -n \"${P:-}\" ] && [ -f \"$P\" ] && [ -n \"${N:-}\" ] && [ -f \"$N\" ]; then\n    ffmpeg -nostdin -hide_banner -loglevel error -y \\\n      -loop 1 -t \"$DUR\" -i \"$P\" -loop 1 -t \"$DUR\" -i \"$N\" -f lavfi -t \"$DUR\" -i \"anullsrc=channel_layout=stereo:sample_rate=44100\" \\\n      -filter_complex \"[0:v]$(scale_to_canvas)[a0];[1:v]$(scale_to_canvas)[a1];[a0][a1]xfade=transition=fade:duration=${DUR}:offset=0,format=yuv420p,setsar=1,fps=30[v];[2:a]aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo[a]\" \\\n      -map \"[v]\" -map \"[a]\" -c:v libx264 -preset \"$X264_PRESET\" -crf $X264_CRF -pix_fmt yuv420p -movflags +faststart -c:a aac -b:a \"$AUDIO_BR\" -shortest \"$OUT\"\n  else\n    make_bg_clip \"${P:-}\" \"$OUT\" \"$DUR\"\n  fi\n}\n\n# =========== Constrói TSV a partir do JSON ===========\nBUILD_JS=\"$TMPDIR/build.js\"\ncat > \"$BUILD_JS\" <<'JS'\nconst fs = require('fs');\n\nconst path = process.argv[2] || process.argv[1];\nif (!path) { console.error('sem caminho JSON'); process.exit(1); }\n\nlet arr;\ntry { arr = JSON.parse(fs.readFileSync(path, 'utf8')); }\ncatch(e){ console.error('JSON inválido:', e.message); process.exit(2); }\n\nif (!Array.isArray(arr) || !arr.length) { console.error('JSON vazio'); process.exit(3); }\n\nconst ch  = arr[0].CHANNEL_NAME || 'CANAL_SHADOWING';\nconst vid = arr[0].videoId || String(Date.now());\n\nconsole.log(`#DEST_DIR=/home/node/download/${ch}/${vid}`);\nconsole.log(`#FINAL_OUT=/home/node/download/${ch}/${vid}/shadow_${Date.now()}.mp4`);\n\nfunction exists(p){ try{ fs.accessSync(p); return true; }catch{ return false; } }\n\nfor (const it of arr) {\n  const scene = it.sceneId ?? 0;\n  const audio = it.videoMetaData?.file || '';\n  const text  = String(it.audioSubtitle ?? '').replace(/\\r?\\n/g,' ');\n  const baseCh = it.CHANNEL_NAME || ch;\n  const baseVid= it.videoId || vid;\n\n  // Ajuste este padrão se suas imagens tiverem outro nome\n  const guess  = `/home/node/download/${baseCh}/${baseVid}/${scene}_${baseVid}.png`;\n  const img    = exists(guess) ? guess : '';\n\n  // Saída: audio|texto|scene|img\n  console.log([audio, text, scene, img].join('|'));\n}\nJS\n\nTSV_RAW=\"$TMPDIR/raw.tsv\"\nnode \"$BUILD_JS\" \"$IN_JSON\" > \"$TSV_RAW\"\n\nDEST_DIR=$(grep '^#DEST_DIR=' \"$TSV_RAW\" | head -n1 | cut -d'=' -f2-)\nFINAL_OUT=$(grep '^#FINAL_OUT=' \"$TSV_RAW\" | head -n1 | cut -d'=' -f2-)\n[ -z \"${DEST_DIR:-}\" ] && { echo \"Falha ao obter DEST_DIR do JSON\"; exit 1; }\nmkdir -p \"$DEST_DIR\"\n\nDATA_FILE=\"$TMPDIR/data.tsv\"\ngrep -v '^#' \"$TSV_RAW\" > \"$DATA_FILE\"\n\n# ============== Loop principal =================\nlast_scene=\"\"; last_img=\"\"; idx=0; read_first_line=1\n\nexec 9< \"$DATA_FILE\"\nwhile IFS='|' read -r -u 9 SRC TXT SCENE IMG; do\n  [ -z \"${SRC:-}\" ] && continue\n  DUR=$(probe_dur \"$SRC\"); [ -z \"$DUR\" ] && DUR=0\n\n  # xfade quando muda de cena\n  if [ \"$read_first_line\" -eq 0 ] && [ \"$SCENE\" != \"$last_scene\" ]; then\n    XF=\"$TMPDIR/part_$(printf \"%03d\" \"$idx\")_xfade_${last_scene}_${SCENE}.mp4\"\n    make_scene_xfade \"$last_img\" \"$IMG\" \"$XF\" \"$SCENE_XFADE_SEC\"\n    printf \"file '%s'\\n\" \"$XF\" >> \"$LIST\"; idx=$((idx+1))\n  fi\n\n  # card opcional de cena\n  if [ \"$SHOW_SCENE_CARDS\" -eq 1 ] && { [ \"$read_first_line\" -eq 1 ] || [ \"$SCENE\" != \"$last_scene\" ]; }; then\n    CARD=\"$TMPDIR/part_$(printf \"%03d\" \"$idx\")_scene_${SCENE}.mp4\"\n    make_silence_with_text \"$CARD\" \"$SCENE_CARD_SEC\" \"${SCENE_CARD_TEXT_PREFIX} ${SCENE}\" \"$IMG\"\n    printf \"file '%s'\\n\" \"$CARD\" >> \"$LIST\"; idx=$((idx+1))\n  fi\n\n  read_first_line=0; last_scene=\"$SCENE\"; last_img=\"$IMG\"\n\n  # 1) play\n  P1=\"$TMPDIR/part_$(printf \"%03d\" \"$idx\")_play1_s${SCENE}.mp4\"\n  make_text_over_audio \"$SRC\" \"$P1\" \"$TXT\" \"$IMG\"\n  printf \"file '%s'\\n\" \"$P1\" >> \"$LIST\"; idx=$((idx+1))\n\n  # 2) pausa curta\n  PX=\"$TMPDIR/part_$(printf \"%03d\" \"$idx\")_pauseX_s${SCENE}.mp4\"\n  make_silence_with_text \"$PX\" \"$X_PAUSE_SEC\" \"Prepare-se: repita em seguida\" \"$IMG\"\n  printf \"file '%s'\\n\" \"$PX\" >> \"$LIST\"; idx=$((idx+1))\n\n  # 3) pausa do tamanho do áudio\n  PY=\"$TMPDIR/part_$(printf \"%03d\" \"$idx\")_pauseY_s${SCENE}.mp4\"\n  make_silence_with_text \"$PY\" \"$DUR\" \"$TXT\" \"$IMG\"\n  printf \"file '%s'\\n\" \"$PY\" >> \"$LIST\"; idx=$((idx+1))\n\n  # 4) replay\n  P3=\"$TMPDIR/part_$(printf \"%03d\" \"$idx\")_play3_s${SCENE}.mp4\"\n  make_text_over_audio \"$SRC\" \"$P3\" \"$TXT\" \"$IMG\"\n  printf \"file '%s'\\n\" \"$P3\" >> \"$LIST\"; idx=$((idx+1))\ndone\nexec 9<&-\n\n# ============== Concat final ====================\nffmpeg -nostdin -hide_banner -loglevel error -y -f concat -safe 0 -i \"$LIST\" -c copy -movflags +faststart \"$FINAL_OUT\"\necho \"OK: $FINAL_OUT\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ],
      "id": "bfe467c6-73b0-4e30-a0c1-89bc6f025681",
      "name": "Execute Command"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_SHADOWING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@CONTENT_GENERATION": {
      "main": [
        [
          {
            "node": "Loop Over Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Content": {
      "main": [
        [
          {
            "node": "@SCENE_METADATA_MAPPER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "@CONTENT_SHADOWING_GENERATOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_SHADOWING": {
      "main": [
        [
          {
            "node": "Get videoId from timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@CONTENT_SHADOWING_GENERATOR": {
      "main": [
        [
          {
            "node": "Loop Over Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get videoId from timestamp": {
      "main": [
        [
          {
            "node": "@CONTENT_GENERATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@SCENE_METADATA_MAPPER": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "START": [
      {
        "json": {
          "theme": "indicação de locais, direções, pontos de referência, como chegar em algum lugar",
          "duration": 2,
          "level": "B2",
          "mode": "Diálogo fictício de um turista brasileiro nos estados unidos.",
          "imageStyle": "3D fotorealista",
          "scenes": 3,
          "targetWordsPerParagraph": 18
        }
      }
    ],
    "@CONTENT_GENERATION": [
      {
        "json": {
          "index": 0,
          "description": "A 3D photorealistic urban scene capturing an initial conversation between a curious tourist and a friendly local. The setting shows a bustling street with a prominent bakery and modern storefronts, rendered in high detail with natural daylight and realistic textures, establishing a warm and inviting atmosphere.",
          "paragraphs": [
            {
              "id": 0,
              "text": "Tourist: Hi there. I’m new in town. Can you help me get to Central Park?"
            },
            {
              "id": 1,
              "text": "Local: Sure, I’d be glad to help. First, walk two blocks north on Main Street. Then, turn right at the bakery."
            },
            {
              "id": 2,
              "text": "Tourist: Great, I see the bakery ahead. After that, what should I do?"
            },
            {
              "id": 3,
              "text": "Local: Keep walking straight until you reach the big intersection. At the intersection, turn left. You will see a tall clock tower on your right. That is a good landmark."
            }
          ]
        }
      },
      {
        "json": {
          "index": 1,
          "description": "A detailed 3D photorealistic render of a dynamic urban intersection scene. The composition focuses on a local providing clear navigational instructions near a tall clock tower, with visible sidewalks, street elements, and ambient daylight emphasizing realistic shadows and textures. The atmosphere is practical and clearly directional.",
          "paragraphs": [
            {
              "id": 4,
              "text": "Tourist: Okay, so after the clock tower, I turn left. How much further is it?"
            },
            {
              "id": 5,
              "text": "Local: It is about a five-minute walk from the clock tower. Follow the sidewalk until you reach the river. When you see the small café by the river, you have gone too far. So, stop before the café."
            },
            {
              "id": 6,
              "text": "Tourist: I understand. I’ll turn right after the clock tower and then look for the river. What if I miss the turn?"
            },
            {
              "id": 7,
              "text": "Local: Don’t worry. You might ask another local. Most people here are friendly and know the route well. Also, you can use your smartphone map if needed."
            }
          ]
        }
      },
      {
        "json": {
          "index": 2,
          "description": "A 3D photorealistic urban farewell scene depicting a final exchange between a grateful tourist and a courteous local. The setting features a softly lit city backdrop with realistic textures, where warm ambient light highlights subtle expressions and the calm, concluding atmosphere of a day spent navigating the city.",
          "paragraphs": [
            {
              "id": 8,
              "text": "Tourist: Thanks, that helps a lot. I’m excited to see Central Park and all the sights around the area."
            },
            {
              "id": 9,
              "text": "Local: You’re welcome. Enjoy your visit, and have a great day exploring the city!"
            },
            {
              "id": 10,
              "text": "Tourist: I certainly will. Thank you again for your clear directions and kind smile. Goodbye!"
            },
            {
              "id": 11,
              "text": "Local: Goodbye, and have a safe walk ahead!"
            }
          ]
        }
      }
    ],
    "Get videoId from timestamp": [
      {
        "json": {
          "videoId": "1760886294860"
        }
      }
    ],
    "@SCENE_METADATA_MAPPER": [
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 0,
          "paragraphId": 0,
          "audioSubtitle": "Tourist: Hi there. I’m new in town. Can you help me get to Central Park?",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/0_0_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 67336,
            "bitrateKbps": 128.085,
            "durationSeconds": 4.205688,
            "durationHMS": "0:0:4",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 0,
          "paragraphId": 1,
          "audioSubtitle": "Local: Sure, I’d be glad to help. First, walk two blocks north on Main Street. Then, turn right at the bakery.",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/0_1_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 109132,
            "bitrateKbps": 128.052,
            "durationSeconds": 6.817938,
            "durationHMS": "0:0:6",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 0,
          "paragraphId": 2,
          "audioSubtitle": "Tourist: Great, I see the bakery ahead. After that, what should I do?",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/0_2_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 55633,
            "bitrateKbps": 128.103,
            "durationSeconds": 3.47425,
            "durationHMS": "0:0:3",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 0,
          "paragraphId": 3,
          "audioSubtitle": "Local: Keep walking straight until you reach the big intersection. At the intersection, turn left. You will see a tall clock tower on your right. That is a good landmark.",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/0_3_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 166392,
            "bitrateKbps": 128.034,
            "durationSeconds": 10.396688,
            "durationHMS": "0:0:10",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 1,
          "paragraphId": 4,
          "audioSubtitle": "Tourist: Okay, so after the clock tower, I turn left. How much further is it?",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/1_4_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 73605,
            "bitrateKbps": 128.078,
            "durationSeconds": 4.5975,
            "durationHMS": "0:0:4",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 1,
          "paragraphId": 5,
          "audioSubtitle": "Local: It is about a five-minute walk from the clock tower. Follow the sidewalk until you reach the river. When you see the small café by the river, you have gone too far. So, stop before the café.",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/1_5_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 222817,
            "bitrateKbps": 128.025,
            "durationSeconds": 13.92325,
            "durationHMS": "0:0:13",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 1,
          "paragraphId": 6,
          "audioSubtitle": "Tourist: I understand. I’ll turn right after the clock tower and then look for the river. What if I miss the turn?",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/1_6_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 111222,
            "bitrateKbps": 128.051,
            "durationSeconds": 6.948563,
            "durationHMS": "0:0:6",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 1,
          "paragraphId": 7,
          "audioSubtitle": "Local: Don’t worry. You might ask another local. Most people here are friendly and know the route well. Also, you can use your smartphone map if needed.",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/1_7_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 158869,
            "bitrateKbps": 128.036,
            "durationSeconds": 9.9265,
            "durationHMS": "0:0:9",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 2,
          "paragraphId": 8,
          "audioSubtitle": "Tourist: Thanks, that helps a lot. I’m excited to see Central Park and all the sights around the area.",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/2_8_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 103280,
            "bitrateKbps": 128.055,
            "durationSeconds": 6.452188,
            "durationHMS": "0:0:6",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 2,
          "paragraphId": 9,
          "audioSubtitle": "Local: You’re welcome. Enjoy your visit, and have a great day exploring the city!",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/2_9_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 71098,
            "bitrateKbps": 128.081,
            "durationSeconds": 4.440813,
            "durationHMS": "0:0:4",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 2,
          "paragraphId": 10,
          "audioSubtitle": "Tourist: I certainly will. Thank you again for your clear directions and kind smile. Goodbye!",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/2_10_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 78621,
            "bitrateKbps": 128.073,
            "durationSeconds": 4.911,
            "durationHMS": "0:0:4",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      },
      {
        "json": {
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "videoId": "1760886294860",
          "sceneId": 2,
          "paragraphId": 11,
          "audioSubtitle": "Local: Goodbye, and have a safe walk ahead!",
          "videoMetaData": {
            "type": "audio",
            "file": "/home/node/download/CANAL_SHADOWING/1760886294860/2_11_1760886294860.mp3",
            "container": "mp3",
            "sizeBytes": 37661,
            "bitrateKbps": 128.153,
            "durationSeconds": 2.351,
            "durationHMS": "0:0:2",
            "tags": {
              "encoder": "Lavf60.16.100"
            },
            "video": null,
            "audios": [
              {
                "codec": "mp3",
                "channels": 1,
                "channel_layout": "mono",
                "sample_rate_hz": 44100,
                "bitrateKbps": 128,
                "language": "und"
              }
            ]
          }
        }
      }
    ]
  },
  "versionId": "0da6de0e-a250-4ee5-8fdc-929eb9c8882e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-16T23:15:45.897Z",
      "updatedAt": "2025-10-16T23:15:45.897Z",
      "role": "workflow:owner",
      "workflowId": "7vcjG51SdGRjGJbx",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "createdAt": "2025-08-20T20:52:17.088Z",
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-20T20:52:17.089Z",
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "createdAt": "2025-08-20T20:52:15.066Z",
              "updatedAt": "2025-10-20T18:39:11.000Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}