env/n8n_workflow/backup/7zjOEpK7tOwgkO4R_ANCAPSU-MAIN.json
{
  "updatedAt": "2025-11-11T11:27:06.000Z",
  "createdAt": "2025-09-06T19:43:56.595Z",
  "id": "7zjOEpK7tOwgkO4R",
  "name": "ANCAPSU-MAIN",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2880,
        752
      ],
      "id": "eabff970-361c-4c7b-a27d-8a84997304c7",
      "name": "START"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2128,
        640
      ],
      "id": "e6987474-140d-45a4-95d2-e9bf41df929c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BQu7fXvxcZR1av6F",
          "mode": "list",
          "cachedResultUrl": "/workflow/BQu7fXvxcZR1av6F",
          "cachedResultName": "@DOWNLOAD_THUMBNAIL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1728,
        656
      ],
      "id": "046df05f-e767-4e42-a024-6f171a0a375a",
      "name": "Download Thumbnail"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UjPnRRupZJq5pbs0",
          "mode": "list",
          "cachedResultUrl": "/workflow/UjPnRRupZJq5pbs0",
          "cachedResultName": "@DOWNLOAD_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1728,
        464
      ],
      "id": "c65a9de2-8792-4ab5-b972-dc8b86cf6c90",
      "name": "Download Video"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sk6qHDqmsTEMLNsp",
          "mode": "list",
          "cachedResultUrl": "/workflow/sk6qHDqmsTEMLNsp",
          "cachedResultName": "@AUDIO_EXTRACTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "VIDEO_ID"
          ],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1728,
        1232
      ],
      "id": "20a6f8fb-9aa4-4573-971f-6144d0b53a89",
      "name": "Extract Audio",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1nQSE6xkyPf6lCyw",
          "mode": "list",
          "cachedResultUrl": "/workflow/1nQSE6xkyPf6lCyw",
          "cachedResultName": "@SILENCE_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_PATH": "=/home/node/download/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}/{{ $('Loop Over Items').item.json.json.videoId}}/{{ $('Loop Over Items').item.json.json.videoId}}.mp4"
          },
          "matchingColumns": [
            "FILE_PATH"
          ],
          "schema": [
            {
              "id": "FILE_PATH",
              "displayName": "FILE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1536,
        1232
      ],
      "id": "0f42757e-0754-4085-ad31-0473d9aaffc9",
      "name": "Silence Detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "b4Vww96hTTVhZRYC",
          "mode": "list",
          "cachedResultUrl": "/workflow/b4Vww96hTTVhZRYC",
          "cachedResultName": "@SILENCE_REMOVER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periods": "={{ $json.periods }}",
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "periods",
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "periods",
              "displayName": "periods",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1360,
        1232
      ],
      "name": "Silence Remover",
      "id": "3a047715-07ff-4f0e-93fa-f8781e95b422"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ee2vyA9GjQWfLSET",
          "mode": "list",
          "cachedResultUrl": "/workflow/ee2vyA9GjQWfLSET",
          "cachedResultName": "@LIST_VIDEOS_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "LAST_N_HOURS": "={{ $json.LAST_N_HOURS }}",
            "CHANNEL_ID": "={{ $json.CHANNEL_ID }}",
            "MIN_DURATION": "={{ $json.MIN_DURATION }}",
            "MAX_DURATION": "={{ $json.MAX_DURATION }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CHANNEL_ID",
              "displayName": "CHANNEL_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "LAST_N_HOURS",
              "displayName": "LAST_N_HOURS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MIN_DURATION",
              "displayName": "MIN_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MAX_DURATION",
              "displayName": "MAX_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2528,
        640
      ],
      "id": "919221a2-27ac-41c5-a9fa-c45093d43e51",
      "name": "Find New Videos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -736,
        1232
      ],
      "id": "11b84c72-7a2c-4317-b926-3629c0a2cbb5",
      "name": "Merge"
    },
    {
      "parameters": {
        "command": "=/bin/bash -lc 'find /home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }} -maxdepth 1 -type f -name \"*.mp4\" ! -name \"READY_TO_UPLOAD*.mp4\" -delete'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -560,
        1232
      ],
      "id": "817cdada-100a-4bca-8f06-05a99e2cdfa6",
      "name": "Remover Temporary Files"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -208,
        1232
      ],
      "id": "b314dbe0-7b74-45c5-a9a6-d6bba0e17637",
      "name": "Wait",
      "webhookId": "02dee35b-5006-47ce-b159-f70f29c2efd8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "969lz3HdNKI9OD7G",
          "mode": "list",
          "cachedResultUrl": "/workflow/969lz3HdNKI9OD7G",
          "cachedResultName": "@PROCESS_SHORTS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}",
            "RESPONSE": "={{ $json.RESPONSE }}"
          },
          "matchingColumns": [
            "videoId",
            "RESPONSE"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESPONSE",
              "displayName": "RESPONSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -944,
        1120
      ],
      "name": "@PROCESS_SHORTS",
      "id": "fc3862ef-b04f-4145-8369-220f51d82dc8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCYYlNNL6g7GjhbF",
          "mode": "list",
          "cachedResultUrl": "/workflow/MCYYlNNL6g7GjhbF",
          "cachedResultName": "@PROCESS_LONG_VIDEOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "RESPONSE": "={{ $json.RESPONSE }}",
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}"
          },
          "matchingColumns": [
            "RESPONSE",
            "videoId"
          ],
          "schema": [
            {
              "id": "RESPONSE",
              "displayName": "RESPONSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -944,
        1344
      ],
      "name": "@PROCESS_LONG",
      "id": "9eb4ac81-d158-4d70-a411-73859bc6a851"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "amcgAf3oG1ZjUeER",
          "mode": "list",
          "cachedResultUrl": "/workflow/amcgAf3oG1ZjUeER",
          "cachedResultName": "@AUDIO_TO_WHISPER_LOCAL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1152,
        1344
      ],
      "id": "b954a5f2-8d01-4626-8aea-6d891880f40c",
      "name": "WHISPER_LOCAL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hRXzf6dN01dP2o29",
          "mode": "list",
          "cachedResultUrl": "/workflow/hRXzf6dN01dP2o29",
          "cachedResultName": "@UPLOAD_TO_YOUTUBE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}",
            "uploadShortVideoData": "={{ $('@PROCESS_SHORTS').first().json.output }}",
            "uploadLongVideoData": "={{ $('@PROCESS_LONG').first().json.output }}",
            "channelId": "={{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelId",
              "displayName": "channelId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "uploadLongVideoData",
              "displayName": "uploadLongVideoData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "uploadShortVideoData",
              "displayName": "uploadShortVideoData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -384,
        1232
      ],
      "id": "59b4dc93-87ef-4cfc-bace-13cc5cfceab3",
      "name": "@UPLOAD"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FOC826UnuMrsQvTf",
          "mode": "list",
          "cachedResultUrl": "/workflow/FOC826UnuMrsQvTf",
          "cachedResultName": "@SET_VIDEO_AS_PROCESSED"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelId": "={{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_ID }}",
            "videoId": "={{ $('Loop Over Items').item.json.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelId",
              "displayName": "channelId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -32,
        1232
      ],
      "id": "ac25441f-14d8-407c-96ee-067731b778d6",
      "name": "@SET_VIDEO_AS_PROCESSED"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2688,
        640
      ],
      "id": "7ae9bb3b-5af2-43d3-a794-d694db6efd3c",
      "name": "@GLOBAL_ANCAPSU"
    },
    {
      "parameters": {
        "command": "=/bin/bash -lc 'dir=\"/home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}\"; [ -n \"$dir\" ] && [ -d \"$dir\" ] && find \"$dir\" -maxdepth 1 -type f -delete'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        144,
        1344
      ],
      "id": "4d5929f3-1f43-4d29-9a6f-099e58ac7301",
      "name": "Limpar Pasta de Trabalho"
    },
    {
      "parameters": {
        "content": "## Notificações\n",
        "height": 240,
        "width": 1664,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        816
      ],
      "id": "73928f02-cf4f-49ee-8eca-c7a00380bf79",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Processo princial",
        "height": 432,
        "width": 2496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2192,
        1104
      ],
      "id": "10eaacfb-615c-48b1-9e67-ec88ff8ac306",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "=Processo de upload GERAL FINALIZADO."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1728,
        48
      ],
      "id": "299ec47f-aacf-4d8a-a96a-5380f5f484cb",
      "name": "@NOTIFIER 1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "=INICIANDO PROCESSAMENTO DO VIDEO: {{ $('Loop Over Items').first().json.json.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1728,
        224
      ],
      "id": "e897dd7d-c8ca-47d6-adc4-5a24b310ac99",
      "name": "@NOTIFIER 2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Extraindo audio..."
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1728,
        880
      ],
      "id": "05483a89-15fe-4cb4-8aed-455795831941",
      "name": "@NOTIFIER 3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Detectando Silêncios..."
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1536,
        880
      ],
      "id": "844d5bdb-a786-4617-80a3-cd4690a986d1",
      "name": "@NOTIFIER 4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Removendo silêncios..."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1360,
        880
      ],
      "id": "0f7eed75-075f-4949-ab7c-6abe6a66d2ac",
      "name": "@NOTIFIER 5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Iniciando transcrição..."
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1152,
        880
      ],
      "id": "0532f9a7-d4ce-4d89-a6c2-323407c8b932",
      "name": "@NOTIFIER 6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Iniciando Upload..."
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -384,
        880
      ],
      "id": "ac74387e-68e0-4175-bf72-81849ff34407",
      "name": "@NOTIFIER 8"
    },
    {
      "parameters": {
        "content": "## Notificações\n",
        "height": 400,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        -16
      ],
      "id": "b4a4ef5c-1765-47fc-b771-f25ddbff258d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3232,
        512
      ],
      "id": "9531f165-4b46-4e69-99b5-a839b069fe5a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "v4RzTHki2yQk5aXv",
          "mode": "list",
          "cachedResultName": "WORKFLOW_MANAGER_STATUS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/v4RzTHki2yQk5aXv"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PROCESS_NAME",
              "keyValue": "ANCAPSU_MAIN_WORKFLOW"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IS_WORKING": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PROCESS_NAME",
              "displayName": "PROCESS_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IS_WORKING",
              "displayName": "IS_WORKING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1504,
        48
      ],
      "id": "a547e575-f488-40ce-a841-37f69e9a9024",
      "name": "Set Idle"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2688,
        432
      ],
      "id": "1e826139-a0fc-4b4b-a10c-44380621f3ec",
      "name": "Waiting..."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e116e821-cbdb-48c0-8c7f-ff81e2c80a85",
              "leftValue": "={{ $json.IS_WORKING }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2880,
        512
      ],
      "id": "d72d9ee7-2b86-474b-b632-d78c3fbdcbf8",
      "name": "Is working"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "v4RzTHki2yQk5aXv",
          "mode": "list",
          "cachedResultName": "WORKFLOW_MANAGER_STATUS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/v4RzTHki2yQk5aXv"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PROCESS_NAME",
              "keyValue": "ANCAPSU_MAIN_WORKFLOW"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IS_WORKING": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PROCESS_NAME",
              "displayName": "PROCESS_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IS_WORKING",
              "displayName": "IS_WORKING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2128,
        480
      ],
      "id": "ee4994c3-325e-4f65-9985-cf9fda8e92d6",
      "name": "Set Working"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "v4RzTHki2yQk5aXv",
          "mode": "list",
          "cachedResultName": "WORKFLOW_MANAGER_STATUS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/v4RzTHki2yQk5aXv"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PROCESS_NAME",
              "keyValue": "ANCAPSU_MAIN_WORKFLOW"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3056,
        512
      ],
      "id": "5fb0de0a-7e28-41a6-8e31-bcaefc059ad7",
      "name": "List Status"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lnhyKMDkskP0qKhu",
          "mode": "list",
          "cachedResultUrl": "/workflow/lnhyKMDkskP0qKhu",
          "cachedResultName": "@AUDIO_TO_WHISPER_OPEN_AI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO_ID": "={{ $('Loop Over Items').item.json.json.videoId}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1152,
        1120
      ],
      "id": "5f3eb977-7bb0-40f4-a389-7cddcd141482",
      "name": "WHISPER_OPEN_AI"
    },
    {
      "parameters": {
        "content": "## Utils",
        "height": 512,
        "width": 800,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        -16
      ],
      "id": "7e03f84c-11fe-4c30-95d7-7640d8791f97",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GUEbV70IpFjcyX2A",
          "mode": "list",
          "cachedResultUrl": "/workflow/GUEbV70IpFjcyX2A",
          "cachedResultName": "@SET_TO_REPROCESS_STATUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": false,
            "videoId": "1BWDmABmYLU"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1248,
        48
      ],
      "id": "79c047d3-fd79-4801-a130-74115fd4165b",
      "name": "@SET_TO_REPROCESS_STATUS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "={{ $('Find New Videos').all().length }} novos vídeos a seerem processados"
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2128,
        320
      ],
      "id": "f26d7db2-85f3-4272-b84d-0691fc7328c6",
      "name": "@NOTIFIER"
    },
    {
      "parameters": {
        "aggregate": "={{ $json.title }}",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2320,
        320
      ],
      "id": "88d78859-9969-414b-a1c7-2da8c9ed592b",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "@NOTIFIER 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Thumbnail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Audio": {
      "main": [
        [
          {
            "node": "Silence Detector",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Detector": {
      "main": [
        [
          {
            "node": "Silence Remover",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Remover": {
      "main": [
        [
          {
            "node": "@NOTIFIER 6",
            "type": "main",
            "index": 0
          },
          {
            "node": "WHISPER_LOCAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find New Videos": {
      "main": [
        [
          {
            "node": "Set Working",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remover Temporary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover Temporary Files": {
      "main": [
        [
          {
            "node": "@UPLOAD",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "@SET_VIDEO_AS_PROCESSED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@PROCESS_SHORTS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@PROCESS_LONG": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "WHISPER_LOCAL": {
      "main": [
        [
          {
            "node": "@PROCESS_LONG",
            "type": "main",
            "index": 0
          },
          {
            "node": "@PROCESS_SHORTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@UPLOAD": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@SET_VIDEO_AS_PROCESSED": {
      "main": [
        [
          {
            "node": "Limpar Pasta de Trabalho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "Find New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Pasta de Trabalho": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@NOTIFIER 1": {
      "main": [
        [
          {
            "node": "Set Idle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is working": {
      "main": [
        [
          {
            "node": "Waiting...",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Status": {
      "main": [
        [
          {
            "node": "Is working",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WHISPER_OPEN_AI": {
      "main": [
        [
          {
            "node": "@PROCESS_LONG",
            "type": "main",
            "index": 0
          },
          {
            "node": "@PROCESS_SHORTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "@NOTIFIER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "511ba979-9ccb-47f4-9d4c-bc71aa7bea85",
  "versionCounter": 48,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-06T19:43:56.612Z",
      "createdAt": "2025-09-06T19:43:56.612Z",
      "role": "workflow:owner",
      "workflowId": "7zjOEpK7tOwgkO4R",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2025-11-11T11:27:01.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}