env/n8n_workflow/backup/amcgAf3oG1ZjUeER_@AUDIO_TO_WHISPER_LOCAL.json
{
  "createdAt": "2025-09-13T15:27:45.548Z",
  "updatedAt": "2025-10-05T11:42:19.000Z",
  "id": "amcgAf3oG1ZjUeER",
  "name": "@AUDIO_TO_WHISPER_LOCAL",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"videoId\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        -96
      ],
      "id": "63ce0096-03a8-4b26-a03e-1c2d80531e4c",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b08217d3-fe5e-4286-a655-3e9caa5eb0d4",
              "name": "RESPONSE",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -96
      ],
      "id": "235a89dd-5551-4f79-a779-7b64edb3d824",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/download/{{ $json.CHANNEL_NAME }}/{{ $('START').item.json.videoId }}/{{ $('START').item.json.videoId }}.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        640,
        -96
      ],
      "id": "ed575d5c-188c-434b-927d-b3b541c34260",
      "name": "READ"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper-api:8000/subtitle/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/plain"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        832,
        -96
      ],
      "id": "5d3df726-265d-475a-8125-7a09b84b8135",
      "name": "Subtitle Generator"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        -96
      ],
      "id": "3207beb6-196f-44f7-b817-8cf9934f3d89",
      "name": "@GLOBAL_ANCAPSU"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        -96
      ],
      "id": "802c76f1-3f66-4949-a3b4-9c85489d1266",
      "name": "Wait",
      "webhookId": "02afcb89-7944-4973-bfcb-2b0d641303fc"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "READ": {
      "main": [
        [
          {
            "node": "Subtitle Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subtitle Generator": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "READ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "START": [
      {
        "json": {
          "videoId": "EG7qAwnz394"
        }
      }
    ]
  },
  "versionId": "46828606-1f20-4f22-9995-488ac80d642d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-13T15:27:45.570Z",
      "updatedAt": "2025-09-13T15:27:45.570Z",
      "role": "workflow:owner",
      "workflowId": "amcgAf3oG1ZjUeER",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "createdAt": "2025-08-20T20:52:17.088Z",
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-20T20:52:17.089Z",
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "createdAt": "2025-08-20T20:52:15.066Z",
              "updatedAt": "2025-10-20T18:39:11.000Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}