env/n8n_workflow/backup/bPkDY1rLEosPYyck_@VIDEO_SPLIT.json
{
  "updatedAt": "2025-10-08T11:51:36.000Z",
  "createdAt": "2025-08-21T11:01:01.535Z",
  "id": "bPkDY1rLEosPYyck",
  "name": "@VIDEO_SPLIT",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"VIDEO_ID\": \"_LMpN6o26E0\",\n  \"BASE_PATH\": \"CANAL_ANCAPSU\",\n  \"START_TIME\": \"00:00:00\",\n  \"END_TIME\": \"00:00:13\",\n  \"PREFIX\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -304,
        -112
      ],
      "id": "bfe03852-475f-45a9-803d-27f66d322928",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dff10386-aac1-4bf2-a53e-24e2e7441381",
              "name": "VIDEO_ID",
              "value": "={{ $('START').item.json.VIDEO_ID }}",
              "type": "string"
            },
            {
              "id": "33aa6889-88db-458a-884c-f4d2c8fba03d",
              "name": "START_TIME",
              "value": "={{ $('START').item.json.START_TIME }}",
              "type": "string"
            },
            {
              "id": "2d342576-6c10-423c-86ce-f5f8cdcc8cef",
              "name": "END_TIME",
              "value": "={{ $('START').item.json.END_TIME }}",
              "type": "string"
            },
            {
              "id": "ab7f91b9-a7d9-4a5a-b5a6-189685e0bf2d",
              "name": "FILENAME",
              "value": "={{ $('START').item.json.VIDEO_ID }}_{{ $('START').item.json.START_TIME.replaceAll(\":\", \"_\") }}_{{ $('START').item.json.END_TIME.replaceAll(\":\", \"_\") }}.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -112
      ],
      "id": "7902aef1-9770-47bd-b237-132e22ec63c5",
      "name": "VAR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa43995-1d25-4eac-949f-6ed21d4ab940",
              "name": "=RESULT",
              "value": "={{ $json.exitCode === 0? \"SUCCESS\":\"ERROR\"}}",
              "type": "string"
            },
            {
              "id": "9f2ff60c-73ff-49b8-993b-437ec8110df2",
              "name": "FILENAME",
              "value": "={{ $('VAR').item.json.FILENAME }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -176
      ],
      "id": "e44da930-7925-4dd3-9694-6aa3a484339b",
      "name": "RESULT"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        464,
        -16
      ],
      "id": "c99123d1-05fb-4b33-a2f4-328ab8221397",
      "name": "ERROR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $json.VIDEO_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -112
      ],
      "id": "7a92881b-91af-4b50-8592-e483ee55e19f",
      "name": "HAS_CHANNEL_ID"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y \\\n  -ss {{ $json.START_TIME }} -to {{ $json.END_TIME }} \\\n  -i \"/home/node/download/{{$('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME}}/{{ $json.VIDEO_ID }}/{{ $json.VIDEO_ID }}.mp4\" \\\n  -c copy -avoid_negative_ts make_zero -movflags +faststart \\\n  \"/home/node/processing/{{$('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME}}/{{ $('START').item.json.PREFIX }}{{ $json.FILENAME }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        -176
      ],
      "id": "189611d2-d798-4dc2-8278-817724aa8356",
      "name": "SPLIT",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -112,
        -112
      ],
      "id": "9ea1f07f-3eac-4c69-8c97-7ed627079196",
      "name": "@GLOBAL_ANCAPSU"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_CHANNEL_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_CHANNEL_ID": {
      "main": [
        [
          {
            "node": "SPLIT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPLIT": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "pinData": {
    "START": [
      {
        "json": {
          "VIDEO_ID": "UZKSdzKW_JI",
          "BASE_PATH": "CANAL_ANCAPSU",
          "START_TIME": "3.98",
          "END_TIME": "53.2",
          "PREFIX": "short_"
        }
      }
    ]
  },
  "versionId": "c8e87200-c5bd-4ddb-b491-3fcbe20288a7",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-21T11:01:01.539Z",
      "createdAt": "2025-08-21T11:01:01.539Z",
      "role": "workflow:owner",
      "workflowId": "bPkDY1rLEosPYyck",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-13T23:35:36.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}