env/n8n_workflow/backup/bRbAM3zoHUE6bMWh_@JOIN_VIDEO.json
{
  "createdAt": "2025-08-26T22:29:20.894Z",
  "updatedAt": "2025-10-04T19:38:29.000Z",
  "id": "bRbAM3zoHUE6bMWh",
  "name": "@JOIN_VIDEO",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILE_1\": \"FILENAME_1\",\n  \"FILE_2\": \"FILENAME_2\",\n  \"EFFECT\": \"fade\",\n  \"MAIN_VIDEO_DURATION\": 100,\n  \"PREFIX\": \"PREFIXO IDENTIFICADOR\",\n  \"TIMESTAMP\": 0\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -96
      ],
      "id": "9bb30f0d-b063-47ec-8052-10db8c99d87b",
      "name": "START"
    },
    {
      "parameters": {
        "content": "## 🎬 Efeitos de transição no FFmpeg (xfade)\n\n- **fade** → crossfade clássico (dissolve)\n- **fadeblack** → fade para preto\n- **fadewhite** → fade para branco\n- **distance** → efeito de zoom/distância\n\n### Wipes\n- **wipeleft**\n- **wiperight**\n- **wipeup**\n- **wipedown**\n\n### Slides\n- **slideleft**\n- **slideright**\n- **slideup**\n- **slidedown**\n\n### Formas geométricas\n- **circleopen** → abre em círculo\n- **circleclose** → fecha em círculo\n- **rectcrop** → abre/fecha em retângulo\n\n### Efeitos especiais\n- **dissolve**\n- **pixelize**\n- **radial**\n",
        "height": 720,
        "width": 512,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -112
      ],
      "typeVersion": 1,
      "id": "4dbd99a2-23e1-4c87-b692-b2a563304926",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "\n// ====== CONFIG INICIAL ======\nconst prefix = ($('START').first().json.TIMESTAMP +'_'+ $('START').first().json.PREFIX|| 'OUT').toString();  \n// se não vier nada, usa \"OUT\"\n\n// Função auxiliar: gera timestamp (em segundos inteiros)\nfunction getTimestamp() {\n  return Math.floor(Date.now() / 1000); \n}\n\n// Entradas vindas do JSON/nodes do n8n\nconst file1  = $('START').first().json.FILE_1;     // ex: \"video1.mp4\"\nconst file2  = $('START').first().json.FILE_2;     // ex: \"video2.mp4\"\nconst effect = ($('START').first().json.EFFECT || 'fade').toString();\nconst channelName = $('@GLOBAL_ANCAPSU').first().json.CHANNEL_NAME;\n\n\n\nconst fadeDur = 2; // padrão 2s\n\n// Duração total do 1º vídeo (em segundos)\nconst mainDur = Number($('START').first().json.MAIN_VIDEO_DURATION);\n\n// offset = fim do vídeo1 - duração do fade; fallback = 5s\nconst offset  = Number.isFinite(mainDur) ? Math.max(0, mainDur - fadeDur) : 5;\n\n// Helpers para nome\nconst baseName = f => f.replace(/\\.mp4$/i, '');\nconst safe = s => baseName(s).replace(/[^A-Za-z0-9_\\-]/g, '_');\n\n// Nome de saída de referência (sem timestamp)\nconst outFile = `CROSSFADE_${effect}_${safe(file1)}_${safe(file2)}.mp4`;\n\n// Nome final para upload → agora com prefix + timestamp\nconst ts = getTimestamp();\nconst finalOut = `/home/node/processing/${channelName}/READY_TO_UPLOAD_${prefix}_${ts}.mp4`;\n\n// Comando FFmpeg\nconst cmd =\n  `ffmpeg -y ` +\n  `-i \"/home/node/processing/${channelName}/${file1}\" -i \"${file2}\" ` +\n  `-filter_complex \"` +\n    `[0:v]fps=30,settb=AVTB,setpts=PTS-STARTPTS,format=yuv420p,setsar=1[v0]; ` +\n    `[1:v]fps=30,settb=AVTB,setpts=PTS-STARTPTS,format=yuv420p,setsar=1[v1]; ` +\n    `[0:a]aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo[a0]; ` +\n    `[1:a]aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo[a1]; ` +\n    `[v0][v1]xfade=transition=${effect}:duration=${fadeDur}:offset=${offset}[v]; ` +\n    `[a0][a1]acrossfade=d=${fadeDur}[a]\" ` +\n  `-map \"[v]\" -map \"[a]\" ` +\n  `-c:v libx264 -pix_fmt yuv420p -profile:v high -level:v 4.1 -movflags +faststart ` +\n  `-c:a aac -b:a 192k ` +\n  `\"${finalOut}\"`;\n\nreturn {\n  command: cmd,\n  outputFile: outFile,  \n  finalOutput: finalOut,\n  debug: { MAIN_VIDEO_DURATION: mainDur, fadeDur, offset, prefix, timestamp: ts }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -96
      ],
      "id": "5fa7e7fc-2809-420e-b8b4-cf3c0ea979b1",
      "name": "C0DE"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1184,
        -96
      ],
      "id": "3179452f-af18-49a6-8ada-328b05e7c909",
      "name": "COMMAND"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        -96
      ],
      "id": "535e795b-ce26-41fb-a8b8-ffd21e52f9fd",
      "name": "Wait",
      "webhookId": "1982499d-410a-4032-826b-5924d19e4b4a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "156aa925-b11e-4b2f-b75a-1f5b43edccb5",
              "name": "finalOutput",
              "value": "={{ $('C0DE').item.json.finalOutput.split('/')[$('C0DE').item.json.finalOutput.split('/').length-1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -96
      ],
      "id": "b60840ce-35af-4d96-9b39-6f51e3272a94",
      "name": "return"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        176,
        -96
      ],
      "id": "cc44b4c9-e22e-44c0-9007-a732c29871cf",
      "name": "@GLOBAL_ANCAPSU"
    }
  ],
  "connections": {
    "C0DE": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "COMMAND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMMAND": {
      "main": [
        [
          {
            "node": "return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "C0DE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "START": [
      {
        "json": {
          "FILE_1": "FADE_IN_FADE_OUT_OVERLAY_orientated_short_0_EG7qAwnz394_10_55.mp4",
          "FILE_2": "/home/node/assets/CANAL_ANCAPSU/final_videos/final-short.mp4",
          "EFFECT": "fadeblack",
          "MAIN_VIDEO_DURATION": 46.824349,
          "PREFIX": "IDX_0_SHORT",
          "TIMESTAMP": 1759606338194
        }
      }
    ]
  },
  "versionId": "7802de17-2172-4204-b697-6205f3d2cf1a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-26T22:29:20.909Z",
      "updatedAt": "2025-08-26T22:29:20.909Z",
      "role": "workflow:owner",
      "workflowId": "bRbAM3zoHUE6bMWh",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "createdAt": "2025-08-20T20:52:17.088Z",
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-20T20:52:17.089Z",
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "createdAt": "2025-08-20T20:52:15.066Z",
              "updatedAt": "2025-10-27T11:31:02.000Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}