env/n8n_workflow/backup/dWYPzcYBySisGRMl_@CONTENT_SHADOWING_GENERATOR_WITHOUT_IMAGE.json
{
  "updatedAt": "2025-11-15T13:47:28.000Z",
  "createdAt": "2025-10-27T11:57:16.399Z",
  "id": "dWYPzcYBySisGRMl",
  "name": "@CONTENT_SHADOWING_GENERATOR_WITHOUT_IMAGE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DOfnd0M834V8kbv2",
          "mode": "list",
          "cachedResultUrl": "/workflow/DOfnd0M834V8kbv2",
          "cachedResultName": "@CREATE_FOLDER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "=/home/node/download/{{ $json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "65cbb765-516b-4db4-be01-25ff390d569f",
      "name": "@CREATE_FOLDER"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VdmO0DZ3i6iBFRiU",
          "mode": "list",
          "cachedResultUrl": "/workflow/VdmO0DZ3i6iBFRiU",
          "cachedResultName": "@GLOBAL_SHADOWING"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "ef82aebc-0bf4-45fe-b975-03431e07a39d",
      "name": "@GLOBAL_SHADOWING"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        0
      ],
      "id": "6a2fcbe3-974e-4b35-8db5-cc8417838ed6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "paragraphs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "133b4d2e-fec6-4478-8a20-b3f855159df2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "\n{\n  \"videoId\":\"1760740412013\",\n  \"index\": 0,  \n  \"paragraphs\": [\n    {\n      \"id\": 0,\n      \"text\": \"Once upon a time, a curious rabbit lost its way in a quiet forest.\",\n      \"voiceId:\":\"voiceStringId\"\n    }\n   ]\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        0
      ],
      "id": "5323b363-6f86-469f-917f-0f4b409de1c8",
      "name": "Start"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/download/{{ $('@GLOBAL_SHADOWING').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}/{{ $('Start').item.json.index }}_{{ $json.id }}_{{ $('Start').item.json.videoId }}.mp3",
        "dataPropertyName": "=audio",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1344,
        64
      ],
      "id": "bef25722-3f48-4848-bb5a-8adcdcc26f40",
      "name": "Write Audio Speech"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        64
      ],
      "id": "dad4dabe-34bc-441a-8767-4692e9473eb6",
      "name": "5s",
      "webhookId": "faecf05d-23dc-4bf8-b05b-b99284dbb8b1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "093b7464-74b1-48b0-981c-ee8d5c7410ec",
              "name": "paragraphs",
              "value": "={{ $('Start').item.json.paragraphs }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        0
      ],
      "id": "26911de0-1981-4ace-8b3d-6d770d4f0e75",
      "name": "Get paragrahs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{$('Loop Over Items').item.json.voiceId }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_8aa057788b2c7c5e2a2cb35e5cbdce49ad4b7b06adfe7612"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ ($json.text || '')\n              .toString()\n              .replace(/[\"'“”‘’]/g, '').split(\":\").last() }}\",\n  \"model_id\": \"eleven_flash_v2_5\",\n  \"voice_settings\": {\n    \"stability\": 0.55,\n    \"similarity_boost\": 0.65,\n    \"style\": 0.2,\n    \"use_speaker_boost\": true,\n    \"speed\": \"0.90\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        64
      ],
      "id": "c03cf6b2-9519-48ef-8f80-3ea7b66df584",
      "name": "Get Speech"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "={{ $json.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1152,
        -96
      ],
      "id": "95d9baca-f5f0-4ae5-9cfb-a87fd07cd1ac",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## I'm a note \n=> key padrao:sk_8aa057788b2c7c5e2a2cb35e5cbdce49ad4b7b06adfe7612\n\n- key reserva: sk_94e0461b2ba306819e474aaca0da5e6d2e7adfd162b2a14f\n",
        "height": 208,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -304
      ],
      "id": "4b91fb85-6c44-4d51-b775-3618731d657f",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "@GLOBAL_SHADOWING": {
      "main": [
        [
          {
            "node": "@CREATE_FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@CREATE_FOLDER": {
      "main": [
        [
          {
            "node": "Get paragrahs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "@GLOBAL_SHADOWING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audio Speech": {
      "main": [
        [
          {
            "node": "5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5s": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get paragrahs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Speech": {
      "main": [
        [
          {
            "node": "Write Audio Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Start": [
      {
        "json": {
          "index": 0,
          "introduction": true,
          "paragraphs": [
            {
              "id": -1,
              "text": "Theme: A day in a language class conversation. Shadowing in 3 passes — first, listen attentively; second, repeat after the reading; third, speak together. Keep a steady pace, breathe, and articulate clearly.",
              "voiceId": "4YYIPFl9wE5c4L2eu2Gb"
            }
          ]
        }
      }
    ]
  },
  "versionId": "5473afd8-67b6-49d8-bca9-ab374fd2e908",
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-27T11:57:16.426Z",
      "createdAt": "2025-10-27T11:57:16.426Z",
      "role": "workflow:owner",
      "workflowId": "dWYPzcYBySisGRMl",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-28T18:38:23.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}