env/n8n_workflow/backup/ee2vyA9GjQWfLSET_@LIST_VIDEOS_YOUTUBE.json
{
  "createdAt": "2025-09-06T20:11:41.644Z",
  "updatedAt": "2025-10-16T16:03:11.000Z",
  "id": "ee2vyA9GjQWfLSET",
  "name": "@LIST_VIDEOS_YOUTUBE",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"CHANNEL_ID\": \"a string\",\n  \"LAST_N_HOURS\": \"a string\",\n  \"MIN_DURATION\": \"a string\",\n  \"MAX_DURATION\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1136,
        -192
      ],
      "id": "ce96d6b3-61a3-48b7-bb7b-7f86c0d53746",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b676ba59-4a9e-4c1b-9348-ae5174152a33",
              "name": "CHANNEL_ID",
              "value": "={{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_ID }}",
              "type": "string"
            },
            {
              "id": "773580a0-eb6b-4fd6-8e1e-a74eefd32d9f",
              "name": "LAST_N_HOURS",
              "value": "={{ $('@GLOBAL_ANCAPSU').item.json.LAST_N_HOURS }}",
              "type": "string"
            },
            {
              "id": "b00d291c-689a-4d03-beda-2e9780788c2b",
              "name": "MIN_DURATION",
              "value": "={{ $('@GLOBAL_ANCAPSU').item.json.MIN_DURATION }}",
              "type": "string"
            },
            {
              "id": "4b63f9ca-d9bc-4db2-9bd1-1ea1bbad1bc0",
              "name": "MAX_DURATION",
              "value": "={{ $('@GLOBAL_ANCAPSU').item.json.MAX_DURATION }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -112
      ],
      "id": "cde5ebf5-6d0b-46ee-a846-df7882f284c9",
      "name": "VAR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -112
      ],
      "id": "d89593eb-65b0-4983-9941-04c31eb1380a",
      "name": "HAS_CHANNEL_ID"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        192,
        -16
      ],
      "id": "cb9e4731-beed-4411-84cf-f642912cfa0c",
      "name": "ERROR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eda0068c-3a21-4b66-a868-bf8df525d0de",
              "name": "stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -176
      ],
      "id": "8c6209be-891b-4fa3-a09d-2c456164b461",
      "name": "RESULT"
    },
    {
      "parameters": {
        "jsCode": "// Lê a saída do node anterior (Execute Command)\nconst raw =\n  items?.[0]?.json?.stdout ??\n  items?.[0]?.stdout ??\n  '';\n\nconst channelId =\n  items?.[0]?.json?.CHANNEL_ID ??\n  items?.[0]?.CHANNEL_ID ??\n  null;\n\n// hh:mm[:ss] -> segundos\nfunction parseDurationToSeconds(s) {\n  if (!s) return null;\n  const parts = s.split(':').map((n) => Number(n));\n  if (parts.some(Number.isNaN)) return null;\n  if (parts.length === 3) return parts[0] * 3600 + parts[1] * 60 + parts[2];\n  if (parts.length === 2) return parts[0] * 60 + parts[1];\n  if (parts.length === 1) return parts[0];\n  return null;\n}\n\n// \"YYYY-MM-DD HH:MM:SS\" -> ISO UTC\nfunction toISO(datetimeStr) {\n  if (!datetimeStr) return null;\n  return datetimeStr.replace(' ', 'T') + 'Z';\n}\n\nconst out = [];\n\nfor (const line of raw.split('\\n')) {\n  const trimmed = line.trim();\n  if (!trimmed) continue;\n\n  // Divide por \" | \" preservando pipes dentro do título:\n  // id | ...título (pode ter |) ... | duration | datetime | url\n  let parts = trimmed.split(' | ');\n  if (parts.length < 5) {\n    // fallback se não vier com espaços ao redor do pipe\n    parts = trimmed.split('|').map((p) => p.trim());\n  }\n  if (parts.length < 5) {\n    // linha malformada — retorna crua pra inspeção\n    out.push({ json: { raw: trimmed, parseError: 'Not enough parts' } });\n    continue;\n  }\n\n  const id = parts.shift();\n  const url = parts.pop();\n  const dateStr = parts.pop();\n  const durationStr = parts.pop();\n  const title = parts.join(' | '); // remonta o título preservando pipes internos\n\n  const durationSeconds = parseDurationToSeconds(durationStr);\n  const publishedAtISO = toISO(dateStr);\n  const publishedAtEpoch = publishedAtISO ? Math.floor(Date.parse(publishedAtISO) / 1000) : null;\n\n  out.push({\n    json: {\n      videoId: id,\n      title,\n      duration: durationStr,          \n      durationSeconds,                \n      publishedAt: dateStr,           \n      publishedAtISO,                 \n      publishedAtEpoch,               \n      url,\n      channelId: $('VAR').first().json.CHANNEL_ID,\n      processed: false\n    },\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -176
      ],
      "id": "d305a991-97ba-4099-92ba-52df2010ee8c",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf15ebea-2a4c-4fc0-8abb-e6ea3171b8fc",
              "leftValue": "={{ $json.video }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        -160
      ],
      "id": "a4ff7309-65e7-45d7-8294-a2def1544b17",
      "name": "If video not exists"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'video:' + $('Loop Over Items').item.json.channelId + '_' + $('Loop Over Items').item.json.videoId }}",
        "value": "={{ JSON.stringify({\n  id: 'video:' + $('Loop Over Items').item.json.channelId + '_' + $('Loop Over Items').item.json.videoId,\n  title: $('Loop Over Items').item.json.title,\n  duration: $('Loop Over Items').item.json.duration,\n  durationSeconds: $('Loop Over Items').item.json.durationSeconds,\n  publishedAt: $('Loop Over Items').item.json.publishedAt,\n  publishedAtISO: $('Loop Over Items').item.json.publishedAtISO,\n  publishedAtEpoch: $('Loop Over Items').item.json.publishedAtEpoch,\n  url: $('Loop Over Items').item.json.url,\n  channelId: $('Loop Over Items').item.json.channelId,\n  videoId: $('Loop Over Items').item.json.videoId,\n  processed: $('Loop Over Items').item.json.processed\n}) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1216,
        -176
      ],
      "id": "f5c0252e-149d-4fd3-b852-10e4bb8c8096",
      "name": "Create Data",
      "credentials": {
        "redis": {
          "id": "H9ySyNyj1MBc1lrU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "video",
        "key": "={{ 'video:' + $json.channelId + '_' + $json.videoId }}",
        "keyType": "string",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        896,
        -160
      ],
      "id": "a3915f0c-a4fd-49db-9f3d-a9ee0de0e42d",
      "name": "Check if video exists",
      "credentials": {
        "redis": {
          "id": "H9ySyNyj1MBc1lrU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -176
      ],
      "id": "42a76de9-7328-4946-b79c-e3eaa8dbf566",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=# -------- Parâmetros (n8n) --------\nCHANNEL_ID=\"{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_ID }}\"\nLAST_N_HOURS={{ $('@GLOBAL_ANCAPSU').item.json.LAST_N_HOURS || 24 }}\nMIN_DURATION={{ $('@GLOBAL_ANCAPSU').item.json.MIN_DURATION || 182 }}\nMAX_DURATION={{ $('@GLOBAL_ANCAPSU').item.json.MAX_DURATION || 1800 }}\nN={{ $json.LIMIT || 50 }}\n\n# -------- Cálculo do corte por epoch --------\nNOW_EPOCH=$(date -u +%s)\nCUTOFF_EPOCH=$(( NOW_EPOCH - LAST_N_HOURS*3600 ))\n\n# -------- Lista filtrando por epoch, duração e disponibilidade pública --------\nyt-dlp \"https://www.youtube.com/channel/${CHANNEL_ID}/videos\" \\\n  --skip-download \\\n  --ignore-errors \\\n  --no-abort-on-error \\\n  --no-warnings \\\n  --match-filter \"availability = public & timestamp != None & duration != None & timestamp >= ${CUTOFF_EPOCH} & duration >= ${MIN_DURATION} & duration <= ${MAX_DURATION}\" \\\n  --playlist-end \"$N\" \\\n  --print \"%(id)s | %(title)s | %(duration_string)s | %(timestamp>%Y-%m-%d %H:%M:%S)s | %(webpage_url)s\" \\\n  || true\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        192,
        -176
      ],
      "id": "41d75754-e046-4275-bfa8-dcf238b5c2df",
      "name": "LISTA DO YOUTUBE",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "video",
        "key": "={{ 'video:' + $('Loop Over Items').item.json.channelId + '_' + $('Loop Over Items').item.json.videoId }}",
        "keyType": "string",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        -176
      ],
      "id": "22208150-d8db-4b42-8384-9b4019e8587c",
      "name": "Check if video exists2",
      "credentials": {
        "redis": {
          "id": "H9ySyNyj1MBc1lrU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "video:*"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -784,
        -192
      ],
      "id": "86499cf4-dd66-4142-be9b-6544702cc3f5",
      "name": "Get All",
      "credentials": {
        "redis": {
          "id": "H9ySyNyj1MBc1lrU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76116d08-daa9-470e-81ab-f0a7117453cc",
              "name": "out",
              "value": "={{ $json.out}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -288
      ],
      "id": "8e0021b1-a98c-41d8-b54a-b56c43057784",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "out",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        64,
        -288
      ],
      "id": "ac7d9206-bd0d-4ee0-b8b0-464d3f502101",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: 1 item com várias props { \"video:...\": \"{...json...}\", ... }\n// Saída: N itens -> { key, id, title, duration, durationSeconds, publishedAt, publishedAtISO, publishedAtEpoch, url, channelId, videoId, processed:false }\n\nconst out = [];\n\nfor (const item of items) {\n  const obj = item.json || {};\n\n  for (const [key, raw] of Object.entries(obj)) {\n    if (!key.startsWith(\"video:\")) continue;\n\n    // Parse seguro\n    let parsed = raw;\n    if (typeof raw === \"string\") {\n      try {\n        parsed = JSON.parse(raw);\n      } catch {\n        continue;\n      }\n    }\n    if (!parsed || typeof parsed !== \"object\") continue;\n\n    // Normaliza processed (aceita \"true\"/\"false\" string)\n    let processed = parsed.processed;\n    if (typeof processed === \"string\") {\n      const s = processed.trim().toLowerCase();\n      processed = s === \"true\" ? true : s === \"false\" ? false : undefined;\n    } else {\n      processed =\n        processed === true ? true : processed === false ? false : undefined;\n    }\n    if (processed !== false) continue; // apenas não processados\n\n    // Normaliza datas/campos\n    const id = parsed.id ?? key;\n\n    const publishedAtISO =\n      parsed.publishedAtISO ??\n      (parsed.publishedAt\n        ? new Date(parsed.publishedAt.replace(\" \", \"T\") + \"Z\").toISOString()\n        : null);\n\n    const publishedAtEpoch =\n      typeof parsed.publishedAtEpoch === \"number\" &&\n      !Number.isNaN(parsed.publishedAtEpoch)\n        ? parsed.publishedAtEpoch\n        : publishedAtISO\n          ? Math.floor(Date.parse(publishedAtISO) / 1000)\n          : null;\n\n    let durationSeconds = null;\n    if (typeof parsed.durationSeconds === \"number\") {\n      durationSeconds = parsed.durationSeconds;\n    } else if (\n      typeof parsed.durationSeconds === \"string\" &&\n      parsed.durationSeconds.trim() !== \"\"\n    ) {\n      const n = Number(parsed.durationSeconds);\n      durationSeconds = Number.isFinite(n) ? n : null;\n    }\n\n    out.push({\n      json: {\n        id,\n        title: parsed.title ?? null,\n        duration: parsed.duration ?? null,\n        durationSeconds,\n        publishedAt: parsed.publishedAt ?? null,\n        publishedAtISO,\n        publishedAtEpoch,\n        url: parsed.url ?? null,\n        channelId: parsed.channelId ?? null,\n        videoId: parsed.videoId ?? null,\n        processed: false,\n      },\n    });\n  }\n}\n\n// Se quiser FIFO: descomente a ordenação abaixo.\n// out.sort((a, b) => (a.json.publishedAtEpoch ?? 0) - (b.json.publishedAtEpoch ?? 0));\n\nreturn { out };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -192
      ],
      "id": "8d8358bc-83fb-47d6-92b4-5143ca324539",
      "name": "Get Umprocesseds"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "48fe65b6-5adb-4b50-b615-9a6996e16701",
              "leftValue": "={{ $json.out }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthNotEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        -192
      ],
      "id": "737a33a4-8a70-4559-8bf2-1f494f8e7eae",
      "name": "Has no processeds"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -960,
        -192
      ],
      "id": "59a0fe28-335e-4a63-8d89-b50568aaf091",
      "name": "@GLOBAL_ANCAPSU"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "video:*"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1072,
        -336
      ],
      "id": "12802cd5-c793-40be-9ed1-401fda4f75b8",
      "name": "Get All2",
      "credentials": {
        "redis": {
          "id": "H9ySyNyj1MBc1lrU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Entrada: 1 item com várias props { \"video:...\": \"{...json...}\", ... }\n// Saída: N itens -> { key, id, title, duration, durationSeconds, publishedAt, publishedAtISO, publishedAtEpoch, url, channelId, videoId, processed:false }\n\nconst out = [];\n\nfor (const item of items) {\n  const obj = item.json || {};\n\n  for (const [key, raw] of Object.entries(obj)) {\n    if (!key.startsWith(\"video:\")) continue;\n\n    // Parse seguro\n    let parsed = raw;\n    if (typeof raw === \"string\") {\n      try {\n        parsed = JSON.parse(raw);\n      } catch {\n        continue;\n      }\n    }\n    if (!parsed || typeof parsed !== \"object\") continue;\n\n    // Normaliza processed (aceita \"true\"/\"false\" string)\n    let processed = parsed.processed;\n    if (typeof processed === \"string\") {\n      const s = processed.trim().toLowerCase();\n      processed = s === \"true\" ? true : s === \"false\" ? false : undefined;\n    } else {\n      processed =\n        processed === true ? true : processed === false ? false : undefined;\n    }\n    if (processed !== false) continue; // apenas não processados\n\n    // Normaliza datas/campos\n    const id = parsed.id ?? key;\n\n    const publishedAtISO =\n      parsed.publishedAtISO ??\n      (parsed.publishedAt\n        ? new Date(parsed.publishedAt.replace(\" \", \"T\") + \"Z\").toISOString()\n        : null);\n\n    const publishedAtEpoch =\n      typeof parsed.publishedAtEpoch === \"number\" &&\n      !Number.isNaN(parsed.publishedAtEpoch)\n        ? parsed.publishedAtEpoch\n        : publishedAtISO\n          ? Math.floor(Date.parse(publishedAtISO) / 1000)\n          : null;\n\n    let durationSeconds = null;\n    if (typeof parsed.durationSeconds === \"number\") {\n      durationSeconds = parsed.durationSeconds;\n    } else if (\n      typeof parsed.durationSeconds === \"string\" &&\n      parsed.durationSeconds.trim() !== \"\"\n    ) {\n      const n = Number(parsed.durationSeconds);\n      durationSeconds = Number.isFinite(n) ? n : null;\n    }\n\n    out.push({\n      json: {\n        id,\n        title: parsed.title ?? null,\n        duration: parsed.duration ?? null,\n        durationSeconds,\n        publishedAt: parsed.publishedAt ?? null,\n        publishedAtISO,\n        publishedAtEpoch,\n        url: parsed.url ?? null,\n        channelId: parsed.channelId ?? null,\n        videoId: parsed.videoId ?? null,\n        processed: false,\n      },\n    });\n  }\n}\n\n// Se quiser FIFO: descomente a ordenação abaixo.\n// out.sort((a, b) => (a.json.publishedAtEpoch ?? 0) - (b.json.publishedAtEpoch ?? 0));\n\nreturn { out };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -336
      ],
      "id": "6e9c8d01-1757-495a-aacc-fcb58220c62f",
      "name": "filter unprocesseds1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76116d08-daa9-470e-81ab-f0a7117453cc",
              "name": "out",
              "value": "={{ $json.out}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        -336
      ],
      "id": "07aebac1-5553-489e-af67-73e852fe61f5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "out",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1584,
        -336
      ],
      "id": "8c284916-da0c-40cc-8865-89c4b89ac1e9",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        -336
      ],
      "id": "0cb15aaa-56ff-427f-a131-cec5a0a85406",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_CHANNEL_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_CHANNEL_ID": {
      "main": [
        [
          {
            "node": "LISTA DO YOUTUBE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESULT": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If video not exists": {
      "main": [
        [
          {
            "node": "Create Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Data": {
      "main": [
        [
          {
            "node": "Check if video exists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if video exists": {
      "main": [
        [
          {
            "node": "If video not exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if video exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LISTA DO YOUTUBE": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if video exists2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All": {
      "main": [
        [
          {
            "node": "Get Umprocesseds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Umprocesseds": {
      "main": [
        [
          {
            "node": "Has no processeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has no processeds": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "Get All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All2": {
      "main": [
        [
          {
            "node": "filter unprocesseds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter unprocesseds1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get All2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "84a4d7c2-e85a-4a04-a363-3228f0478265",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-06T20:11:41.663Z",
      "updatedAt": "2025-09-06T20:11:41.663Z",
      "role": "workflow:owner",
      "workflowId": "ee2vyA9GjQWfLSET",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "createdAt": "2025-08-20T20:52:17.088Z",
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-20T20:52:17.089Z",
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "createdAt": "2025-08-20T20:52:15.066Z",
              "updatedAt": "2025-10-17T11:19:06.000Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}