env/n8n_workflow/backup/eWSuR2lrNs25cJ8B_@VIDEO_CUT_AGENT_DETECTOR.json
{
  "createdAt": "2025-09-13T20:23:13.205Z",
  "updatedAt": "2025-10-07T14:00:21.000Z",
  "id": "eWSuR2lrNs25cJ8B",
  "name": "@VIDEO_CUT_AGENT_DETECTOR",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini-2025-01-31",
          "mode": "list",
          "cachedResultName": "o3-mini-2025-01-31"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        368
      ],
      "id": "0c6867d5-cd1f-4e53-a30c-614af24c70aa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VYXpJ372t4VzzgvC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": " [\n      {\n        \"videoCutStartTime\": 10,\n        \"videoCutEndTime\": 10,\n        \"videoCutTitle\": \"Titulo aqui\",\n        \"videoCutDescription\": \"Descricao aqui\",\n        \"videoHardHook\": \"hard hook aqui\",\n        \"videoTags\": [\"tags\"],\n        \"videoUrl\": \"videoURL\",\n        \"thumbTexts\": [\"Thumbs\"],\n        \"playlist\": {\"nome\": \"Playlistname\",\"id\": \"PlaylistId\"}\n      }\n]\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        192
      ],
      "id": "0414f631-6539-45e9-9544-95b936139500",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=strSubtitle: {{ $('Start').item.json.videoTranscription }}\nvideoUrl: https://www.youtube.com/watch?v={{ $('Start').item.json.videoId }} \nsecondsToRemove: {{ 17 }}\nplaylists: {{ $json.PLAYLISTS }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Prompt — Corte Único de Vídeo a partir de Legendas\n\nVocê é um assistente de IA especializado em analisar **legendas/transcrições de vídeos** para identificar **um único melhor momento** para cortar em um clipe curto e envolvente.\n\n---\n\n## ENTRADAS\n- **Transcrição (legendas)** do vídeo: `{strSubtitle}`\n- **URL do vídeo**: `{videoUrl}`\n- **Playlists disponíveis** (lista de objetos com `nome` e `id`): `{playlists}`\n- **Segundos a remover no final** do vídeo original (para cortar CTA genérico): `{secondsToRemove}`\n\n> **Retorne apenas *um* segmento** (máximo **1** corte).\n\n---\n\n## INSTRUÇÕES DE SEGMENTAÇÃO\n1. **Identificação do segmento**\n   - Encontre um trecho onde **um tópico/ideia-chave** seja **introduzido** e **concluído naturalmente**.\n   - Evite cortes bruscos **imediatamente antes** de começar um novo assunto.\n\n2. **Duração dinâmica (ajustar conforme a duração do vídeo)**\n   - Vídeos **curtos** (≈ até **12 min**): segmentos entre **~4–5 min** (240–300 s), **sem ultrapassar a duração real disponível**.\n   - Vídeos **médios** (≈ **13–30 min**): segmentos entre **~5–7 min** (300–420 s).\n   - Vídeos **longos** (≈ **30+ min**): segmentos entre **~8–12 min** (480–720 s).\n   - **Importante:** crie **no máximo 1** segmento, escolhendo **o mais relevante e polêmico** (por intensidade do tema, impacto emocional, humor ou controvérsia).\n   - Ao processar o **segmento final** do vídeo (neste prompt sempre haverá **um único** segmento), **exclua os últimos `{secondsToRemove}` segundos** da **duração total do vídeo** para evitar CTAs genéricos sem conteúdo relevante.\n\n---\n\n## SAÍDA DO SEGMENTO (EM PORTUGUÊS)\nPara o **único** segmento gerado, forneça os campos abaixo:\n\n### a) Título (`videoCutTitle`)\n- Em **português**, **atraente** e **diretamente conectado** ao que o orador diz.\n- Use **ALGUMAS PALAVRAS IMPORTANTES EM MAIÚSCULAS** para ênfase.\n- **Sempre** termine com **\" - CORTE!\"**.\n- **Sem palavrões**.\n- **Comprimento máximo**: **90 caracteres** (com espaços).\n- **Não inclua** os caracteres: `<`, `=`, `/`, `+`.  \n- **Estruturas e “pegadas” recomendadas (escolha a que melhor se encaixa na transcrição):**\n  1. **[PERSONAGEM] [VERBO FORTE] [ALVO] — CORTE!**  \n      Ex.: \"MINISTRO X BARRA Y — CORTE!\"\n  2. **[X] vs [Y]: [EVENTO] [VERBO/RESULTADO] — CORTE!**  \n      Ex.: \"BARROSO vs MORAES: TENSÃO EXPLODE — CORTE!\"\n  3. **[ATO/DECISÃO] [PALAVRA-GANCHO]: [PERSONAGEM] [REAÇÃO] — CORTE!**  \n      Ex.: \"VISTO NEGADO: PADILHA DESAFIA ESTADOS UNIDOS — CORTE!\"\n  4. **[INSTITUIÇÃO] EM [CRISE/QUEDA]: [PERSONAGEM] NO FOCO — CORTE!**  \n      Ex.: \"FULANO COMPLETAMENTE FERRADO: CICLANO NO LIMITE — CORTE!\"\n\n- **Orientação editorial (sempre baseada na transcrição, sem inventar):** destaque a relação de conflito e causalidade, deixando claro **quem se ferrou**, **quem ferrou quem** ou **quem foi ferrado por quem**. Use verbos fortes aceitáveis (ex.: **FERRA**, **ARRUINAR**, **EXPÕE**, **DESABA**, **ACUA**, **DETONA**, **BATE DE FRENTE**, **REAGE**, entre outros disponíveis na transcrição).\n  \n**Observação:** o **hífen** usado no sufixo **\" - CORTE!\"** é permitido.\n\n### b) Descrição (`videoCutDescription`)\n- **Resumo breve** do que é discutido no trecho.\n- Inclua **pelo menos duas referências** (diretas ou parafraseadas) da transcrição.\n- Misture **PALAVRAS-CHAVE EM MAIÚSCULAS** com outras em **minúsculas**.\n- Estimule o espectador a assistir destacando algo **intrigante** ou **útil**.\n- **No final da descrição**, inclua **exatamente** esta frase:  \n  **`Créditos para o canal @ancap_su. Veja o vídeo completo: {videoUrl}.`**\n\n### c) *Hard Hook* (`videoHardHook`)\n- **Uma** frase curta, **provocativa e polêmica** (≈ **12–15 s** quando lida em voz alta).\n- Tom **assertivo e confrontador** (pode ser jocoso/humorado conforme o conteúdo).\n- **Objetivo:** agarrar atenção **instantaneamente**, gerar **curiosidade/inquietação** e **impulsionar** o público a continuar vendo o clipe.\n- **Mencione explicitamente o tema principal** do vídeo para deixar **claro sobre o que é** e **por que importa**.\n- **Sem abreviações**: escreva **por extenso** (ex.: “Estados Unidos”, “cinco metros”, “duas horas”, etc.).\n\n### d) Tags SEO (`videoTags`)\n- **Pelo menos 20** tags **em português**, todas **claramente relacionadas** ao conteúdo do segmento.\n\n### e) Textos de Thumbnail (`thumbTexts`)\n- **Baseados estritamente** no conteúdo **real** do corte (não invente temas/frases não ditos ou não implicados).\n- **Forma e limites** (quatro strings que juntas formam **uma frase de impacto**):\n  1. **Primeira**: **2 palavras**, **máx. 17 caracteres** (com espaços).\n  2. **Segunda**: **3 palavras**, **máx. 25 caracteres** (com espaços).\n  3. **Terceira**: **3 palavras**, **máx. 25 caracteres** (com espaços).\n  4. **Quarta**: **3 palavras**, **máx. 20 caracteres** (com espaços).\n- **Linguagem simples, clara e forte**; **chamativa**; **alinhada** ao **título** e ao **assunto central**.\n- **Não repita palavras** entre as quatro strings.\n\n### f) Playlist (`playlist`)\n- Dada a lista `{playlists}`, **escolha exatamente um** objeto da lista cujo `nome` **mais se aproxima** do **tema principal** do segmento.\n- **Retorne o objeto escolhido exatamente como recebido** (com `nome` e `id`).\n\n---\n\n## FORMATO DE SAÍDA (RETORNE APENAS O ARRAY JSON)\n> **A saída deve ser um JSON válido**. **Não inclua** texto extra nem formatação Markdown. **Retorne apenas o array JSON cru.**\n\n```json\n[\n  {\n    \"videoCutStartTime\": number,\n    \"videoCutEndTime\": number,\n    \"videoCutTitle\": \"string\",\n    \"videoCutDescription\": \"string\",\n    \"videoHardHook\": \"string\",\n    \"videoTags\": [\"string\", \"...\"],\n    \"videoUrl\": \"{videoUrl}\",\n    \"thumbTexts\": [\"string\", \"string\", \"string\", \"...\"],\n    \"playlist\": { \"nome\": \"string\", \"id\": \"string\" }\n  }\n]\n```\n\n---\n\n## LEMBRETES\n- **Português apenas** para título, descrição, *hard hook* e tags.\n- Realce **PALAVRAS-CHAVE** em **MAIÚSCULAS** (quando fizer sentido).\n- **Aderência estrita** à transcrição real: **não invente** conteúdo.\n- **Máximo 1** segmento. Sempre escolha **o mais relevante/polêmico**.\n- Para o **segmento final** (neste prompt, o único), **desconte `{secondsToRemove}` segundos** do final do vídeo original.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "af4510b9-8889-4f62-a2b8-63c7edbbf538",
      "name": "Bot",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"videoTranscription\": \"a string\",\n  \"videoId\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        0
      ],
      "id": "35577217-c11b-4e37-918c-340fe98c4860",
      "name": "Start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        0
      ],
      "id": "0d4768f1-bb1b-4b96-9062-e7e800af991e",
      "name": "@GLOBAL_ANCAPSU"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Bot",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Bot",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Start": [
      {
        "json": {
          "videoTranscription": "1\n00:00:00,000 --> 00:00:03,060\n Esse é um encapsulo e nós vamos falar agora sobre o Peninha, né?\n\n2\n00:00:03,140 --> 00:00:06,400\n O Eduardo Bueno, que é um historiador lá do Rio Grande do Sul,\n\n3\n00:00:06,540 --> 00:00:08,279\n que fez uma declaração...\n\n4\n00:00:08,279 --> 00:00:10,700\n O cara é relativamente famoso, ele tem um canal no YouTube,\n\n5\n00:00:10,919 --> 00:00:12,660\n ele já publicou livros e coisa e tal.\n\n6\n00:00:13,419 --> 00:00:18,600\n E ele fez um comentário bastante indelicado sobre a morte do Charlie Kirk, né?\n\n7\n00:00:18,620 --> 00:00:20,559\n Vocês sabem, eu sou a favor da liberdade de expressão,\n\n8\n00:00:20,660 --> 00:00:23,100\n eu acho que as pessoas têm o direito de se expressar,\n\n9\n00:00:23,140 --> 00:00:25,600\n por mais que as opiniões delas sejam opiniões idiotas.\n\n10\n00:00:25,600 --> 00:00:30,900\n E é lógico, o cara recebeu o carinho esperado do pessoal, né?\n\n11\n00:00:30,920 --> 00:00:34,320\n Todo mundo tentou cancelar ele, criticou ele por isso e até aí tudo bem.\n\n12\n00:00:34,980 --> 00:00:38,039\n Inclusive, a PUC cancelou a apresentação que ele faria,\n\n13\n00:00:38,460 --> 00:00:41,579\n uma livraria do Rio Grande do Sul cancelou também o evento que teria com ele.\n\n14\n00:00:42,159 --> 00:00:45,120\n Algumas pessoas me disseram que o History Channel\n\n15\n00:00:45,120 --> 00:00:47,760\n cancelou o programa que ele tinha na History Channel,\n\n16\n00:00:48,219 --> 00:00:49,780\n mas eu não consegui confirmar isso,\n\n17\n00:00:49,880 --> 00:00:53,000\n então não sei se é verdade que cancelou o programa dele na History ou não.\n\n18\n00:00:53,299 --> 00:00:55,000\n Mas o fato é que...\n\n19\n00:00:56,280 --> 00:00:57,899\n Isso até aí tudo normal. Por quê?\n\n20\n00:00:58,380 --> 00:01:00,660\n Porque são pessoas reclamando para o empregador,\n\n21\n00:01:00,780 --> 00:01:03,340\n e o empregador chegando à conclusão de que deve cancelar a pessoa.\n\n22\n00:01:03,460 --> 00:01:04,079\n Eu acho isso normal.\n\n23\n00:01:04,400 --> 00:01:06,500\n Inclusive, quando aconteceu com a direita, eu falava a mesma coisa.\n\n24\n00:01:06,579 --> 00:01:07,680\n Eu falava, isso é normal, acontece.\n\n25\n00:01:08,359 --> 00:01:11,980\n A pessoa entrou em contato com o empregador e reclamou e coisa e tal.\n\n26\n00:01:12,060 --> 00:01:15,520\n Eu acho errado, eu acho que o empregador não deveria fazer isso\n\n27\n00:01:15,520 --> 00:01:18,939\n quando é uma crítica que é justa, é algo que não tem nada de mais.\n\n28\n00:01:19,299 --> 00:01:22,020\n No caso dele, eu acho que é uma crítica realmente absurda,\n\n29\n00:01:22,020 --> 00:01:25,200\n ou seja, ele realmente deveria ser cancelado pelo que aconteceu.\n\n30\n00:01:25,599 --> 00:01:28,459\n Mas enfim, o ponto é que a decisão só tem coisa voluntária,\n\n31\n00:01:28,559 --> 00:01:30,739\n não tem ninguém forçando nada a ninguém.\n\n32\n00:01:31,359 --> 00:01:35,539\n Mas a coisa toma um outro tom quando a gente envolve o governo americano.\n\n33\n00:01:35,659 --> 00:01:36,719\n Vamos entender esse caso aqui?\n\n34\n00:01:36,799 --> 00:01:39,319\n Essa notícia foi sugerida por Bom Dia, Boa Tarde, Boa Noite,\n\n35\n00:01:39,659 --> 00:01:42,539\n Anistia Geral, os bloqueados pelo Peter e várias outras pessoas.\n\n36\n00:01:42,699 --> 00:01:45,659\n Obrigado aí ao pessoal que sugeriu notícias lá no nosso site,\n\n37\n00:01:45,739 --> 00:01:47,039\n no visãolibertaria.com.\n\n38\n00:01:47,399 --> 00:01:49,079\n E obrigado a você que está assistindo o nosso vídeo.\n\n39\n00:01:49,079 --> 00:01:53,459\n Se você gosta do nosso conteúdo, por favor, deixa o seu like e se inscreva aqui no canal.\n\n40\n00:01:53,979 --> 00:01:55,439\n Pois bem, como eu falei para vocês,\n\n41\n00:01:55,439 --> 00:01:58,179\n a morte do Charlie Kirk, o assassinato do Charlie Kirk,\n\n42\n00:01:58,640 --> 00:02:01,439\n realmente fez uma mudança de tom na direita,\n\n43\n00:02:01,539 --> 00:02:03,599\n porque até o pessoal que é de centro,\n\n44\n00:02:03,719 --> 00:02:06,879\n o pessoal que não é ligado à direita diretamente,\n\n45\n00:02:07,019 --> 00:02:08,379\n percebeu o absurdo que é isso.\n\n46\n00:02:08,479 --> 00:02:11,460\n O cara, um pai de família, que estava numa universidade,\n\n47\n00:02:11,659 --> 00:02:14,000\n falando, você não gosta das opiniões dele.\n\n48\n00:02:14,060 --> 00:02:15,960\n Ah, beleza, discute com o cara.\n\n49\n00:02:16,120 --> 00:02:17,960\n Ele não estava agredindo ninguém, né?\n\n50\n00:02:18,819 --> 00:02:23,419\n Enfim, o pessoal viu o absurdo que é alguém da esquerda matar esse cara.\n\n51\n00:02:23,419 --> 00:02:25,319\n A esquerda perdeu o tom.\n\n52\n00:02:25,439 --> 00:02:27,439\n E o que eu acho que é muito interessante,\n\n53\n00:02:27,539 --> 00:02:29,539\n é que o que eu vi no vídeo,\n\n54\n00:02:29,639 --> 00:02:31,639\n que era muito conhecido,\n\n55\n00:02:31,740 --> 00:02:33,740\n havia uma visão por parte do centro,\n\n56\n00:02:33,840 --> 00:02:36,840\n ou parte da esquerda, digamos, intermediária,\n\n57\n00:02:36,939 --> 00:02:38,939\n da centro-esquerda,\n\n58\n00:02:39,039 --> 00:02:41,039\n de que a esquerda é a paz,\n\n59\n00:02:41,139 --> 00:02:43,139\n é o pessoal razoável,\n\n60\n00:02:43,240 --> 00:02:45,240\n é o pessoal que tem a posição,\n\n61\n00:02:45,340 --> 00:02:47,340\n é o governo do amor.\n\n62\n00:02:47,439 --> 00:02:49,439\n Já ouviu esse papo? Pois é.\n\n63\n00:02:49,539 --> 00:02:51,439\n Ficou claro nesse evento que não,\n\n64\n00:02:51,539 --> 00:02:54,539\n que a esquerda é violenta, absurdamente violenta,\n\n65\n00:02:54,539 --> 00:02:55,539\n nesse caso.\n\n66\n00:02:55,639 --> 00:02:57,639\n E aí, isso ficou claro para todo mundo.\n\n67\n00:02:57,739 --> 00:02:59,739\n O pessoal percebeu esse problema,\n\n68\n00:02:59,840 --> 00:03:01,840\n percebeu essa mudança muito clara nisso daqui, né?\n\n69\n00:03:01,939 --> 00:03:03,939\n E aí, o que acontece?\n\n70\n00:03:04,039 --> 00:03:07,039\n Lá nos Estados Unidos, criou-se esse movimento\n\n71\n00:03:07,139 --> 00:03:09,139\n de denunciar pessoas para empresas,\n\n72\n00:03:09,239 --> 00:03:11,239\n para empresas que a pessoa trabalha e coisa e tal.\n\n73\n00:03:11,340 --> 00:03:13,340\n E eu acho que isso é válido.\n\n74\n00:03:13,439 --> 00:03:15,439\n Isso é uma solução libertária.\n\n75\n00:03:15,539 --> 00:03:17,539\n Eu sempre falei isso.\n\n76\n00:03:17,639 --> 00:03:19,639\n Situações como, por exemplo, o Sleeping Giants aqui no Brasil.\n\n77\n00:03:19,739 --> 00:03:21,739\n Eu falei, não, isso é uma solução libertária.\n\n78\n00:03:21,840 --> 00:03:22,639\n Defenda esse tipo de coisa.\n\n79\n00:03:22,739 --> 00:03:24,439\n Sei que é ruim para a direita.\n\n80\n00:03:24,539 --> 00:03:26,039\n Mas, como eu falei para vocês na época,\n\n81\n00:03:26,139 --> 00:03:29,240\n isso não tem escalabilidade se for uma coisa injusta.\n\n82\n00:03:29,340 --> 00:03:31,439\n E aí, é que é o grande problema.\n\n83\n00:03:31,539 --> 00:03:33,439\n O que o pessoal da esquerda não percebeu\n\n84\n00:03:33,539 --> 00:03:36,240\n é que eles validaram essa arma para a gente\n\n85\n00:03:36,340 --> 00:03:38,740\n e nós temos muito mais força do que eles.\n\n86\n00:03:38,840 --> 00:03:41,240\n Tanto que os esquerdistas estão apavorados.\n\n87\n00:03:41,340 --> 00:03:43,939\n Por quê? Porque agora que o pessoal começou a usar essa arma\n\n88\n00:03:44,039 --> 00:03:46,939\n de denunciar o pessoal da esquerda por violência,\n\n89\n00:03:47,039 --> 00:03:50,939\n por falar coisa, as empresas estão demitindo muita gente.\n\n90\n00:03:51,039 --> 00:03:52,439\n Muita gente está perdendo o contrato.\n\n91\n00:03:52,539 --> 00:03:54,340\n Isso não é de agora, não.\n\n92\n00:03:54,439 --> 00:03:55,740\n Eu vou contar isso aqui há algum tempo.\n\n93\n00:03:55,840 --> 00:03:58,340\n Você sabe, o Felipe Neto, por exemplo, reclama abertamente\n\n94\n00:03:58,439 --> 00:04:00,340\n de que não consegue um contrato de publicidade.\n\n95\n00:04:00,439 --> 00:04:02,340\n Por quê? Porque ele ficou ligado à esquerda.\n\n96\n00:04:02,439 --> 00:04:04,840\n O pessoal da direita é muito mais populoso.\n\n97\n00:04:04,939 --> 00:04:07,539\n O pessoal da direita é o principal público consumidor.\n\n98\n00:04:07,639 --> 00:04:11,340\n Veja bem, a esquerda tem um extrato muito alto,\n\n99\n00:04:11,439 --> 00:04:14,840\n o pessoal rico, a elite aristocrática socialista do país,\n\n100\n00:04:14,939 --> 00:04:18,540\n é de esquerda e tem a base totalmente miserável.\n\n101\n00:04:18,639 --> 00:04:20,639\n O pessoal muito pobre, o pessoal sem muita educação,\n\n102\n00:04:20,740 --> 00:04:22,540\n que está lá na base da pirâmide.\n\n103\n00:04:22,639 --> 00:04:24,339\n E por que isso é um problema?\n\n104\n00:04:24,339 --> 00:04:26,239\n Porque economicamente o pessoal, o topo,\n\n105\n00:04:26,339 --> 00:04:28,239\n eles têm muito dinheiro, podem gastar muito dinheiro,\n\n106\n00:04:28,339 --> 00:04:31,739\n mas eles não são muitos, então eles não consomem muito.\n\n107\n00:04:31,839 --> 00:04:34,539\n Em termos econômicos, eles acabam não tendo muito impacto.\n\n108\n00:04:34,639 --> 00:04:38,439\n Eles compram muito bolsas Louis Vuitton, Bentley,\n\n109\n00:04:38,539 --> 00:04:40,239\n carros de luxo e coisa e tal,\n\n110\n00:04:40,339 --> 00:04:43,639\n mas em termos de consumo normal, eles não são nada.\n\n111\n00:04:43,739 --> 00:04:45,439\n E a base da pirâmide é a mesma coisa.\n\n112\n00:04:45,539 --> 00:04:49,239\n A base da pirâmide é muita gente, mas eles não têm dinheiro,\n\n113\n00:04:49,339 --> 00:04:50,939\n então também não compram muita coisa.\n\n114\n00:04:51,039 --> 00:04:54,239\n O resto, o pessoal que tem dinheiro, que tem volume,\n\n115\n00:04:54,339 --> 00:04:55,339\n é a direita.\n\n116\n00:04:55,439 --> 00:04:57,339\n E esse é o problema para o pessoal.\n\n117\n00:04:57,439 --> 00:05:01,339\n Esse tipo de boicote econômico, de você reclamar para o empregador,\n\n118\n00:05:01,439 --> 00:05:06,339\n reclamar contra a empresa, isso é muito mais efetivo contra a esquerda\n\n119\n00:05:06,439 --> 00:05:07,839\n do que a favor da esquerda.\n\n120\n00:05:07,939 --> 00:05:10,839\n Então, a esquerda começou usando essa brincadeira,\n\n121\n00:05:10,939 --> 00:05:13,839\n e na época eu falei, isso é válido, isso é libertário,\n\n122\n00:05:13,939 --> 00:05:17,339\n eu acho que entrar na justiça é errado, acionar governo é errado,\n\n123\n00:05:17,439 --> 00:05:21,339\n mas ligar para a empresa, eu acho válido.\n\n124\n00:05:21,439 --> 00:05:23,239\n É ruim? É ruim.\n\n125\n00:05:23,240 --> 00:05:26,240\n É lógico que é ruim. A ideia é essa, é ser uma punição,\n\n126\n00:05:26,340 --> 00:05:30,240\n mas no final das contas é válido, é algo que é justo.\n\n127\n00:05:30,340 --> 00:05:32,740\n E eu falei para vocês na época para ficarem tranquilos.\n\n128\n00:05:32,840 --> 00:05:34,740\n Por quê? Porque a esquerda não tem argumento.\n\n129\n00:05:34,840 --> 00:05:38,639\n E se as empresas começarem a tirar propaganda desse segmento,\n\n130\n00:05:38,740 --> 00:05:40,740\n que é o segmento que principalmente consome,\n\n131\n00:05:40,840 --> 00:05:44,439\n de novo, o pessoal muito pobre não tem dinheiro e não vai consumir.\n\n132\n00:05:44,540 --> 00:05:46,840\n O pessoal muito rico até tem dinheiro, mas não tem volume,\n\n133\n00:05:46,939 --> 00:05:48,840\n não consome muita coisa porque não tem volume.\n\n134\n00:05:48,939 --> 00:05:53,139\n Então, o que resta somos nós, é a direita, é a classe média,\n\n135\n00:05:53,139 --> 00:05:54,639\n é o pessoal que está ali no meio do caminho,\n\n136\n00:05:54,740 --> 00:05:58,439\n que justamente é quem tem algum dinheiro, não é rico, mas tem algum dinheiro,\n\n137\n00:05:58,539 --> 00:06:01,339\n e tem números, muita gente para consumir.\n\n138\n00:06:01,439 --> 00:06:03,839\n Esse tipo de coisa acabou virando ao nosso favor.\n\n139\n00:06:03,939 --> 00:06:07,439\n E agora que teve um caso clássico, um caso absurdo,\n\n140\n00:06:07,539 --> 00:06:12,339\n evidentemente que isso virou um problema para a esquerda.\n\n141\n00:06:12,439 --> 00:06:15,439\n E esse caso aqui do Peninha é um caso clássico\n\n142\n00:06:15,539 --> 00:06:17,939\n porque mostra esse tipo de coisa exatamente.\n\n143\n00:06:18,039 --> 00:06:22,939\n O cara perdeu aqui... O que ele falou do Charlie Kirk,\n\n144\n00:06:22,939 --> 00:06:24,939\n é nojento, tá? O que ele falou aqui...\n\n145\n00:06:25,040 --> 00:06:28,839\n Eu não vou nem tocar o vídeo dele aqui, tem o vídeo dele aqui, ele falando,\n\n146\n00:06:28,939 --> 00:06:33,540\n mas ele fala basicamente que é terrível um ativista ser morto por suas ideias,\n\n147\n00:06:33,639 --> 00:06:35,339\n exceto quando é o Charlie Kirk.\n\n148\n00:06:35,439 --> 00:06:36,540\n Mataram o Charlie Kirk.\n\n149\n00:06:36,639 --> 00:06:39,339\n Ai, coitado, tomou um tiro, não sei se na cara.\n\n150\n00:06:39,439 --> 00:06:41,540\n Ou seja, o cara todo feliz, rindo.\n\n151\n00:06:41,639 --> 00:06:44,639\n O Charlie Kirk tem duas filhas pequenas, que bom para as filhas dele,\n\n152\n00:06:44,740 --> 00:06:46,939\n que bom que completou ele diante das críticas.\n\n153\n00:06:47,040 --> 00:06:51,839\n Ele depois excluiu esse canal e gravou outro se queixando de censura.\n\n154\n00:06:51,939 --> 00:06:52,839\n Então, ele falou isso.\n\n155\n00:06:52,939 --> 00:06:58,839\n Que bom que as meninas iam crescer sem o pai, os filhos iam crescer sem o pai.\n\n156\n00:06:58,939 --> 00:07:00,839\n Na verdade, o Charlie Kirk não tem duas filhas pequenas,\n\n157\n00:07:00,939 --> 00:07:02,839\n ele tem uma filha e um filho, né?\n\n158\n00:07:02,939 --> 00:07:05,339\n Mas, de qualquer forma, vocês entenderam a ideia, né?\n\n159\n00:07:05,439 --> 00:07:07,339\n Então, assim, nojento o que ele fala aqui.\n\n160\n00:07:07,439 --> 00:07:09,839\n E aí, depois disso, ele sofreu...\n\n161\n00:07:09,939 --> 00:07:12,839\n Isso não é censura? Isso não é censura, isso é boicote.\n\n162\n00:07:12,939 --> 00:07:14,839\n Isso é libertário, tá?\n\n163\n00:07:14,939 --> 00:07:18,839\n Censura é diferente. Censura é necessariamente estatal.\n\n164\n00:07:18,939 --> 00:07:22,839\n É quando você proíbe alguém de falar alguma coisa. Isso é censura.\n\n165\n00:07:22,839 --> 00:07:28,739\n E eu estou para dizer para vocês que nem mesmo a questão da resposta à censura é errada, né?\n\n166\n00:07:28,839 --> 00:07:34,739\n Assim, o governo impõe regras que se você falar determinadas coisas, você vai pagar por isso.\n\n167\n00:07:34,839 --> 00:07:37,739\n O que você não pode é proibir as pessoas de falar. Isso é censura, né?\n\n168\n00:07:37,839 --> 00:07:40,739\n E aí, ele está reclamando exatamente de censura, né?\n\n169\n00:07:40,839 --> 00:07:43,739\n E ele perdeu uma apresentação que ele faria na PUC\n\n170\n00:07:43,839 --> 00:07:49,739\n e também um evento com uma livraria no Rio Grande do Sul depois dessas críticas dele, né?\n\n171\n00:07:49,839 --> 00:07:51,739\n E mais do que isso...\n\n172\n00:07:51,740 --> 00:07:57,639\n Parece que tem também um negócio lá do History Channel, mas eu não consegui confirmar isso, então eu não sei.\n\n173\n00:07:57,740 --> 00:08:03,639\n Mais do que isso, o Nicolas Ferreira publicou aqui um vídeo dele com legendas em inglês\n\n174\n00:08:03,740 --> 00:08:07,639\n para avisar as autoridades americanas, inclusive porque...\n\n175\n00:08:07,740 --> 00:08:09,639\n Aí que está o negócio, né?\n\n176\n00:08:09,740 --> 00:08:12,639\n Em determinado momento, o pessoal começou a criticar a filha dele que mora em Austin.\n\n177\n00:08:12,740 --> 00:08:14,639\n No primeiro momento, eu falei assim, não, está errado isso.\n\n178\n00:08:14,740 --> 00:08:16,639\n Não pode criticar a filha do cara. A filha do cara não tem nada a ver com isso.\n\n179\n00:08:16,740 --> 00:08:20,639\n O cara é um idiota, beleza, mas a filha dele não tem nada a ver com isso.\n\n180\n00:08:20,639 --> 00:08:30,539\n Mas aí eu entendi qual foi o sentido, porque ele fala que a filha dele pode fazer um atentado contra o Elon Musk lá em Washington, Texas.\n\n181\n00:08:30,639 --> 00:08:36,539\n Ele fala isso. Então, quer ver? Vamos ouvir aqui o Sr. Peninha, as elucubrações dele aqui.\n\n182\n00:08:36,639 --> 00:08:42,539\n É sempre terrível, né? Um ativista ser morto por suas ideias.\n\n183\n00:08:42,639 --> 00:08:48,539\n Exceto... Exceto quando é o Charlie Kirk.\n\n184\n00:08:48,539 --> 00:08:54,439\n Mataram o Charlie Kirk. Ai, coitado, tomou um tiro, não sei se na cara.\n\n185\n00:08:54,539 --> 00:09:00,439\n O Charlie Kirk. Ai, é liberdade de expressão. O Charlie Kirk.\n\n186\n00:09:00,539 --> 00:09:03,439\n Repara um detalhe. Ele falou liberdade de expressão.\n\n187\n00:09:03,539 --> 00:09:10,439\n Eu não sei se ele quis dizer aquele truquezinho que a esquerda adora de confundir tiro com liberdade de expressão.\n\n188\n00:09:10,539 --> 00:09:14,439\n Não, ninguém diz que tiro é liberdade de expressão. Liberdade de expressão é liberdade de expressão.\n\n189\n00:09:14,539 --> 00:09:18,439\n Defender armas é liberdade de expressão. Ser contra armas é liberdade de expressão.\n\n190\n00:09:18,539 --> 00:09:23,439\n Agora, usar armas para matar alguém, aí não é liberdade de expressão. Aí é agressão.\n\n191\n00:09:23,539 --> 00:09:25,439\n Aí é outra história, totalmente diferente.\n\n192\n00:09:25,539 --> 00:09:30,439\n Esse é um ponto. A esquerda adora confundir liberdade com agressão, expressão com agressão.\n\n193\n00:09:30,539 --> 00:09:35,439\n Dizer que não, que se você fala mal dos homossexuais, então você está matando homossexuais.\n\n194\n00:09:35,539 --> 00:09:38,439\n Não, não é isso. Você está falando uma crítica a homossexuais.\n\n195\n00:09:38,539 --> 00:09:40,439\n Ah, mas essa crítica faz com que homossexuais...\n\n196\n00:09:40,539 --> 00:09:48,439\n Não, não faz não. Quem faz homossexual ser morto é a pessoa que pratica violência contra homossexuais exclusivamente.\n\n197\n00:09:48,540 --> 00:09:51,340\n É 100% culpa dessa pessoa.\n\n198\n00:09:51,440 --> 00:09:56,340\n Da mesma forma, e eu acho muito importante ressaltar isso, eu já vi pessoal da direita falando\n\n199\n00:09:56,440 --> 00:10:03,340\n não, que a culpa é da imprensa, porque a imprensa fica chamando o Charlie Kirk de extremista.\n\n200\n00:10:03,440 --> 00:10:08,340\n E ele que causou... Não, não é. A imprensa não tem nenhuma culpa nisso.\n\n201\n00:10:08,440 --> 00:10:13,340\n Eles estão errados? Estão errados. Devem ser criticados? Devem ser criticados.\n\n202\n00:10:13,440 --> 00:10:18,340\n Mas elas não têm culpa na morte do Charlie Kirk. Quem tem culpa na morte do Charlie Kirk\n\n203\n00:10:18,440 --> 00:10:24,240\n é o Mané lá, o tal do Tyler Robson, agora eu não lembro o nome do cara lá que pega.\n\n204\n00:10:24,340 --> 00:10:31,240\n Esse cara é o culpado, evidentemente. E se tiver alguém que incentivou ele diretamente, aí eu não sei,\n\n205\n00:10:31,340 --> 00:10:35,240\n ainda estão tendo investigações em cima disso, aí pode ser que essa pessoa seja culpada também.\n\n206\n00:10:35,340 --> 00:10:42,240\n Mas tomem cuidado com isso. Esse negócio de dizer que não porque a imprensa, ao chamar o Charlie Kirk de extremista,\n\n207\n00:10:42,340 --> 00:10:48,240\n está causando a morte do Charlie Kirk. Não, não comprem esse argumento. Esse argumento é terrível.\n\n208\n00:10:48,440 --> 00:10:54,240\n Porque é justamente a confusão que a esquerda adora fazer entre liberdade de expressão e agressão. Não é isso.\n\n209\n00:10:54,340 --> 00:10:59,240\n Porque senão eles vão dizer que qualquer coisa que você fale, ah, você está estimulando a violência contra algum grupo.\n\n210\n00:10:59,340 --> 00:11:04,240\n E aí pronto, você não pode mais criticar ninguém. Qualquer crítica que você fizer, você está estimulando a violência.\n\n211\n00:11:04,340 --> 00:11:11,240\n É o mesmo argumento que fez o STF ao dizer que o Bolsonaro ao criticar a urna eletrônica estava estimulando as pessoas\n\n212\n00:11:11,340 --> 00:11:18,240\n ali no 8 de janeiro e quebrar tudo. Enquanto não é verdade. Você está criticando alguma coisa, você não está estimulando nada.\n\n213\n00:11:18,440 --> 00:11:23,240\n Então, a imprensa está errada ao chamar o Charlie Kirk de extremista? Está errada. Está errada.\n\n214\n00:11:23,340 --> 00:11:29,240\n É um absurdo mesmo. Ainda mais depois da morte dele de forma tão dolorosa, de forma tão clara.\n\n215\n00:11:29,340 --> 00:11:35,240\n Mas dizer que a imprensa foi culpada por fazer isso, eu acho um erro no final das contas.\n\n216\n00:11:35,340 --> 00:11:40,240\n É um erro dos dois lados. É um erro primeiro porque não tem lógica na ética libertária.\n\n217\n00:11:40,340 --> 00:11:46,240\n E é um erro porque estrategicamente coloca a gente numa posição muito ruim. A partir daí você está justificando toda a perseguição\n\n218\n00:11:46,240 --> 00:11:50,139\n que a esquerda faz contra você por conta das suas ideias. E pronto.\n\n219\n00:11:50,240 --> 00:11:53,139\n Não, porque você está estimulando violência. Não pode, né?\n\n220\n00:11:53,240 --> 00:12:01,139\n O ponto importante é separar discurso de ação. Quem comete ação é que é o culpado.\n\n221\n00:12:01,240 --> 00:12:03,139\n Mas ele continua aqui.\n\n222\n00:12:03,240 --> 00:12:12,139\n Sabe quem é? Foi morto. Tem duas filhas pequenas. Que bom para as filhas dele, né? Que bom para as filhas dele.\n\n223\n00:12:12,240 --> 00:12:16,139\n Que vão crescer sem a presença do sujeito repugnante.\n\n224\n00:12:16,340 --> 00:12:24,139\n Canalha, racista, homofóbico, ligado ao pedófilo Donald Trump.\n\n225\n00:12:24,240 --> 00:12:26,139\n É minha filha.\n\n226\n00:12:26,240 --> 00:12:35,139\n Então, olha só. O que ele fala realmente é desprezível. Uma coisa absurda. Até porque essas acusações dele ser racista, sei lá o que, homofóbico, não procede.\n\n227\n00:12:35,240 --> 00:12:39,139\n O problema da esquerda é esse. Eles criaram espantalhos em cima disso.\n\n228\n00:12:39,240 --> 00:12:46,139\n Até o New York Times teve que se desculpar por uma matéria porque falou que ele era racista porque tinha uma frase que ele falava num vídeo.\n\n229\n00:12:46,340 --> 00:12:52,139\n Mas na verdade ele falava essa frase cotando um outro texto e ele criticava a frase no vídeo.\n\n230\n00:12:52,240 --> 00:12:56,139\n Então, ou seja, ele não é racista de forma alguma. Ele é um debatedor.\n\n231\n00:12:56,240 --> 00:13:02,139\n Enfim, é um absurdo isso daqui, essa visão. Mas, de novo, o Pelinha tem o direito de ter a opinião dele. Eu não vejo nada de errado com ele.\n\n232\n00:13:02,240 --> 00:13:10,139\n O que eu acho é o seguinte. Como você acha a visão dele ruim, e eu concordo, denunciar ele, pedir para cancelar o show, isso 100%. Pedir para cancelar.\n\n233\n00:13:10,240 --> 00:13:16,139\n Por quê? Porque se ele vier dar de expressão também, eu estou ligando para a PUC do Rio Grande do Sul e falo, olha só, PUC, eu não concordo com esse cara.\n\n234\n00:13:16,340 --> 00:13:24,139\n Eu acho um nojo você receber isso daí. Repara como é diferente de como a esquerda faz de botar um monte de aluno na universidade para proibir o cara de falar lá.\n\n235\n00:13:24,240 --> 00:13:32,139\n Não, ninguém quer... Violência física não se usa. Você usa argumento. Se você argumentou, ligou para lá e falou, olha só, é um absurdo esse cara palestrar aí.\n\n236\n00:13:32,240 --> 00:13:39,139\n Se palestrar aí eu não vou mais dar dinheiro, eu não vou comprar mais coisa, eu não vou mais fazer relação, não vou ter mais relações com essa universidade.\n\n237\n00:13:39,240 --> 00:13:46,139\n Aí é outra história. Isso é direito de qualquer um. É liberdade de expressão. Você pode fazer ou não fazer. O que você não pode fazer é usar violência.\n\n238\n00:13:46,340 --> 00:13:54,139\n E aí outra coisa que eu acho errado também é transcender isso para filhos, porque o filho não tem culpa do pai. E o pai também não tem culpa do filho.\n\n239\n00:13:54,240 --> 00:14:02,139\n Então assim, uma coisa é o que o pai falou, é uma merda. Mas e o filho? Agora, aí que está. Eu estava me confundindo nessa história. Por quê?\n\n240\n00:14:02,240 --> 00:14:12,139\n Porque depois eu vi que tem um trechinho que ele coloca nesse vídeo dele aqui também que é falando da filha dele. Um outro vídeo no canal do Peninha em que ele fala sobre a filha dele.\n\n241\n00:14:12,240 --> 00:14:16,139\n Então vamos ouvir esse trecho aqui do Peninha sobre a filha dele. Olha só.\n\n242\n00:14:16,340 --> 00:14:30,139\n É minha filha que está no Texas. Você acredita que minha filha está em Austin, no Texas? É. E pior que está perto de uma das casas do Elon Musk. Não sei o que ela vai fazer ali. Se houver algum atentado ali...\n\n243\n00:14:30,240 --> 00:14:44,139\n É, aí, ou seja, o cara deu uma sugestão de que talvez a filha dele cometesse algum atentado. E aí eu não sei, aí pode ser que realmente ele esteja fazendo... Ele colocou a filha dele nessa história.\n\n244\n00:14:44,240 --> 00:14:46,139\n Ou seja, não foi que o resto do pessoal buscou.\n\n245\n00:14:46,340 --> 00:14:54,139\n Ele buscou a filha dele e colocou nessa história. Ele colocou a filha dele nessa história de fazer ameaça contra a direita.\n\n246\n00:14:54,240 --> 00:15:02,139\n Então, de novo, acho um absurdo isso daqui. Acho que é digno de todas as reprimendas. Agora o pessoal está mandando isso lá para os Estados Unidos.\n\n247\n00:15:02,240 --> 00:15:14,139\n E é possível que ele perca o passaporte dele. De novo, eu acho que aí é uma coisa indevida. Se você envolveu o Estado, é indevido nessa história. Mas, de qualquer forma, ele fez por onde?\n\n248\n00:15:14,139 --> 00:15:21,039\n Lá nos Estados Unidos, como eu falei, essa onda está muito grande e está crescendo. E eu tenho a impressão de que isso vai ser um pesadelo para a esquerda.\n\n249\n00:15:21,139 --> 00:15:27,039\n Porque, como eu sempre falei para vocês, a direita é muito mais forte que a esquerda. Nós somos muito maiores, temos um poder econômico muito maior.\n\n250\n00:15:27,139 --> 00:15:39,039\n Embora a esquerda seja a elite aristocrática, tenha muita grana, eles são poucos. É só a elitezinha mesmo, só o topo da cadeia mesmo. O resto da galera é direita. E aí, esse pessoal vai se ferrar nessa brincadeira.\n\n251\n00:15:39,139 --> 00:15:44,039\n Agora, o Estado nem precisa. O cara é um idiota. Esse Eduardo Bueno é um idiota.\n\n252\n00:15:44,139 --> 00:15:55,039\n Não faz diferença nenhuma, no final das contas. Então, é isso aí. Ele se ferrou nessa história. Parece que ele fez um vídeo de pedido de desculpas, mas que, na verdade, ele criticava a censura, porque censuraram ele.\n\n253\n00:15:55,139 --> 00:16:03,039\n E, de novo, não. Isso não é censura, Eduardo Bueno. Isso não é censura. Você falou o que você quis e pode falar de novo o que você quis. E pode falar o que você quiser quantas vezes você quiser.\n\n254\n00:16:03,139 --> 00:16:13,039\n Eu não tenho problema nenhum com isso. Agora, tenha em mente que, se você falar alguma coisa que as pessoas não gostam, as pessoas vão se afastar de você. Isso é natural, faz parte da sociedade humana.\n\n255\n00:16:13,039 --> 00:16:21,939\n E, de novo, eu desaprovo esse negócio de usar Estado para punir a pessoa, porque isso é censura, quando o Estado coloca penas em você. Porque o Estado usa violência.\n\n256\n00:16:22,039 --> 00:16:32,939\n O Estado, quando te proíbe de ir a algum lugar, quando te proíbe de fazer alguma coisa, usa violência. Mas, quando é voluntário, quando é negócios privados, deixando de fazer negócio, sou plenamente a favor.\n\n257\n00:16:33,039 --> 00:16:41,939\n E, repito para vocês de novo, vão sem medo. Ah, mas a esquerda faz isso com a gente também. Faz, faz com a gente também e perdem. No longo prazo, vão perder.\n\n258\n00:16:41,940 --> 00:16:48,840\n É o que aconteceu com o Sleeping Giants do Brasil. Você já ouviu falar do Sleeping Giants do Brasil? Quantas coisas que eles conseguiram cancelar recentemente, não conseguem cancelar mais nada.\n\n259\n00:16:48,940 --> 00:16:57,840\n Porque nenhuma empresa mais é maluca de obedecer ao Sleeping Giants. Por quê? Porque perceberam que deixar de fazer propaganda em canais da direita é ficar sem propaganda.\n\n260\n00:16:57,940 --> 00:17:05,840\n Vão vender para quem? Para o pessoal que não tem dinheiro da base da pirâmide ou para o pessoal super rico, como é que só tem três pessoas lá? Não conseguem vender para mais ninguém.\n\n261\n00:17:05,940 --> 00:17:10,840\n Então, no final das contas, não tem jeito. A economia está do nosso lado. E é a economia que ganha no final.\n\n262\n00:17:10,839 --> 00:17:20,740\n Mas, para complementar, talvez seja isso aqui. O podcast Nós na História, que talvez tivesse a ver com o History Channel. Eu confesso que eu não sei. Eu vi essa parada do History Channel.\n\n263\n00:17:20,839 --> 00:17:32,740\n Ou talvez seja outra coisa ainda diferente. O pessoal aqui decidiu cancelar o podcast Nós na História. Os outros historiadores que faziam esse podcast com o Peninha desistiram de fazer isso.\n\n264\n00:17:32,839 --> 00:17:40,740\n É isso aí. Está correto. Exatamente. Pressão social. O cara falou uma merda, está sendo punido socialmente pela merda que falou. Não tem nada a ver com o Senado.\n\n265\n00:17:41,439 --> 00:17:54,839\n A edição está em Thai em 2018 de\n\n266\n00:17:55,139 --> 00:18:05,740\n trabalho, mas opa!\n",
          "videoId": "{{ $('Loop Over Items').item.json.videoId }}"
        }
      }
    ]
  },
  "versionId": "021a741c-4fd7-4947-ace4-045b914c1026",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-13T20:23:13.223Z",
      "updatedAt": "2025-09-13T20:23:13.223Z",
      "role": "workflow:owner",
      "workflowId": "eWSuR2lrNs25cJ8B",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "createdAt": "2025-08-20T20:52:17.088Z",
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-20T20:52:17.089Z",
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "createdAt": "2025-08-20T20:52:15.066Z",
              "updatedAt": "2025-10-17T11:19:06.000Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}