env/n8n_workflow/backup/eWSuR2lrNs25cJ8B_@VIDEO_CUT_AGENT_DETECTOR.json
{
  "updatedAt": "2026-01-08T18:44:16.000Z",
  "createdAt": "2025-09-13T20:23:13.205Z",
  "id": "eWSuR2lrNs25cJ8B",
  "name": "@VIDEO_CUT_AGENT_DETECTOR",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini-2025-01-31",
          "mode": "list",
          "cachedResultName": "o3-mini-2025-01-31"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        352
      ],
      "id": "0c6867d5-cd1f-4e53-a30c-614af24c70aa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VYXpJ372t4VzzgvC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": " [\n      {\n        \"videoCutStartTime\": 10,\n        \"videoCutEndTime\": 10,\n        \"videoCutTitle\": \"Titulo aqui\",\n        \"videoCutDescription\": \"Descricao aqui\",\n        \"videoHardHook\": \"hard hook aqui\",\n        \"videoTags\": [\"tags\"],\n        \"videoUrl\": \"videoURL\",\n        \"thumbTexts\": [\"Thumbs\"],\n        \"playlist\": {\"nome\": \"Playlistname\",\"id\": \"PlaylistId\"}\n      }\n]\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1184,
        176
      ],
      "id": "0414f631-6539-45e9-9544-95b936139500",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=strSubtitle: {{ $('Start').item.json.videoTranscription }}\nvideoUrl: https://www.youtube.com/watch?v={{ $('Start').item.json.videoId }} \nsecondsToRemove: {{ 17 }}\nplaylists: {{ $json.PLAYLISTS }}\npreviousBestVideos:{{ JSON.stringify($('Get Statistics').first().json?.statistics ?? {}) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Prompt — Corte Único de Vídeo a partir de Legendas (com aprendizado por estatísticas)\n\nVocê é um assistente de IA especializado em analisar **legendas/transcrições de vídeos** para identificar **um único melhor momento** para cortar em um clipe curto e envolvente **e** em **adaptar o estilo editorial do título, hard hook e textos de thumbnail** com base no histórico de desempenho informado em `previosBestVideos`.\n\n---\n\n## ENTRADAS\n- **Transcrição (legendas)** do vídeo: `{strSubtitle}`\n- **URL do vídeo**: `{videoUrl}`\n- **Playlists disponíveis** (lista de objetos com `nome` e `id`): `{playlists}`\n- **Segundos a remover no final** do vídeo original (para cortar CTA genérico): `{secondsToRemove}`\n- **Histórico de melhores vídeos para aprendizado de estilo**: `{previosBestVideos}`\n  - Esperado: *array* de objetos com, **pelo menos**, `title` (string) e alguma(s) métrica(s) de performance como `views` (number) e/ou `ctr` (number, %), e opcionalmente `likes` (number), `retention` (number, %), `tags` (string[]), `thumbTexts` (string[]).  \n  - Ex.: `[{\"title\":\"LULA ACUADO: STF REAGE !\",\"views\":277273,\"ctr\":7.8,\"tags\":[\"política\",\"STF\",\"Lula\"]}]`\n- Se o histórico de melhores videos vier vazio, apenas siga com as outras instruções sem usar isso\n\n> **Retorne apenas *um* segmento** (máximo **1** corte).\n\n---\n\n## INSTRUÇÕES DE SEGMENTAÇÃO\n1. **Identificação do segmento**\n   - Encontre um trecho onde **um tópico/ideia-chave** seja **introduzido** e **concluído naturalmente**.\n   - Evite cortes bruscos **imediatamente antes** de começar um novo assunto.\n\n2. **Duração dinâmica (ajustar conforme a duração do vídeo)**\n   - Vídeos **curtos** (≈ até **12 min**): segmentos entre **~4–5 min** (240–300 s), **sem ultrapassar a duração real disponível**.\n   - Vídeos **médios** (≈ **13–30 min**): segmentos entre **~5–7 min** (300–420 s).\n   - Vídeos **longos** (≈ **30+ min**): segmentos entre **~8–12 min** (480–720 s).\n   - **Importante:** crie **no máximo 1** segmento, escolhendo **o mais relevante e polêmico** (por intensidade do tema, impacto emocional, humor ou controvérsia).\n   - Ao processar o **segmento final** do vídeo (neste prompt sempre haverá **um único** segmento), **exclua os últimos `{secondsToRemove}` segundos** da **duração total do vídeo** para evitar CTAs genéricos sem conteúdo relevante.\n\n---\n\n## DIRECIONAMENTO DE ESTILO PELO `previosBestVideos`\nUse `{previosBestVideos}`, se houver, **exclusivamente para inferir padrões de estilo editorial** (não para inventar fatos). Siga este procedimento:\n\n1. **Rankeie mentalmente** os itens por desempenho (ex.: `ctr` > `retention` > `views` > `likes`, na ordem do que estiver disponível).\n2. **Extraia padrões** dos títulos de maior desempenho:\n   - Comprimento médio (caracteres/palavras).\n   - Uso de **MAIÚSCULAS** parciais (palavras-gatilho), **dois-pontos**/**travessão**, pares de conflito (**X vs Y**), verbos fortes (ex.: **EXPÕE, FERRA, ACUA, DETONA, REAGE, DESABA**, ou outros que se aplique ao caso. Não se prenda a os dos exemplos).\n   - Presença de nomes próprios e instituições (ex.: STF, Congresso, Estados Unidos, empresas).\n   - Estruturas recorrentes (templates).\n3. **Aplique os padrões ao novo título/hook/thumbnail**, **sem copiar** títulos antigos. Produza algo **original** e **aderente à transcrição**.\n4. **Alinhamento semântico**: se o histórico indica que **conflito explícito** e **causalidade** performam melhor, priorize esses elementos **apenas se estiverem na transcrição**.\n5. **Fallback**: se `{previosBestVideos}` estiver vazio/inválido, siga as regras editoriais gerais deste prompt.\n\n---\n\n## SAÍDA DO SEGMENTO (EM PORTUGUÊS)\nPara o **único** segmento gerado, forneça os campos abaixo:\n\n### a) Título (`videoCutTitle`)\n- Em **português**, **atraente** e **diretamente conectado** ao que o orador diz.\n- Use **ALGUMAS PALAVRAS IMPORTANTES EM MAIÚSCULAS** para ênfase.\n- **Sem palavrões**.\n- **Comprimento máximo**: **90 caracteres** (com espaços).\n- **Não inclua** os caracteres: `<`, `=`, `/`, `+`.\n- **Ajuste o estilo** (escolha de verbos, presença de “vs”, uso de dois-pontos/travessão, ênfases em MAIÚSCULAS, nomes próprios) **conforme os padrões extraídos de `previosBestVideos`**.\n- **Estruturas recomendadas (escolha a que melhor se encaixa na transcrição e no padrão histórico):**\n  1. **[PERSONAGEM] [VERBO FORTE] [ALVO]!**  \n     Ex.: \"MINISTRO X BARRA Y!\"\n  2. **[X] vs [Y]: [EVENTO] [VERBO/RESULTADO]!**  \n     Ex.: \"BARROSO vs MORAES: TENSÃO EXPLODE!\"\n  3. **[ATO/DECISÃO] [PALAVRA-GANCHO]: [PERSONAGEM] [REAÇÃO] !**  \n     Ex.: \"VISTO NEGADO: PADILHA DESAFIA ESTADOS UNIDOS !\"\n  4. **[INSTITUIÇÃO] EM [CRISE/QUEDA]: [PERSONAGEM] NO FOCO !**  \n     Ex.: \"FULANO COMPLETAMENTE FERRADO: CICLANO NO LIMITE !\"\n- **Orientação editorial (baseada na transcrição, sem inventar):** deixe claro **quem ferrou quem**, **quem expôs quem** ou **quem foi ferrado por quem**.\n\n### b) Descrição (`videoCutDescription`)\n- **Resumo breve** do que é discutido no trecho.\n- Inclua **pelo menos duas referências** (diretas ou parafraseadas) da transcrição.\n- Misture **PALAVRAS-CHAVE EM MAIÚSCULAS** com outras em **minúsculas**.\n- Estimule o espectador a assistir destacando algo **intrigante** ou **útil**.\n- **Ao final**, inclua **exatamente**:  \n  **`Créditos para o canal @ancap_su. Veja o vídeo completo: {videoUrl}.`**\n- **Se útil**, reflita termos que frequentemente aparecem nos melhores títulos de `{previosBestVideos}` (sem inventar tema).\n\n### c) *Hard Hook* (`videoHardHook`)\n- **Uma** frase curta, **provocativa e polêmica** (≈ **12–15 s** quando lida).\n- Tom **assertivo e confrontador** (pode ser jocoso/humorado conforme o conteúdo).\n- **Mencione explicitamente o tema principal** e **por que importa**.\n- **Adapte** intensidade/verbo/ênfase ao **padrão que mais performa** em `{previosBestVideos}` (conflito, reação, denúncia, “vs”, etc.).\n- **Sem abreviações** (ex.: “Estados Unidos”).\n\n### d) Tags SEO (`videoTags`)\n- **Pelo menos 20** tags **em português**, todas **claramente relacionadas** ao conteúdo do segmento.\n- **Dê preferência** a termos que aparecem recorrentemente nos vídeos de maior desempenho em `{previosBestVideos}`, desde que **relevantes** à transcrição atual.\n\n### e) Textos de Thumbnail (`thumbTexts`)\n- **Baseados estritamente** no conteúdo **real** do corte (não invente).\n- **Quatro strings** que formam **uma frase de impacto**:\n  1. **2 palavras**, **máx. 17 caracteres**;\n  2. **3 palavras**, **máx. 25 caracteres**;\n  3. **3 palavras**, **máx. 25 caracteres**;\n  4. **3 palavras**, **máx. 20 caracteres**.\n- **Linguagem simples, clara e forte**, chamativa e alinhada ao **título** e ao **assunto**.\n- **Não repita palavras** entre as quatro strings.\n- **Adapte o tom** (conflito direto, denúncia, reação) ao que mais performa em `{previosBestVideos}`, **sem copiar** textos anteriores.\n\n### f) Playlist (`playlist`)\n- Dada a lista `{playlists}`, **escolha exatamente um** objeto cujo `nome` **mais se aproxima** do **tema principal** do segmento.\n- **Retorne o objeto escolhido exatamente como recebido** (com `nome` e `id`).\n\n---\n\n## FORMATO DE SAÍDA (RETORNE APENAS O ARRAY JSON)\n> **A saída deve ser um JSON válido**. **Não inclua** texto extra nem formatação Markdown. **Retorne apenas o array JSON cru.**\n\n[\n  {\n    \"videoCutStartTime\": number,\n    \"videoCutEndTime\": number,\n    \"videoCutTitle\": \"string\",\n    \"videoCutDescription\": \"string\",\n    \"videoHardHook\": \"string\",\n    \"videoTags\": [\"string\", \"...\"],\n    \"videoUrl\": \"{videoUrl}\",\n    \"thumbTexts\": [\"string\", \"string\", \"string\", \"...\"],\n    \"playlist\": { \"nome\": \"string\", \"id\": \"string\" }\n  }\n]\n\n---\n\n## LEMBRETES\n- **Português apenas** para título, descrição, *hard hook* e tags.\n- Realce **PALAVRAS-CHAVE** em **MAIÚSCULAS** quando fizer sentido.\n- **Aderência estrita** à transcrição real: **não invente** conteúdo.\n- **Máximo 1** segmento. Sempre escolha **o mais relevante/polêmico**.\n- Para o **segmento final** (neste prompt, o único), **desconte `{secondsToRemove}` segundos** do final do vídeo original.\n- **Use `previosBestVideos` apenas para aprender padrões de estilo** (templates, ênfases, tom). **Não copie** títulos do histórico.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        -16
      ],
      "id": "af4510b9-8889-4f62-a2b8-63c7edbbf538",
      "name": "Bot",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"videoTranscription\": \"a string\",\n  \"videoId\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        0
      ],
      "id": "35577217-c11b-4e37-918c-340fe98c4860",
      "name": "Start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        832,
        -16
      ],
      "id": "0d4768f1-bb1b-4b96-9062-e7e800af991e",
      "name": "@GLOBAL_ANCAPSU"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YXLYtONBKA8CBAmO",
          "mode": "list",
          "cachedResultName": "ANCAPSU_STATISTICS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/YXLYtONBKA8CBAmO"
        },
        "filters": {
          "conditions": [
            {
              "condition": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -240,
        -144
      ],
      "id": "fb46a284-4358-4caf-9554-cd1868aa6269",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "aggregate": "={{ $('Get row(s)').item.json }}",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -80,
        -144
      ],
      "id": "71990121-3140-4460-a8ef-75330a4537e8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cabd4646-dcdc-4f46-bd2f-0bf6dc64b1c0",
              "name": "statistics",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -144
      ],
      "id": "555af601-1ea6-4c3c-85f8-4f64ca169d5d",
      "name": "Get Statistics"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        -16
      ],
      "id": "fe3cd617-29c2-4bf3-a380-85d361ba769d",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Mode: \"Run Once for All Items\"\n\n// Chance de \"passar\" a entrada: 70%\n// Chance de \"zerar data\": 30%\nconst PASS_PROB = 0.70;\n\n// Os itens que chegaram neste node\nconst inputItems = $input.all();\n\n// Sorteio 0..1\nconst r = Math.random();\n\n// Se cair nos 30%, devolve data vazio\nif (r >= PASS_PROB) {\n  // Mantém o mesmo formato do seu exemplo: [{ data: [...] }]\n  // Se sua entrada tiver múltiplos items, você pode escolher um comportamento.\n  // Aqui, vou devolver 1 item com data vazio (como seu exemplo).\n  return [\n    {\n      json: {\n        data: []\n      },\n    },\n  ];\n}\n\n// Se cair nos 70%, devolve exatamente o que entrou (sem alterar)\nreturn inputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -144
      ],
      "id": "a2e9ebb0-641e-4d21-b509-84e4c00dcaeb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "[Titulo definido SEM USAR estatísticas do HISTÓRICO de vídeos]"
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        592,
        -336
      ],
      "id": "03059265-d4b9-43cf-a2a4-486db271f6d8",
      "name": "@NOTIFIER"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a34d2c03-b7f6-4dd9-b76f-8956b98dc7d1",
              "leftValue": "={{ $json.data }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -320
      ],
      "id": "b3ed4dcb-dd92-4731-977f-3ea9e35967b0",
      "name": "If não usou histórico"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Bot",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Bot",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Statistics": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get Statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "If não usou histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If não usou histórico": {
      "main": [
        [
          {
            "node": "@NOTIFIER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Start": [
      {
        "json": {
          "videoTranscription": "1\n00:00:00,000 --> 00:00:04,900\n Está muito interessante essa história dos perpis que foram pagos pelo Daniel Vorcaro\n\n2\n00:00:04,900 --> 00:00:08,380\n para falar mal do Banco Central e falar bem do Banco Master.\n\n3\n00:00:08,859 --> 00:00:12,140\n Muito interessante mesmo essa história, porque está dando para a gente a visão\n\n4\n00:00:12,140 --> 00:00:14,460\n de como é que funciona essa coisa de influência,\n\n5\n00:00:15,019 --> 00:00:18,839\n como é que o pessoal está querendo usar mesmo a mesma estrutura que eles usavam\n\n6\n00:00:18,839 --> 00:00:23,740\n na época da informação centralizada, através de televisões e coisa e tal,\n\n7\n00:00:23,839 --> 00:00:25,920\n de rádios e grandes jornais e coisa e tal.\n\n8\n00:00:26,539 --> 00:00:29,920\n Eles agora estão tentando usar na rede social, só que não funciona na rede social.\n\n9\n00:00:30,000 --> 00:00:31,480\n Na rede social é diferente a parada.\n\n10\n00:00:31,820 --> 00:00:34,179\n Vocês sabem, eu já falei em outros vídeos aqui no canal,\n\n11\n00:00:34,719 --> 00:00:40,100\n que descobriu-se, alguns influenciadores da direita denunciaram que receberam proposta\n\n12\n00:00:40,100 --> 00:00:46,019\n do Banco Master para falar bem do Banco do Vorcaro e criticar o Banco Central e coisa e tal.\n\n13\n00:00:46,420 --> 00:00:49,299\n E a gente sabe que foi o pessoal da direita que denunciou isso,\n\n14\n00:00:49,379 --> 00:00:52,799\n mas certamente não foram os únicos comprados nessa história.\n\n15\n00:00:52,879 --> 00:00:57,019\n Na verdade, tem um monte de gente comprada, inclusive um monte de gente da esquerda,\n\n16\n00:00:57,120 --> 00:00:59,820\n inclusive perfis de fofoca, cara.\n\n17\n00:00:59,820 --> 00:01:00,880\n É o que eu falo pra você.\n\n18\n00:01:01,000 --> 00:01:06,640\n É aí que esse pessoal está entrando mesmo com a estrutura da televisão aberta,\n\n19\n00:01:06,640 --> 00:01:10,819\n da televisão central, da informação centralizada,\n\n20\n00:01:11,280 --> 00:01:15,379\n tentando levar o mesmo modelo de propaganda para a internet.\n\n21\n00:01:15,879 --> 00:01:18,719\n Eu sou Peter Turgunia, esse é o canal Ancapso,\n\n22\n00:01:18,819 --> 00:01:22,799\n e essas notícias foram sugeridas por Marmota2, Marmota2 aqui é Lobo Branco,\n\n23\n00:01:23,280 --> 00:01:25,579\n Jique Celo e várias outras pessoas.\n\n24\n00:01:25,700 --> 00:01:29,640\n Obrigado aí ao pessoal que sugeriu notícias lá no nosso site, no visãoliberta.com,\n\n25\n00:01:29,819 --> 00:01:32,219\n e obrigado a você que está assistindo o nosso vídeo.\n\n26\n00:01:32,299 --> 00:01:36,619\n Se você gosta do nosso conteúdo, por favor, deixa o seu like e se inscreva aqui no canal.\n\n27\n00:01:37,639 --> 00:01:39,899\n Então, lembra, a gente já falou sobre esse escândalo.\n\n28\n00:01:39,979 --> 00:01:42,659\n O escândalo é enorme, um monte de gente está recebendo dinheiro,\n\n29\n00:01:42,739 --> 00:01:44,139\n a gente não sabe quem está recebendo dinheiro.\n\n30\n00:01:44,539 --> 00:01:47,060\n Tem um monte de suspeitas, mas você não tem como saber.\n\n31\n00:01:47,619 --> 00:01:50,859\n Pode ser que aquele perfil que falava realmente que o Banco Master,\n\n32\n00:01:50,979 --> 00:01:54,539\n que o Banco Central estava se precipitando,\n\n33\n00:01:54,939 --> 00:01:56,939\n que não, que não podia liquidar o Banco Master,\n\n34\n00:01:56,939 --> 00:01:58,679\n pode ser que fosse a opinião do cara mesmo.\n\n35\n00:01:58,859 --> 00:01:59,799\n Vai que é a opinião do cara.\n\n36\n00:01:59,819 --> 00:02:01,419\n É o que eu sempre falo.\n\n37\n00:02:01,459 --> 00:02:03,119\n A mesma coisa que eu falo das U7 também.\n\n38\n00:02:03,559 --> 00:02:08,659\n Vai que o pessoal é maluco a ponto de achar que a Rússia tem razão na guerra com a Ucrânia mesmo.\n\n39\n00:02:09,099 --> 00:02:10,159\n Pode ter maluco, sim.\n\n40\n00:02:10,699 --> 00:02:13,419\n Agora, o mais provável é que a pessoa foi paga para isso.\n\n41\n00:02:13,539 --> 00:02:15,120\n É o mais provável no final das contas.\n\n42\n00:02:15,560 --> 00:02:18,579\n Aí agora, a Folha de São Paulo traz uma outra reportagem aqui.\n\n43\n00:02:18,979 --> 00:02:25,599\n Pelo menos 46 perfis da internet fizeram ataques simultâneos ao Banco Central\n\n44\n00:02:25,599 --> 00:02:28,099\n e a investigadores do Banco Master.\n\n45\n00:02:28,099 --> 00:02:29,099\n Olha que coisa.\n\n46\n00:02:29,099 --> 00:02:30,539\n Que coisa curiosa, né?\n\n47\n00:02:30,840 --> 00:02:36,639\n De novo, a Folha de São Paulo não está dizendo que esses 46 perfis receberam dinheiro.\n\n48\n00:02:37,039 --> 00:02:42,359\n Pode ser que a pessoa seja só um otário completo que tinha essa opinião da cabeça mole dela mesmo\n\n49\n00:02:42,359 --> 00:02:44,180\n e caiu nessa lorota, né?\n\n50\n00:02:44,319 --> 00:02:47,439\n Mas é uma suspeita condizente.\n\n51\n00:02:48,019 --> 00:02:48,599\n Para pra pensar.\n\n52\n00:02:48,759 --> 00:02:51,319\n O pessoal estava falando em propostas milionárias.\n\n53\n00:02:51,919 --> 00:02:55,099\n Imagina receber um milhão de reais para falar uma besteirinha na internet.\n\n54\n00:02:55,240 --> 00:02:55,919\n Porra, você não falaria?\n\n55\n00:02:56,780 --> 00:02:58,919\n Muita gente se sentiria tentado.\n\n56\n00:02:59,099 --> 00:02:59,560\n Isso, né?\n\n57\n00:03:00,000 --> 00:03:00,379\n Aqui, ó.\n\n58\n00:03:01,280 --> 00:03:06,180\n Pelo menos 46 perfis em redes sociais fazem um bombardeio digital\n\n59\n00:03:06,180 --> 00:03:11,219\n com ataques simultâneos contra o Banco Central e investigadores do Banco Master.\n\n60\n00:03:11,919 --> 00:03:13,139\n Porque eles estão...\n\n61\n00:03:13,139 --> 00:03:15,919\n No pessoal da esquerda, eles usaram uma estratégia diferente.\n\n62\n00:03:16,019 --> 00:03:20,060\n No pessoal da direita, eles falaram que era para os influenciadores dizerem que não,\n\n63\n00:03:20,159 --> 00:03:22,979\n que o Banco Central foi correto, mas foi precipitado,\n\n64\n00:03:23,340 --> 00:03:25,039\n tinha que ter estudado mais o caso,\n\n65\n00:03:25,039 --> 00:03:27,000\n porque não sei o que lá e coisa e tal.\n\n66\n00:03:27,459 --> 00:03:29,039\n Na esquerda, eles falaram que não, que bem-eficiados,\n\n67\n00:03:29,099 --> 00:03:33,019\n que não precisava a direita e que essa inspeção do Banco Central\n\n68\n00:03:33,019 --> 00:03:37,459\n foi feita por um diretor indicado pelo Bolsonaro e não sei o que lá.\n\n69\n00:03:38,159 --> 00:03:41,680\n A prática já vinha sendo observada durante o processo de análise\n\n70\n00:03:41,680 --> 00:03:44,439\n pelo órgão regulador de venda do banco para o BRB,\n\n71\n00:03:44,659 --> 00:03:49,079\n mas cresceu nos últimos dias em meio à guerra jurídica no STF e no TCU,\n\n72\n00:03:49,579 --> 00:03:52,939\n travada entre os investigadores e os advogados do Master.\n\n73\n00:03:53,500 --> 00:03:56,959\n Os influenciadores vêm publicando posts com informações enviesadas\n\n74\n00:03:56,959 --> 00:03:59,079\n sobre acontecimentos em torno da liquidação.\n\n75\n00:03:59,080 --> 00:03:59,580\n O Banco Central, por exemplo, tem uma questão de liquidação do Master\n\n76\n00:03:59,580 --> 00:04:03,400\n e com críticas à atuação ao Banco Central e à liquidação do Banco Master.\n\n77\n00:04:03,900 --> 00:04:06,100\n Essa é a beleza da coisa, é o que eu falo para vocês.\n\n78\n00:04:06,200 --> 00:04:08,500\n A beleza da informação descentralizada é essa.\n\n79\n00:04:08,939 --> 00:04:10,420\n Tem gente falando besteira?\n\n80\n00:04:10,560 --> 00:04:11,160\n Lógico que tem.\n\n81\n00:04:11,320 --> 00:04:13,540\n Tem um monte de gente falando besteira, um monte de gente fazendo fake news,\n\n82\n00:04:14,040 --> 00:04:15,420\n mas você não precisa se preocupar com isso.\n\n83\n00:04:15,520 --> 00:04:16,939\n Por quê? Porque a verdade está aí também.\n\n84\n00:04:17,340 --> 00:04:21,840\n E as pessoas acabam olhando para as coisas e percebendo que a verdade é que tem força nessa história.\n\n85\n00:04:22,060 --> 00:04:26,080\n Aí, procurado por meio da sua assessoria, o Banco Master e o Orcaro não se manifestaram.\n\n86\n00:04:26,600 --> 00:04:29,080\n Chama a atenção o fato de que boa parte dos funcionários,\n\n87\n00:04:29,079 --> 00:04:31,120\n os perfis de influenciadores recrutados,\n\n88\n00:04:31,479 --> 00:04:35,879\n serem de fofoca, sem ligação com assuntos econômicos.\n\n89\n00:04:36,279 --> 00:04:38,339\n Aí você fica assim, poxa, por que será isso?\n\n90\n00:04:38,519 --> 00:04:40,539\n Por que será que é perfil de fofoca que faz isso?\n\n91\n00:04:41,979 --> 00:04:45,560\n Curiosamente, são esses mesmos perfis de fofoca\n\n92\n00:04:45,560 --> 00:04:48,599\n que adoram fazer propaganda do governo Lula.\n\n93\n00:04:48,799 --> 00:04:51,740\n Adoram atacar Bolsonaro e fazer propaganda do Lula.\n\n94\n00:04:52,159 --> 00:04:55,060\n E por quê? Porque é o mesmo modelo de negócio.\n\n95\n00:04:55,060 --> 00:04:59,060\n Esse pessoal tenta replicar na internet o modelo de negócio da influenciadora.\n\n96\n00:04:59,079 --> 00:05:00,079\n O que é isso?\n\n97\n00:05:00,079 --> 00:05:01,079\n É uma forma de comunicação.\n\n98\n00:05:01,079 --> 00:05:02,079\n A gente não pode fazer isso.\n\n99\n00:05:02,079 --> 00:05:03,079\n Não é possível.\n\n100\n00:05:03,079 --> 00:05:04,079\n Então, por que?\n\n101\n00:05:04,079 --> 00:05:05,079\n Porque é um modelo de informação centralizada.\n\n102\n00:05:05,079 --> 00:05:06,079\n A esquerda sempre se deu bem na política brasileira, por quê?\n\n103\n00:05:06,079 --> 00:05:10,779\n Porque comprava as principais televisões e jornais, as principais fontes de informação\n\n104\n00:05:10,779 --> 00:05:14,959\n centralizada, e como você não tinha outras fontes de informação até bem pouco tempo\n\n105\n00:05:14,959 --> 00:05:19,879\n atrás para contrapor essa informação, você acabava sendo levado a acreditar que aquilo\n\n106\n00:05:19,879 --> 00:05:20,879\n era a verdade, né?\n\n107\n00:05:20,879 --> 00:05:23,479\n Hoje em dia, com a internet, isso morreu.\n\n108\n00:05:23,479 --> 00:05:24,479\n Por quê?\n\n109\n00:05:24,479 --> 00:05:25,479\n Porque você tem a internet para checar.\n\n110\n00:05:25,479 --> 00:05:28,519\n Não é que a televisão parou de falar besteira.\n\n111\n00:05:28,519 --> 00:05:30,899\n Ela sempre foi falando as mesmas besteiras que ela sempre falou.\n\n112\n00:05:30,899 --> 00:05:35,199\n Mas agora você tem a informação do outro lado para julgar você mesmo e chegar à conclusão\n\n113\n00:05:35,199 --> 00:05:36,199\n correta.\n\n114\n00:05:36,199 --> 00:05:40,199\n Às vezes, a televisão, sendo bem paga, ela até fala a verdade, cara.\n\n115\n00:05:40,199 --> 00:05:41,199\n Impressionante.\n\n116\n00:05:41,199 --> 00:05:42,199\n Mas tem que pagar caro.\n\n117\n00:05:42,199 --> 00:05:43,419\n Barato eles não falam a verdade, não.\n\n118\n00:05:43,419 --> 00:05:45,419\n Só pagando caro, né?\n\n119\n00:05:45,419 --> 00:05:46,419\n Aqui, ó.\n\n120\n00:05:46,419 --> 00:05:50,579\n O ex-diretor de Organização de Sistema Financeiro e de Resolução do BC, Renato Gomes, é um\n\n121\n00:05:50,579 --> 00:05:52,279\n dos principais alvos.\n\n122\n00:05:52,279 --> 00:05:56,519\n Esse cara é um dos últimos diretores do Banco Central que foram indicados pelo Bolsonaro.\n\n123\n00:05:56,519 --> 00:05:57,519\n Você lembra?\n\n124\n00:05:57,519 --> 00:06:01,879\n O Banco Central agora tem autonomia, o que significa que os diretores todos têm mandato\n\n125\n00:06:01,879 --> 00:06:02,879\n fixo.\n\n126\n00:06:02,879 --> 00:06:04,939\n O Lula não pode substituir os diretores.\n\n127\n00:06:04,939 --> 00:06:09,240\n Então o diretor tem um mandato fixo e ele fica até agora...\n\n128\n00:06:09,240 --> 00:06:11,560\n Ficou até o final do ano passado, no final de 2025.\n\n129\n00:06:11,560 --> 00:06:16,680\n A partir de 2026, agora, todos os diretores já foram indicados pelo Lula.\n\n130\n00:06:16,680 --> 00:06:17,680\n Ele foi da área...\n\n131\n00:06:17,680 --> 00:06:23,399\n Foi da área dele que vetou a compra do BRB pelo Master e subsidiou os achados posteriormente\n\n132\n00:06:23,399 --> 00:06:25,199\n relatados pelo Ministério Público Federal.\n\n133\n00:06:25,199 --> 00:06:27,199\n A ofensiva digital também mira.\n\n134\n00:06:27,199 --> 00:06:32,560\n No presidente do Banco Central, Galípolo, seus familiares, o diretor de fiscalização,\n\n135\n00:06:32,560 --> 00:06:37,180\n Ailton Aquino, além de banqueiros e associações do setor financeiro que organizavam contra\n\n136\n00:06:37,180 --> 00:06:40,319\n ofensiva em defesa do Banco Central.\n\n137\n00:06:40,319 --> 00:06:43,159\n A gente traz alguns exemplos aqui.\n\n138\n00:06:43,159 --> 00:06:49,139\n Numa postagem de quatro dias atrás no Instagram, o perfil Divas do Humor, o perfil de fofoca,\n\n139\n00:06:49,139 --> 00:06:53,560\n relata que a gestão de Renato Gomes do Banco Central deixou um cenário de instabilidade\n\n140\n00:06:53,560 --> 00:06:55,120\n no mercado financeiro.\n\n141\n00:06:55,120 --> 00:06:57,159\n Mudanças regulatórias frequentes.\n\n142\n00:06:57,160 --> 00:06:58,160\n Interpretações voláteis.\n\n143\n00:06:58,160 --> 00:06:59,380\n Não sei o que lá.\n\n144\n00:06:59,380 --> 00:07:04,880\n Botando o cara aqui, o diretor do Banco Central, como sendo o culpado dessa história.\n\n145\n00:07:04,880 --> 00:07:06,560\n Olha como é que a esquerda age.\n\n146\n00:07:06,560 --> 00:07:08,720\n Mas de novo, eles sempre agiram assim.\n\n147\n00:07:08,720 --> 00:07:12,860\n É que antes eles agiam assim na informação centralizada.\n\n148\n00:07:12,860 --> 00:07:15,280\n Agora na internet é mais complicado.\n\n149\n00:07:15,280 --> 00:07:20,440\n Esses perfis de fofoca tentam replicar o modelo.\n\n150\n00:07:20,440 --> 00:07:23,220\n Quem está por trás da Alfinetei?\n\n151\n00:07:23,220 --> 00:07:27,160\n Alfinetei que participou nos ataques nas redes contra o BC e no caso Master.\n\n152\n00:07:27,160 --> 00:07:32,420\n Alfinetei é um perfil de fofoca que fala de novela, fala de série, fala de coisas\n\n153\n00:07:32,420 --> 00:07:38,460\n leves, Big Brother Brasil, ah que o ator fulano de tal casou com a atriz Beltrana, que esse\n\n154\n00:07:38,460 --> 00:07:41,040\n crânio traiu fulana.\n\n155\n00:07:41,040 --> 00:07:45,080\n Enfim, fala coisa de fofoca, coisa de gente que não...\n\n156\n00:07:45,080 --> 00:07:46,080\n Muita gente gosta disso.\n\n157\n00:07:46,080 --> 00:07:47,080\n Não tem nada de errado.\n\n158\n00:07:47,080 --> 00:07:48,080\n Cada um gosta do que gosta.\n\n159\n00:07:48,080 --> 00:07:50,540\n Não estou dizendo que é errado isso não.\n\n160\n00:07:50,540 --> 00:07:52,160\n Mas não chama atenção?\n\n161\n00:07:52,160 --> 00:07:57,160\n De repente esse perfil que fala essas coisas assim, de repente começa a falar do Banco\n\n162\n00:07:57,160 --> 00:08:01,660\n Master porque a fiscalização do Banco Central está errada e não sei o que lá.\n\n163\n00:08:01,660 --> 00:08:03,740\n Está mais do que claro o que o pessoal fez.\n\n164\n00:08:03,740 --> 00:08:06,980\n Esse pessoal tentou usar aquelas agências, né?\n\n165\n00:08:06,980 --> 00:08:08,439\n Aqui ó, essa agência aqui.\n\n166\n00:08:08,439 --> 00:08:13,940\n A página tem sócios ligados a pelo menos cinco empresas registradas e uma rede de perfis\n\n167\n00:08:13,940 --> 00:08:16,980\n que somam 40 milhões de seguidores no Instagram.\n\n168\n00:08:16,980 --> 00:08:22,800\n A página Alfinetei reúne 25 milhões de seguidores no Instagram e integra um grupo de perfis\n\n169\n00:08:22,800 --> 00:08:24,160\n de entretenimento e fofoca que participou da ofensiva coordenada contra o Banco Central.\n\n170\n00:08:24,160 --> 00:08:25,160\n E o Banco Central é um dos mais importantes do Banco Central.\n\n171\n00:08:25,160 --> 00:08:26,160\n E o Banco Central é um dos mais importantes do Banco Central.\n\n172\n00:08:26,160 --> 00:08:27,160\n É o Banco Central.\n\n173\n00:08:27,160 --> 00:08:28,160\n É o Banco Central.\n\n174\n00:08:28,160 --> 00:08:32,200\n De novo, eu não tenho como dizer que eles receberam dinheiro para isso.\n\n175\n00:08:32,200 --> 00:08:33,200\n Ninguém sabe.\n\n176\n00:08:33,200 --> 00:08:35,740\n Eles estão dizendo que teve o ataque, teve.\n\n177\n00:08:35,740 --> 00:08:36,980\n Que é estranho o ataque.\n\n178\n00:08:36,980 --> 00:08:37,980\n É estranho.\n\n179\n00:08:37,980 --> 00:08:39,899\n Porque, de novo, é uma página de fofoca.\n\n180\n00:08:39,899 --> 00:08:41,340\n Que fofoca é essa?\n\n181\n00:08:41,340 --> 00:08:43,920\n Ai, o Banco Central tá, né?\n\n182\n00:08:43,920 --> 00:08:45,720\n Não é estranho esse troço?\n\n183\n00:08:45,720 --> 00:08:48,160\n Agora, receberam o dinheiro do Vorcar ou não receberam?\n\n184\n00:08:48,160 --> 00:08:49,160\n E qual que é o problema?\n\n185\n00:08:49,160 --> 00:08:50,160\n Lembra da MindH?\n\n186\n00:08:50,160 --> 00:08:51,800\n Lembra da Mind, cara?\n\n187\n00:08:51,800 --> 00:08:55,460\n A Mind prestava exatamente esse tipo de serviço, né?\n\n188\n00:08:55,460 --> 00:08:57,160\n E essas agências são atrasadas.\n\n189\n00:08:57,159 --> 00:09:02,500\n São essas agências, são esses perfis, esse tipo de perfil na internet que faz propaganda\n\n190\n00:09:02,500 --> 00:09:03,500\n a favor do Lula.\n\n191\n00:09:03,500 --> 00:09:10,679\n O Lula tá previsto gastar não sei quantos milhões esse ano de 2026 com ações na internet.\n\n192\n00:09:10,679 --> 00:09:12,980\n Isso é propaganda eleitoral antecipada.\n\n193\n00:09:12,980 --> 00:09:16,879\n Parece que já tem até uma ação no TSE e eu vou falar sobre isso num outro vídeo.\n\n194\n00:09:16,879 --> 00:09:18,419\n Evidentemente que é.\n\n195\n00:09:18,419 --> 00:09:24,539\n Mas repara, esse pessoal tenta usar esse mecanismo de redes de fofoca e coisa e tal pra tentar\n\n196\n00:09:24,539 --> 00:09:26,159\n atingir esse público, né?\n\n197\n00:09:26,159 --> 00:09:27,159\n Curiosamente, não.\n\n198\n00:09:27,159 --> 00:09:32,480\n É simplesmente o mesmo grupo que foi usado pelo Vorcaro para tentar fazer a propaganda\n\n199\n00:09:32,480 --> 00:09:33,480\n deles.\n\n200\n00:09:33,480 --> 00:09:37,379\n E curiosamente, quando tentaram fazer no pessoal de direita, tiveram dificuldade.\n\n201\n00:09:37,379 --> 00:09:38,379\n Por quê?\n\n202\n00:09:38,379 --> 00:09:42,620\n Porque ao contrário da esquerda, que tem um monte de organizações grandes, Alfinetei,\n\n203\n00:09:42,620 --> 00:09:45,240\n Choquei, MindH, não sei o que lá, né?\n\n204\n00:09:45,240 --> 00:09:49,299\n Ao contrário da esquerda ou desse pessoal, a direita não tem essas organizações, não\n\n205\n00:09:49,299 --> 00:09:50,299\n tem isso.\n\n206\n00:09:50,299 --> 00:09:53,959\n Você tem um monte de influenciadores, um monte de gente que faz coisa na internet,\n\n207\n00:09:53,959 --> 00:09:56,159\n mas não tem uma grande organização que venda.\n\n208\n00:09:56,159 --> 00:09:59,600\n Mas era muito curioso como é que a esquerda acusava de haver isso.\n\n209\n00:09:59,600 --> 00:10:01,299\n Lembra do todo o gabinete do ódio?\n\n210\n00:10:01,299 --> 00:10:06,480\n Não porque a direita tem um gabinete do ódio organizado pra criticar o pessoal da esquerda,\n\n211\n00:10:06,480 --> 00:10:09,279\n criticar o Lula, nunca conseguiram apontar nada.\n\n212\n00:10:09,279 --> 00:10:14,339\n Só nessa brincadeira do Banco Central aqui ficou evidente o gabinete do ódio da esquerda,\n\n213\n00:10:14,339 --> 00:10:19,079\n o gabinete do ódio da fofoca, que são essas páginas que ficam colocando esse tipo de\n\n214\n00:10:19,079 --> 00:10:20,079\n coisa, né?\n\n215\n00:10:20,079 --> 00:10:22,480\n E é lógico que é um absurdo isso.\n\n216\n00:10:22,480 --> 00:10:23,480\n De novo.\n\n217\n00:10:23,480 --> 00:10:24,480\n Eu vejo isso como um problema menor.\n\n218\n00:10:24,480 --> 00:10:25,439\n Porque sempre vai ter esse problema.\n\n219\n00:10:25,440 --> 00:10:26,880\n Sempre vai ter esse tipo de coisa.\n\n220\n00:10:26,880 --> 00:10:27,880\n Sempre vai ter compra.\n\n221\n00:10:27,880 --> 00:10:30,900\n Sempre vai ter gente pagando os outros pra dar opinião e coisa e tal.\n\n222\n00:10:30,900 --> 00:10:32,680\n É lógico que vai ter isso, né?\n\n223\n00:10:32,680 --> 00:10:36,100\n É um interesse muito grande que tem por trás dessa história.\n\n224\n00:10:36,100 --> 00:10:39,240\n Mas no final das contas, na internet é tudo aberto.\n\n225\n00:10:39,240 --> 00:10:43,880\n Na internet, as coisas... você tem a mentira, mas você tem a verdade do lado dela.\n\n226\n00:10:43,880 --> 00:10:48,700\n No final das contas, as pessoas conseguem pesar as coisas e chegar por sua própria conclusão\n\n227\n00:10:48,700 --> 00:10:50,200\n o que que tá certo, o que que tá errado.\n\n228\n00:10:50,200 --> 00:10:52,940\n Às vezes leva um tempo, mas eles conseguem chegar lá, né?\n\n229\n00:10:52,940 --> 00:10:54,680\n E outra coisa que eu quero falar pra vocês.\n\n230\n00:10:54,679 --> 00:10:58,839\n Tá rolando no pessoal da direita uma coisa que é típico da direita também.\n\n231\n00:10:58,839 --> 00:11:03,759\n Que é apontar pras pessoas e dizer, ah, fulano recebeu dinheiro do Banco Master.\n\n232\n00:11:03,759 --> 00:11:08,439\n Por exemplo, uma pessoa que foi acusada disso foi a Gabriela Prioli.\n\n233\n00:11:08,439 --> 00:11:10,079\n A Gabriela Prioli não é de direita, né?\n\n234\n00:11:10,079 --> 00:11:11,079\n Ela é de esquerda, né?\n\n235\n00:11:11,079 --> 00:11:13,000\n Mas tá rolando na direita também.\n\n236\n00:11:13,000 --> 00:11:17,979\n Tem um monte de gente de direita sendo acusada de, ah, fulano tá defendendo o Banco Master.\n\n237\n00:11:17,979 --> 00:11:21,519\n Fulano recebeu dinheiro do Projeto DV.\n\n238\n00:11:21,519 --> 00:11:23,559\n Gente, toma cuidado com isso, tá?\n\n239\n00:11:23,559 --> 00:11:24,559\n Porque a gente sabe.\n\n240\n00:11:24,559 --> 00:11:28,319\n Se a pessoa defendeu o Banco Master, ela pode ter defendido porque ela acha que tá\n\n241\n00:11:28,319 --> 00:11:29,319\n certo.\n\n242\n00:11:29,319 --> 00:11:33,319\n Ela acha que realmente o Banco Central demorou, ou a fiscalização foi devida, não sei o\n\n243\n00:11:33,319 --> 00:11:34,319\n que lá.\n\n244\n00:11:34,319 --> 00:11:39,419\n Não é necessário que a pessoa que criticou o Banco Central e elogiou o Banco Master, não\n\n245\n00:11:39,419 --> 00:11:42,419\n é necessário que ela tenha se vendido pro sistema.\n\n246\n00:11:42,419 --> 00:11:43,419\n É estranho.\n\n247\n00:11:43,419 --> 00:11:44,419\n É estranho.\n\n248\n00:11:44,419 --> 00:11:46,019\n Eu acho muito estranho, porque não tem lógica nenhuma.\n\n249\n00:11:46,019 --> 00:11:47,759\n A mesma coisa que eu falo das U-7.\n\n250\n00:11:47,759 --> 00:11:51,599\n É muito estranho esse pessoal defendendo a Rússia numa invasão contra a Ucrânia.\n\n251\n00:11:51,599 --> 00:11:52,599\n Mas sei lá.\n\n252\n00:11:52,599 --> 00:11:53,719\n Não sei se as pessoas recebem dinheiro.\n\n253\n00:11:53,719 --> 00:11:54,559\n O que que acontece?\n\n254\n00:11:54,559 --> 00:11:56,799\n De que forma isso se dá?\n\n255\n00:11:56,799 --> 00:11:58,319\n Pode ser só a opinião de merda da pessoa.\n\n256\n00:11:58,319 --> 00:11:59,939\n As pessoas têm opinião de merda também.\n\n257\n00:11:59,939 --> 00:12:03,779\n Muitas vezes é comum as pessoas terem opinião de merda, né?\n\n258\n00:12:03,779 --> 00:12:05,399\n Então tomem cuidado com isso.\n\n259\n00:12:05,399 --> 00:12:06,399\n Eu já falei aqui.\n\n260\n00:12:06,399 --> 00:12:11,319\n Eu tenho um monte de perfis da direita que eu olhei e eu acho que tá estranho isso\n\n261\n00:12:11,319 --> 00:12:12,319\n daqui.\n\n262\n00:12:12,319 --> 00:12:13,319\n Mas recebeu ou não recebeu?\n\n263\n00:12:13,319 --> 00:12:14,319\n Eu não tenho como saber.\n\n264\n00:12:14,319 --> 00:12:15,319\n Eu não sei.\n\n265\n00:12:15,319 --> 00:12:20,319\n A menos que surjam evidências de que realmente isso aconteceu, não tem como dizer nada,\n\n266\n00:12:20,319 --> 00:12:21,319\n né?\n\n267\n00:12:21,319 --> 00:12:23,319\n Além disso, é importante, eu acho que seria muito bacana se fizesse uma investigação,\n\n268\n00:12:23,319 --> 00:12:24,319\n pra mostrar que isso é verdade.\n\n269\n00:12:24,320 --> 00:12:28,480\n Pra mostrar essas redes que são os verdadeiros gabinetes do ódio, né?\n\n270\n00:12:28,480 --> 00:12:31,320\n Acusavam sempre a direita de ter gabinete do ódio.\n\n271\n00:12:31,320 --> 00:12:32,560\n Isso aqui é o gabinete do ódio de verdade.\n\n272\n00:12:32,560 --> 00:12:34,560\n É isso que eles acusavam a gente de fazer, né?\n\n273\n00:12:34,560 --> 00:12:37,980\n De ter dinheiro rolando pra fazer acusações e não sei o que lá.\n\n274\n00:12:37,980 --> 00:12:38,980\n Isso não existe na direita.\n\n275\n00:12:38,980 --> 00:12:42,840\n Seria muito bacana investigarem esse negócio pra limitar isso daí.\n\n276\n00:12:42,840 --> 00:12:44,640\n Mas tem um porém nessa história também, tá?\n\n277\n00:12:44,640 --> 00:12:49,160\n Porque há o risco de investigarem esse negócio e mesmo sem ter prova nenhuma na direita,\n\n278\n00:12:49,160 --> 00:12:50,560\n dizer que a direita faz a mesma coisa.\n\n279\n00:12:50,560 --> 00:12:51,560\n Vocês sabem, né?\n\n280\n00:12:51,560 --> 00:12:54,200\n Esse pessoal tá doido pra calar todo mundo na internet.\n\n281\n00:12:54,320 --> 00:12:57,879\n Enfim, muito bacana saber como é que funciona a coisa.\n\n282\n00:12:57,879 --> 00:13:00,000\n É isso aí, página de fofoca à venda.\n\n283\n00:13:00,000 --> 00:13:04,080\n É isso que é o grande potencial de propaganda nas redes sociais.\n\n284\n00:13:04,080 --> 00:13:05,080\n Quem diria, né?\n\n285\n00:13:05,080 --> 00:13:08,240\n Obrigado por assistir nosso vídeo até o final.\n\n286\n00:13:08,240 --> 00:13:13,280\n Tem alguns links pra você nos ajudar aí na tela e também na descrição desse vídeo.\n\n287\n00:13:13,280 --> 00:13:14,640\n Contribua com o nosso projeto.\n",
          "videoId": "oBBbXUozfiQ"
        }
      }
    ]
  },
  "versionId": "c51f3fe2-1bb6-4865-8a42-8e17124d2431",
  "versionCounter": 22,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-13T20:23:13.223Z",
      "createdAt": "2025-09-13T20:23:13.223Z",
      "role": "workflow:owner",
      "workflowId": "eWSuR2lrNs25cJ8B",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-28T18:38:23.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}