env/n8n_workflow/backup/GUEbV70IpFjcyX2A_@SET_TO_REPROCESS_STATUS.json
{
  "updatedAt": "2025-10-09T00:48:40.000Z",
  "createdAt": "2025-10-07T19:10:41.637Z",
  "id": "GUEbV70IpFjcyX2A",
  "name": "@SET_TO_REPROCESS_STATUS",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Edit Fields1').item.json.id }}",
        "value": "={{\n(() => {\n  const raw = String($json.video || '');\n  const obj = JSON.parse(raw);\n  obj.processed = $('Remote Start').item.json.processed;\n  return JSON.stringify(obj);\n})()\n}}\n",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        624,
        -32
      ],
      "id": "a97ed1c2-7a1e-425a-ac61-b34ff9676c26",
      "name": "Set Processed1",
      "credentials": {
        "redis": {
          "id": "H9ySyNyj1MBc1lrU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "280fd4ba-2379-457a-889c-93f0d843217a",
              "name": "id",
              "value": "=video:{{ $json.CHANNEL_ID }}_{{ $('Remote Start').item.json.videoId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -32
      ],
      "id": "d7885666-9b48-4c75-8d7d-fc500b37c561",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "video",
        "key": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        432,
        -32
      ],
      "id": "3e93c727-d715-4523-8ab9-0f45d96d5b69",
      "name": "Get to Process1",
      "credentials": {
        "redis": {
          "id": "H9ySyNyj1MBc1lrU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "video",
        "key": "={{ $('Edit Fields1').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        816,
        -32
      ],
      "id": "67bf4cde-241a-48cb-8d71-1139ed80971b",
      "name": "Get after process1",
      "credentials": {
        "redis": {
          "id": "H9ySyNyj1MBc1lrU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set to Reprocess",
        "height": 288,
        "width": 1232
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -112
      ],
      "id": "41f0ccb8-2091-46f6-8ddb-c5e99a8f39b4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "  {    \n    \"videoId\": \"97nFoYay0IQ\",\n    \"processed\": false\n  }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -32
      ],
      "id": "7d2407a2-b176-40b7-83c2-9bdd1c793292",
      "name": "Remote Start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        48,
        -32
      ],
      "id": "33be39f5-c776-4ea1-b168-586a50df60a1",
      "name": "@GLOBAL_ANCAPSU"
    }
  ],
  "connections": {
    "Set Processed1": {
      "main": [
        [
          {
            "node": "Get after process1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get to Process1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get to Process1": {
      "main": [
        [
          {
            "node": "Set Processed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remote Start": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Remote Start": [
      {
        "json": {
          "videoId": "97nFoYay0IQ",
          "processed": false
        }
      }
    ]
  },
  "versionId": "f623e283-90df-4f2f-8319-7569dda0e385",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-07T19:10:41.662Z",
      "createdAt": "2025-10-07T19:10:41.662Z",
      "role": "workflow:owner",
      "workflowId": "GUEbV70IpFjcyX2A",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2025-10-31T11:21:43.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}