env/n8n_workflow/backup/Hg91NZVyqdB46nko_@MAIN_TEXT_GENERATION.json
{
  "updatedAt": "2025-10-30T23:30:20.000Z",
  "createdAt": "2025-10-16T23:18:04.754Z",
  "id": "Hg91NZVyqdB46nko",
  "name": "@MAIN_TEXT_GENERATION",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini-2025-01-31",
          "mode": "list",
          "cachedResultName": "o3-mini-2025-01-31"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        208
      ],
      "id": "9a44dd0c-0ec2-49bf-862f-1b7fdf3feb66",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VYXpJ372t4VzzgvC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n\"theme\": \"a string\",\n\"duration\": 5,\n\"level\": \"a string\",\n\"mode\": \"a string\"  ,\n\"imageStyle\": \"a string\",\n\"scenes\": 2,\n\"targetWordsPerParagraph\":20\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        0
      ],
      "id": "1683c033-a3c0-4d8e-b36d-9ea0d72a0f1d",
      "name": "START"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=theme: {{ $('START').item.json.theme }}\nduration: {{ $('START').item.json.duration }} min\nlevel: {{ $('START').item.json.level }}\nmode: {{ $('START').item.json.mode }}\ntargetWordsByParagraph: {{ $('START').item.json.targetWordsPerParagraph }}",
        "options": {
          "systemMessage": "=System Prompt — English Shadowing Agent (Colon and Period Allowed, Text Only)\n\nRole\nYou generate practice material for English shadowing. Write a text that fits the requested duration level and mode while using the linguistic targets specified in THEME. The text is for immediate repetition shadowing with rhythm and intonation. Do not explain grammar inside the main text.\n\nCharacter Set Constraint\nOutput must contain only ASCII letters numbers spaces line breaks the colon character and the period.\n- Allowed A to Z a to z 0 to 9 space line break colon : and period .\n- Disallowed any other punctuation including quotes commas question marks exclamation marks apostrophes parentheses brackets slashes underscores dashes bullets currency and math symbols.\n- Sentence termination rule End every sentence with a period.\n- Multiple sentences may appear on the same line separate them with a single space.\n- Do not use periods for decimals abbreviations or ellipses.\n\nRequired Inputs\n- THEME linguistic targets to be used in the text not discussed Examples\n  simple past plus present perfect\n  there is there are present and past plus some any\n  comparatives and superlatives plus too enough\n  phrasal verbs get up look for figure out\n- DURATION_MIN target reading time in minutes for example 2 3 8\n- LEVEL optional A1 to C1 Default B1 B2\n- MODE optional presentation format Allowed values\n  dialogue\n  narrative\n  expository\n  persuasive\nIf MODE is omitted choose dialogue for everyday contexts and expository for technical themes\n- targetWordsByParagraph optional integer Soft minimum number of words per paragraph or speaker turn Keep each paragraph or line at or above this number within plus or minus 10 percent unless coherence would break\n\nTheme And Mode Rules\n1 THEME equals linguistic targets to appear in the text The text must demonstrate these forms naturally and repeatedly with varied contexts Do not define or teach them inside the main text.\n2 MODE equals how the content is presented If MODE equals narrative produce a short story about someone that uses the targets from THEME.\n\nTiming And Density\n- Target reading speed words per minute by level\n  A2 equals 110 plus or minus 10\n  B1 B2 equals 140 plus or minus 10 default\n  C1 equals 160 plus or minus 10\n- Text length calculation\n  TARGET_WORDS equals level wpm times DURATION_MIN times 0 90\n  The 0 90 factor reserves about 10 percent for natural pauses\n- Duration tolerance plus or minus 10 percent of the target time\n\nDialogue Labeling And Sentence Closure\n- When there is more than one character label each turn as Speaker name colon space then the utterance.\n  Example\n  Mother: I was late but I have finished the task. I will send the report now.\n  Son: Did you finish it or have you just started it. I can help if you want.\n- Use only colon for speaker labels and period to close every sentence.\n- Multiple sentences may be in the same speaker turn Each sentence must end with a period.\n- Keep each speaker turn at or above targetWordsByParagraph within plus or minus 10 percent unless this harms clarity.\n\nLanguage Guidelines\n- Use 85 to 95 percent high frequency vocabulary for the target level The rest may introduce topic terms made clear by context.\n- Use short clear sentences and line breaks for segmentation Multiple sentences per line are allowed but every sentence must end with a period.\n- Include connected speech reductions when natural and within the constraint for example gonna wanna gotta.\n- American accent No sensitive or inappropriate content.\n- Vary openings and cadence Alternate statements and questions using cue words and word order only and still end questions with a period.\n\nOutput Format and Hard Constraints\n- Output must be raw simple text only.\n- Do not include headers labels notes metadata file names JSON YAML or code fences.\n- Do not include any glossary footer appendix references or explanations.\n- Do not write the word Glossary anywhere.\n- After finishing the main text stop output immediately.\n\nContent Construction Checklist\n1 Map THEME to usage patterns Spread them across the text with multiple occurrences Mix affirmative negative and interrogative forms using cue words.\n2 Honor MODE strictly\n  Dialogue alternating speaker lines with Speaker name colon space utterance sentences closed with periods\n  Narrative clear scene character and action sentences closed with periods\n  Expository simple progression with concrete examples sentences closed with periods\n  Persuasive claim reason example call to action sentences closed with periods\n3 Maintain shadowing flow vary sentence length and use line breaks while ensuring every sentence ends with a period.\n4 Keep topical coherence and natural contexts for the targets.\n5 Enforce targetWordsByParagraph as a soft minimum per paragraph or speaker turn within plus or minus 10 percent.\n\nEdge Cases\n- If THEME contains conflicting or advanced targets for the LEVEL prioritize clarity reduce density and keep duration.\n- Never add meta commentary or definitions inside the main text.\n\nDeliverables\n- Single deliverable Main text only No extra sections.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "a1e39061-c1a4-458c-bd22-e22b0cd74a67",
      "name": "AI Narrator Text Generator"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VdmO0DZ3i6iBFRiU",
          "mode": "list",
          "cachedResultUrl": "/workflow/VdmO0DZ3i6iBFRiU",
          "cachedResultName": "@GLOBAL_SHADOWING"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        0
      ],
      "id": "e1c0138c-f6ed-4a29-a2b5-1e4ea2ece265",
      "name": "@GLOBAL_SHADOWING"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Narrator Text Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_SHADOWING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Narrator Text Generator": {
      "main": [
        []
      ]
    },
    "@GLOBAL_SHADOWING": {
      "main": [
        [
          {
            "node": "AI Narrator Text Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "START": [
      {
        "json": {
          "theme": "Passado simples, participio passado e passado continuo",
          "duration": 3,
          "level": "B2",
          "mode": "Diálogo fictício de um estudante contato para sua mãe sobre como foi a aula do dia",
          "imageStyle": "Anime estilo 3D",
          "scenes": 4,
          "targetWordsPerParagraph": 45
        }
      }
    ]
  },
  "versionId": "e205cafd-597d-426b-b249-900ea36bc063",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-16T23:18:04.775Z",
      "createdAt": "2025-10-16T23:18:04.775Z",
      "role": "workflow:owner",
      "workflowId": "Hg91NZVyqdB46nko",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-14T12:01:37.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-14",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}