env/n8n_workflow/backup/jniprgMcsGAqo0tA_@EFFECTS_GLITCH.json
{
  "updatedAt": "2025-10-08T12:19:43.000Z",
  "createdAt": "2025-10-07T23:18:20.005Z",
  "id": "jniprgMcsGAqo0tA",
  "name": "@EFFECTS_GLITCH",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tIsp1uN50IMXhoQW",
          "mode": "list",
          "cachedResultUrl": "/workflow/tIsp1uN50IMXhoQW",
          "cachedResultName": "@OVERLAY_VIDEO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 0,
            "OVERLAY_FILE_NAME": "/home/node/assets/COMMON/overlay_videos/GLITCHED_60_S.mp4",
            "VIDEO_FILE_NAME": "={{ $('START').item.json.FILE_NAME }}.mp4",
            "VIDEO_BASE_PATH": "={{ $json.BASE_PATH }}",
            "OVERLAY_BASE_PATH": "COMMON"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "VIDEO_BASE_PATH",
              "displayName": "VIDEO_BASE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "OVERLAY_FILE_NAME",
              "displayName": "OVERLAY_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "OVERLAY_BASE_PATH",
              "displayName": "OVERLAY_BASE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        144
      ],
      "id": "b8b06a6e-98aa-48dd-b449-6063d5cb2342",
      "name": "@CHROMAKEY"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bPkDY1rLEosPYyck",
          "mode": "list",
          "cachedResultUrl": "/workflow/bPkDY1rLEosPYyck",
          "cachedResultName": "@VIDEO_SPLIT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "START_TIME": "={{ $('START').item.json.start.toString() }}",
            "END_TIME": "={{ $('START').item.json.end.toString() }}",
            "VIDEO_ID": "={{ $('START').item.json.FILE_NAME }}",
            "BASE_PATH": "={{ $('START').item.json.BASE_PATH }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "BASE_PATH",
              "displayName": "BASE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "START_TIME",
              "displayName": "START_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "END_TIME",
              "displayName": "END_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "PREFIX",
              "displayName": "PREFIX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -384,
        144
      ],
      "id": "a8c35f0e-2ba9-451e-a676-0d02ba6eb283",
      "name": "@VIDEO_SPLIT"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "646iTE9KdvOyUJ2l",
          "mode": "list",
          "cachedResultUrl": "/workflow/646iTE9KdvOyUJ2l",
          "cachedResultName": "@EFFECTS_VINTAGE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "V_SAT": 0,
            "V_CONTRAST": 0,
            "V_BRIGHT": 0,
            "V_GRAIN": 40,
            "V_SEED": 2056,
            "V_FLAGS": "g+t",
            "V_VIGN": "\"PI/8\"",
            "BASE_PATH": "={{ $('START').item.json.BASE_PATH }}",
            "FILENAME": "=OVERLAY_{{ $('@CHROMAKEY').item.json.FILENAME }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILENAME",
              "displayName": "FILENAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "BASE_PATH",
              "displayName": "BASE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "V_SAT",
              "displayName": "V_SAT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "V_CONTRAST",
              "displayName": "V_CONTRAST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "V_BRIGHT",
              "displayName": "V_BRIGHT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "V_GRAIN",
              "displayName": "V_GRAIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "V_FLAGS",
              "displayName": "V_FLAGS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "V_SEED",
              "displayName": "V_SEED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "V_VIGN",
              "displayName": "V_VIGN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -64,
        144
      ],
      "id": "c50ae5b8-fc1c-409e-9e30-3498968e021b",
      "name": "@VINTAGE"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILE_NAME\": \"a string\",\n  \"BASE_PATH\":\"\",\n  \"start\": 123,\n  \"end\": 123\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        144
      ],
      "id": "1b0c5918-5a6d-4d45-b528-d2aaf64d4ebb",
      "name": "START"
    }
  ],
  "connections": {
    "@VIDEO_SPLIT": {
      "main": [
        [
          {
            "node": "@CHROMAKEY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@CHROMAKEY": {
      "main": [
        [
          {
            "node": "@VINTAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "@VIDEO_SPLIT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "START": [
      {
        "json": {
          "FILE_NAME": "97nFoYay0IQ",
          "BASE_PATH": "CANAL_ANCAPSU",
          "start": 25,
          "end": 30
        }
      }
    ]
  },
  "versionId": "3d6a0ead-0d39-4347-a760-1c7ca2e025de",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-07T23:18:20.023Z",
      "createdAt": "2025-10-07T23:18:20.023Z",
      "role": "workflow:owner",
      "workflowId": "jniprgMcsGAqo0tA",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-28T18:38:23.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}