env/n8n_workflow/backup/KOk2liA6SYCvAYG2_@CONSULTAR_DESPESA.json
{
  "updatedAt": "2026-01-15T15:41:57.000Z",
  "createdAt": "2026-01-13T19:02:10.471Z",
  "id": "KOk2liA6SYCvAYG2",
  "name": "@CONSULTAR_DESPESA",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"dataInicio\": \"2026-01-01\",\n  \"dataFim\": \"2026-01-31\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        -16
      ],
      "id": "5e399c64-c8d4-40f0-bb07-b16ef32effef",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "2q2xOFkVPxhwKYje",
          "mode": "list",
          "cachedResultName": "DESPESAS_FAMILIA",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/2q2xOFkVPxhwKYje"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $json.dataInicio }}"
            },
            {
              "keyName": "createdAt",
              "condition": "lte",
              "keyValue": "={{ $json.dataFim }}"
            }
          ]
        },
        "limit": 2000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        352,
        -16
      ],
      "id": "e626e48a-0f17-413c-a0ec-d0b1a31fdd69",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "const TZ = 'America/Sao_Paulo';\n\nreturn $input.all().map(({ json }) => {\n  const dt = json.createdAt ? new Date(json.createdAt) : null;\n  \n  const dataSP = dt\n    ? new Intl.DateTimeFormat('en-CA', { timeZone: TZ }).format(dt)\n    : null;\n\n  return {\n    json: {\n      VALOR: json.VALOR ?? null,\n      DESCRICAO: json.DESCRICAO ?? null,\n      CATEGORIA: json.CATEGORIA ?? null,\n      USUARIO: json.USUARIO ?? null,\n      DATA: dataSP,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -16
      ],
      "id": "5a43fa34-f97c-49c8-8751-1980062e5cbf",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "dataInicio": "2026-01-01",
          "dataFim": "2026-01-31"
        }
      }
    ]
  },
  "versionId": "176ed834-ba5f-496e-a629-8241a9831cd1",
  "versionCounter": 12,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-13T19:02:10.497Z",
      "createdAt": "2026-01-13T19:02:10.497Z",
      "role": "workflow:owner",
      "workflowId": "KOk2liA6SYCvAYG2",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-26T22:26:02.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}