env/n8n_workflow/backup/lnhyKMDkskP0qKhu_@AUDIO_TO_WHISPER_OPEN_AI.json
{
  "updatedAt": "2025-10-05T18:55:42.000Z",
  "createdAt": "2025-09-13T18:58:22.076Z",
  "id": "lnhyKMDkskP0qKhu",
  "name": "@AUDIO_TO_WHISPER_OPEN_AI",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"VIDEO_ID\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        384,
        144
      ],
      "id": "c9dd57db-0727-430e-9211-4af87e4febee",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b08217d3-fe5e-4286-a655-3e9caa5eb0d4",
              "name": "RESPONSE",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        144
      ],
      "id": "9617c7cf-8aa4-4f02-b1a7-c17c33b7f048",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        144
      ],
      "id": "969e23d9-ce01-4780-b754-3a4ed6a8fbf2",
      "name": "Call '@GLOBAL_ANCAPSU'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "response_format",
              "value": "srt"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        144
      ],
      "id": "1c9c6c2e-9f6b-4a09-bcbb-0155df1fd997",
      "name": "Call Open AI"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/download/{{ $json.CHANNEL_NAME }}/{{ $('START').item.json.VIDEO_ID }}/{{ $('START').item.json.VIDEO_ID }}.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        768,
        144
      ],
      "id": "816683e9-2f49-4603-b78f-4c440cfe289b",
      "name": "READ"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "Call '@GLOBAL_ANCAPSU'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '@GLOBAL_ANCAPSU'": {
      "main": [
        [
          {
            "node": "READ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Open AI": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "READ": {
      "main": [
        [
          {
            "node": "Call Open AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "START": [
      {
        "json": {
          "VIDEO_ID": "POsbqYT-EuI"
        }
      }
    ]
  },
  "versionId": "7bba7cc8-09f4-473f-b80f-68f03c7a75ad",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-13T18:58:22.100Z",
      "createdAt": "2025-09-13T18:58:22.100Z",
      "role": "workflow:owner",
      "workflowId": "lnhyKMDkskP0qKhu",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-15T11:12:49.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}