env/n8n_workflow/backup/M351f6P8AKFYVXjT_MAIN.json
{
  "updatedAt": "2026-01-06T12:22:51.000Z",
  "createdAt": "2025-11-17T23:44:16.787Z",
  "id": "M351f6P8AKFYVXjT",
  "name": "MAIN",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PbLz6eURJ0Jf0gC0",
          "mode": "list",
          "cachedResultUrl": "/workflow/PbLz6eURJ0Jf0gC0",
          "cachedResultName": "@GLOBAL_BLUES_COM_ALMA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        528,
        -144
      ],
      "id": "6c06f886-d8e6-4553-a385-6535eb7912bd",
      "name": "@GLOBAL_BLUES_COM_ALMA"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31b61ecd-ff5c-4148-9f62-7490b04395ca",
              "name": "videoId",
              "value": "={{new Date().toDateTime().toMillis()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -144
      ],
      "id": "bcb4b90c-91cb-4556-9d7e-6d0d5dcdeb3b",
      "name": "Get videoId from timestamp"
    },
    {
      "parameters": {
        "command": "=mkdir -p /home/node/download/{{$('@GLOBAL_BLUES_COM_ALMA').item.json.CHANNEL_NAME }}/{{ $('Get videoId from timestamp').item.json.videoId }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        736,
        -144
      ],
      "id": "a1900236-603c-4916-8358-bcd210923f00",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\nset -eu\n\n############# CONFIG BÁSICA #############\n\n# Como a imagem deve se ajustar ao canvas: contain | cover | stretch\nSCALE_MODE=\"${SCALE_MODE:-cover}\"\n\n# Layout do vídeo\nCANVAS_W=\"${CANVAS_W:-1920}\"\nCANVAS_H=\"${CANVAS_H:-1080}\"\nBG_COLOR=\"${BG_COLOR:-black}\"\n\n# Tempo que cada imagem fica na tela (em segundos) – DEFINIDO POR VOCÊ\nIMAGE_DURATION=\"${IMAGE_DURATION:-30}\"\n\n# Duração do fade in/out (em segundos)\nFADE_SEC=\"${FADE_SEC:-0.7}\"\n\n# Diretório com as imagens .png e o .mp3\nMEDIA_DIR=\"/home/node/download/{{ $('@GLOBAL_BLUES_COM_ALMA').item.json.CHANNEL_NAME }}/{{ $('Get videoId from timestamp').item.json.videoId }}\"\n\n# Arquivo de áudio (caminho completo vindo do n8n)\nAUDIO_FILE=\"{{ $('@VIDEO_META_DATA').first().json.FILENAME }}\"\n\n# Duração do áudio (segundos) – vinda do n8n, usada como hint\nAUDIO_DURATION=\"{{ $('@VIDEO_META_DATA').first().json.videoMetaData.durationSeconds }}\"\n\n# Quantidade máxima de imagens a usar (0 = usa todas; se >0, limita)\nIMAGE_COUNT=\"${IMAGE_COUNT:-0}\"\n\n# Arquivo de saída\nOUTPUT_FILE=\"/home/node/download/{{ $('@GLOBAL_BLUES_COM_ALMA').item.json.CHANNEL_NAME }}/{{ $('Get videoId from timestamp').item.json.videoId }}/{{ $('Get videoId from timestamp').item.json.videoId }}.mp4\"\n\n# Encoder\nX264_PRESET=\"${X264_PRESET:-veryfast}\"\nX264_CRF=\"${X264_CRF:-21}\"\nAUDIO_BR=\"${AUDIO_BR:-160k}\"\n\n#########################################\n\nif [ -z \"$MEDIA_DIR\" ]; then\n  echo \"ERRO: MEDIA_DIR não informado.\"\n  exit 1\nfi\n\nif [ ! -d \"$MEDIA_DIR\" ]; then\n  echo \"ERRO: Diretório MEDIA_DIR não existe: $MEDIA_DIR\"\n  exit 1\nfi\n\n# Resolve AUDIO_FILE (fallback se vier vazio)\nif [ -z \"$AUDIO_FILE\" ]; then\n  AUDIO_FILE=\"$(find \"$MEDIA_DIR\" -maxdepth 1 -type f -iname '*.mp3' | head -n1 || true)\"\nfi\n\nif [ -z \"$AUDIO_FILE\" ]; then\n  echo \"ERRO: Nenhum arquivo .mp3 encontrado e AUDIO_FILE não foi informado.\"\n  exit 1\nfi\n\n# Se AUDIO_FILE não for caminho absoluto e não existir como está, tenta dentro de MEDIA_DIR\nif [ ! -f \"$AUDIO_FILE\" ]; then\n  if [ -f \"$MEDIA_DIR/$AUDIO_FILE\" ]; then\n    AUDIO_FILE=\"$MEDIA_DIR/$AUDIO_FILE\"\n  else\n    echo \"ERRO: Arquivo de áudio não encontrado: $AUDIO_FILE\"\n    exit 1\n  fi\nfi\n\n# Define OUTPUT_FILE padrão se vier vazio (não é o seu caso, mas deixo por segurança)\nif [ -z \"$OUTPUT_FILE\" ]; then\n  BASENAME=\"$(basename \"$AUDIO_FILE\" .mp3)\"\n  OUTPUT_FILE=\"$MEDIA_DIR/${BASENAME}_slideshow.mp4\"\nfi\n\n# Diretório temporário\nTMPROOT=\"/home/node/download\"\nmkdir -p \"$TMPROOT\"\nTMPDIR=\"$(mktemp -d \"$TMPROOT/.slideshow_XXXXXX\")\"\ntrap 'rm -rf \"$TMPDIR\"' EXIT\n\n# ===== Utils =====\n\nprobe_dur () {\n  ffprobe -hide_banner -loglevel error \\\n    -show_entries format=duration \\\n    -of default=nokey=1:noprint_wrappers=1 \\\n    \"$1\" 2>/dev/null | tr -d '\\r' || true\n}\n\nclamp_fade_start () {\n  # $1 = DUR, $2 = fade_sec\n  awk -v d=\"$1\" -v f=\"$2\" 'BEGIN{ s=d-f; if (s<0) s=0; printf \"%.3f\", s }'\n}\n\nscale_to_canvas () {\n  case \"$SCALE_MODE\" in\n    cover)\n      echo \"scale=${CANVAS_W}:${CANVAS_H}:force_original_aspect_ratio=increase,crop=${CANVAS_W}:${CANVAS_H}\"\n      ;;\n    stretch)\n      echo \"scale=${CANVAS_W}:${CANVAS_H}\"\n      ;;\n    *)\n      # contain (padrão): mantém aspecto, preenche com BG\n      echo \"scale=${CANVAS_W}:${CANVAS_H}:force_original_aspect_ratio=decrease,pad=${CANVAS_W}:${CANVAS_H}:(ow-iw)/2:(oh-ih)/2:color=${BG_COLOR}\"\n      ;;\n  esac\n}\n\n# ===== Lista de imagens =====\n\nIMG_LIST=\"$TMPDIR/images.txt\"\n\n# Pega todas as PNGs ordenadas e salva em um arquivo\nfind \"$MEDIA_DIR\" -maxdepth 1 -type f -iname '*.png' | sort > \"$IMG_LIST\"\n\n# Conta quantas imagens temos\nTOTAL_IMAGES=\"$(wc -l < \"$IMG_LIST\" | tr -d '[:space:]')\"\n\nif [ \"$TOTAL_IMAGES\" -eq 0 ]; then\n  echo \"ERRO: Nenhuma imagem .png encontrada em $MEDIA_DIR\"\n  exit 1\nfi\n\n# Aplica limite IMAGE_COUNT se informado (> 0)\nif [ \"$IMAGE_COUNT\" -gt 0 ] && [ \"$IMAGE_COUNT\" -lt \"$TOTAL_IMAGES\" ]; then\n  TOTAL_IMAGES=\"$IMAGE_COUNT\"\nfi\n\n# ===== Descobre duração do áudio =====\n\nAUD_DUR=\"$AUDIO_DURATION\"\n\nif [ -z \"$AUD_DUR\" ] || [ \"$AUD_DUR\" = \"0\" ]; then\n  AUD_DUR=\"$(probe_dur \"$AUDIO_FILE\" || echo 0)\"\nfi\n\nif [ \"$AUD_DUR\" = \"0\" ]; then\n  echo \"ERRO: não foi possível detectar a duração do áudio.\"\n  exit 1\nfi\n\n# ===== Calcula quantos clipes precisamos para cobrir toda a música =====\n# N_CLIPS = ceil(AUD_DUR / IMAGE_DURATION)\n\nN_CLIPS=\"$(awk -v d=\"$AUD_DUR\" -v s=\"$IMAGE_DURATION\" 'BEGIN {\n  if (s <= 0) s = 1;\n  print int( (d + s - 1) / s );\n}')\"\n\necho \"Total de imagens únicas:   $TOTAL_IMAGES\"\necho \"Duração do áudio (s):      $AUD_DUR\"\necho \"Duração por imagem (s):    $IMAGE_DURATION\"\necho \"Total de clipes (round-robin): $N_CLIPS\"\n\n# ===== Gera um clipe de vídeo para cada posição da sequência =====\n\nLIST_FILE=\"$TMPDIR/list.txt\"\n: > \"$LIST_FILE\"\n\ni=0\nwhile [ \"$i\" -lt \"$N_CLIPS\" ]; do\n  # índice da imagem (1-based para o sed)\n  idx=$(( (i % TOTAL_IMAGES) + 1 ))\n  IMG=\"$(sed -n \"${idx}p\" \"$IMG_LIST\")\"\n\n  CLIP=\"$TMPDIR/clip_$(printf '%03d' \"$i\").mp4\"\n\n  DUR=\"$IMAGE_DURATION\"\n  FADE_OUT_START=\"$(clamp_fade_start \"$DUR\" \"$FADE_SEC\")\"\n\n  ffmpeg -nostdin -hide_banner -loglevel error -y \\\n    -loop 1 -t \"$DUR\" -i \"$IMG\" \\\n    -filter_complex \"\\\n[0:v]$(scale_to_canvas),format=yuv420p,\\\nfade=t=in:st=0:d=${FADE_SEC},\\\nfade=t=out:st=${FADE_OUT_START}:d=${FADE_SEC}[v]\" \\\n    -map \"[v]\" \\\n    -c:v libx264 -preset \"$X264_PRESET\" -crf \"$X264_CRF\" \\\n    -pix_fmt yuv420p -movflags +faststart \\\n    \"$CLIP\"\n\n  echo \"file '$CLIP'\" >> \"$LIST_FILE\"\n\n  i=$((i+1))\ndone\n\n# ===== Concatena todos os clipes de vídeo =====\n\nSLIDESHOW_VIDEO=\"$TMPDIR/slideshow_video.mp4\"\n\nffmpeg -nostdin -hide_banner -loglevel error -y \\\n  -f concat -safe 0 -i \"$LIST_FILE\" \\\n  -c copy \\\n  \"$SLIDESHOW_VIDEO\"\n\n# Checa duração do slideshow e do áudio\nVID_DUR=\"$(probe_dur \"$SLIDESHOW_VIDEO\" || echo 0)\"\nAUD_DUR_REAL=\"$(probe_dur \"$AUDIO_FILE\" || echo 0)\"\n\necho \"Duração do slideshow (s):  $VID_DUR\"\necho \"Duração real do áudio (s): $AUD_DUR_REAL\"\n\n# ===== Junta o vídeo com o áudio =====\n# Como o slideshow é >= áudio, -shortest corta no fim da música (como você quer)\n\nffmpeg -nostdin -hide_banner -loglevel error -y \\\n  -i \"$SLIDESHOW_VIDEO\" -i \"$AUDIO_FILE\" \\\n  -c:v copy \\\n  -c:a aac -b:a \"$AUDIO_BR\" \\\n  -shortest \\\n  \"$OUTPUT_FILE\"\n\necho \"OK: vídeo gerado em $OUTPUT_FILE\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2832,
        -128
      ],
      "id": "aa199d88-84cd-4193-87cd-cec315b0efcd",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51b99fba-0ba1-4ccf-89e3-5751b0fb84d7",
              "name": "style",
              "value": "={{ $('Submitter').item.json.style }}",
              "type": "string"
            },
            {
              "id": "571751b3-f689-4699-8529-bb355f1ee308",
              "name": "lyrics",
              "value": "={{ $('Submitter').item.json.lyrics }}",
              "type": "string"
            },
            {
              "id": "69115254-463b-449a-8e87-d76f5cf72ff0",
              "name": "musicName",
              "value": "={{ $('Submitter').item.json.musicName}}",
              "type": "string"
            },
            {
              "id": "23ba2a55-436f-4b9a-8068-ede9a172374f",
              "name": "showImageDuration",
              "value": "30",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -144
      ],
      "id": "6b6a659e-359c-43f4-b2f4-8449b9ceb560",
      "name": "Variaveis da musica"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "K4u6F84rU1Y3LcRb",
          "mode": "list",
          "cachedResultUrl": "/workflow/K4u6F84rU1Y3LcRb",
          "cachedResultName": "@PROCESS_MUSIC_BLUES_COM_ALMA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lyrics": "={{ $('Variaveis da musica').item.json.lyrics }}",
            "style": "={{ $('Variaveis da musica').item.json.style }}",
            "musicaName": "={{ $('Submitter').item.json.musicName }}",
            "CHANNEL_NAME": "={{ $('@GLOBAL_BLUES_COM_ALMA').item.json.CHANNEL_NAME }}",
            "videoId": "={{ $('Get videoId from timestamp').item.json.videoId }}"
          },
          "matchingColumns": [
            "lyrics",
            "style",
            "musicaName",
            "CHANNEL_NAME",
            "videoId"
          ],
          "schema": [
            {
              "id": "lyrics",
              "displayName": "lyrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "musicaName",
              "displayName": "musicaName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CHANNEL_NAME",
              "displayName": "CHANNEL_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        -144
      ],
      "name": "@PROCESS_MUSIC_BLUES_COM_ALMA",
      "id": "b9658265-c6e8-418a-b93c-e415b2696299"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U2B3b3K36MwEByEd",
          "mode": "list",
          "cachedResultUrl": "/workflow/U2B3b3K36MwEByEd",
          "cachedResultName": "@VIDEO_META_DATA_V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_PATH": "=/home/node/download/{{ $('@GLOBAL_BLUES_COM_ALMA').item.json.CHANNEL_NAME }}/{{ $('Get videoId from timestamp').item.json.videoId }}/data.mp3"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_PATH",
              "displayName": "FILE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1600,
        -144
      ],
      "id": "070c4e09-9a5f-4ba7-b57f-45c51ca73c48",
      "name": "@VIDEO_META_DATA"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "sZXDNEUQMEUeryHZ",
          "mode": "list",
          "cachedResultName": "BACKGROUND_VIDEOS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/sZXDNEUQMEUeryHZ"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1328,
        -144
      ],
      "id": "ba091a8c-9d31-4da3-b7b4-6b799a320f62",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "907354c1-8922-4206-92dd-d7bf561aab29",
              "name": "lyrics",
              "value": "={{ $('Submitter').item.json.lyrics }}",
              "type": "string"
            },
            {
              "id": "1c0eab15-b3a2-41c7-a59f-78a868afc96c",
              "name": "filePath",
              "value": "={{ $json.videoMetaData.file }}",
              "type": "string"
            },
            {
              "id": "7f02d712-2cec-4306-8232-8e471471370a",
              "name": "duration",
              "value": "={{ $json.videoMetaData.durationSeconds }}",
              "type": "number"
            },
            {
              "id": "9de62137-d6fa-405f-b5f2-024e933af15d",
              "name": "type",
              "value": "={{ $json.videoMetaData.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        -128
      ],
      "id": "46dd93fe-4ded-4818-8c36-5a2d9ba7bee0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1600,
        32
      ],
      "id": "246246de-1c61-47b1-a250-3007afb2485e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1888,
        -128
      ],
      "id": "21b0574c-55d9-47d9-9e8c-e8c8d8272a44",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U2B3b3K36MwEByEd",
          "mode": "list",
          "cachedResultUrl": "/workflow/U2B3b3K36MwEByEd",
          "cachedResultName": "@VIDEO_META_DATA_V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_PATH": "=/home/node/assets/{{ $('@GLOBAL_BLUES_COM_ALMA').item.json.CHANNEL_NAME }}/videos/{{ $json.video_filename }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_PATH",
              "displayName": "FILE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1792,
        128
      ],
      "id": "84850ce9-2168-48cd-9422-ab8d843e7630",
      "name": "@VIDEO_META_DATA1"
    },
    {
      "parameters": {
        "formTitle": "Input params of music here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "style",
              "placeholder": "Style music here"
            },
            {
              "fieldLabel": "lyrics",
              "placeholder": "Put lyrics here"
            },
            {
              "fieldLabel": "musicName",
              "placeholder": "Name of music"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        144,
        -144
      ],
      "id": "b2ba614c-8426-441a-83b0-168f84628b43",
      "name": "Submitter",
      "webhookId": "1cc58845-dba9-465b-ac23-f1f00a8403e1"
    }
  ],
  "connections": {
    "@GLOBAL_BLUES_COM_ALMA": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get videoId from timestamp": {
      "main": [
        [
          {
            "node": "@GLOBAL_BLUES_COM_ALMA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Variaveis da musica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis da musica": {
      "main": [
        [
          {
            "node": "@PROCESS_MUSIC_BLUES_COM_ALMA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@PROCESS_MUSIC_BLUES_COM_ALMA": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@VIDEO_META_DATA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "@VIDEO_META_DATA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "@VIDEO_META_DATA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@VIDEO_META_DATA1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submitter": {
      "main": [
        [
          {
            "node": "Get videoId from timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get videoId from timestamp": [
      {
        "json": {
          "videoId": "1767699491664"
        }
      }
    ],
    "@GLOBAL_BLUES_COM_ALMA": [
      {
        "json": {
          "CHANNEL_NAME": "CANAL_BLUES_COM_ALMA",
          "PLAYLISTS": "[{\"nome\":\"justiça\",\"id\":\"PLiSmx3iri_u6dSBifqOy7vKXg_jwKMdCC\"},{\"nome\":\"Geopolítica\",\"id\":\"PLiSmx3iri_u6rxnKe8Wn0hDMHvW9lQtDR\"},{\"nome\":\"politica\",\"id\":\"PLiSmx3iri_u5Md9fp1OK0P6snqkvdC--2\"},{\"nome\":\"cultura e sociedade\",\"id\":\"PLiSmx3iri_u6jQBZ243ZlXKZxQmTgWGsP\"},{\"nome\":\"Liberdade e mercado\",\"id\":\"PLiSmx3iri_u58mo-HoyOBRvq5UbcQtsI-\"},{\"nome\":\"Economia\",\"id\":\"PLiSmx3iri_u5FjegpH8G1wVdNZ_OHNDo3\"},{\"nome\":\"Corrupção\",\"id\":\"PLiSmx3iri_u7N_yRxvegkwZmxS99NhR_6\"},{\"nome\":\"Tecnologia\",\"id\":\"PLiSmx3iri_u7UopwFnez3FERK9cZE1c6Y\"}]\n",
          "NOTIFY_NUMBERS": [
            "5561982086449"
          ],
          "AVAILABLE_VOICES": [
            {
              "voiceId": "4YYIPFl9wE5c4L2eu2Gb",
              "description": "deep strong eldery male narrator voice"
            },
            {
              "voiceId": "SAz9YHcvj6GT2YYXdXww",
              "description": "middle-aged female"
            },
            {
              "voiceId": "ZF6FPAbjXT4488VcRRnw",
              "description": "teenage female"
            },
            {
              "voiceId": "EOVAuWqgSZN2Oel78Psj",
              "description": "young malee"
            }
          ]
        }
      }
    ],
    "Execute Command": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "@PROCESS_MUSIC_BLUES_COM_ALMA": [
      {
        "json": {
          "style": "A warm and emotional gospel-blues worship style rooted in evangelical church tradition, with a brighter and lively groove. Expressive vocals with gentle vibrato, rich harmonies, and a heartfelt, prayerful tone. Rhythmic blues pulse with light syncopation, soft drums, warm bass, clean electric-guitar bends, gentle organ pads, and subtle reverb for an intimate worship mood. The performance must sound unmistakably live, recorded inside a church full of people. Worship leaders speak spontaneous phrases between lines (“Obrigado, Senhor!”, “Igreja, canta comigo!”, “Aleluia!”), and the congregation responds with claps, cheers, amens, and strong “Glória a Deus!”. Deep worship moments, collective singing, emotional cries, call-and-response, and the natural ambience of a live service should be clearly present throughout.",
          "lyrics": "Porque d'Ele, por Ele, para Ele são todas as coisas, tudo o que tenho e o que sou vêm das Suas mãos bondosas, porque d'Ele, por Ele, para Ele seguem minhas histórias, nele começa, nele termina toda honra e toda glória, a Ele a glória, a Ele a glória, a Ele a glória pra sempre, amém, a Ele a glória, a Ele a glória, a Ele a glória pra sempre, amém, quão profundas, infinitas, as riquezas do Senhor, Seu saber nos ultrapassa, Seu caminho é superior, indescritíveis Seus juízos, quem conhece o Seu pensar? mesmo assim o Teu Espírito vem nos ensinar a amar, digamos: a Ele a glória, a Ele a glória, a Ele a glória pra sempre e sempre, amém, proclamemos: a Ele a glória, a Ele a glória, a Ele a glória pra sempre, pra sempre, amém, Aquele que é, que era e sempre há de ser, Rei da Glória, Rei eterno, sobre tudo o Seu poder, Te entregamos, Deus, a vida, o coração e o nosso altar, nossas vozes, nossa casa, tudo vem pra Te exaltar, a Ele a glória, a Ele a glória, a Ele a glória pra sempre, Senhor, não há outro, não há outro, não há Deus além de Ti, Rei da Glória, santo, santo, toda a terra canta assim, nunca se viu, nunca se ouviu um amor tão grande assim, Deus invencível, incomparável, és o centro até o fim, a Ele a glória, a Ele a glória, a Ele a glória também, a Ele a glória para sempre, para sempre, amém",
          "musicName": "Toda Glória é Dele",
          "showImageDuration": "30"
        }
      }
    ],
    "Variaveis da musica": [
      {
        "json": {
          "style": "A warm and emotional gospel-blues worship style rooted in evangelical church tradition, with a brighter and lively groove. Expressive vocals with gentle vibrato, rich harmonies, and a heartfelt, prayerful tone. Rhythmic blues pulse with light syncopation, soft drums, warm bass, clean electric-guitar bends, gentle organ pads, and subtle reverb for an intimate worship mood. The performance must sound unmistakably live, recorded inside a church full of people. Worship leaders speak spontaneous phrases between lines (“Obrigado, Senhor!”, “Igreja, canta comigo!”, “Aleluia!”), and the congregation responds with claps, cheers, amens, and strong “Glória a Deus!”. Deep worship moments, collective singing, emotional cries, call-and-response, and the natural ambience of a live service should be clearly present throughout.",
          "lyrics": "Porque d'Ele, por Ele, para Ele são todas as coisas, tudo o que tenho e o que sou vêm das Suas mãos bondosas, porque d'Ele, por Ele, para Ele seguem minhas histórias, nele começa, nele termina toda honra e toda glória, a Ele a glória, a Ele a glória, a Ele a glória pra sempre, amém, a Ele a glória, a Ele a glória, a Ele a glória pra sempre, amém, quão profundas, infinitas, as riquezas do Senhor, Seu saber nos ultrapassa, Seu caminho é superior, indescritíveis Seus juízos, quem conhece o Seu pensar? mesmo assim o Teu Espírito vem nos ensinar a amar, digamos: a Ele a glória, a Ele a glória, a Ele a glória pra sempre e sempre, amém, proclamemos: a Ele a glória, a Ele a glória, a Ele a glória pra sempre, pra sempre, amém, Aquele que é, que era e sempre há de ser, Rei da Glória, Rei eterno, sobre tudo o Seu poder, Te entregamos, Deus, a vida, o coração e o nosso altar, nossas vozes, nossa casa, tudo vem pra Te exaltar, a Ele a glória, a Ele a glória, a Ele a glória pra sempre, Senhor, não há outro, não há outro, não há Deus além de Ti, Rei da Glória, santo, santo, toda a terra canta assim, nunca se viu, nunca se ouviu um amor tão grande assim, Deus invencível, incomparável, és o centro até o fim, a Ele a glória, a Ele a glória, a Ele a glória também, a Ele a glória para sempre, para sempre, amém",
          "musicName": "Toda Glória é Dele",
          "showImageDuration": "30"
        }
      }
    ],
    "Submitter": [
      {
        "json": {
          "style": "A warm and emotional gospel-blues worship style rooted in evangelical church tradition, with a brighter and lively groove. Expressive vocals with gentle vibrato, rich harmonies, and a heartfelt, prayerful tone. Rhythmic blues pulse with light syncopation, soft drums, warm bass, clean electric-guitar bends, gentle organ pads, and subtle reverb for an intimate worship mood. The performance must sound unmistakably live, recorded inside a church full of people. Worship leaders speak spontaneous phrases between lines (“Obrigado, Senhor!”, “Igreja, canta comigo!”, “Aleluia!”), and the congregation responds with claps, cheers, amens, and strong “Glória a Deus!”. Deep worship moments, collective singing, emotional cries, call-and-response, and the natural ambience of a live service should be clearly present throughout.",
          "lyrics": "Porque d'Ele, por Ele, para Ele são todas as coisas, tudo o que tenho e o que sou vêm das Suas mãos bondosas, porque d'Ele, por Ele, para Ele seguem minhas histórias, nele começa, nele termina toda honra e toda glória, a Ele a glória, a Ele a glória, a Ele a glória pra sempre, amém, a Ele a glória, a Ele a glória, a Ele a glória pra sempre, amém, quão profundas, infinitas, as riquezas do Senhor, Seu saber nos ultrapassa, Seu caminho é superior, indescritíveis Seus juízos, quem conhece o Seu pensar? mesmo assim o Teu Espírito vem nos ensinar a amar, digamos: a Ele a glória, a Ele a glória, a Ele a glória pra sempre e sempre, amém, proclamemos: a Ele a glória, a Ele a glória, a Ele a glória pra sempre, pra sempre, amém, Aquele que é, que era e sempre há de ser, Rei da Glória, Rei eterno, sobre tudo o Seu poder, Te entregamos, Deus, a vida, o coração e o nosso altar, nossas vozes, nossa casa, tudo vem pra Te exaltar, a Ele a glória, a Ele a glória, a Ele a glória pra sempre, Senhor, não há outro, não há outro, não há Deus além de Ti, Rei da Glória, santo, santo, toda a terra canta assim, nunca se viu, nunca se ouviu um amor tão grande assim, Deus invencível, incomparável, és o centro até o fim, a Ele a glória, a Ele a glória, a Ele a glória também, a Ele a glória para sempre, para sempre, amém",
          "musicName": "Toda Glória é Dele",
          "submittedAt": "2025-11-24T14:02:29.882-03:00",
          "formMode": "test"
        }
      }
    ]
  },
  "versionId": "43750306-e407-42f0-ac9b-aa0210fee1af",
  "versionCounter": 251,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-17T23:44:16.806Z",
      "createdAt": "2025-11-17T23:44:16.806Z",
      "role": "workflow:owner",
      "workflowId": "M351f6P8AKFYVXjT",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-28T18:38:23.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}