env/n8n_workflow/backup/MCYYlNNL6g7GjhbF_@PROCESS_LONG_VIDEOS.json
{
  "createdAt": "2025-10-01T20:22:50.746Z",
  "updatedAt": "2025-10-09T11:26:06.000Z",
  "id": "MCYYlNNL6g7GjhbF",
  "name": "@PROCESS_LONG_VIDEOS",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eWSuR2lrNs25cJ8B",
          "mode": "list",
          "cachedResultUrl": "/workflow/eWSuR2lrNs25cJ8B",
          "cachedResultName": "@VIDEO_CUT_AGENT_DETECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoTranscription": "={{ $('Start').item.json.RESPONSE }}",
            "videoId": "={{ $('Start').item.json.videoId }}"
          },
          "matchingColumns": [
            "videoTranscription"
          ],
          "schema": [
            {
              "id": "videoTranscription",
              "displayName": "videoTranscription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        496
      ],
      "id": "d124763a-7fc4-4b9d-9e49-a85098928b44",
      "name": "Video Cut Agent Detector",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bPkDY1rLEosPYyck",
          "mode": "list",
          "cachedResultUrl": "/workflow/bPkDY1rLEosPYyck",
          "cachedResultName": "@VIDEO_SPLIT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "START_TIME": "={{ $json.output[0].videoCutStartTime.toString() }}",
            "END_TIME": "={{ $json.output[0].videoCutEndTime.toString() }}",
            "VIDEO_ID": "={{ $('Start').item.json.videoId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "BASE_PATH",
              "displayName": "BASE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "START_TIME",
              "displayName": "START_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "END_TIME",
              "displayName": "END_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "PREFIX",
              "displayName": "PREFIX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1088,
        496
      ],
      "id": "231b7372-afce-4c81-aafc-ae76b3867861",
      "name": "Video Splitter"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3d92D6TV6oLVwDrh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3d92D6TV6oLVwDrh",
          "cachedResultName": "@VIDEO_FADEIN_FADEOUT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "=OVERLAY_{{ $json.FILENAME }}",
            "IN_SECOND": 0,
            "IN_DURATION": 4,
            "OUT_DURATION": 4,
            "OUT_SECOND": "={{ $json.videoMetaData.durationSeconds-4 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "IN_SECOND",
              "displayName": "IN_SECOND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "IN_DURATION",
              "displayName": "IN_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "OUT_SECOND",
              "displayName": "OUT_SECOND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "OUT_DURATION",
              "displayName": "OUT_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2032,
        496
      ],
      "id": "27ca8419-e979-4992-981b-087dc50af3b2",
      "name": "Fade In/out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2ZzZd5eVeRIm70um",
          "mode": "list",
          "cachedResultUrl": "/workflow/2ZzZd5eVeRIm70um",
          "cachedResultName": "@VIDEO_META_DATA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "={{ $json.FILENAME }}"
          },
          "matchingColumns": [
            "FILE_NAME"
          ],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1840,
        496
      ],
      "id": "20ebad80-6f06-49ae-b619-0fe33b2f09c3",
      "name": "Video Meta Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tIsp1uN50IMXhoQW",
          "mode": "list",
          "cachedResultUrl": "/workflow/tIsp1uN50IMXhoQW",
          "cachedResultName": "@OVERLAY_VIDEO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "OVERLAY_FILE_NAME": "={{ '/home/node/assets/CANAL_ANCAPSU/overlay_videos/'+$json.fileName }}",
            "VIDEO_FILE_NAME": "={{ $('Video Splitter').item.json.FILENAME }}",
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 10
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "OVERLAY_FILE_NAME",
              "displayName": "OVERLAY_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1648,
        496
      ],
      "id": "88014289-79dc-43b7-8739-d98e92a0345f",
      "name": "Video Overlay"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/assets/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}/overlay_videos/*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1280,
        496
      ],
      "id": "957a8d27-9029-4c98-8766-2e4e16ce3b36",
      "name": "List Overlays"
    },
    {
      "parameters": {
        "jsCode": "// Code node (JavaScript) — Run once for all items\n// Seleciona 1 item aleatório a partir de $input.all()\n// Preserva json e binary do item escolhido\n\nconst items = $input.all();\nif (!items || items.length === 0) {\n  throw new Error('Sem itens de entrada para sortear.');\n}\n\n// (Opcional) Filtrar por algum critério antes do sorteio, ex.: só vídeos MP4\n// const pool = items.filter(i => i.json?.fileExtension?.toLowerCase() === 'mp4');\nconst pool = items;\n\nif (pool.length === 0) {\n  throw new Error('Nenhum item válido após o filtro.');\n}\n\nconst idx = Math.floor(Math.random() * pool.length);\nconst chosen = pool[idx];\n\n// (Opcional) Marcar o índice sorteado\nchosen.json = { ...chosen.json, _randomIndex: idx };\n\n// Retorna exatamente 1 item para o próximo node\nreturn [chosen];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        496
      ],
      "id": "69681ba6-067d-4b3a-8aa4-386759efe445",
      "name": "Select Overlay"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ek3PyTSAC9oll7i9",
          "mode": "list",
          "cachedResultUrl": "/workflow/ek3PyTSAC9oll7i9",
          "cachedResultName": "@OVERLAY_IMAGE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "IMAGE_X_POS": 0,
            "IMAGE_Y_POS": 0,
            "START_TIME_OVERLAY": 0,
            "END_TIME_OVERLAY": "={{ $('Video Meta Data').item.json.videoMetaData.durationSeconds }}",
            "FADE_TIME": 3,
            "IMAGE_FILE_NAME": "={{ $json.fileName }}",
            "VIDEO_FILE_NAME": "=FADE_IN_FADE_OUT_{{ $('Fade In/out').item.json.FILENAME }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "VIDEO_FILE_NAME",
              "displayName": "VIDEO_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_FILE_NAME",
              "displayName": "IMAGE_FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "IMAGE_X_POS",
              "displayName": "IMAGE_X_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "IMAGE_Y_POS",
              "displayName": "IMAGE_Y_POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "START_TIME_OVERLAY",
              "displayName": "START_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "END_TIME_OVERLAY",
              "displayName": "END_TIME_OVERLAY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "FADE_TIME",
              "displayName": "FADE_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2432,
        496
      ],
      "id": "e30b9b1b-1336-4663-b47f-822dc3b72077",
      "name": "@OVERLAY_IMAGE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bRbAM3zoHUE6bMWh",
          "mode": "list",
          "cachedResultUrl": "/workflow/bRbAM3zoHUE6bMWh",
          "cachedResultName": "@JOIN_VIDEO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "EFFECT": "fadeblack",
            "FILE_1": "=OVERLAY_FADE_IN_FADE_OUT_{{ $('Fade In/out').item.json.FILENAME }}",
            "FILE_2": "/home/node/assets/CANAL_ANCAPSU/final_videos/final.mp4",
            "MAIN_VIDEO_DURATION": "={{ $('Video Meta Data').item.json.videoMetaData.durationSeconds }}",
            "TIMESTAMP": 0,
            "PREFIX": "LONG"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_1",
              "displayName": "FILE_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "FILE_2",
              "displayName": "FILE_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "EFFECT",
              "displayName": "EFFECT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "MAIN_VIDEO_DURATION",
              "displayName": "MAIN_VIDEO_DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "PREFIX",
              "displayName": "PREFIX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2624,
        496
      ],
      "id": "d8a1ae96-86c3-4b01-a438-dc1b1024ccd4",
      "name": "@JOIN_VIDEO"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HqrhH7MLPfbiKeW4",
          "mode": "list",
          "cachedResultUrl": "/workflow/HqrhH7MLPfbiKeW4",
          "cachedResultName": "@PROCESS_THUMBNAIL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoId": "={{ $('Start').item.json.videoId }}",
            "fontSize4": 60,
            "posYTexto4": 315,
            "posXTexto4": 25,
            "fontSize3": 60,
            "posYTexto3": 250,
            "posXTexto3": 25,
            "fontSize2": 45,
            "posYTexto2": 175,
            "posXTexto2": 98,
            "fontSize1": 35,
            "posYTexto1": 47,
            "posXTexto1": 50,
            "colorTexto1": "#FFFFFF",
            "colorTexto2": "#000000",
            "colorTexto3": "#FFFFFF",
            "colorTexto4": "#FFFFFF",
            "texto1": "={{ $json.output[0].thumbTexts[0] }}",
            "texto2": "={{ $json.output[0].thumbTexts[1] }}",
            "texto3": "={{ $json.output[0].thumbTexts[2] }}",
            "texto4": "={{ $json.output[0].thumbTexts[3] }}"
          },
          "matchingColumns": [
            "videoId"
          ],
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "texto1",
              "displayName": "texto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto1",
              "displayName": "posXTexto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto1",
              "displayName": "posYTexto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto1",
              "displayName": "colorTexto1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize1",
              "displayName": "fontSize1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "texto2",
              "displayName": "texto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto2",
              "displayName": "posXTexto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto2",
              "displayName": "posYTexto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto2",
              "displayName": "colorTexto2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize2",
              "displayName": "fontSize2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "texto3",
              "displayName": "texto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto3",
              "displayName": "posXTexto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto3",
              "displayName": "posYTexto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto3",
              "displayName": "colorTexto3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize3",
              "displayName": "fontSize3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "texto4",
              "displayName": "texto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posXTexto4",
              "displayName": "posXTexto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posYTexto4",
              "displayName": "posYTexto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "colorTexto4",
              "displayName": "colorTexto4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fontSize4",
              "displayName": "fontSize4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1088,
        320
      ],
      "name": "Process Thumbnail",
      "id": "6b161616-33ed-488b-aceb-b1225e8a409f"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "RESPONSE",
              "type": "any"
            },
            {
              "name": "videoId",
              "type": "any"
            }
          ]
        }
      },
      "id": "b03f9cae-571d-4094-8d25-0738e2d978be",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        512,
        496
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/assets/CANAL_ANCAPSU/overlay_images/horizontal_1.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2224,
        496
      ],
      "id": "6003ad09-9de8-44fa-9582-fc82d1597663",
      "name": "List horizontal Image Overlays"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1b1f42f-20bd-46ab-ae19-7b9f5c8a4f35",
              "name": "output",
              "value": "={{ $('Video Cut Agent Detector').item.json.output }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        496
      ],
      "id": "cdf303fd-8984-4769-8bb5-0bbcf8dd4cef",
      "name": "return"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        496
      ],
      "id": "145b6065-8057-472a-8f98-55a1bfe60d99",
      "name": "@GLOBAL_ANCAPSU"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Iniciando processamento dos vídeos LONGOS..."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        320
      ],
      "id": "15b6992a-4de7-4113-88c7-1209e611e56d",
      "name": "@NOTIFIER"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yolMk1oZPUS6wal0",
          "mode": "list",
          "cachedResultUrl": "/workflow/yolMk1oZPUS6wal0",
          "cachedResultName": "@COPY_FILE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_NAME": "={{ $json.FILENAME }}",
            "PATH_ORIGIN": "=/home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}",
            "PATH_DESTINATION": "=/home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}/DAY_SUMMARY"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FILE_NAME",
              "displayName": "FILE_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "PATH_ORIGIN",
              "displayName": "PATH_ORIGIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "PATH_DESTINATION",
              "displayName": "PATH_DESTINATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1280,
        320
      ],
      "id": "7ff1fd38-d01c-4881-84bd-ba7443966be2",
      "name": "@COPY_FILE"
    }
  ],
  "connections": {
    "Video Cut Agent Detector": {
      "main": [
        [
          {
            "node": "Video Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Splitter": {
      "main": [
        [
          {
            "node": "@COPY_FILE",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Overlays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Meta Data": {
      "main": [
        [
          {
            "node": "Fade In/out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fade In/out": {
      "main": [
        [
          {
            "node": "List horizontal Image Overlays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Overlays": {
      "main": [
        [
          {
            "node": "Select Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Overlay": {
      "main": [
        [
          {
            "node": "Video Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Overlay": {
      "main": [
        [
          {
            "node": "Video Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@OVERLAY_IMAGE": {
      "main": [
        [
          {
            "node": "@JOIN_VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@JOIN_VIDEO": {
      "main": [
        [
          {
            "node": "return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Thumbnail": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          },
          {
            "node": "@NOTIFIER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List horizontal Image Overlays": {
      "main": [
        [
          {
            "node": "@OVERLAY_IMAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "Video Cut Agent Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "RESPONSE": "1\n00:00:00,000 --> 00:00:04,900\n Esse é o Acapso e nós vamos falar agora da possível vinda do Trump ao Brasil para visitar o Bolsonaro.\n\n2\n00:00:05,240 --> 00:00:07,219\n Eu não acredito que isso aconteça não, tá gente?\n\n3\n00:00:07,320 --> 00:00:10,179\n Pra mim, isso daqui é um exagero da Folha de São Paulo,\n\n4\n00:00:10,240 --> 00:00:15,720\n que tá exagerando nesse ponto exatamente para dar a impressão que depois deu errado, tá?\n\n5\n00:00:15,759 --> 00:00:19,559\n Eu acho muito pouco provável que o Trump venha ao Brasil visitar o Bolsonaro,\n\n6\n00:00:20,199 --> 00:00:26,000\n embora, de fato, o Van Garten tenha cogitado essa hipótese, né?\n\n7\n00:00:26,000 --> 00:00:29,980\n Mas, de novo, é uma cogitação bastante ampla que ele fez.\n\n8\n00:00:30,079 --> 00:00:33,280\n A Folha de São Paulo tá usando isso daqui porque quer desacreditar o Van Garten.\n\n9\n00:00:33,700 --> 00:00:36,439\n O mais engraçado é que a imprensa tem feito isso, tá?\n\n10\n00:00:36,500 --> 00:00:43,560\n Tem usado essas declarações como tom de certeza pra tentar justamente desacreditar a direita, né?\n\n11\n00:00:43,620 --> 00:00:49,400\n O objetivo deles é semear discórdia, é causar briga entre o Tarcísio e o Eduardo Bolsonaro,\n\n12\n00:00:49,500 --> 00:00:53,379\n a gente já percebeu isso, causar problemas na direita. Por quê?\n\n13\n00:00:53,620 --> 00:00:55,100\n Porque o Lula tá muito mal.\n\n14\n00:00:55,179 --> 00:00:55,980\n Eu já expliquei pra vocês.\n\n15\n00:00:56,000 --> 00:00:58,020\n Eu já expliquei pra vocês no vídeo de ontem também, que eu falei sobre as pesquisas.\n\n16\n00:00:58,100 --> 00:01:00,799\n O Lula tá muito mal, ele tá perdendo apoio, ele tá virando pato manco.\n\n17\n00:01:01,140 --> 00:01:03,859\n Com a saída do União Brasil e do PP do governo agora,\n\n18\n00:01:03,960 --> 00:01:06,840\n ele vai ficar o resto do governo dele sem conseguir aprovar nada.\n\n19\n00:01:07,420 --> 00:01:12,240\n Então, ele precisa desacreditar a direita, precisa convencer os deputados\n\n20\n00:01:12,240 --> 00:01:14,840\n de que ele ainda tem chance de ganhar a eleição no que vem\n\n21\n00:01:14,840 --> 00:01:16,780\n e que a direita não tem chance nenhuma.\n\n22\n00:01:16,920 --> 00:01:18,900\n Isso daqui é parte desse esforço.\n\n23\n00:01:19,700 --> 00:01:22,460\n Desacreditar a direita, semear confusão na direita\n\n24\n00:01:22,460 --> 00:01:25,500\n pra gerar confusão, pra gerar desunião.\n\n25\n00:01:25,500 --> 00:01:28,680\n E aí, convencer os deputados que é melhor ficar com o Lula mesmo.\n\n26\n00:01:29,540 --> 00:01:31,500\n Então, não levem isso a sério.\n\n27\n00:01:31,560 --> 00:01:35,079\n Eu vou falar um monte de manchetes aqui que tem de briga de Bolsonaro,\n\n28\n00:01:35,460 --> 00:01:37,980\n que o Bolsonaro tá insatisfeito com o Eduardo Bolsonaro,\n\n29\n00:01:38,400 --> 00:01:40,000\n que a direita tá em crise,\n\n30\n00:01:40,500 --> 00:01:44,019\n tem impacto da possível candidatura do Tarcísio e não sei o que lá.\n\n31\n00:01:44,340 --> 00:01:47,039\n Eduardo Bolsonaro não tem mais o ponto de retorno.\n\n32\n00:01:47,579 --> 00:01:49,519\n Um monte de crítica que eles estão fazendo.\n\n33\n00:01:50,099 --> 00:01:52,219\n Lembra, a direita está unida sim.\n\n34\n00:01:52,319 --> 00:01:53,620\n A direita está com o Bolsonaro.\n\n35\n00:01:53,620 --> 00:01:55,939\n Se vai ser o Bolsonaro o candidato,\n\n36\n00:01:56,000 --> 00:01:59,040\n ou se ele vai estar impedido e ele vai indicar alguém pra ser o candidato dele,\n\n37\n00:01:59,359 --> 00:02:00,980\n isso a gente vai ver mais adiante, né?\n\n38\n00:02:01,300 --> 00:02:02,939\n Mas a direita está unida sim,\n\n39\n00:02:03,040 --> 00:02:05,880\n então ignorem esse tipo de briga que tá acontecendo aqui.\n\n40\n00:02:06,219 --> 00:02:09,140\n Isso é a imprensa tentando separar a direita.\n\n41\n00:02:09,319 --> 00:02:10,400\n Prestem atenção nisso.\n\n42\n00:02:10,780 --> 00:02:13,460\n Essa notícia foi sugerida por Peter, fã número um da Light,\n\n43\n00:02:13,580 --> 00:02:14,900\n Supremo é o meu cacete,\n\n44\n00:02:14,980 --> 00:02:15,920\n e várias outras pessoas.\n\n45\n00:02:16,080 --> 00:02:18,780\n Obrigado aí a todo mundo que sugeriu notícias lá no nosso site,\n\n46\n00:02:18,860 --> 00:02:20,180\n no visãolibertaria.com.\n\n47\n00:02:20,460 --> 00:02:22,240\n E obrigado a você que tá assistindo o nosso vídeo.\n\n48\n00:02:22,240 --> 00:02:23,580\n Se você gosta do nosso conteúdo,\n\n49\n00:02:23,580 --> 00:02:26,740\n por favor, deixa o seu like e se inscreva aqui no canal, né?\n\n50\n00:02:27,280 --> 00:02:29,580\n Pois bem, a notícia que saiu da Folha de São Paulo,\n\n51\n00:02:29,660 --> 00:02:31,600\n aqui com a coluna da Mônica Bergamo, é essa.\n\n52\n00:02:31,720 --> 00:02:33,660\n Trump pode visitar Bolsonaro no Brasil,\n\n53\n00:02:33,860 --> 00:02:35,580\n dizem apoiadores do ex-presidente.\n\n54\n00:02:36,080 --> 00:02:37,580\n Aí diz que a visita estaria sendo articulada\n\n55\n00:02:38,140 --> 00:02:39,840\n pelo apresentador Paulo Figueiredo,\n\n56\n00:02:39,860 --> 00:02:40,560\n e não sei o que lá,\n\n57\n00:02:40,680 --> 00:02:42,860\n e o ex-assessor, o Fábio Van Garten,\n\n58\n00:02:42,900 --> 00:02:44,200\n fez uma postagem no X.\n\n59\n00:02:45,320 --> 00:02:46,820\n Enfim, o que eles estão fazendo com isso daqui?\n\n60\n00:02:46,900 --> 00:02:47,480\n Isso aqui é nada.\n\n61\n00:02:47,620 --> 00:02:48,939\n Olha só o que o Van Garten falou aqui.\n\n62\n00:02:49,520 --> 00:02:51,740\n Nada vence o próprio testemunho.\n\n63\n00:02:51,740 --> 00:02:53,560\n Que tal uma visita do presidente,\n\n64\n00:02:53,580 --> 00:02:55,280\n Trump, ao presidente Bolsonaro,\n\n65\n00:02:55,360 --> 00:02:57,280\n na sua casa, para que ambos evidenciem\n\n66\n00:02:57,280 --> 00:03:00,380\n uma química perfeita, atualizando a prosa?\n\n67\n00:03:00,760 --> 00:03:02,920\n Obviamente, a corte e os advogados do presidente\n\n68\n00:03:02,920 --> 00:03:04,840\n seriam consultados com antecedência,\n\n69\n00:03:05,000 --> 00:03:05,900\n fica a dica, né?\n\n70\n00:03:06,400 --> 00:03:08,800\n Ou seja, ele falou isso aqui no seguinte contexto,\n\n71\n00:03:08,880 --> 00:03:10,939\n no contexto justamente dos outros,\n\n72\n00:03:11,300 --> 00:03:13,040\n das outras manchetes que a gente vai ver aqui,\n\n73\n00:03:13,100 --> 00:03:15,160\n que tem um monte de manchete falando de desunião,\n\n74\n00:03:15,320 --> 00:03:17,740\n crise na direita, que a direita tá em crise,\n\n75\n00:03:18,120 --> 00:03:19,960\n porque a ação do Eduardo Bolsonaro\n\n76\n00:03:19,960 --> 00:03:23,240\n deu ruim, aumentou a popularidade do Lula,\n\n77\n00:03:23,240 --> 00:03:23,280\n aumentou a popularidade do Lula,\n\n78\n00:03:23,280 --> 00:03:23,320\n aumentou a popularidade do Lula,\n\n79\n00:03:23,320 --> 00:03:23,360\n aumentou a popularidade do Lula,\n\n80\n00:03:23,360 --> 00:03:23,400\n aumentou a popularidade do Lula,\n\n81\n00:03:23,400 --> 00:03:23,560\n aumentou a popularidade do Lula,\n\n82\n00:03:23,580 --> 00:03:34,800\n não tem sentido nenhum.\n\n83\n00:03:35,100 --> 00:03:36,980\n Eles tentam, na verdade, jogar o Tarcísio\n\n84\n00:03:36,980 --> 00:03:38,939\n contra o Eduardo e o Eduardo contra o Tarcísio,\n\n85\n00:03:39,060 --> 00:03:41,280\n criar essa briga, porque eles sabem\n\n86\n00:03:41,280 --> 00:03:43,180\n que o Tarcísio é muito forte\n\n87\n00:03:43,180 --> 00:03:44,520\n se tiver o apoio do Bolsonaro,\n\n88\n00:03:44,880 --> 00:03:46,740\n mas o Tarcísio não consegue se ele não tiver\n\n89\n00:03:46,740 --> 00:03:47,600\n o apoio do Bolsonaro.\n\n90\n00:03:48,080 --> 00:03:49,900\n Então, se tiver a briga, ou seja,\n\n91\n00:03:49,900 --> 00:03:53,560\n se não tiver o apoio do Bolsonaro para o Tarcísio,\n\n92\n00:03:53,560 --> 00:03:54,920\n o Tarcísio não ganha.\n\n93\n00:03:55,259 --> 00:03:57,400\n E eles esperam que o do lado do Bolsonaro,\n\n94\n00:03:57,479 --> 00:03:59,120\n o Bolsonaro e qualquer outra pessoa que tem,\n\n95\n00:03:59,219 --> 00:04:00,819\n eles vão dar um jeito de proibir de concorrer.\n\n96\n00:04:01,280 --> 00:04:03,580\n Então esse é o caminho que eles querem fazer\n\n97\n00:04:03,580 --> 00:04:05,960\n para melar 2026.\n\n98\n00:04:06,180 --> 00:04:10,240\n Eu ainda acredito que Bolsonaro pode ser o candidato sim ano que vem.\n\n99\n00:04:10,620 --> 00:04:13,400\n Como eu falei para vocês, até aqui eu achava pouco provável,\n\n100\n00:04:13,400 --> 00:04:18,579\n porque com a vontade que estava o STF de condenar Bolsonaro\n\n101\n00:04:18,579 --> 00:04:19,779\n não teria outra alternativa.\n\n102\n00:04:20,180 --> 00:04:21,680\n Mas agora com essas ações do Trump,\n\n103\n00:04:21,680 --> 00:04:25,819\n por mais que já tenha havido a condenação no STF,\n\n104\n00:04:25,900 --> 00:04:27,579\n ainda dá tempo de anular a coisa toda.\n\n105\n00:04:27,680 --> 00:04:29,240\n Isso não é tão difícil de acontecer.\n\n106\n00:04:29,639 --> 00:04:32,240\n Anularam do Lula, por que não anulariam do Bolsonaro também?\n\n107\n00:04:32,620 --> 00:04:34,780\n Então dependendo da pressão lá de fora,\n\n108\n00:04:34,939 --> 00:04:37,000\n pode ser que venha alguma coisa nesse sentido sim.\n\n109\n00:04:39,319 --> 00:04:41,340\n Bom, então repara, essa coisa aqui,\n\n110\n00:04:41,340 --> 00:04:46,399\n o pessoal da Mônica Bergamo pegou essa história aqui do Trump vir ao Brasil.\n\n111\n00:04:46,800 --> 00:04:49,120\n A minha visão é justamente para criar um espantalho\n\n112\n00:04:49,120 --> 00:04:50,620\n e quando o Trump não vier no Brasil,\n\n113\n00:04:50,980 --> 00:04:51,660\n poder dizer, tá vendo?\n\n114\n00:04:51,680 --> 00:04:54,680\n O pessoal do bolsonarismo queria que o Trump viesse e coisa e tal.\n\n115\n00:04:54,680 --> 00:04:55,680\n O Trump não vai vir.\n\n116\n00:04:55,680 --> 00:04:57,680\n Gente, o Trump é um cara muito ocupado, bicho.\n\n117\n00:04:57,680 --> 00:04:59,680\n As preocupações dele...\n\n118\n00:04:59,680 --> 00:05:02,680\n A gente falou um vídeo mais cedo sobre a possibilidade de uma terceira guerra mundial,\n\n119\n00:05:02,680 --> 00:05:04,680\n de entrar em guerra com a Rússia, de invadir a Venezuela.\n\n120\n00:05:04,680 --> 00:05:07,680\n O cara vai vir aqui no Brasil, para ir lá em Brasília,\n\n121\n00:05:07,680 --> 00:05:08,680\n para conversar com o Bolsonaro.\n\n122\n00:05:08,680 --> 00:05:09,680\n Eles são amigos, sim.\n\n123\n00:05:09,680 --> 00:05:14,680\n E poucos amigos estão fazendo tanto por Bolsonaro quanto o Trump está fazendo.\n\n124\n00:05:14,680 --> 00:05:17,680\n Mas daí, ele pegar uma hora para vir aqui no Brasil,\n\n125\n00:05:17,680 --> 00:05:20,680\n eu acho muito pouco provável isso, assim, extremamente improvável.\n\n126\n00:05:20,680 --> 00:05:21,680\n Não acredito que aconteça.\n\n127\n00:05:21,680 --> 00:05:23,680\n Então, não levem isso daqui em consideração.\n\n128\n00:05:23,680 --> 00:05:24,680\n Não vai haver...\n\n129\n00:05:24,680 --> 00:05:27,680\n Isso aqui está saindo nos jornais exatamente porque a imprensa\n\n130\n00:05:27,680 --> 00:05:30,680\n quer semear essa falsa esperança para criar dor de cabeça.\n\n131\n00:05:30,680 --> 00:05:34,680\n Quanto mais intriga eles criarem na direita, melhor para eles.\n\n132\n00:05:34,680 --> 00:05:35,680\n Quer ver um outro caso aqui?\n\n133\n00:05:35,680 --> 00:05:39,680\n Bolsonaro perde que Eduardo Bolsonaro feche a boca para não prejudicá-lo,\n\n134\n00:05:39,680 --> 00:05:42,680\n mas filho intensifica o ataque.\n\n135\n00:05:43,680 --> 00:05:46,680\n O ex-deputado federal e seu aliado, Paulo Figueiredo,\n\n136\n00:05:46,680 --> 00:05:49,680\n acreditam que o ex-presidente é refém sem condições de negociar a própria soltura.\n\n137\n00:05:49,680 --> 00:05:51,680\n Os dois não podem se falar de nada.\n\n138\n00:05:51,680 --> 00:05:54,680\n O ex-presidente é reclamado por determinação do ministro de morais.\n\n139\n00:05:54,680 --> 00:05:59,680\n É lógico que essa prisão do Bolsonaro e a determinação de que ele não fale na internet\n\n140\n00:05:59,680 --> 00:06:01,680\n tinha por objetivo exatamente isso.\n\n141\n00:06:01,680 --> 00:06:05,680\n Uma vez que a gente não tem a voz do Bolsonaro propriamente dita,\n\n142\n00:06:05,680 --> 00:06:09,680\n fica fácil para a imprensa ficar colocando palavras na boca do Bolsonaro.\n\n143\n00:06:09,680 --> 00:06:11,680\n Não porque o Bolsonaro já escolheu Tarcísio,\n\n144\n00:06:11,680 --> 00:06:14,680\n não porque o Bolsonaro não gosta do Eduardo Bolsonaro mais,\n\n145\n00:06:14,680 --> 00:06:17,680\n não porque o Bolsonaro vai deserdar o Bolsonaro,\n\n146\n00:06:17,680 --> 00:06:18,680\n e não sei o que lá,\n\n147\n00:06:18,680 --> 00:06:19,680\n e agora...\n\n148\n00:06:19,680 --> 00:06:20,680\n Enfim,\n\n149\n00:06:20,680 --> 00:06:22,680\n não podemos colocar qualquer palavra na boca do Bolsonaro\n\n150\n00:06:22,680 --> 00:06:26,680\n porque a gente não tem, de fato, acesso direto ao Bolsonaro.\n\n151\n00:06:26,680 --> 00:06:31,680\n Então, o Fabio Van Garten falou muitas matérias nesse mesmo sentido,\n\n152\n00:06:31,680 --> 00:06:33,680\n que evidencia que a gente tem pautado a imprensa.\n\n153\n00:06:33,680 --> 00:06:34,680\n E a verdade é essa.\n\n154\n00:06:34,680 --> 00:06:36,680\n Eles ficaram muito chateados, por quê?\n\n155\n00:06:36,680 --> 00:06:40,680\n Porque quando saiu a manchete dele dizendo que o Bolsonaro tinha apoiado o Tarcísio,\n\n156\n00:06:40,680 --> 00:06:43,680\n logo o Flávio Bolsonaro desmentiu.\n\n157\n00:06:43,680 --> 00:06:46,680\n Falou que ele teve com o pai e não tem apoio nenhum determinado.\n\n158\n00:06:46,680 --> 00:06:50,680\n O Flávio Bolsonaro foi bem claro em dizer que gostava,\n\n159\n00:06:50,680 --> 00:06:51,680\n que gosta do Tarcísio,\n\n160\n00:06:51,680 --> 00:06:53,680\n que o Tarcísio é uma possibilidade sim,\n\n161\n00:06:53,680 --> 00:06:54,680\n que não está descartado,\n\n162\n00:06:54,680 --> 00:06:57,680\n que não precisa ficar provando que é a favor ou contra Bolsonaro,\n\n163\n00:06:57,680 --> 00:07:00,680\n e que na verdade aquilo ali era só uma maneira,\n\n164\n00:07:00,680 --> 00:07:01,680\n mais uma vez,\n\n165\n00:07:01,680 --> 00:07:05,680\n uma maneira da imprensa brasileira tentar semear discórdia na direita.\n\n166\n00:07:05,680 --> 00:07:07,680\n Então tomem cuidado com essas manchetes,\n\n167\n00:07:07,680 --> 00:07:10,680\n porque aí a pessoa tende a ficar chateada,\n\n168\n00:07:10,680 --> 00:07:13,680\n porque estão calando o Eduardo Bolsonaro,\n\n169\n00:07:13,680 --> 00:07:14,680\n então a culpa é do Tarcísio,\n\n170\n00:07:14,680 --> 00:07:16,680\n vou brigar com o Tarcísio porque...\n\n171\n00:07:16,680 --> 00:07:17,680\n Não, não tem nada a ver,\n\n172\n00:07:17,680 --> 00:07:18,680\n não tem briga nenhuma nisso daí.\n\n173\n00:07:18,680 --> 00:07:21,680\n É a imprensa que está semeando discórdia.\n\n174\n00:07:21,680 --> 00:07:23,680\n A imprensa sabe fazer isso muito bem, né?\n\n175\n00:07:23,680 --> 00:07:24,680\n Muitas matérias nesse mesmo sentido,\n\n176\n00:07:24,680 --> 00:07:27,680\n evidencia que tem gente pautando a imprensa.\n\n177\n00:07:27,680 --> 00:07:29,680\n Quem é que está por trás dessa coisa toda pautando a imprensa?\n\n178\n00:07:29,680 --> 00:07:32,680\n Tem alguém muito esperto que quer semear discórdia.\n\n179\n00:07:32,680 --> 00:07:33,680\n Eu não sei quem é,\n\n180\n00:07:33,680 --> 00:07:35,680\n mas é um suspeito do Zé Dirceu.\n\n181\n00:07:35,680 --> 00:07:37,680\n O Zé Dirceu é o cara que faria esse tipo de coisa,\n\n182\n00:07:37,680 --> 00:07:39,680\n que tem o conhecimento para fazer esse tipo de coisa,\n\n183\n00:07:39,680 --> 00:07:41,680\n e é ele que está agora...\n\n184\n00:07:41,680 --> 00:07:42,680\n Voltou ao governo Lula,\n\n185\n00:07:42,680 --> 00:07:43,680\n já está com o governo Lula,\n\n186\n00:07:43,680 --> 00:07:44,680\n já está do lado do Lula,\n\n187\n00:07:44,680 --> 00:07:46,680\n e está manipulando esse tipo de coisa.\n\n188\n00:07:46,680 --> 00:07:47,680\n Por que eles estão fazendo isso?\n\n189\n00:07:47,680 --> 00:07:48,680\n De novo, já expliquei,\n\n190\n00:07:48,680 --> 00:07:49,680\n mas vou falar de novo.\n\n191\n00:07:49,680 --> 00:07:51,680\n Porque o PT está perdendo apoio,\n\n192\n00:07:51,680 --> 00:07:53,680\n o PP está saindo da base do governo,\n\n193\n00:07:53,680 --> 00:07:55,680\n a União Brasil está saindo da base do governo,\n\n194\n00:07:55,680 --> 00:07:57,680\n o Lula está caminhando em direção à esquerda,\n\n195\n00:07:57,680 --> 00:07:59,680\n está cada vez se refugiando mais na esquerda,\n\n196\n00:07:59,680 --> 00:08:02,680\n o que é um problema para ganhar a eleição de 2026.\n\n197\n00:08:02,680 --> 00:08:03,680\n Ele precisa da direita,\n\n198\n00:08:03,680 --> 00:08:06,680\n ele precisa preservar o centrão dentro do governo.\n\n199\n00:08:06,680 --> 00:08:08,680\n Então qual que é a ideia do pessoal?\n\n200\n00:08:08,680 --> 00:08:11,680\n Ameaçar o centrão, como começaram a fazer,\n\n201\n00:08:11,680 --> 00:08:14,680\n disseram que o Expo, o Ciro Nogueira,\n\n202\n00:08:14,680 --> 00:08:16,680\n o cara, o Rueda e coisa e tal,\n\n203\n00:08:16,680 --> 00:08:17,680\n isso não funciona.\n\n204\n00:08:17,680 --> 00:08:18,680\n Deu errado.\n\n205\n00:08:18,680 --> 00:08:19,680\n Então o que eles estão tentando agora?\n\n206\n00:08:19,680 --> 00:08:21,680\n Estão tentando agora fazer com que a direita\n\n207\n00:08:21,680 --> 00:08:22,680\n pareça toda despedaçada.\n\n208\n00:08:22,680 --> 00:08:23,680\n Mas a direita não tem chance,\n\n209\n00:08:23,680 --> 00:08:24,680\n vai ser quem?\n\n210\n00:08:24,680 --> 00:08:26,680\n Está brigando com o Eduardo Bolsonaro,\n\n211\n00:08:26,680 --> 00:08:27,680\n com o Tarcísio, com não sei quem lá,\n\n212\n00:08:27,680 --> 00:08:29,680\n com o Zema, com o Ratinho,\n\n213\n00:08:29,680 --> 00:08:30,680\n está todo mundo brigando,\n\n214\n00:08:30,680 --> 00:08:31,680\n não tem a direita,\n\n215\n00:08:31,680 --> 00:08:33,680\n vai ser o Lula mesmo, não sei o que lá.\n\n216\n00:08:33,680 --> 00:08:35,680\n Essa é a estratégia deles.\n\n217\n00:08:37,680 --> 00:08:39,680\n Então você vai ver um monte de manchetes desse tipo aqui.\n\n218\n00:08:39,680 --> 00:08:42,680\n Bolsonaro mostra insatisfação com ações de Eduardo\n\n219\n00:08:42,680 --> 00:08:44,680\n e manda recado ao filho.\n\n220\n00:08:44,680 --> 00:08:45,680\n Como?\n\n221\n00:08:45,680 --> 00:08:46,680\n Não, não tem isso.\n\n222\n00:08:46,680 --> 00:08:47,680\n Não teve isso.\n\n223\n00:08:47,679 --> 00:08:48,679\n Não teve isso em momento algum.\n\n224\n00:08:48,679 --> 00:08:50,679\n Crise na direita, aliados,\n\n225\n00:08:50,679 --> 00:08:53,679\n vem impacto, impossível a candidatura de Tarcísio contra Lula.\n\n226\n00:08:53,679 --> 00:08:58,679\n Não porque isso vai deixar o lado do Bolsonaro da direita insatisfeito\n\n227\n00:08:58,679 --> 00:08:59,679\n e, portanto, tem briga.\n\n228\n00:08:59,679 --> 00:09:02,679\n O Tarcísio está brigando com o Eduardo Bolsonaro.\n\n229\n00:09:02,679 --> 00:09:03,679\n Daniela Lima,\n\n230\n00:09:03,679 --> 00:09:06,679\n Eduardo Bolsonaro não tem mais ponto de retorno.\n\n231\n00:09:06,679 --> 00:09:07,679\n Não porque ele já queimou tudo,\n\n232\n00:09:07,679 --> 00:09:09,679\n que ele já está totalmente radical.\n\n233\n00:09:09,679 --> 00:09:11,679\n Quem não tem ponto de retorno, meu amigo,\n\n234\n00:09:11,679 --> 00:09:13,679\n é o Alexandre de Moraes e o governo Lula.\n\n235\n00:09:13,679 --> 00:09:15,679\n Eles que já estão para lá do ponto de retorno.\n\n236\n00:09:15,679 --> 00:09:17,679\n O Eduardo Bolsonaro está do lado do Trump, meu amigo.\n\n237\n00:09:17,679 --> 00:09:19,679\n A pessoa mais poderosa do mundo.\n\n238\n00:09:19,679 --> 00:09:24,679\n Então, é ele que determina o retorno das outras pessoas para junto dele.\n\n239\n00:09:24,679 --> 00:09:26,679\n Não é o contrário que funciona.\n\n240\n00:09:26,679 --> 00:09:28,679\n Mas, de novo, mais uma vez,\n\n241\n00:09:28,679 --> 00:09:30,679\n a ideia aqui é isolar o Eduardo Bolsonaro,\n\n242\n00:09:30,679 --> 00:09:32,679\n dizer que ele não tem mais importância.\n\n243\n00:09:32,679 --> 00:09:34,679\n Você vai ver também um monte de manchetes falando que\n\n244\n00:09:34,679 --> 00:09:39,679\n não porque o Lula conseguiu contornar o Eduardo Bolsonaro para chegar no Trump.\n\n245\n00:09:39,679 --> 00:09:40,679\n O que é uma besteira.\n\n246\n00:09:40,679 --> 00:09:42,679\n Bastava o Lula ligar para o Trump para falar com ele em qualquer momento.\n\n247\n00:09:42,679 --> 00:09:45,679\n O Eduardo Bolsonaro nunca proibiu ele de falar com o Trump.\n\n248\n00:09:45,679 --> 00:09:46,679\n Mas estão vendendo essa ideia.\n\n249\n00:09:46,679 --> 00:09:47,679\n Por quê?\n\n250\n00:09:47,679 --> 00:09:49,679\n Porque querem desacreditar o Eduardo Bolsonaro.\n\n251\n00:09:49,679 --> 00:09:51,679\n Querem criticar o Eduardo Bolsonaro.\n\n252\n00:09:51,679 --> 00:09:55,679\n Querem quebrar o apoio entre os deputados\n\n253\n00:09:55,679 --> 00:09:58,679\n justamente para tentar favorecer a esquerda.\n\n254\n00:09:58,679 --> 00:09:59,679\n Aqui, olha.\n\n255\n00:09:59,679 --> 00:10:02,679\n Eduardo Bolsonaro deveria recuar, mas não pode mais.\n\n256\n00:10:02,679 --> 00:10:03,679\n Gazeta do Povo, tá?\n\n257\n00:10:03,679 --> 00:10:06,679\n Gazeta do Povo tem andado com o pessoal esquerdista aqui pra caramba também.\n\n258\n00:10:06,679 --> 00:10:10,679\n A cena de Trump e a Lula acendeu alerta em Bolsonaro.\n\n259\n00:10:10,679 --> 00:10:13,679\n Não porque o Lula agora vai se aproximar do Trump\n\n260\n00:10:13,679 --> 00:10:15,679\n e Bolsonaro vai perder o apoio do Trump\n\n261\n00:10:15,679 --> 00:10:18,679\n e isso vai acabar com a estratégia do Bolsonaro e não sei o que lá.\n\n262\n00:10:18,679 --> 00:10:19,679\n E por que eles estão falando?\n\n263\n00:10:19,679 --> 00:10:20,679\n Eles sabem que é mentira isso.\n\n264\n00:10:20,679 --> 00:10:22,679\n Eles sabem que não tem lógica nenhuma nisso daqui.\n\n265\n00:10:22,679 --> 00:10:27,679\n No entanto, eles querem, de novo, querem causar problemas da direita.\n\n266\n00:10:27,679 --> 00:10:30,679\n Querem convencer a esquerda que agora vai resolver tudo, né?\n\n267\n00:10:30,679 --> 00:10:31,679\n Aqui, olha.\n\n268\n00:10:31,679 --> 00:10:36,679\n Sem respaldo de Trump, Bolsonaro entra em desespero e culpa Eduardo.\n\n269\n00:10:36,679 --> 00:10:39,679\n Caramba, o Bolsonaro está totalmente incomunicável.\n\n270\n00:10:39,679 --> 00:10:41,679\n Ninguém consegue falar com o Bolsonaro.\n\n271\n00:10:41,679 --> 00:10:43,679\n Esse pessoal fica inventando esse tipo de coisa mais uma vez.\n\n272\n00:10:43,679 --> 00:10:44,679\n Tomem cuidado.\n\n273\n00:10:44,679 --> 00:10:46,679\n Estão querendo semear discórdia, né?\n\n274\n00:10:46,679 --> 00:10:48,679\n Não tem nada disso daí.\n\n275\n00:10:48,679 --> 00:10:49,679\n E aqui, olha.\n\n276\n00:10:49,679 --> 00:10:52,679\n Eduardo Bolsonaro fica mais próximo da cassação após a ofensiva da Câmara\n\n277\n00:10:52,679 --> 00:10:54,679\n e sofre revés com o Trump\n\n278\n00:10:54,679 --> 00:10:56,679\n porque o fato do Trump ter falado com Lula\n\n279\n00:10:56,679 --> 00:10:59,679\n invalidou a coisa do Eduardo Bolsonaro.\n\n280\n00:10:59,679 --> 00:11:01,679\n O que é uma besteira, cara.\n\n281\n00:11:01,679 --> 00:11:03,679\n Não tem lógica nenhuma isso daí, né?\n\n282\n00:11:03,679 --> 00:11:05,679\n Não tem nenhuma razão pra isso daqui.\n\n283\n00:11:05,679 --> 00:11:08,679\n Até porque a cassação do Eduardo Bolsonaro\n\n284\n00:11:08,679 --> 00:11:10,679\n também caiu na mão de um aliado do Bolsonaro.\n\n285\n00:11:10,679 --> 00:11:12,679\n O relator é um aliado do Bolsonaro.\n\n286\n00:11:12,679 --> 00:11:13,679\n Então, eu não sei não, tá?\n\n287\n00:11:13,679 --> 00:11:17,679\n Eu tô achando que não vai sair a cassação do Eduardo Bolsonaro, não.\n\n288\n00:11:17,679 --> 00:11:18,679\n Mas a esquerda quer muito.\n\n289\n00:11:18,679 --> 00:11:21,679\n Uma das coisas que eles querem é enfraquecer o Eduardo Bolsonaro\n\n290\n00:11:21,679 --> 00:11:25,679\n pra conseguir passar essa cassação dele lá na Câmara, né?\n\n291\n00:11:25,679 --> 00:11:27,679\n É muito curioso a imprensa tentando fazer isso\n\n292\n00:11:27,679 --> 00:11:29,679\n porque, de novo, eles fazem esse tipo de coisa\n\n293\n00:11:29,679 --> 00:11:32,679\n porque no passado eles faziam isso e funcionava, cara.\n\n294\n00:11:32,679 --> 00:11:34,679\n Porque no passado eles faziam essas coisas\n\n295\n00:11:34,679 --> 00:11:35,679\n e não tinha ninguém pra questionar\n\n296\n00:11:35,679 --> 00:11:37,679\n porque esse pessoal tá falando essas besteiras aqui.\n\n297\n00:11:37,679 --> 00:11:39,679\n Então, eles faziam isso, né?\n\n298\n00:11:39,679 --> 00:11:41,679\n E esse tipo de coisa passava.\n\n299\n00:11:41,679 --> 00:11:43,679\n Mas, hoje em dia, fica só uma coisa.\n\n300\n00:11:43,679 --> 00:11:44,679\n Uma coisa ridícula.\n\n301\n00:11:44,679 --> 00:11:46,679\n Eles ficam botando um monte de manchete, um monte de fofoca.\n\n302\n00:11:46,679 --> 00:11:48,679\n Eles querem convencer de que realmente\n\n303\n00:11:48,679 --> 00:11:50,679\n Eduardo Bolsonaro é um caso perdido.\n\n304\n00:11:50,679 --> 00:11:51,679\n Já era.\n\n305\n00:11:51,679 --> 00:11:53,679\n Querem que abandonem o Eduardo Bolsonaro\n\n306\n00:11:53,679 --> 00:11:56,679\n porque eles sabem que isso vai enfraquecer o próprio Bolsonaro.\n\n307\n00:11:56,679 --> 00:11:58,679\n Vai enfraquecer a própria direita, né?\n\n308\n00:11:58,679 --> 00:12:01,679\n E vai semear mais discórdia entre os bolsonaristas\n\n309\n00:12:01,679 --> 00:12:04,679\n e o Tarcísio, eventualmente, em 2026.\n\n310\n00:12:04,679 --> 00:12:05,679\n Então, não caiam nessa lorota.\n\n311\n00:12:05,679 --> 00:12:07,679\n Não tem nenhuma separação.\n\n312\n00:12:07,679 --> 00:12:09,679\n O fato do Lula conversar com o Trump...\n\n313\n00:12:09,679 --> 00:12:11,679\n O Lula vai perceber daqui a pouquinho\n\n314\n00:12:11,679 --> 00:12:14,679\n vai sair o resultado dessa conversa do Lula com o Trump.\n\n315\n00:12:14,679 --> 00:12:15,679\n A gente vai ver isso aí.\n\n316\n00:12:15,679 --> 00:12:17,679\n Se for uma conversa presencial,\n\n317\n00:12:17,679 --> 00:12:19,679\n eu vou abrir live aqui pra acompanhar isso.\n\n318\n00:12:19,679 --> 00:12:20,679\n Porque eu acho que vai ser muito divertido.\n\n319\n00:12:20,679 --> 00:12:21,679\n Pra esse pessoal, inclusive.\n\n320\n00:12:21,679 --> 00:12:23,679\n Mas eles estão todos empolgados.\n\n321\n00:12:23,679 --> 00:12:25,679\n Estão usando essa aproximação do Trump com o Lula\n\n322\n00:12:25,679 --> 00:12:29,679\n pra tentar atingir Bolsonaro e Eduardo Bolsonaro\n\n323\n00:12:29,679 --> 00:12:31,679\n e o Tarcísio e a direita de forma geral.\n\n324\n00:12:31,679 --> 00:12:32,679\n Não caiam nessa.\n\n325\n00:12:32,679 --> 00:12:34,679\n Agora, tem uma outra notícia que saiu por aí\n\n326\n00:12:34,679 --> 00:12:35,679\n que é essa daqui, ó.\n\n327\n00:12:35,679 --> 00:12:37,679\n Trump convoca Bolsonaro pra reunião na Casa Branca.\n\n328\n00:12:37,679 --> 00:12:39,679\n Gente, isso daqui é antigo, tá?\n\n329\n00:12:39,679 --> 00:12:40,679\n Aqui, ó.\n\n330\n00:12:40,679 --> 00:12:42,679\n Governo Trump chama Eduardo Bolsonaro pra reunião em Washington.\n\n331\n00:12:42,679 --> 00:12:45,679\n Isso aconteceu de fato lá no início de agosto.\n\n332\n00:12:45,679 --> 00:12:46,679\n Não é agora, não.\n\n333\n00:12:46,679 --> 00:12:47,679\n Aconteceu no início de agosto.\n\n334\n00:12:47,679 --> 00:12:50,679\n O Eduardo Bolsonaro foi lá com o Paulo Figueiredo.\n\n335\n00:12:50,679 --> 00:12:54,679\n Conversaram com o pessoal lá, com o Trump, com o Besant, com todo mundo.\n\n336\n00:12:54,679 --> 00:12:56,679\n Então, essa conversa aqui já aconteceu.\n\n337\n00:12:56,679 --> 00:12:57,679\n Eu não duvido.\n\n338\n00:12:57,679 --> 00:12:58,679\n Eu não duvido, não.\n\n339\n00:12:58,679 --> 00:13:00,679\n Que o Trump chame o Eduardo Bolsonaro também\n\n340\n00:13:00,679 --> 00:13:05,679\n no dia que for chamar o Lula pra conversar lá na Casa Branca.\n\n341\n00:13:05,679 --> 00:13:06,679\n Pode ser que aconteça isso.\n\n342\n00:13:06,679 --> 00:13:09,679\n Mas, por enquanto, a gente não tem essa informação, não.\n\n343\n00:13:09,679 --> 00:13:10,679\n Tá?\n\n344\n00:13:10,679 --> 00:13:12,679\n Eu tentei achar alguma fonte pra isso.\n\n345\n00:13:12,679 --> 00:13:13,679\n Não achei em lugar nenhum.\n\n346\n00:13:13,679 --> 00:13:18,679\n Obrigado por assistir o vídeo até o final.\n\n347\n00:13:18,679 --> 00:13:21,679\n Além de curtir, compartilhar e se inscrever no canal,\n\n348\n00:13:21,679 --> 00:13:26,679\n considere se tornar patrocinador com valores a partir de R$ 1,99.\n\n349\n00:13:26,679 --> 00:13:32,679\n Clique no botão Seja Membro abaixo para saber as condições e vantagens de patrocinar o canal.\n\n350\n00:13:32,679 --> 00:13:37,679\n Mais informações sobre o nosso projeto, visite nossos sites indicados na tela.\n\n351\n00:13:40,679 --> 00:13:51,679\n locatedatarias.blogspot.com\n",
          "videoId": "97nFoYay0IQ"
        }
      }
    ]
  },
  "versionId": "31f2ad83-d1e8-4673-9e92-efc228f78c18",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-01T20:22:50.771Z",
      "updatedAt": "2025-10-01T20:22:50.771Z",
      "role": "workflow:owner",
      "workflowId": "MCYYlNNL6g7GjhbF",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "createdAt": "2025-08-20T20:52:17.088Z",
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-20T20:52:17.089Z",
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "createdAt": "2025-08-20T20:52:15.066Z",
              "updatedAt": "2025-10-17T11:19:06.000Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}