env/n8n_workflow/backup/nJaqSO0aN1UNGUwR_@EFFECTS_NOISE.json
{
  "updatedAt": "2025-10-08T00:00:59.000Z",
  "createdAt": "2025-10-08T00:00:59.795Z",
  "id": "nJaqSO0aN1UNGUwR",
  "name": "@EFFECTS_NOISE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILENAME\": \"FILENAME_1\",\n  \"NOISE_STRENGTH \": 20,\n  \"NOISE_FLAGS \":\"u+t\",\n  \"NOISE_SEED  \" : 42\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        -48
      ],
      "id": "171ea722-a48f-492c-97f4-b214e78fb0af",
      "name": "START"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1456,
        -48
      ],
      "id": "5bf7b56c-f421-4498-a213-b2dcff722f63",
      "name": "COMMAND"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9a6d8d1-dbd3-47e1-984a-202445146564",
              "name": "FILENAME",
              "value": "={{ $json.FILENAME }}",
              "type": "string"
            },
            {
              "id": "cd520121-d1dd-44d1-ae9c-0fad569de67e",
              "name": "NOISE_STRENGTH",
              "value": "={{ $json.NOISE_STRENGTH }}",
              "type": "number"
            },
            {
              "id": "9b755ec2-40c6-4115-9ad2-f9e6bf440fa1",
              "name": "NOISE_FLAGS ",
              "value": "={{ $json['NOISE_FLAGS '] }}",
              "type": "string"
            },
            {
              "id": "9a663f5c-38a1-4536-b7f8-b27ef2ff3008",
              "name": "NOISE_SEED  ",
              "value": "={{ $json['NOISE_SEED  '] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        -48
      ],
      "id": "7b2a845b-91b5-481f-b3d0-11d22c0cbf1e",
      "name": "VAR"
    },
    {
      "parameters": {
        "jsCode": "// Inputs esperados:\n// FILENAME        -> ex: \"video.mp4\" (em /home/node/processing)\n// NOISE_STRENGTH  -> intensidade do ruído (número; padrão: 20)\n// NOISE_FLAGS     -> flags do noise (ex.: \"u+t\", \"g+t\", \"u\", \"g+p\"; padrão: \"u+t\")\n//                    u=uniform, g=gaussiano, p=positivo, t=temporal\n// NOISE_SEED      -> semente (inteiro; padrão: 42)\n\nconst file = $json.FILENAME;\nconst STRENGTH = Number($json.NOISE_STRENGTH ?? 20);\nconst FLAGS = ($json.NOISE_FLAGS ?? 'u+t').toString();   // ex.: 'u+t'\nconst SEED = Number($json.NOISE_SEED ?? 42);\n\nconst BASE = '/home/node/processing';\n\n// Nome de saída\nconst safe = s => s.replace(/\\.mp4$/i,'').replace(/[^A-Za-z0-9_\\-]/g,'_');\nconst flagTag = FLAGS.replace(/\\+/g,'');\nconst outFile = `${safe(file)}_NOISE${STRENGTH}_${flagTag}_SEED${SEED}.mp4`;\n\n// Comando FFmpeg: aplica ruído + mantém áudio original\nconst cmd =\n  `ffmpeg -y -i \"${BASE}/${file}\" ` +\n  `-vf \"noise=alls=${STRENGTH}:allf=${FLAGS}:all_seed=${SEED},format=yuv420p\" ` +\n  `-c:v libx264 -preset veryfast -crf 20 -movflags +faststart -c:a copy ` +\n  `\"${BASE}/${outFile}\"`;\n\nreturn {\n  command: cmd,\n  outputFile: outFile\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -48
      ],
      "id": "5cdda0e0-ad60-4aaa-aeba-0838b2069754",
      "name": "C0DE"
    },
    {
      "parameters": {
        "content": "## 🎬 Parâmetros do efeito NOISE\n\n- **FILENAME** → nome do arquivo de vídeo de entrada  \n  - Exemplo: `video.mp4`  \n  - Local esperado: `/home/node/processing`\n\n---\n\n### 🔊 Parâmetros do filtro `noise`\n\n- **NOISE_STRENGTH** *(opcional)* → intensidade do ruído  \n  - Tipo: número inteiro  \n  - **Mínimo:** `0` (sem ruído)  \n  - **Máximo:** `100` (ruído muito forte)  \n  - **Padrão:** `20`  \n  - Observação: valores altos podem distorcer completamente a imagem  \n\n- **NOISE_FLAGS** *(opcional)* → tipo de ruído aplicado  \n  - Tipo: string (combinação de letras)  \n  - Valores aceitos:  \n    - `u` → uniforme  \n    - `g` → gaussiano  \n    - `p` → apenas valores positivos  \n    - `t` → temporal (ruído varia a cada frame)  \n  - Combinações possíveis: `u+t`, `g+t`, `u`, `g`, etc.  \n  - **Padrão:** `u+t`\n\n- **NOISE_SEED** *(opcional)* → semente do gerador de ruído  \n  - Tipo: número inteiro  \n  - **Mínimo:** `0`  \n  - **Máximo:** `2^32 - 1` (≈ 4,29 bilhões)  \n  - **Padrão:** `42`  \n  - Observação: usar o mesmo seed gera ruído idêntico em execuções diferentes  \n",
        "height": 784,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -64
      ],
      "typeVersion": 1,
      "id": "a0727ed4-b46f-4402-93a8-4f158f8bc2b3",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "C0DE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C0DE": {
      "main": [
        [
          {
            "node": "COMMAND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "START": [
      {
        "json": {
          "FILENAME": "_LMpN6o26E0_00_00_00_00_00_06.mp4",
          "NOISE_STRENGTH": 80,
          "NOISE_FLAGS ": "u+t",
          "NOISE_SEED  ": 42
        }
      }
    ]
  },
  "versionId": "9e5f3089-b60e-4cd7-9da7-a12100735b12",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-08T00:00:59.812Z",
      "createdAt": "2025-10-08T00:00:59.812Z",
      "role": "workflow:owner",
      "workflowId": "nJaqSO0aN1UNGUwR",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-05T22:13:24.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}