env/n8n_workflow/backup/NO538sSCCuiY5Vxj_@UPLOAD-BLUES-COM-ALMA.json
{
  "updatedAt": "2025-11-18T00:35:29.000Z",
  "createdAt": "2025-11-18T00:33:59.653Z",
  "id": "NO538sSCCuiY5Vxj",
  "name": "@UPLOAD-BLUES-COM-ALMA",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Erro no UPLOAD do canal SHADOWING"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        48,
        464
      ],
      "id": "cc1930fa-708a-4c42-99ec-7c587c0ac36a",
      "name": "@NOTIFIER"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/download/{{ $('Start').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}/shadow_{{ $('Start').item.json.videoId }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -368,
        256
      ],
      "id": "24bdc049-d44a-41d5-9ee1-0e05e746c95f",
      "name": "Read File Video"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/download/{{ $('Start').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}/thumb_{{ $('Start').item.json.videoId }}.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        48,
        256
      ],
      "id": "14b5ee06-9d45-48cc-a741-4dddfd54b4f5",
      "name": "Read File Thumb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Upload to youtube').item.json.uploadId }}"
            },
            {
              "name": "uploadType",
              "value": "multipart"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "9c99fcab-f9b6-4e0c-a06d-bed9dcea1c30",
      "name": "Set Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        256
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "a3fmgsvZ92IckL18",
          "name": "YouTube n8n account-BluesComAlma"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/playlistItems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n(() => {\n  const info = $('Get Long Video Info')?.item?.json ?? {};\n  const upload = $('Upload to youtube')?.item?.json ?? {};\n\n  const playlistId =\n    info?.playlist?.id ??\n    info?.playlistId ??\n    $json.playlistId;\n\n  const videoId = upload?.uploadId ?? $json.videoId;\n\n  if (!playlistId) throw new Error('playlistId ausente (esperado em Get Long Video Info.playlist.id ou playlistId).');\n  if (!videoId)   throw new Error('videoId ausente (use Upload a long.uploadId ou $json.videoId).');\n\n  return JSON.stringify({\n    snippet: {\n      playlistId,\n      resourceId: { kind: 'youtube#video', videoId }      \n    }\n  });\n})()\n}}\n",
        "options": {}
      },
      "id": "9234b643-d9c4-4c68-9417-3f9e97bbb18a",
      "name": "Set Video To Playlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        256
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lC6w9zooePykiKGj",
          "name": "YouTube n8n account-ANCAPSU"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Vídeo SHADOWING enviado com SUCESSO!"
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        256
      ],
      "id": "7b694274-7994-45c4-9d23-001c72f6ba0c",
      "name": "@NOTIFIER5"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "videoId",
              "type": "any"
            },
            {
              "name": "CHANNEL_NAME",
              "type": "any"
            },
            {
              "name": "output_VideoTitle",
              "type": "any"
            },
            {
              "name": "output_VideoDescription",
              "type": "any"
            },
            {
              "name": "output_Tags_map",
              "type": "any"
            },
            {
              "name": "output_Study_Material"
            }
          ]
        }
      },
      "id": "f204c6ff-11d1-4929-9054-0ca5abb4f59e",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -784,
        256
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').item.json.output_VideoTitle}}",
        "regionCode": "BR",
        "categoryId": "=",
        "binaryProperty": "=data",
        "options": {
          "description": "={{ $('Start').item.json.output_VideoDescription}}\nStudy material: {{ $('Start').item.json.output_Study_Material }}",
          "notifySubscribers": false,
          "privacyStatus": "private",
          "publishAt": "={{\n(() => {\n  const pad = n => String(n).padStart(2, '0');\n\n  // data alvo: hoje + 2 dias\n  const d = new Date(Date.now() + 2 * 24 * 60 * 60 * 1000);\n  const y = d.getFullYear();\n  const M = pad(d.getMonth() + 1);\n  const D = pad(d.getDate());\n\n  // horário fixo: 10:00:00\n  const hh = '10';\n  const mm = '00';\n  const ss = '00';\n\n  return `${y}-${M}-${D}T${hh}:${mm}:${ss}`;\n})()\n}}\n",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Start').item.json.output_Tags_map(t => JSON.stringify(t)).join(',').trim() }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -160,
        256
      ],
      "id": "db645ddb-b092-473c-9735-81e67c7ac82a",
      "name": "Upload to youtube",
      "alwaysOutputData": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "a3fmgsvZ92IckL18",
          "name": "YouTube n8n account-BluesComAlma"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/download/{{ $('Start').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}/short_*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -400,
        -80
      ],
      "id": "163b386c-666b-4eb9-a11a-d718836d4b0c",
      "name": "Read File Video1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -192,
        -80
      ],
      "id": "5b53d85d-46e5-4e46-9434-bc04e422af42",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "=PART {{ $('Loop Over Items').item.json.fileName.split('_')[1] }} {{ $('Start').item.json.output_VideoTitle}}",
        "regionCode": "BR",
        "categoryId": "=",
        "binaryProperty": "=data",
        "options": {
          "description": "={{ $('Start').item.json.output_VideoDescription}}\nStudy Material: {{ $('Start').item.json.output_Study_Material }}",
          "notifySubscribers": false,
          "privacyStatus": "private",
          "publishAt": "={{\n(() => {\n  const pad = n => String(n).padStart(2, '0');\n\n  // data alvo: hoje + 2 dias\n  const d = new Date(Date.now() + 2 * 24 * 60 * 60 * 1000);\n  const y = d.getFullYear();\n  const M = pad(d.getMonth() + 1);\n  const D = pad(d.getDate());\n\n  // horário fixo: 10:00:00\n  const hh = '10';\n  const mm = '00';\n  const ss = '00';\n\n  return `${y}-${M}-${D}T${hh}:${mm}:${ss}`;\n})()\n}}\n",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Start').item.json.output_Tags_map.join(',') }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        240,
        -64
      ],
      "id": "83601a63-c234-4189-a907-9983bd73c1fe",
      "name": "Upload short",
      "alwaysOutputData": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "a3fmgsvZ92IckL18",
          "name": "YouTube n8n account-BluesComAlma"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "SHORTS SHADOWING enviados com SUCESSO!"
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        -224
      ],
      "id": "08909590-ccbf-4484-bd33-32287be9d8b8",
      "name": "@NOTIFIER6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Erro no UPLOAD  DE SHORTS do canal SHADOWING"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        -48
      ],
      "id": "d44c50f5-fb06-451c-af72-e5eac1925276",
      "name": "@NOTIFIER1"
    },
    {
      "parameters": {
        "content": "## SHORTS processing\n",
        "height": 400,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        -256
      ],
      "id": "be17382d-7479-4122-b3d5-412d498de047",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## LONG processing\n",
        "height": 448,
        "width": 1232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        176
      ],
      "id": "03d0bec8-cbb2-4dd4-974d-e6bce5f03c25",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "uploadId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        16,
        -224
      ],
      "id": "124611d8-c0f7-4e21-9f7a-644647f50eaf",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "Read File Video": {
      "main": [
        [
          {
            "node": "Upload to youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File Thumb": {
      "main": [
        [
          {
            "node": "Set Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Thumbnail": {
      "main": [
        [
          {
            "node": "Set Video To Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video To Playlist": {
      "main": [
        [
          {
            "node": "@NOTIFIER5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Read File Video1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read File Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to youtube": {
      "main": [
        [
          {
            "node": "Read File Thumb",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "@NOTIFIER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File Video1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload short",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload short": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "@NOTIFIER1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "@NOTIFIER6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "videoId": "1763389117273",
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "output_VideoTitle": "Level B2 | English Shadowing Tech Interview Debugging with Phrasal Verbs",
          "output_VideoDescription": "Practice English shadowing with this tech interview focused on debugging strategies. Listen to a conversation where an interviewer and a candidate discuss how they look for memory leaks, find out slow queries, and track down flaky tests. This video helps learners practice essential phrasal verbs like take off, give up, find out, and look for in a real technical dialogue. The scenario shows the candidate explaining systematic approaches to investigate and fix complex code issues without giving up until the problem is resolved. Shadowing this natural conversation will help you get comfortable with professional vocabulary and expressions often used in software development environments. Follow the rhythm: listen first, then repeat aloud, and finally shadow together with the audio to build your fluency and confidence.",
          "output_Tags_map": [
            "english shadowing",
            "repeat after me",
            "speaking practice",
            "phrasal verbs",
            "take off",
            "give up",
            "find out",
            "look for",
            "debugging",
            "memory leaks",
            "slow queries",
            "flaky tests",
            "tech interview",
            "software development",
            "B2 level",
            "candidate answer",
            "performance problems",
            "tracking issues",
            "problem solving",
            "code optimization"
          ],
          "output_Study_Material": "https://drive.google.com/uc?id=1Dht0d2TPqerm5vNVx_2EjvvhP3hr0iS7&export=download"
        }
      }
    ]
  },
  "versionId": "cdc899f0-55f7-489f-9697-47d6afed8508",
  "versionCounter": 7,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-18T00:33:59.678Z",
      "createdAt": "2025-11-18T00:33:59.678Z",
      "role": "workflow:owner",
      "workflowId": "NO538sSCCuiY5Vxj",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-28T18:38:23.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}