env/n8n_workflow/backup/ptUB9z6U8EKz1DFo_@SHOULD_START_EVALUATE.json
{
  "updatedAt": "2025-10-06T13:16:23.000Z",
  "createdAt": "2025-10-06T13:12:33.446Z",
  "id": "ptUB9z6U8EKz1DFo",
  "name": "@SHOULD_START_EVALUATE",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "type": "n8n-nodes-base.dataTable",
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "v4RzTHki2yQk5aXv",
          "mode": "list",
          "cachedResultName": "WORKFLOW_MANAGER_STATUS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/v4RzTHki2yQk5aXv"
        },
        "matchType": "anyCondition",
        "filters": {
          "conditions": [
            {
              "keyName": "PROCESS_NAME",
              "condition": "eq",
              "keyValue": "ANCAPSU_MAIN_WORKFLOW"
            }
          ]
        },
        "returnAll": false,
        "limit": 50
      },
      "typeVersion": 1,
      "position": [
        -880,
        -352
      ],
      "id": "16e97d95-9567-4948-ada8-a83bfa978aaf",
      "name": "Get row(s)",
      "disabled": false,
      "issues": {}
    },
    {
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -512,
        -432
      ],
      "id": "33a7567e-39c2-4072-89de-83485aa9dcb2",
      "name": "Waiting...",
      "disabled": false,
      "parameters": {}
    },
    {
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        -352
      ],
      "id": "44911f14-cf09-4db9-af21-8c3dc3be03ae",
      "name": "Is working",
      "disabled": false,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e116e821-cbdb-48c0-8c7f-ff81e2c80a85",
              "leftValue": "={{ $json.IS_WORKING }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "v4RzTHki2yQk5aXv",
          "mode": "list",
          "cachedResultName": "WORKFLOW_MANAGER_STATUS",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/v4RzTHki2yQk5aXv"
        },
        "matchType": "anyCondition",
        "filters": {
          "conditions": [
            {
              "keyName": "PROCESS_NAME",
              "condition": "eq",
              "keyValue": "ANCAPSU_MAIN_WORKFLOW"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IS_WORKING": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PROCESS_NAME",
              "displayName": "PROCESS_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IS_WORKING",
              "displayName": "IS_WORKING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -512,
        -240
      ],
      "id": "2e579e74-96aa-4e65-a071-7a94f2bb7efa",
      "name": "Set Working",
      "disabled": false
    },
    {
      "id": "ce7d943c-50fa-46ed-b928-e052b6a750aa",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1088,
        -352
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    }
  ],
  "connections": {
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Is working",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is working": {
      "main": [
        [
          {
            "node": "Waiting...",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Working",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "2b498e21-a845-41ba-a2ca-f4303cc9ad54",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-06T13:12:33.477Z",
      "createdAt": "2025-10-06T13:12:33.477Z",
      "role": "workflow:owner",
      "workflowId": "ptUB9z6U8EKz1DFo",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2025-11-15T20:10:03.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}