env/n8n_workflow/backup/sWBnl4vvj9HqqkTW_@SCENE_METADATA_MAPPER.json
{
  "createdAt": "2025-10-19T14:24:41.984Z",
  "updatedAt": "2025-10-19T15:15:17.000Z",
  "id": "sWBnl4vvj9HqqkTW",
  "name": "@SCENE_METADATA_MAPPER",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        -16
      ],
      "id": "3789655b-7e4c-473c-b8af-dbadb51107f6",
      "name": "Loop Over Paragraphs Mapped"
    },
    {
      "parameters": {
        "fieldToSplitOut": "paragraphs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1232,
        -16
      ],
      "id": "50ddab68-c671-4a4e-9230-adff8f66164b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61f359be-7550-4d71-965a-9b79923ea69e",
              "name": "CHANNEL_NAME",
              "value": "={{ $('Start').item.json.CHANNEL_NAME }}",
              "type": "string"
            },
            {
              "id": "2320c813-4c02-46b6-89a7-5a25bd61f243",
              "name": "videoId",
              "value": "={{ $('Start').item.json.videoId }}",
              "type": "string"
            },
            {
              "id": "d3021c9d-13fd-4e4a-8b61-2dbf9019ea38",
              "name": "sceneId",
              "value": "={{ $('Loop Over Paragraphs Mapped').item.json.sceneId }}",
              "type": "number"
            },
            {
              "id": "6d1411c9-0e02-43ab-862d-e56196289ce5",
              "name": "paragraphId",
              "value": "={{ $('Loop Over Paragraphs Mapped').item.json.id }}",
              "type": "number"
            },
            {
              "id": "febfd065-2497-4d7f-b4d6-fcb5c7ce877b",
              "name": "audioSubtitle",
              "value": "={{ $('Loop Over Paragraphs Mapped').item.json.text }}",
              "type": "string"
            },
            {
              "id": "37b39d34-9ba3-4701-b3a6-da60ef1abecc",
              "name": "videoMetaData",
              "value": "={{ $json.videoMetaData }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        -16
      ],
      "id": "a1b7e8be-c2f2-4e3f-afdb-c93a3deb021d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Para cada item (cena), adiciona nos paragraphs o índice do pai\nreturn $input.all().map(item => {\n  const sceneId = item.json.index;\n\n  const paragraphs = (item.json.paragraphs || []).map((p, i) => ({\n    sceneId,\n    ...p    \n  }));\n\n  return {\n    json: {\n      ...item.json,\n      paragraphs\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -16
      ],
      "id": "487c86e7-28ca-4f1a-92eb-cc1da85a097f",
      "name": "Scene Mapper"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U2B3b3K36MwEByEd",
          "mode": "list",
          "cachedResultUrl": "/workflow/U2B3b3K36MwEByEd",
          "cachedResultName": "@VIDEO_META_DATA_V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FILE_PATH": "=/home/node/download/{{ $('Start').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}/{{ $json.sceneId}}_{{ $json.id }}_{{ $('Start').item.json.videoId }}.mp3"
          },
          "matchingColumns": [
            "FILE_NAME"
          ],
          "schema": [
            {
              "id": "FILE_PATH",
              "displayName": "FILE_PATH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1664,
        -16
      ],
      "id": "7eabaeb5-38d4-4b0a-98d3-024721af206d",
      "name": "@VIDEO_META_DATA_V2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "index",
              "type": "number"
            },
            {
              "name": "description"
            },
            {
              "name": "paragraphs",
              "type": "array"
            },
            {
              "name": "videoId"
            },
            {
              "name": "CHANNEL_NAME"
            }
          ]
        }
      },
      "id": "980fb1e0-1f78-4bb2-8f82-ee406551efc7",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        864,
        -16
      ]
    }
  ],
  "connections": {
    "Loop Over Paragraphs Mapped": {
      "main": [
        [],
        [
          {
            "node": "@VIDEO_META_DATA_V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Paragraphs Mapped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Paragraphs Mapped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scene Mapper": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@VIDEO_META_DATA_V2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Scene Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "index": 0,
          "description": "A 3D photorealistic urban scene capturing an initial conversation between a curious tourist and a friendly local. The setting shows a bustling street with a prominent bakery and modern storefronts, rendered in high detail with natural daylight and realistic textures, establishing a warm and inviting atmosphere.",
          "paragraphs": [
            {
              "id": 0,
              "text": "Tourist: Hi there. I’m new in town. Can you help me get to Central Park?"
            },
            {
              "id": 1,
              "text": "Local: Sure, I’d be glad to help. First, walk two blocks north on Main Street. Then, turn right at the bakery."
            },
            {
              "id": 2,
              "text": "Tourist: Great, I see the bakery ahead. After that, what should I do?"
            },
            {
              "id": 3,
              "text": "Local: Keep walking straight until you reach the big intersection. At the intersection, turn left. You will see a tall clock tower on your right. That is a good landmark."
            }
          ],
          "videoId": "1760886826887",
          "CHANNEL_NAME": "CANAL_SHADOWING"
        }
      },
      {
        "json": {
          "index": 1,
          "description": "A detailed 3D photorealistic render of a dynamic urban intersection scene. The composition focuses on a local providing clear navigational instructions near a tall clock tower, with visible sidewalks, street elements, and ambient daylight emphasizing realistic shadows and textures. The atmosphere is practical and clearly directional.",
          "paragraphs": [
            {
              "id": 4,
              "text": "Tourist: Okay, so after the clock tower, I turn left. How much further is it?"
            },
            {
              "id": 5,
              "text": "Local: It is about a five-minute walk from the clock tower. Follow the sidewalk until you reach the river. When you see the small café by the river, you have gone too far. So, stop before the café."
            },
            {
              "id": 6,
              "text": "Tourist: I understand. I’ll turn right after the clock tower and then look for the river. What if I miss the turn?"
            },
            {
              "id": 7,
              "text": "Local: Don’t worry. You might ask another local. Most people here are friendly and know the route well. Also, you can use your smartphone map if needed."
            }
          ],
          "videoId": "1760886826887",
          "CHANNEL_NAME": "CANAL_SHADOWING"
        }
      },
      {
        "json": {
          "index": 2,
          "description": "A 3D photorealistic urban farewell scene depicting a final exchange between a grateful tourist and a courteous local. The setting features a softly lit city backdrop with realistic textures, where warm ambient light highlights subtle expressions and the calm, concluding atmosphere of a day spent navigating the city.",
          "paragraphs": [
            {
              "id": 8,
              "text": "Tourist: Thanks, that helps a lot. I’m excited to see Central Park and all the sights around the area."
            },
            {
              "id": 9,
              "text": "Local: You’re welcome. Enjoy your visit, and have a great day exploring the city!"
            },
            {
              "id": 10,
              "text": "Tourist: I certainly will. Thank you again for your clear directions and kind smile. Goodbye!"
            },
            {
              "id": 11,
              "text": "Local: Goodbye, and have a safe walk ahead!"
            }
          ],
          "videoId": "1760886826887",
          "CHANNEL_NAME": "CANAL_SHADOWING"
        }
      }
    ]
  },
  "versionId": "7a9bdca8-13bb-40e0-ac0f-64a9101a796c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-19T14:24:42.002Z",
      "updatedAt": "2025-10-19T14:24:42.002Z",
      "role": "workflow:owner",
      "workflowId": "sWBnl4vvj9HqqkTW",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "createdAt": "2025-08-20T20:52:17.088Z",
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-20T20:52:17.089Z",
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "createdAt": "2025-08-20T20:52:15.066Z",
              "updatedAt": "2025-10-20T18:39:11.000Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}