env/n8n_workflow/backup/tIsp1uN50IMXhoQW_@OVERLAY_VIDEO.json
{
  "updatedAt": "2025-10-08T11:52:46.000Z",
  "createdAt": "2025-09-16T15:36:38.363Z",
  "id": "tIsp1uN50IMXhoQW",
  "name": "@OVERLAY_VIDEO",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"VIDEO_FILE_NAME\":\"_LMpN6o26E0_00_00_00_00_00_13.mp4\",\n  \"VIDEO_BASE_PATH\": \"CANAL_ANCAPSU\",\n  \"OVERLAY_FILE_NAME\":\"_LMpN6o26E0_00_00_00_00_00_13.jpg\",  \n  \"OVERLAY_BASE_PATH\": \"CANAL_ANCAPSU\",\n  \"IMAGE_X_POS\":0,\n  \"IMAGE_Y_POS\":0,\n  \"START_TIME_OVERLAY\":5\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -272,
        -112
      ],
      "id": "bf3438e6-595b-480c-bdfa-cf36c06af67e",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab7f91b9-a7d9-4a5a-b5a6-189685e0bf2d",
              "name": "VIDEO_FILENAME",
              "value": "={{ $('START').item.json.VIDEO_FILE_NAME }}",
              "type": "string"
            },
            {
              "id": "bdab9555-8005-4b43-900b-50618640d055",
              "name": "OVERLAY_FILE_NAME",
              "value": "={{ $('START').item.json.OVERLAY_FILE_NAME }}",
              "type": "string"
            },
            {
              "id": "59e4a2b5-fd22-41ed-ab39-1623a5c6441d",
              "name": "X_POS",
              "value": "={{ $('START').item.json.IMAGE_X_POS }}",
              "type": "number"
            },
            {
              "id": "aeb4e09c-6d54-4544-8c8e-a807a6ee4803",
              "name": "Y_POS",
              "value": "={{ $('START').item.json.IMAGE_Y_POS }}",
              "type": "number"
            },
            {
              "id": "c8edf05e-ad48-4bbd-883a-40131210d363",
              "name": "START_OVERLAY",
              "value": "={{ $('START').item.json.START_TIME_OVERLAY }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -112
      ],
      "id": "5a4d1bb6-b8e2-4b91-9091-5f886682f879",
      "name": "VAR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa43995-1d25-4eac-949f-6ed21d4ab940",
              "name": "=RESULT",
              "value": "={{ $json.exitCode === 0? \"SUCCESS\":\"ERROR\"}}",
              "type": "string"
            },
            {
              "id": "9f2ff60c-73ff-49b8-993b-437ec8110df2",
              "name": "FILENAME",
              "value": "={{ $('VAR').item.json.VIDEO_FILENAME }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -176
      ],
      "id": "6b7635f1-a735-4b7d-be6a-d85d76b85750",
      "name": "RESULT"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        464,
        -16
      ],
      "id": "08779f55-baaf-4594-9023-83524a04e898",
      "name": "ERROR"
    },
    {
      "parameters": {
        "command": "=set -eu\n\nVFN=$(printf \"%s\" \"{{ $json.VIDEO_FILENAME }}\" | tr -d '\\r')\nOFN=$(printf \"%s\" \"{{ $json.OVERLAY_FILE_NAME }}\" | tr -d '\\r')\nX={{ $json.X_POS }}\nY={{ $json.Y_POS }}\nT={{ $json.START_OVERLAY }}\n\nOUT_DIR=\"/home/node/processing/{{ $('@GLOBAL_ANCAPSU').item.json.CHANNEL_NAME }}\"\nOUT=\"${OUT_DIR}/OVERLAY_${VFN}\"\nTMP=\"${OUT_DIR}/.__tmp_overlay_${VFN}\"\n\n# 1) Garante dir e testamos escrita real\nmkdir -p \"${OUT_DIR}\"\n: > \"${OUT_DIR}/.__write_test\" || { echo \"Sem permissão em ${OUT_DIR}\"; exit 1; }\nrm -f \"${OUT_DIR}/.__write_test\"\n\n# 2) Renderiza pro arquivo temporário\nffmpeg -y -fflags +genpts -probesize 5M -analyzeduration 100M \\\n  -i \"${OUT_DIR}/${VFN}\" \\\n  -i \"${OFN}\" \\\n  -filter_complex \"[0:v]split=2[vpre_src][vpost_src];[vpre_src]trim=start=0:end=${T},setpts=PTS-STARTPTS[vpre];[vpost_src]trim=start=${T},setpts=PTS-STARTPTS[vpost];[1:v]fps=30,chromakey=0x00FF00:0.28:0.10,format=rgba,setsar=1[ov];[vpost][ov]overlay=${X}:${Y}:eof_action=pass[vpost_ov];[vpre][vpost_ov]concat=n=2:v=1:a=0[v]\" \\\n  -map \"[v]\" -map \"0:a:0?\" \\\n  -c:v libx264 -preset veryfast -crf 22 -pix_fmt yuv420p \\\n  -c:a copy \\\n  -movflags +faststart \\\n  \"${TMP}\"\n\n# 3) Move atômico pro nome final\nmv -f \"${TMP}\" \"${OUT}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        -176
      ],
      "id": "c9f7bf60-4e5a-4d24-a24e-cb9551b08f7a",
      "name": "SPLIT",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $('START').item.json.VIDEO_FILE_NAME }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "585ce6b4-75bc-4e80-afb0-3318d92c79d5",
              "leftValue": "={{ $('START').item.json.START_TIME_OVERLAY.toString() }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -112
      ],
      "id": "c858d47d-3a3a-4e3d-be9a-7b694116655f",
      "name": "HAS_FILENAME_ID"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JgwCIAgZpZMMdgDf",
          "mode": "list",
          "cachedResultUrl": "/workflow/JgwCIAgZpZMMdgDf",
          "cachedResultName": "@GLOBAL_ANCAPSU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -96,
        -112
      ],
      "id": "dceaf58a-5581-4e10-9316-4b683f8dd648",
      "name": "@GLOBAL_ANCAPSU"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "@GLOBAL_ANCAPSU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_FILENAME_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPLIT": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_FILENAME_ID": {
      "main": [
        [
          {
            "node": "SPLIT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@GLOBAL_ANCAPSU": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "pinData": {
    "START": [
      {
        "json": {
          "VIDEO_FILE_NAME": "adsf",
          "VIDEO_BASE_PATH": "CANAL_ANCAPSU",
          "OVERLAY_FILE_NAME": "adsf",
          "OVERLAY_BASE_PATH": "CANAL_ANCAPSU",
          "IMAGE_X_POS": 0,
          "IMAGE_Y_POS": 0,
          "START_TIME_OVERLAY": 0
        }
      }
    ]
  },
  "versionId": "0a2143d1-f025-43e3-99d4-db21877ee6a8",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-16T15:36:38.391Z",
      "createdAt": "2025-09-16T15:36:38.391Z",
      "role": "workflow:owner",
      "workflowId": "tIsp1uN50IMXhoQW",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-26T22:26:02.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}