env/n8n_workflow/backup/U2B3b3K36MwEByEd_@VIDEO_META_DATA_V2.json
{
  "updatedAt": "2025-10-19T15:16:24.000Z",
  "createdAt": "2025-10-18T13:10:57.267Z",
  "id": "U2B3b3K36MwEByEd",
  "name": "@VIDEO_META_DATA_V2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILE_PATH\":\"_LMpN6o26E0_00_00_00_00_00_13.mp4\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        -112
      ],
      "id": "244b64f0-48cd-419b-b24e-3c0921411694",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dff10386-aac1-4bf2-a53e-24e2e7441381",
              "name": "FILE_ID",
              "value": "={{ $('START').item.json.FILE_PATH.split('/').last() }}",
              "type": "string"
            },
            {
              "id": "ab7f91b9-a7d9-4a5a-b5a6-189685e0bf2d",
              "name": "FILENAME",
              "value": "={{ $('START').item.json.FILE_PATH }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -112
      ],
      "id": "83bad072-5d62-4c9f-bb01-c5b7dded7ba6",
      "name": "VAR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa43995-1d25-4eac-949f-6ed21d4ab940",
              "name": "=RESULT",
              "value": "={{ $json.exitCode === 0? \"SUCCESS\":\"ERROR\"}}",
              "type": "string"
            },
            {
              "id": "9f2ff60c-73ff-49b8-993b-437ec8110df2",
              "name": "FILENAME",
              "value": "={{ $('VAR').item.json.FILENAME }}",
              "type": "string"
            },
            {
              "id": "a44c147a-8600-4f11-8ba1-3d3e13f04ae1",
              "name": "videoMetaData",
              "value": "={{ $json.videoMetaData }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -176
      ],
      "id": "4dbcbc4e-49f4-4931-a61a-6aa402981895",
      "name": "RESULT"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        464,
        -16
      ],
      "id": "b2c7dd61-56d2-4da9-81de-aeb342f26706",
      "name": "ERROR"
    },
    {
      "parameters": {
        "command": "=# 1) Captura o caminho do item (FILENAME ou FILE_PATH), remove CR (\\r) e espaços extras\nFILE=\"$(\n  printf '%s' \"{{ ($json.FILENAME || $('START').item.json.FILE_PATH || '').trim() }}\" \\\n  | tr -d '\\r'\n)\"\n\n# 2) Validação rápida: o arquivo precisa existir dentro do container\nif [ ! -f \"$FILE\" ]; then\n  echo '{\"error\":\"not_found\",\"file\":\"'\"$FILE\"'\"}' >&2\n  exit 2\nfi\n\n# 3) Extrai metadados com ffprobe e modela com jq\nffprobe -v error -hide_banner -print_format json -show_format -show_streams \"$FILE\" \\\n| jq '\n  # --- helpers ---\n  def num($x): ($x // \"0\") | tonumber;\n  def safe_fps($r):\n    ($r // \"0/1\")\n    | split(\"/\")\n    | ((.[0] | tonumber) as $n | (.[1] | tonumber) as $d\n       | if $d == 0 then 0 else ($n / $d) end);\n\n  def vids: (.streams // [] | map(select(.codec_type == \"video\")));\n  def auds: (.streams // [] | map(select(.codec_type == \"audio\")));\n\n  # duração: tenta format.duration; se não tiver, pega do 1º vídeo; se não, do 1º áudio\n  def dur:\n    num(\n      .format.duration\n      // ((vids | .[0]? // {}) .duration)\n      // ((auds | .[0]? // {}) .duration)\n    );\n\n  # formato HH:MM:SS bonitinho\n  def hms($s):\n    ( ($s|floor) as $t\n    | ( ($t / 3600 | floor) | tostring ) + \":\" +\n      ( (($t % 3600) / 60 | floor) | tostring ) + \":\" +\n      ( ($t % 60) | tostring )\n    );\n\n  # --- saída ---\n  {\n    # Se tem alguma trilha de vídeo, é \"video\"; senão, \"audio\"\n    type: (if (vids | length) > 0 then \"video\" else \"audio\" end),\n\n    file: .format.filename,\n    container: .format.format_name,\n\n    sizeBytes:     num(.format.size),\n    bitrateKbps:   (num(.format.bit_rate) / 1000),\n\n    durationSeconds: dur,\n    durationHMS:     hms(dur),\n\n    # ID3/MP4 tags se existirem (title, album, artist etc.)\n    tags: (.format.tags // {}),\n\n    # Detalhes do 1º stream de vídeo (ou null em áudio puro)\n    video:\n      ( (vids | .[0]?) | if . == null then null else {\n          codec:        .codec_name,\n          profile:      .profile,\n          pix_fmt:      .pix_fmt,\n          width:        .width,\n          height:       .height,\n          fps:          (safe_fps(.avg_frame_rate)),\n          bitrateKbps:  (num(.bit_rate) / 1000),\n          rotation:     ((.tags.rotate? // ((.side_data_list? // []) | map(.rotation) | first) // 0) | tonumber?)\n        } end ),\n\n    # Todas as trilhas de áudio\n    audios:\n      ( auds\n        | map({\n            codec:           .codec_name,\n            channels:        .channels,\n            channel_layout:  .channel_layout,\n            sample_rate_hz:  num(.sample_rate),\n            bitrateKbps:     (num(.bit_rate) / 1000),\n            language:        (.tags.language // \"und\")\n          })\n      )\n  }\n'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        -176
      ],
      "id": "37d3c1f2-2314-4517-8b45-cd0626a29dd7",
      "name": "SPLIT",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Code node (Run Once for All Items)\n\nreturn items.map((item) => {\n  const json = item.json ?? {};\n  const raw = json.stdout ?? item.stdout ?? \"\";\n\n  let videoMetaData = null;\n\n  if (typeof raw === \"string\") {\n    const s = raw.trim();\n    try {\n      videoMetaData = JSON.parse(s);\n    } catch (e1) {\n      // Se tiver texto extra, tenta isolar o primeiro bloco JSON\n      const start = s.indexOf(\"{\");\n      const end = s.lastIndexOf(\"}\");\n      if (start !== -1 && end !== -1 && end > start) {\n        try {\n          videoMetaData = JSON.parse(s.slice(start, end + 1));\n        } catch (e2) {\n          videoMetaData = { ok: false, parseError: String(e2), rawPreview: s.slice(0, 500) };\n        }\n      } else {\n        videoMetaData = { ok: false, parseError: \"Nenhum JSON detectado em stdout\", rawPreview: s.slice(0, 500) };\n      }\n    }\n  } else if (raw && typeof raw === \"object\") {\n    // Caso raro: stdout já veio como objeto\n    videoMetaData = raw;\n  }\n\n  return {\n    json: {\n      ...json,\n      videoMetaData,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -176
      ],
      "id": "65b1455e-0f47-44a5-be10-817c69bbceff",
      "name": "JsonParser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $('VAR').item.json.FILE_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -112
      ],
      "id": "94bd2467-5c08-4452-beb8-3befd3186c8a",
      "name": "HAS_VIDEO_ID"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_VIDEO_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPLIT": {
      "main": [
        [
          {
            "node": "JsonParser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonParser": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_VIDEO_ID": {
      "main": [
        [
          {
            "node": "SPLIT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "pinData": {},
  "versionId": "2ea01cf3-08b9-42e7-9f84-ef6a1b6181b2",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-18T13:10:57.294Z",
      "createdAt": "2025-10-18T13:10:57.294Z",
      "role": "workflow:owner",
      "workflowId": "U2B3b3K36MwEByEd",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2025-11-01T09:31:44.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}