env/n8n_workflow/backup/UjPnRRupZJq5pbs0_@DOWNLOAD_YOUTUBE.json
{
  "updatedAt": "2025-11-16T19:30:52.000Z",
  "createdAt": "2025-08-20T20:52:18.959Z",
  "id": "UjPnRRupZJq5pbs0",
  "name": "@DOWNLOAD_YOUTUBE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"VIDEO_ID\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -112
      ],
      "id": "49b0b1a0-e648-424d-9de3-b912a03babe9",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dff10386-aac1-4bf2-a53e-24e2e7441381",
              "name": "VIDEO_ID",
              "value": "={{ $json.VIDEO_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -112
      ],
      "id": "0fffbeda-d25d-4856-b062-bf278e2408d4",
      "name": "VAR"
    },
    {
      "parameters": {
        "command": "=yt-dlp \\\n  --recode-video mp4 \\\n  -o \"/home/node/download/CANAL_ANCAPSU/{{ $json.VIDEO_ID }}/{{ $json.VIDEO_ID }}.%(ext)s\" \\\n  \"https://www.youtube.com/watch?v={{ $json.VIDEO_ID }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        -176
      ],
      "id": "ab27704d-0092-4dab-b19c-9997bfda51b0",
      "name": "DOWNLOAD",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $json.VIDEO_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -112
      ],
      "id": "64d44e62-f377-41a9-ad29-28aead1ca2a2",
      "name": "HAS_CHANNEL_ID"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        304,
        -16
      ],
      "id": "c3566a88-2c58-4c6e-a10b-0d196c28ce1a",
      "name": "ERROR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa43995-1d25-4eac-949f-6ed21d4ab940",
              "name": "=RESULT",
              "value": "={{ $json.exitCode === 0? \"SUCCESS\":\"ERROR\"}}",
              "type": "string"
            },
            {
              "id": "9f2ff60c-73ff-49b8-993b-437ec8110df2",
              "name": "FILENAME",
              "value": "={{ $('VAR').item.json.VIDEO_ID }}.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -176
      ],
      "id": "bd87c33a-787a-4100-bd52-98f5848c4b4c",
      "name": "RESULT"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_CHANNEL_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_CHANNEL_ID": {
      "main": [
        [
          {
            "node": "DOWNLOAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNLOAD": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "pinData": {
    "START": [
      {
        "json": {
          "VIDEO_ID": "B_IIep7-Jcs"
        }
      }
    ]
  },
  "versionId": "05a65858-8ad9-4dcb-9da5-24b24f80ec33",
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-20T20:52:18.971Z",
      "createdAt": "2025-08-20T20:52:18.971Z",
      "role": "workflow:owner",
      "workflowId": "UjPnRRupZJq5pbs0",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-28T18:38:23.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}