env/n8n_workflow/backup/wDmJOKsJMEGVwOLL_@UPLOAD_YOUTUBE_SHADOWING.json
{
  "updatedAt": "2025-10-29T23:21:59.000Z",
  "createdAt": "2025-10-28T22:38:18.632Z",
  "id": "wDmJOKsJMEGVwOLL",
  "name": "@UPLOAD_YOUTUBE_SHADOWING",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Erro no UPLOAD do canal SHADOWING"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1856,
        144
      ],
      "id": "7ec1c102-1c2b-48a3-83f1-6f49fa937392",
      "name": "@NOTIFIER"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/download/{{ $('Start').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}/shadow_{{ $('Start').item.json.videoId }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1408,
        -96
      ],
      "id": "dd3e2eb9-da11-41c1-8e86-49316a6411a4",
      "name": "Read File Video"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/download/{{ $('Start').item.json.CHANNEL_NAME }}/{{ $('Start').item.json.videoId }}/thumb_{{ $('Start').item.json.videoId }}.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1808,
        -96
      ],
      "id": "07d6e5f9-75f9-466e-aa79-3a21506f5870",
      "name": "Read File Thumb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Upload to youtube').item.json.uploadId }}"
            },
            {
              "name": "uploadType",
              "value": "multipart"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "e1f84b8c-a7d5-4d08-b9cb-15e9a6a66872",
      "name": "Set Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        -96
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ThaPnNZElYZbX2i2",
          "name": "YouTube n8n account-ENGLISH"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/playlistItems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n(() => {\n  const info = $('Get Long Video Info')?.item?.json ?? {};\n  const upload = $('Upload to youtube')?.item?.json ?? {};\n\n  const playlistId =\n    info?.playlist?.id ??\n    info?.playlistId ??\n    $json.playlistId;\n\n  const videoId = upload?.uploadId ?? $json.videoId;\n\n  if (!playlistId) throw new Error('playlistId ausente (esperado em Get Long Video Info.playlist.id ou playlistId).');\n  if (!videoId)   throw new Error('videoId ausente (use Upload a long.uploadId ou $json.videoId).');\n\n  return JSON.stringify({\n    snippet: {\n      playlistId,\n      resourceId: { kind: 'youtube#video', videoId }      \n    }\n  });\n})()\n}}\n",
        "options": {}
      },
      "id": "bb074559-04b1-4c08-aa6a-c554bf861b23",
      "name": "Set Video To Playlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        -96
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lC6w9zooePykiKGj",
          "name": "YouTube n8n account-ANCAPSU"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OGP1iwNUAhD04yeD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OGP1iwNUAhD04yeD",
          "cachedResultName": "@NOTIFIER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MESSAGE": "Vídeo SHADOWING enviado com SUCESSO!"
          },
          "matchingColumns": [
            "MESSAGE"
          ],
          "schema": [
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2336,
        -96
      ],
      "id": "71359ef6-1786-48ff-8054-7ef8100c68d5",
      "name": "@NOTIFIER5"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "videoId",
              "type": "any"
            },
            {
              "name": "CHANNEL_NAME",
              "type": "any"
            },
            {
              "name": "output_VideoTitle",
              "type": "any"
            },
            {
              "name": "output_VideoDescription",
              "type": "any"
            },
            {
              "name": "output_Tags_map",
              "type": "any"
            }
          ]
        }
      },
      "id": "2ae70be8-32d7-4c06-a933-66ebfc33ef82",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1216,
        -96
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').item.json.output_VideoTitle}}",
        "regionCode": "BR",
        "categoryId": "=",
        "binaryProperty": "=data",
        "options": {
          "description": "={{ $('Start').item.json.output_VideoDescription}}",
          "notifySubscribers": false,
          "privacyStatus": "private",
          "publishAt": "={{\n(() => {\n  const pad = n => String(n).padStart(2, '0');\n\n  // data alvo: hoje + 2 dias\n  const d = new Date(Date.now() + 2 * 24 * 60 * 60 * 1000);\n  const y = d.getFullYear();\n  const M = pad(d.getMonth() + 1);\n  const D = pad(d.getDate());\n\n  // horário fixo: 10:00:00\n  const hh = '10';\n  const mm = '00';\n  const ss = '00';\n\n  return `${y}-${M}-${D}T${hh}:${mm}:${ss}`;\n})()\n}}\n",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Start').item.json.output_Tags_map(t => JSON.stringify(t)).join(',').trim() }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1600,
        -96
      ],
      "id": "6cbceea8-9b08-4fc2-bfd1-214af4e9b43e",
      "name": "Upload to youtube",
      "alwaysOutputData": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ThaPnNZElYZbX2i2",
          "name": "YouTube n8n account-ENGLISH"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Read File Video": {
      "main": [
        [
          {
            "node": "Upload to youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File Thumb": {
      "main": [
        [
          {
            "node": "Set Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Thumbnail": {
      "main": [
        [
          {
            "node": "Set Video To Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video To Playlist": {
      "main": [
        [
          {
            "node": "@NOTIFIER5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Read File Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to youtube": {
      "main": [
        [
          {
            "node": "Read File Thumb",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "@NOTIFIER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "videoId": "1761691131885",
          "CHANNEL_NAME": "CANAL_SHADOWING",
          "output_VideoTitle": "Level B2 | English Shadowing Passive Voice Story Father and Daughter Adventures",
          "output_VideoDescription": "Practice your English shadowing skills with this engaging story about a father's childhood adventures told to his daughter. Listen carefully to how the passive voice is used in both simple present and simple past tenses to describe events and experiences. This video helps you get a natural sense of how passive constructions like \"were discovered,\" \"were built,\" and \"was written\" appear in real speech. The father recounts magical moments where hidden treasures were found, secret letters were written, and childhood games were organized, all while the daughter listens with wonder. You’ll come across phrasal verbs and expressions that support storytelling and memory recall, such as \"look for,\" \"keep safe,\" and \"ask for.\" Listen once to absorb the story, then repeat aloud to practice fluency, and finally shadow with the audio to enhance your speaking skills. Improve your passive voice understanding while enjoying this heartfelt conversation between father and daughter.",
          "output_Tags_map": [
            "english shadowing",
            "passive voice",
            "simple present",
            "simple past",
            "shadowing practice",
            "B2 level",
            "speaking practice",
            "repeat after me",
            "father and daughter",
            "storytelling",
            "childhood adventures",
            "language learning",
            "grammar focus",
            "listening practice",
            "learning english",
            "phrasal verbs",
            "look for",
            "keep safe",
            "ask for",
            "speaking skills"
          ]
        }
      }
    ],
    "Upload to youtube": [
      {
        "json": {
          "uploadId": "LXINWcBl9FQ"
        }
      }
    ]
  },
  "versionId": "ec823019-c3ba-49c5-b1d4-7d18bd3ca2ec",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-28T22:38:18.661Z",
      "createdAt": "2025-10-28T22:38:18.661Z",
      "role": "workflow:owner",
      "workflowId": "wDmJOKsJMEGVwOLL",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2025-10-29T19:06:54.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}