env/n8n_workflow/backup/ZSluSYHvF9KebD45_Get Executions Statistics.json
{
  "updatedAt": "2026-01-15T23:13:03.000Z",
  "createdAt": "2026-01-15T23:13:03.265Z",
  "id": "ZSluSYHvF9KebD45",
  "name": "Get Executions Statistics",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        -432
      ],
      "id": "92799da3-4b0f-4af1-a258-e5ea32c080c9",
      "name": "get Execution ID",
      "disabled": false,
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "91fcab39-6d12-4e38-969d-b30d49e790d0",
              "name": "=executionId",
              "value": "={{$execution.id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2544,
        -432
      ],
      "id": "8f6f47d6-b462-4177-bff4-5f622f6d9ac2",
      "name": "Get Execution Data",
      "disabled": false,
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "curlImport": "",
        "method": "GET",
        "url": "=http://n8n:5678/api/v1/executions/{{ $json.executionId }}",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "includeData",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5NmI2MmJlZS1lYmIxLTRmZTUtYTUxYi1jMTE2ZWY3MDY0ZWIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYwMTkxOTA2fQ.rDMPb66Xspvo3x2Ie7uCx25552SgCvifCjSKCoIpbNo"
            }
          ]
        },
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "issues": {}
    },
    {
      "type": "n8n-nodes-base.code",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * Extrai tokenUsageEstimate do retorno do HTTP /executions/:id?includeData=true\n * Compatível com:\n * - retorno \"embrulhado\": { data: { id, data: { resultData: { runData }}}}\n * - retorno direto: { id, data: { resultData: { runData }}}\n */\nfunction getRunDataAndId(payload) {\n  // caso venha embrulhado pelo node HTTP do n8n\n  const p = payload?.data && payload.data.data ? payload.data : payload;\n\n  const executionId = p?.id ?? payload?.id ?? null;\n  const runData =\n    p?.data?.resultData?.runData ??\n    p?.resultData?.runData ??\n    null;\n\n  return { executionId, runData, topKeys: Object.keys(payload || {}), innerKeys: Object.keys(p || {}) };\n}\n\nfunction sumTokenUsageEstimate(runData) {\n  const totals = { promptTokens: 0, completionTokens: 0, totalTokens: 0 };\n  const byNode = {};\n\n  for (const nodeName of Object.keys(runData)) {\n    const runs = runData[nodeName];\n    if (!Array.isArray(runs)) continue;\n\n    for (const run of runs) {\n      // caminho típico do langchain lmChatOpenAi\n      const est =\n        run?.data?.ai_languageModel?.[0]?.[0]?.json?.tokenUsageEstimate ??\n        run?.data?.main?.[0]?.[0]?.json?.tokenUsageEstimate ??\n        null;\n\n      if (!est) continue;\n\n      const pt = Number(est.promptTokens ?? 0);\n      const ct = Number(est.completionTokens ?? 0);\n      const tt = Number(est.totalTokens ?? (pt + ct));\n\n      totals.promptTokens += pt;\n      totals.completionTokens += ct;\n      totals.totalTokens += tt;\n\n      byNode[nodeName] = byNode[nodeName] ?? { promptTokens: 0, completionTokens: 0, totalTokens: 0, hits: 0 };\n      byNode[nodeName].promptTokens += pt;\n      byNode[nodeName].completionTokens += ct;\n      byNode[nodeName].totalTokens += tt;\n      byNode[nodeName].hits += 1;\n    }\n  }\n\n  return { totals, byNode };\n}\n\nreturn items.map((item) => {\n  const { executionId, runData, topKeys, innerKeys } = getRunDataAndId(item.json);\n\n  if (!runData) {\n    return {\n      json: {\n        error: \"Ainda não veio runData. Este Code node NÃO está recebendo o retorno do HTTP /executions/:id?includeData=true.\",\n        executionId,\n        topKeys,\n        innerKeys,\n        hint: \"Conecte este Code node DIRETO na saída do HTTP Request 'Get Execution Data'. Se você rodar 'Execute node' isolado, ele pode usar input antigo (lite).\",\n      }\n    };\n  }\n\n  const { totals, byNode } = sumTokenUsageEstimate(runData);\n\n  return {\n    json: {\n      executionId,\n      totals,\n      byNode,\n    }\n  };\n});\n",
        "notice": ""
      },
      "typeVersion": 2,
      "position": [
        2816,
        -432
      ],
      "id": "48d54ca9-1f5c-4b80-8cfb-0713d192860e",
      "name": "Code in JavaScript",
      "disabled": false
    },
    {
      "id": "22993f96-c133-4b43-81bf-6c76261175aa",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2064,
        -432
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    }
  ],
  "connections": {
    "get Execution ID": {
      "main": [
        [
          {
            "node": "Get Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Execution Data": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "get Execution ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8da4ea8e-7b80-41f9-aca5-fac70f617c08",
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-15T23:13:03.298Z",
      "createdAt": "2026-01-15T23:13:03.298Z",
      "role": "workflow:owner",
      "workflowId": "ZSluSYHvF9KebD45",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-28T18:38:23.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}