env/n8n_workflow/backup/zyDdjzdqLB6ybfL2_@LISTAR_CATEGORIA_DESPESA_FAMILIA.json
{
  "updatedAt": "2026-01-14T17:51:53.000Z",
  "createdAt": "2026-01-14T16:56:57.485Z",
  "id": "zyDdjzdqLB6ybfL2",
  "name": "@LISTAR_CATEGORIA_DESPESA_FAMILIA",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        0
      ],
      "id": "4e055b38-5b83-466e-86c6-d827dc8a2280",
      "name": "START"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zlghCbSqrsMr8Qvf",
          "mode": "list",
          "cachedResultName": "CATEGORIA_DESPESA_FAMILIA",
          "cachedResultUrl": "/projects/TH7SrF7Rx9ho2z9i/datatables/zlghCbSqrsMr8Qvf"
        },
        "matchType": "allConditions"
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "7aa732da-c5fc-49f8-b2c0-0062178b1cbd",
      "name": "Get categorias"
    },
    {
      "parameters": {
        "jsCode": "const categorias = $input.all().map(i => i.json.TIPO_DESPESA);\n\nreturn [\n  { \n    categorias,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "614a82e3-9899-470b-9a61-7d9f9636b7e1",
      "name": "Map Categorias"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "Get categorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get categorias": {
      "main": [
        [
          {
            "node": "Map Categorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9a7bf951-0b6a-4fe5-9c95-4048f3bff5be",
  "versionCounter": 13,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-14T16:56:57.800Z",
      "createdAt": "2026-01-14T16:56:57.800Z",
      "role": "workflow:owner",
      "workflowId": "zyDdjzdqLB6ybfL2",
      "projectId": "TH7SrF7Rx9ho2z9i",
      "project": {
        "updatedAt": "2025-08-20T20:53:20.326Z",
        "createdAt": "2025-08-20T20:52:17.088Z",
        "id": "TH7SrF7Rx9ho2z9i",
        "name": "Hugo Dutra <hugo.dutra@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-20T20:52:17.089Z",
            "createdAt": "2025-08-20T20:52:17.089Z",
            "userId": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
            "projectId": "TH7SrF7Rx9ho2z9i",
            "user": {
              "updatedAt": "2026-01-16T10:18:10.000Z",
              "createdAt": "2025-08-20T20:52:15.066Z",
              "id": "96b62bee-ebb1-4fe5-a51b-c116ef7064eb",
              "email": "hugo.dutra@hotmail.com",
              "firstName": "Hugo",
              "lastName": "Dutra",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-20T20:56:08.200Z",
                "personalization_survey_n8n_version": "1.107.4",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Video As A Service",
                "companySize": "<20",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DOfnd0M834V8kbv2",
                "userActivatedAt": 1755725592234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1757188846991
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true,
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}