env/n8n_workflow/@AUDIO_EXTRACTOR.json
{
  "name": "@AUDIO_EXTRACTOR",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"VIDEO_ID\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -112
      ],
      "id": "9e0b6a69-2afd-4de2-93be-ae1722498e13",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dff10386-aac1-4bf2-a53e-24e2e7441381",
              "name": "VIDEO_ID",
              "value": "={{ $json.VIDEO_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -112
      ],
      "id": "8d3ccd10-b282-4ec0-b2f7-ff7f5c99e3ee",
      "name": "VAR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $json.VIDEO_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -112
      ],
      "id": "e4d164e0-ecf0-4583-aa99-cf083a30b149",
      "name": "HAS_CHANNEL_ID"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        336,
        0
      ],
      "id": "03b9359b-2915-486a-bfc7-dad60717b764",
      "name": "ERROR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa43995-1d25-4eac-949f-6ed21d4ab940",
              "name": "=RESULT",
              "value": "={{ $json.exitCode === 0? \"SUCCESS\":\"ERROR\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -208
      ],
      "id": "525dc60b-0f7f-4be9-90f6-0c0d45cd1623",
      "name": "RESULT"
    },
    {
      "parameters": {
        "command": "=IN=\"/home/node/download/{{ $('START').first().json.VIDEO_ID }}/{{ $('START').first().json.VIDEO_ID }}.mp4\"; EXT=\"${EXT:-mp3}\"; \\\nDIR=\"$(dirname \"$IN\")\"; BASE=\"$(basename \"$IN\")\"; NAME=\"${BASE%.*}\"; \\\nffmpeg -y -i \"$IN\" -vn -c:a libmp3lame -q:a 2 \"$DIR/$NAME.$EXT\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        512,
        -208
      ],
      "id": "ca219805-248e-4a2d-9ea8-c983dab5af66",
      "name": "EXTRACT",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DOfnd0M834V8kbv2",
          "mode": "list",
          "cachedResultName": "@CREATE_FOLDER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "=/home/node/download/{{ $('START').first().json.VIDEO_ID }}"
          },
          "matchingColumns": [
            "path"
          ],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        336,
        -208
      ],
      "id": "f83cf0ca-34b7-4b64-a11a-7ebe5966c5e9",
      "name": "CREATE_FOLDER"
    }
  ],
  "pinData": {
    "START": [
      {
        "json": {
          "VIDEO_ID": "_LMpN6o26E0"
        }
      }
    ]
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_CHANNEL_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_CHANNEL_ID": {
      "main": [
        [
          {
            "node": "CREATE_FOLDER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACT": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_FOLDER": {
      "main": [
        [
          {
            "node": "EXTRACT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a1f2470-eb86-490a-9040-ead8eedb0eab",
  "meta": {
    "instanceId": "c5b0b17754dd8875e0a1c41ee11cdaba0d71678620daa90e860fc2877504e04a"
  },
  "id": "sk6qHDqmsTEMLNsp",
  "tags": []
}