env/n8n_workflow/@AUDIO_EXTRACTOR.json
{
  "name": "@AUDIO_EXTRACTOR",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"PATH_SOURCE\": \"a string\",\n   \"PATH_DESTINATION\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -112
      ],
      "id": "9e0b6a69-2afd-4de2-93be-ae1722498e13",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16e5b92f-08a9-48a6-a986-c39126c77064",
              "name": "PATH_SOURCE",
              "value": "={{ $json.PATH_SOURCE }}",
              "type": "string"
            },
            {
              "id": "9ee4b510-8740-46d7-ad19-b6f49e1565d3",
              "name": "PATH_DESTINATION",
              "value": "={{ $json.PATH_DESTINATION }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -112
      ],
      "id": "8d3ccd10-b282-4ec0-b2f7-ff7f5c99e3ee",
      "name": "VAR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $json.PATH_SOURCE }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9b457fb5-5d00-4b9c-97cc-43f797390700",
              "leftValue": "={{ $json.PATH_DESTINATION }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -112
      ],
      "id": "e4d164e0-ecf0-4583-aa99-cf083a30b149",
      "name": "HAS_CHANNEL_ID"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        336,
        0
      ],
      "id": "03b9359b-2915-486a-bfc7-dad60717b764",
      "name": "ERROR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa43995-1d25-4eac-949f-6ed21d4ab940",
              "name": "=RESULT",
              "value": "={{ $json.exitCode === 0? \"SUCCESS\":\"ERROR\"}}",
              "type": "string"
            },
            {
              "id": "b0776936-91fa-4afd-aca4-57408a6a4761",
              "name": "PATH_DESTINATION",
              "value": "={{ $('START').item.json.PATH_DESTINATION }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -192
      ],
      "id": "525dc60b-0f7f-4be9-90f6-0c0d45cd1623",
      "name": "RESULT"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i \"{{ $json.PATH_SOURCE }}\" -vn -c:a libmp3lame -q:a 2 \"{{ $json.PATH_DESTINATION }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        336,
        -192
      ],
      "id": "ca219805-248e-4a2d-9ea8-c983dab5af66",
      "name": "EXTRACT",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "START": [
      {
        "json": {
          "PATH_SOURCE": "/home/node/processing/_LMpN6o26E0_0_5.mp4",
          "PATH_DESTINATION": "/home/node/processing/_LMpN6o26E0_0_5.mp3"
        }
      }
    ]
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_CHANNEL_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_CHANNEL_ID": {
      "main": [
        [
          {
            "node": "EXTRACT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACT": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e1470ddd-dba7-4a68-b988-297bd712b411",
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "id": "sk6qHDqmsTEMLNsp",
  "tags": []
}