env/n8n_workflow/@DOWNLOAD_YOUTUBE.json
{
  "name": "@DOWNLOAD_YOUTUBE",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"VIDEO_ID\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        -112
      ],
      "id": "49b0b1a0-e648-424d-9de3-b912a03babe9",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dff10386-aac1-4bf2-a53e-24e2e7441381",
              "name": "VIDEO_ID",
              "value": "={{ $json.VIDEO_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -112
      ],
      "id": "0fffbeda-d25d-4856-b062-bf278e2408d4",
      "name": "VAR"
    },
    {
      "parameters": {
        "command": "=yt-dlp -o \"/home/node/download/{{ $json.VIDEO_ID }}.%(ext)s\" \"https://www.youtube.com/watch?v={{ $json.VIDEO_ID }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        -176
      ],
      "id": "ab27704d-0092-4dab-b19c-9997bfda51b0",
      "name": "DOWNLOAD",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $json.VIDEO_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -112
      ],
      "id": "64d44e62-f377-41a9-ad29-28aead1ca2a2",
      "name": "HAS_CHANNEL_ID"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        304,
        -16
      ],
      "id": "c3566a88-2c58-4c6e-a10b-0d196c28ce1a",
      "name": "ERROR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa43995-1d25-4eac-949f-6ed21d4ab940",
              "name": "=RESULT",
              "value": "={{ $json.exitCode === 0? \"SUCCESS\":\"ERROR\"}}",
              "type": "string"
            },
            {
              "id": "9f2ff60c-73ff-49b8-993b-437ec8110df2",
              "name": "FILENAME",
              "value": "={{ $('VAR').item.json.VIDEO_ID }}.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -176
      ],
      "id": "bd87c33a-787a-4100-bd52-98f5848c4b4c",
      "name": "RESULT"
    }
  ],
  "pinData": {
    "START": [
      {
        "json": {
          "VIDEO_ID": "_LMpN6o26E0"
        }
      }
    ]
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_CHANNEL_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_CHANNEL_ID": {
      "main": [
        [
          {
            "node": "DOWNLOAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNLOAD": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5cd3dbdf-1c70-49d6-b361-4887393161cf",
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "id": "UjPnRRupZJq5pbs0",
  "tags": []
}