env/n8n_workflow/@EFFECTS_VINTAGE.json
{
  "name": "@EFFECTS_VINTAGE",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILENAME\": \"_LMpN6o26E0_00_00_00_00_00_06.mp4\",\n  \"V_SAT\": 0.5,\n  \"V_CONTRAST\": 1.1,\n  \"V_BRIGHT\": 0.05,\n  \"V_GRAIN\": 35,\n  \"V_FLAGS\": \"u+t\",\n  \"V_SEED\": 123,\n  \"V_VIGN\": \"PI/4\"\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -112
      ],
      "id": "4bc79835-24f0-48ef-8fed-e3cca45da532",
      "name": "START"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        -112
      ],
      "id": "020684f2-d32e-44cb-8054-5c5d2274e5aa",
      "name": "COMMAND"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9a6d8d1-dbd3-47e1-984a-202445146564",
              "name": "FILENAME",
              "value": "={{ $json.FILENAME }}",
              "type": "string"
            },
            {
              "id": "cd520121-d1dd-44d1-ae9c-0fad569de67e",
              "name": "NOISE_STRENGTH",
              "value": "={{ $json.NOISE_STRENGTH }}",
              "type": "number"
            },
            {
              "id": "9b755ec2-40c6-4115-9ad2-f9e6bf440fa1",
              "name": "NOISE_FLAGS ",
              "value": "={{ $json['NOISE_FLAGS '] }}",
              "type": "string"
            },
            {
              "id": "9a663f5c-38a1-4536-b7f8-b27ef2ff3008",
              "name": "NOISE_SEED  ",
              "value": "={{ $json['NOISE_SEED  '] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -112
      ],
      "id": "ce0910f4-7bd6-4404-8534-8d69fde59a48",
      "name": "VAR"
    },
    {
      "parameters": {
        "jsCode": "// Inputs esperados:\n// FILENAME   -> ex: \"_LMpN6o26E0_00_00_00_00_00_06.mp4\" (em /home/node/processing)\n// V_SAT      -> saturação (0–2, padrão 0.6)\n// V_CONTRAST -> contraste (0.5–2, padrão 1.05)\n// V_BRIGHT   -> brilho (-1–1, padrão 0)\n// V_GRAIN    -> intensidade do grão (0–100, padrão 20)\n// V_FLAGS    -> flags do noise (\"u+t\" padrão)      // u=uniforme, g=gaussiano, p=positivo, t=temporal\n// V_SEED     -> semente do ruído (0..2^32-1, padrão 42)\n// V_VIGN     -> parâmetro do vignette (string opcional, ex: \"PI/4\")\n\nconst file = $json.FILENAME;\n\nconst V_SAT      = Number($json.V_SAT ?? 0.6);\nconst V_CONTRAST = Number($json.V_CONTRAST ?? 1.05);\nconst V_BRIGHT   = Number($json.V_BRIGHT ?? 0);\nconst V_GRAIN    = Number($json.V_GRAIN ?? 20);\nconst V_FLAGS    = ($json.V_FLAGS ?? 'u+t').toString();\nconst V_SEED     = Number($json.V_SEED ?? 42);\nconst V_VIGN     = $json.V_VIGN;\n\nconst BASE = '/home/node/processing';\n\n// Nome de saída\nconst safe = s => s.replace(/\\.[A-Za-z0-9]+$/,'').replace(/[^A-Za-z0-9_\\-]/g,'_');\nconst outFile = `${safe(file)}_VINTAGE_sat${V_SAT}_ct${V_CONTRAST}_gr${V_GRAIN}.mp4`;\n\n// Monta a vinheta\nconst vignettePart = V_VIGN ? `vignette=${V_VIGN}` : `vignette`;\n\n// Cadeia de filtros\nconst vf =\n  `eq=contrast=${V_CONTRAST}:brightness=${V_BRIGHT},` +\n  `hue=s=${V_SAT},` +\n  `noise=alls=${V_GRAIN}:allf=${V_FLAGS}:all_seed=${V_SEED},` +\n  `${vignettePart},` +\n  `format=yuv420p`;\n\nconst cmd =\n  `ffmpeg -y -i \"${BASE}/${file}\" ` +\n  `-vf \"${vf}\" ` +\n  `-c:v libx264 -preset veryfast -crf 20 -movflags +faststart ` +\n  `-c:a copy ` +\n  `\"${BASE}/${outFile}\"`;\n\nreturn {\n  command: cmd,\n  outputFile: outFile\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -112
      ],
      "id": "5f62c54f-3f87-43c6-adad-c26ca4d97177",
      "name": "C0DE"
    },
    {
      "parameters": {
        "content": "## 🎬 Parâmetros do efeito Vintage\n\n- **FILENAME** → vídeo de entrada  \n  - Exemplo: `_LMpN6o26E0_00_00_00_00_00_06.mp4`  \n  - Local: `/home/node/processing`\n\n- **V_SAT** → saturação de cor  \n  - Faixa: 0 (sem cor) → 2 (cores intensas)  \n  - Padrão: 0.6  \n\n- **V_CONTRAST** → contraste  \n  - Faixa: 0.5 → 2  \n  - Padrão: 1.05  \n\n- **V_BRIGHT** → brilho  \n  - Faixa: -1 → 1  \n  - Padrão: 0  \n\n- **V_GRAIN** → intensidade do grão/ruído  \n  - Faixa: 0 → 100  \n  - Padrão: 20  \n\n- **V_FLAGS** → tipo de ruído  \n  - Valores:  \n    - `u` = uniforme  \n    - `g` = gaussiano  \n    - `p` = positivo  \n    - `t` = temporal (ruído muda ao longo do tempo)  \n  - Combinações possíveis: `u+t`, `g+t`, etc.  \n  - Padrão: `u+t`  \n\n- **V_SEED** → semente do ruído  \n  - Faixa: 0 → 2^32-1  \n  - Padrão: 42  \n\n- **V_VIGN** → vinheta (borda escura)  \n  - Tipo: string matemática opcional  \n  - Exemplo: `\"PI/4\"` → vinheta mais fechada  \n  - Se não informado → vinheta padrão\n",
        "height": 928,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -112
      ],
      "typeVersion": 1,
      "id": "04b164bc-2bc4-460a-821c-091016eb7683",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "START": [
      {
        "json": {
          "FILENAME": "_LMpN6o26E0_00_00_00_00_00_06.mp4",
          "V_SAT": 0.5,
          "V_CONTRAST": 1.8,
          "V_BRIGHT": 1.05,
          "V_GRAIN": 70,
          "V_FLAGS": "u+t",
          "V_SEED": 123,
          "V_VIGN": "PI/4"
        }
      }
    ]
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "C0DE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C0DE": {
      "main": [
        [
          {
            "node": "COMMAND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c0bae83-876a-4b53-a139-22a3baabe726",
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "id": "XsfPGEyzI5H88tY7",
  "tags": []
}