env/n8n_workflow/@EFFECTS_GLOW.json
{
  "name": "@EFFECTS_GLOW",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILENAME\": \"_LMpN6o26E0_00_00_00_00_00_06.mp4\",\n  \"G_SIGMA\": 10,\n  \"G_OPACITY\": 0.65,\n  \"G_BRIGHT\": 0.02,\n  \"G_CONTRAST\": 1.05,\n  \"G_SAT\": 1.0\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -112
      ],
      "id": "d123371f-94ae-47b7-9655-c69148fdaf50",
      "name": "START"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        -112
      ],
      "id": "10a3ac67-770c-4d34-be5f-e70b75cfee35",
      "name": "COMMAND"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2faaec50-4d50-4390-ad6a-b88db9428c47",
              "name": "FILENAME",
              "value": "={{ $json.FILENAME }}",
              "type": "string"
            },
            {
              "id": "38a42802-3a03-49c3-93aa-2351f11d24ad",
              "name": "EDGE_MODE",
              "value": "={{ $json.EDGE_MODE }}",
              "type": "string"
            },
            {
              "id": "2bd6c489-f7e3-4d4a-aa40-cb3ab94515ca",
              "name": "EDGE_LOW",
              "value": "={{ $json.EDGE_LOW }}",
              "type": "number"
            },
            {
              "id": "416a374f-a134-4966-9b37-8b0cebf60520",
              "name": "EDGE_HIGH",
              "value": "={{ $json.EDGE_HIGH }}",
              "type": "number"
            },
            {
              "id": "b42613fb-6ba8-4897-b5a0-25a57a607d58",
              "name": "INVERT",
              "value": "={{ $json.INVERT }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -112
      ],
      "id": "d51b8e04-3ca8-40bb-8c01-fbedd584e262",
      "name": "VAR"
    },
    {
      "parameters": {
        "jsCode": "// Inputs esperados:\n// FILENAME    -> \"_LMpN6o26E0_00_00_00_00_00_06.mp4\" (em /home/node/processing)\n// G_SIGMA     -> força do desfoque gaussiano (float >0, padrão: 8)\n// G_OPACITY   -> opacidade do glow na mescla (0–1, padrão: 0.6)\n// G_BRIGHT    -> brilho extra antes do glow (-1–1, padrão: 0)\n// G_CONTRAST  -> contraste extra antes do glow (0.5–2, padrão: 1.0)\n// G_SAT       -> saturação antes do glow (0–2, padrão: 1.0)\n\nconst file = $json.FILENAME;\n\nconst G_SIGMA    = Number($json.G_SIGMA ?? 8);\nconst G_OPACITY  = Number($json.G_OPACITY ?? 0.6);\nconst G_BRIGHT   = Number($json.G_BRIGHT ?? 0);\nconst G_CONTRAST = Number($json.G_CONTRAST ?? 1.0);\nconst G_SAT      = Number($json.G_SAT ?? 1.0);\n\nconst BASE = \"/home/node/processing\";\n\n// nome de saída seguro\nconst safe = s => s.replace(/\\.[A-Za-z0-9]+$/,'').replace(/[^A-Za-z0-9_\\-]/g,'_');\nconst outFile = `${safe(file)}_GLOW_sig${G_SIGMA}_op${G_OPACITY}.mp4`;\n\n// pipeline: base -> ajuste leve -> split -> blur -> blend em 'screen' -> yuv420p\nconst filterComplex =\n  `[0:v]eq=brightness=${G_BRIGHT}:contrast=${G_CONTRAST},hue=s=${G_SAT},format=yuv420p,split[base][work];` +\n  `[work]gblur=sigma=${Math.max(0.1, G_SIGMA)}[blur];` +\n  `[base][blur]blend=all_mode=screen:all_opacity=${Math.min(Math.max(G_OPACITY,0),1)}[vout]`;\n\nconst cmd =\n  `ffmpeg -y -i \"${BASE}/${file}\" ` +\n  `-filter_complex \"${filterComplex}\" ` +\n  `-map \"[vout]\" -map 0:a ` +\n  `-c:v libx264 -preset veryfast -crf 20 -pix_fmt yuv420p -movflags +faststart ` +\n  `-c:a copy ` +\n  `\"${BASE}/${outFile}\"`;\n\nreturn {\n  command: cmd,\n  outputFile: outFile\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -112
      ],
      "id": "ad5ca905-a15e-4be7-bdff-01afd6e905c5",
      "name": "C0DE"
    },
    {
      "parameters": {
        "content": "## ✨ Parâmetros do efeito Glow / Dreamy\n\n- **FILENAME** → vídeo de entrada  \n  - Ex.: `_LMpN6o26E0_00_00_00_00_00_06.mp4` (em `/home/node/processing`)\n\n- **G_SIGMA** → intensidade do desfoque gaussiano que gera o \"bloom\"  \n  - Faixa: `> 0` (ex.: 2 suave • 8 padrão • 16 forte)  \n  - Padrão: `8`\n\n- **G_OPACITY** → opacidade do brilho na mescla *screen*  \n  - Faixa: `0.0` (sem efeito) a `1.0` (efeito máximo)  \n  - Padrão: `0.6`\n\n- **G_BRIGHT** *(opcional)* → brilho aplicado antes do glow  \n  - Faixa: `-1` a `1`  \n  - Padrão: `0`\n\n- **G_CONTRAST** *(opcional)* → contraste aplicado antes do glow  \n  - Faixa: `0.5` a `2`  \n  - Padrão: `1.0`\n\n- **G_SAT** *(opcional)* → saturação aplicada antes do glow  \n  - Faixa: `0` (P&B) a `2`  \n  - Padrão: `1.0`\n\n**Como funciona:** duplicamos o vídeo, desfocamos uma cópia e mesclamos com o original usando **`blend=screen`** com opacidade controlada.\n",
        "height": 656,
        "width": 688,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -112
      ],
      "typeVersion": 1,
      "id": "b6855163-291b-4421-84c2-e16b5f462ce1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "START": [
      {
        "json": {
          "FILENAME": "_LMpN6o26E0_00_00_00_00_00_06.mp4",
          "G_SIGMA": 10,
          "G_OPACITY": 0.65,
          "G_BRIGHT": 0.02,
          "G_CONTRAST": 1.05,
          "G_SAT": 1
        }
      }
    ]
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "C0DE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C0DE": {
      "main": [
        [
          {
            "node": "COMMAND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d597da98-ee91-433b-ba80-a622ba528131",
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "id": "fdSvj8NASPxSxRSn",
  "tags": []
}