env/n8n_workflow/@EFFECTS_BLACK_WHITE.json
{
  "name": "@EFFECTS_BLACK_WHITE",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILENAME\": \"_LMpN6o26E0_00_00_00_00_00_06.mp4\",\n  \"BW_METHOD\": \"hue\",\n  \"BW_CONTRAST\": 1.1,\n  \"BW_BRIGHT\": 0.05\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -112
      ],
      "id": "255fa26a-9b22-4d2a-8b96-4097f02a6193",
      "name": "START"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        -112
      ],
      "id": "71618021-ae61-4b83-aac5-ea622ddbf0e1",
      "name": "COMMAND"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "410ffb87-1f42-4ae3-90e3-575d9ff4698b",
              "name": "FILENAME",
              "value": "={{ $json.FILENAME }}",
              "type": "string"
            },
            {
              "id": "ade1e25b-20c7-4d2e-a5d4-44dec66a2a26",
              "name": "V_STRENGTH",
              "value": "={{ $json.V_STRENGTH }}",
              "type": "number"
            },
            {
              "id": "dad16ac2-ecef-44cd-b7bf-101a5a9c299e",
              "name": "V_ANGLE",
              "value": "={{ $json.V_ANGLE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -112
      ],
      "id": "756544df-822f-431e-a433-7eb3db13ccb6",
      "name": "VAR"
    },
    {
      "parameters": {
        "jsCode": "// Inputs esperados:\n// FILENAME    -> ex: \"_LMpN6o26E0_00_00_00_00_00_06.mp4\" (em /home/node/processing)\n// BW_METHOD   -> \"hue\" | \"gray\"  (padrão: \"hue\")\n//               - \"hue\": usa hue=s=0 (mantém subsample 4:2:0, ótima compatibilidade)\n//               - \"gray\": converte para escala de cinza real (pix_fmt gray), depois volta a yuv420p\n// BW_CONTRAST -> contraste extra (0.5–2, opcional; padrão 1.0)\n// BW_BRIGHT   -> brilho extra (-1–1, opcional; padrão 0)\n\nconst file = $json.FILENAME;\nconst METHOD = ($json.BW_METHOD ?? \"hue\").toString();\nconst BW_CONTRAST = Number($json.BW_CONTRAST ?? 1.0);\nconst BW_BRIGHT   = Number($json.BW_BRIGHT ?? 0);\n\nconst BASE = \"/home/node/processing\";\n\n// nome de saída\nconst safe = s => s.replace(/\\.[A-Za-z0-9]+$/,'').replace(/[^A-Za-z0-9_\\-]/g,'_');\nconst tag  = `${METHOD}_ct${BW_CONTRAST}_br${BW_BRIGHT}`;\nconst outFile = `${safe(file)}_BW_${tag}.mp4`;\n\n// filtros\nlet vf;\nif (METHOD === \"gray\") {\n  // Converte para cinza real, ajusta eq e volta para yuv420p para compatibilidade\n  vf = `format=gray,eq=brightness=${BW_BRIGHT}:contrast=${BW_CONTRAST},format=yuv420p`;\n} else {\n  // Desaturação preservando pipeline comum\n  vf = `hue=s=0,eq=brightness=${BW_BRIGHT}:contrast=${BW_CONTRAST},format=yuv420p`;\n}\n\nconst cmd =\n  `ffmpeg -y -i \"${BASE}/${file}\" ` +\n  `-vf \"${vf}\" ` +\n  `-c:v libx264 -preset veryfast -crf 20 -movflags +faststart ` +\n  `-c:a copy ` +\n  `\"${BASE}/${outFile}\"`;\n\nreturn {\n  command: cmd,\n  outputFile: outFile\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -112
      ],
      "id": "e0bec49d-39be-4d5f-bef4-81179dacd41b",
      "name": "C0DE"
    },
    {
      "parameters": {
        "content": "## 🖤 Parâmetros do efeito Black & White (P&B)\n\n- **FILENAME** → vídeo de entrada  \n  - Exemplo: `_LMpN6o26E0_00_00_00_00_00_06.mp4`  \n  - Local: `/home/node/processing`\n\n- **BW_METHOD** *(opcional)* → método de P&B  \n  - Opções:  \n    - `\"hue\"` → define saturação para 0 (Padrão; ótima compatibilidade)  \n    - `\"gray\"` → converte o frame para escala de cinza real  \n  - Padrão: `\"hue\"`\n\n- **BW_CONTRAST** *(opcional)* → contraste extra  \n  - Faixa: `0.5` a `2`  \n  - Padrão: `1.0`\n\n- **BW_BRIGHT** *(opcional)* → brilho extra  \n  - Faixa: `-1` a `1`  \n  - Padrão: `0`\n\n**Saída:** H.264 (`libx264`) + `yuv420p` (compatibilidade ampla), áudio original preservado (`-c:a copy`).\n",
        "height": 800,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -112
      ],
      "typeVersion": 1,
      "id": "a5179dc4-b7d2-4b3c-a05c-88c4fb3dbb5d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "START": [
      {
        "json": {
          "FILENAME": "_LMpN6o26E0_00_00_00_00_00_06.mp4",
          "BW_METHOD": "hue",
          "BW_CONTRAST": 1.1,
          "BW_BRIGHT": 0.05
        }
      }
    ]
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "C0DE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C0DE": {
      "main": [
        [
          {
            "node": "COMMAND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a43c7e2-cc6d-41a7-b629-54292f17e1c7",
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "id": "HlsAAu3EXPWUmmTz",
  "tags": []
}