env/n8n_workflow/@EFFECTS_BLUR.json
{
  "name": "@EFFECTS_BLUR",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILENAME\": \"_LMpN6o26E0_00_00_00_00_00_06.mp4\",\n  \"BLUR_TYPE\": \"gauss\",\n  \"GAUSS_SIGMA\": 12\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -112
      ],
      "id": "ac41ee59-4ab1-4f78-bab0-d98f61492e1a",
      "name": "START"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        -112
      ],
      "id": "52918bc1-6a98-495e-8e7d-022686579257",
      "name": "COMMAND"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "410ffb87-1f42-4ae3-90e3-575d9ff4698b",
              "name": "FILENAME",
              "value": "={{ $json.FILENAME }}",
              "type": "string"
            },
            {
              "id": "ade1e25b-20c7-4d2e-a5d4-44dec66a2a26",
              "name": "V_STRENGTH",
              "value": "={{ $json.V_STRENGTH }}",
              "type": "number"
            },
            {
              "id": "dad16ac2-ecef-44cd-b7bf-101a5a9c299e",
              "name": "V_ANGLE",
              "value": "={{ $json.V_ANGLE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -112
      ],
      "id": "10c7cacf-fee2-4b8c-815c-ce07e6c73593",
      "name": "VAR"
    },
    {
      "parameters": {
        "jsCode": "// Inputs esperados:\n// FILENAME     -> ex: \"_LMpN6o26E0_00_00_00_00_00_06.mp4\" (em /home/node/processing)\n// BLUR_TYPE    -> \"box\" | \"gauss\" (padrão: \"gauss\")\n// BOX_RADIUS   -> raio do boxblur (inteiro >=1, padrão: 5)              // usado quando BLUR_TYPE=\"box\"\n// BOX_POWER    -> número de passes do boxblur (inteiro >=1, padrão: 1)   // usado quando BLUR_TYPE=\"box\"\n// GAUSS_SIGMA  -> sigma do gblur (float >0, padrão: 10)                  // usado quando BLUR_TYPE=\"gauss\"\n// REGION       -> opcional, string crop \"w:h:x:y\" para desfocar só uma área (ex: \"400:200:50:50\")\n//                 se não informado, aplica no frame inteiro\n\nconst file = $json.FILENAME;\nconst BLUR_TYPE   = ($json.BLUR_TYPE ?? 'gauss').toString();\nconst BOX_RADIUS  = Number($json.BOX_RADIUS ?? 5);\nconst BOX_POWER   = Number($json.BOX_POWER  ?? 1);\nconst GAUSS_SIGMA = Number($json.GAUSS_SIGMA ?? 10);\nconst REGION      = $json.REGION; // ex: \"400:200:50:50\"\n\nconst BASE = '/home/node/processing';\n\n// Nome de saída\nconst safe = s => s.replace(/\\.[A-Za-z0-9]+$/,'').replace(/[^A-Za-z0-9_\\-]/g,'_');\nconst tag  = BLUR_TYPE === 'box'\n  ? `BOX${BOX_RADIUS}x${BOX_POWER}`\n  : `GAUSS${GAUSS_SIGMA}`;\nconst outFile = `${safe(file)}_BLUR_${tag}.mp4`;\n\n// Monta a cadeia de filtros\nlet blurFilter;\nif (BLUR_TYPE === 'box') {\n  // boxblur=radius:power\n  blurFilter = `boxblur=${Math.max(1, BOX_RADIUS)}:${Math.max(1, BOX_POWER)}`;\n} else {\n  // gblur=sigma=...\n  blurFilter = `gblur=sigma=${Math.max(0.1, GAUSS_SIGMA)}`;\n}\n\n// Aplicar em região (crop) ou no quadro inteiro\nlet vf;\nif (REGION) {\n  // REGION \"w:h:x:y\" -> recorta, aplica blur e recoloca na imagem\n  // Formato: w:h:x:y\n  const [w,h,x,y] = REGION.split(':');\n  vf =\n    `[0:v]split[base][work];` +\n    `[work]crop=${w}:${h}:${x}:${y},${blurFilter}[blurred];` +\n    `[base][blurred]overlay=${x}:${y},format=yuv420p`;\n} else {\n  vf = `${blurFilter},format=yuv420p`;\n}\n\nconst cmd =\n  `ffmpeg -y -i \"${BASE}/${file}\" ` +\n  `-vf \"${vf}\" ` +\n  `-c:v libx264 -preset veryfast -crf 20 -movflags +faststart ` +\n  `-c:a copy ` +\n  `\"${BASE}/${outFile}\"`;\n\nreturn {\n  command: cmd,\n  outputFile: outFile\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -112
      ],
      "id": "74185849-1ccd-47a3-87df-1eb024c224a1",
      "name": "C0DE"
    },
    {
      "parameters": {
        "content": "## 🎬 Parâmetros do efeito Blur\n\n- **FILENAME** → vídeo de entrada  \n  - Exemplo: `_LMpN6o26E0_00_00_00_00_00_06.mp4`  \n  - Local: `/home/node/processing`\n\n- **BLUR_TYPE** *(opcional)* → tipo do desfoque  \n  - Opções: `\"gauss\"` (Gaussian) | `\"box\"`  \n  - Padrão: `\"gauss\"`\n\n### Quando **BLUR_TYPE = \"gauss\"**\n- **GAUSS_SIGMA** *(opcional)* → intensidade do desfoque gaussiano  \n  - Faixa: `> 0` (ex.: `1` suave → `30` muito forte)  \n  - Padrão: `10`\n\n### Quando **BLUR_TYPE = \"box\"**\n- **BOX_RADIUS** *(opcional)* → raio do boxblur  \n  - Faixa: `>= 1` (quanto maior, mais desfoca)  \n  - Padrão: `5`\n- **BOX_POWER** *(opcional)* → quantos passes do boxblur  \n  - Faixa: `>= 1`  \n  - Padrão: `1`\n\n### Aplicar em **região específica** (opcional)\n- **REGION** → string no formato `\"w:h:x:y\"`  \n  - Ex.: `\"400:200:50:50\"` aplica blur apenas em uma janela de 400×200 na posição (x=50, y=50)  \n  - Se não informado, o blur é aplicado no quadro inteiro\n\n**Saída:** H.264 (`libx264`) + `yuv420p` (compatibilidade ampla), mantém o áudio original (`-c:a copy`).\n",
        "height": 800,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -112
      ],
      "typeVersion": 1,
      "id": "c5d6dff7-1d3b-4d78-b267-57855f8b7cb6",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "START": [
      {
        "json": {
          "FILENAME": "_LMpN6o26E0_00_00_00_00_00_06.mp4",
          "BLUR_TYPE": "gauss",
          "GAUSS_SIGMA": 12
        }
      }
    ]
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "C0DE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C0DE": {
      "main": [
        [
          {
            "node": "COMMAND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6703df6-da72-485a-8ead-51910afad7ca",
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "id": "UPSE1qbJcGVzl7zd",
  "tags": []
}