env/n8n_workflow/@EFFECTS_PIXELIZER.json
{
  "name": "@EFFECTS_PIXELIZER",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILENAME\": \"_LMpN6o26E0_00_00_00_00_00_06.mp4\",\n  \"BW_METHOD\": \"hue\",\n  \"BW_CONTRAST\": 1.1,\n  \"BW_BRIGHT\": 0.05\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -112
      ],
      "id": "cf43cc5e-486b-4073-a1a9-b98c7f366c66",
      "name": "START"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        -112
      ],
      "id": "0c3855b0-0a04-4eaf-a3d8-20b6947c69ba",
      "name": "COMMAND"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "410ffb87-1f42-4ae3-90e3-575d9ff4698b",
              "name": "FILENAME",
              "value": "={{ $json.FILENAME }}",
              "type": "string"
            },
            {
              "id": "ade1e25b-20c7-4d2e-a5d4-44dec66a2a26",
              "name": "V_STRENGTH",
              "value": "={{ $json.V_STRENGTH }}",
              "type": "number"
            },
            {
              "id": "dad16ac2-ecef-44cd-b7bf-101a5a9c299e",
              "name": "V_ANGLE",
              "value": "={{ $json.V_ANGLE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -112
      ],
      "id": "474829ac-5035-4af9-abd0-af8ed44f8aeb",
      "name": "VAR"
    },
    {
      "parameters": {
        "jsCode": "// Inputs esperados:\n// FILENAME   -> \"_LMpN6o26E0_00_00_00_00_00_06.mp4\" (em /home/node/processing)\n// P_SIZE     -> tamanho do pixel (inteiro >=2, padrão: 20)\n//              quanto maior, mais pixelado\n// P_MODE     -> \"pixelize\" | \"glitch\" (padrão: \"pixelize\")\n//              pixelize -> blocos grandes fixos\n//              glitch   -> pixelize + modulação temporal (efeito \"quebrado\")\n\nconst file = $json.FILENAME;\nconst P_SIZE = Number($json.P_SIZE ?? 20);\nconst P_MODE = ($json.P_MODE ?? \"pixelize\").toString();\n\nconst BASE = \"/home/node/processing\";\n\n// Nome de saída\nconst safe = s => s.replace(/\\.[A-Za-z0-9]+$/,'').replace(/[^A-Za-z0-9_\\-]/g,'_');\nconst outFile = `${safe(file)}_${P_MODE.toUpperCase()}_${P_SIZE}.mp4`;\n\n// Pixelização básica\nlet vf = `scale=iw/${P_SIZE}:ih/${P_SIZE},scale=iw*${P_SIZE}:ih*${P_SIZE}:flags=neighbor,format=yuv420p`;\n\nif (P_MODE === \"glitch\") {\n  // Adiciona variação temporal com hue para simular glitch colorido\n  vf = `${vf},hue='H=2*PI*t: S=sin(2*PI*t*0.5)'`;\n}\n\nconst cmd =\n  `ffmpeg -y -i \"${BASE}/${file}\" ` +\n  `-vf \"${vf}\" ` +\n  `-c:v libx264 -preset veryfast -crf 20 -movflags +faststart ` +\n  `-c:a copy ` +\n  `\"${BASE}/${outFile}\"`;\n\nreturn {\n  command: cmd,\n  outputFile: outFile\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -112
      ],
      "id": "80611ce7-6ac0-422f-b738-1564f76cfe95",
      "name": "C0DE"
    },
    {
      "parameters": {
        "content": "## 🎬 Parâmetros do efeito Pixelize / Glitch\n\n- **FILENAME** → vídeo de entrada  \n  - Exemplo: `_LMpN6o26E0_00_00_00_00_00_06.mp4`\n\n- **P_SIZE** → tamanho dos blocos de pixel  \n  - Faixa: `2` a `200`  \n  - Padrão: `20`  \n  - Quanto maior, mais pixelado fica o vídeo\n\n- **P_MODE** → tipo de efeito  \n  - `\"pixelize\"` → pixelização fixa (estilo censura ou retro)  \n  - `\"glitch\"` → pixelização + variação temporal de cor (efeito glitch básico)  \n  - Padrão: `\"pixelize\"`\n\n**Saída:** vídeo H.264 (`libx264`), `yuv420p`, áudio preservado (`-c:a copy`).\n",
        "height": 496,
        "width": 688,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -112
      ],
      "typeVersion": 1,
      "id": "4eeaa634-d2a8-4f4f-8df5-8b0422c3debb",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "START": [
      {
        "json": {
          "FILENAME": "_LMpN6o26E0_00_00_00_00_00_06.mp4",
          "BW_METHOD": "hue",
          "BW_CONTRAST": 1.1,
          "BW_BRIGHT": 0.05
        }
      }
    ]
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "C0DE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C0DE": {
      "main": [
        [
          {
            "node": "COMMAND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "470e25f0-434d-4bbc-91e8-863a9dc19f97",
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "id": "mkpxJIc6v8nDURbR",
  "tags": []
}