env/n8n_workflow/@VIDEO_FADEIN_FADEOUT.json
{
  "name": "@VIDEO_FADEIN_FADEOUT",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FILE_NAME\":\"_LMpN6o26E0_00_00_00_00_00_13.mp4\",\n  \"IN_SECOND\": 0,\n  \"IN_DURATION\": 2,\n  \"OUT_SECOND\": 11,\n  \"OUT_DURATION\": 2\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -272,
        -112
      ],
      "id": "2d3c9bb9-f413-4b20-92dc-734de8ff8d66",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dff10386-aac1-4bf2-a53e-24e2e7441381",
              "name": "VIDEO_ID",
              "value": "={{ $json.FILE_NAME }}",
              "type": "string"
            },
            {
              "id": "ab7f91b9-a7d9-4a5a-b5a6-189685e0bf2d",
              "name": "FILENAME",
              "value": "={{ $json.FILE_NAME}}",
              "type": "string"
            },
            {
              "id": "b6c8e742-9c4e-4302-9a4b-a7c26a66e7c4",
              "name": "IN_SECOND",
              "value": "={{ $json.IN_SECOND }}",
              "type": "number"
            },
            {
              "id": "d8f36a2b-a52e-42c4-a063-aef4e794af6c",
              "name": "IN_DURATION",
              "value": "={{ $json.IN_DURATION }}",
              "type": "number"
            },
            {
              "id": "844581b5-0045-4263-a9a5-d45e66ba21ec",
              "name": "OUT_SECOND",
              "value": "={{ $json.OUT_SECOND }}",
              "type": "number"
            },
            {
              "id": "296ca2a1-20ea-4d54-9adb-b11ea5171490",
              "name": "OUT_DURATION",
              "value": "={{ $json.OUT_DURATION }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -112
      ],
      "id": "f0e92389-10e7-4ba7-8592-86f71a880783",
      "name": "VAR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa43995-1d25-4eac-949f-6ed21d4ab940",
              "name": "=RESULT",
              "value": "={{ $json.exitCode === 0? \"SUCCESS\":\"ERROR\"}}",
              "type": "string"
            },
            {
              "id": "9f2ff60c-73ff-49b8-993b-437ec8110df2",
              "name": "FILENAME",
              "value": "={{ $('VAR').item.json.FILENAME }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -176
      ],
      "id": "184bbabc-fb4f-4ecd-85d8-b26b0d6fc178",
      "name": "RESULT"
    },
    {
      "parameters": {
        "errorMessage": "CHANNEL ID NOT FOUND"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        256,
        -16
      ],
      "id": "6a403037-61f2-418f-9b1b-733d9daa5167",
      "name": "ERROR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dffd76e-b0cf-4562-a4bf-3ae398e7ba30",
              "leftValue": "={{ $json.VIDEO_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -112
      ],
      "id": "f4dca3d0-ecca-4dd7-b34e-de3eaf0e2528",
      "name": "HAS_CHANNEL_ID"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i /home/node/processing/{{ $json.FILENAME }} -vf \"fade=t=in:st=0:d=2,fade=t=out:st=11:d=2\" -c:a copy /home/node/processing/FADE_IN_FADE_OUT{{ $json.FILENAME }}\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        256,
        -176
      ],
      "id": "cc09a11e-3956-4e5d-8283-a161537fcc94",
      "name": "SPLIT",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "START": [
      {
        "json": {
          "FILE_NAME": "_LMpN6o26E0_00_00_00_00_00_13.mp4",
          "IN_SECOND": 0,
          "IN_DURATION": 2,
          "OUT_SECOND": 11,
          "OUT_DURATION": 2
        }
      }
    ]
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAR": {
      "main": [
        [
          {
            "node": "HAS_CHANNEL_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAS_CHANNEL_ID": {
      "main": [
        [
          {
            "node": "SPLIT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPLIT": {
      "main": [
        [
          {
            "node": "RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a308660-64fb-4051-98e0-7cbabafce45c",
  "meta": {
    "instanceId": "e562edbe74086864fad96dc54f91d130f73a43f334e27062d34cbaf271013692"
  },
  "id": "3d92D6TV6oLVwDrh",
  "tags": []
}